@use '../../../scss/mixins/css3/borders';
@use '../../../scss/color_vars' as colors;
@use '../../../scss/variables' as vars;

@layer components {
  .#{vars.$prefix}popover {
    --#{vars.$prefix}popover-bg: var(--background-tertiary, #{colors.$white});
    --#{vars.$prefix}popover-color: var(--foreground-tertiary, #{colors.$neutral-darken-4});
    --#{vars.$prefix}popover-border-radius: var(--#{vars.$prefix}radius);

    @include borders.radius(var(--#{vars.$prefix}popover-border-radius));
    background-color: var(--#{vars.$prefix}popover-bg);
    color: var(--#{vars.$prefix}popover-color);
    -webkit-overflow-scrolling: touch;
    position: fixed;
    max-height: 100%;
    max-width: 95%;
    overflow: auto;
    z-index: 1025;

    > .#{vars.$prefix}list {
      --#{vars.$prefix}listview-bg: inherit;
    }

    > .#{vars.$prefix}listbox {
      --#{vars.$prefix}listbox-bg: inherit;
    }
  }

  .#{vars.$prefix}popover > .#{vars.$prefix}listbox,
  .#{vars.$prefix}popover-dropdown-menu,
  .#{vars.$prefix}popover-datetime {
    // prettier-ignore
    border: var(--#{vars.$prefix}dropdown-border-width) solid var(--#{vars.$prefix}dropdown-border-color);
  }
}

@layer animations {
  // VueJs Popover transition animation
  //------------------------------------
  .#{vars.$prefix}popover {
    &.transition-bottom,
    &.transition-bottom-left,
    &.transition-bottom-right,
    &.transition-top,
    &.transition-top-left,
    &.transition-top-right {
      &.scale-enter-from,
      &.scale-leave-active {
        transform: scaleY(0.5);
      }
    }

    &.transition-bottom,
    &.transition-bottom-left,
    &.transition-bottom-right {
      transform-origin: center top;
    }

    &.transition-top,
    &.transition-top-left,
    &.transition-top-right {
      transform-origin: center bottom;
    }

    &.transition-left {
      transform-origin: right center;
    }

    &.transition-left-top {
      transform-origin: right top;
    }

    &.transition-left-bottom {
      transform-origin: right bottom;
    }

    &.transition-right {
      transform-origin: left center;
    }

    &.transition-right-top {
      transform-origin: left top;
    }

    &.transition-right-bottom {
      transform-origin: left bottom;
    }
  }
}
