@use '../../../scss/color_vars' as colors;
@use '../../../scss/variables' as vars;

@layer components {
  .#{vars.$prefix}popover {
    --#{vars.$prefix}popover-bg: var(--background-tertiary, #{colors.$white});

    background-color: var(--#{vars.$prefix}popover-bg);
    -webkit-overflow-scrolling: touch;
    position: fixed;
    max-height: 100%;
    max-width: 95%;
    overflow: auto;
    z-index: 1060;

    > .#{vars.$prefix}list {
      --#{vars.$prefix}listview-bg: inherit;
    }

    > .#{vars.$prefix}listbox {
      --#{vars.$prefix}listbox-bg: inherit;
    }

    // bootstrap patch
    .dropdown-menu {
      --#{vars.$prefix-bs}dropdown-border-width: 0;

      display: block;
      position: relative;

      .dropdown-item {
        display: flex;
        align-items: center;
        width: auto;
      }

      .dropdown-header {
        font-size: 13px;
        font-weight: 500;
        user-select: none;
      }
    }

    &.transition-bottom,
    &.transition-bottom-left,
    &.transition-bottom-right,
    &.transition-top,
    &.transition-top-left,
    &.transition-top-right {
      &.scale-enter-from,
      &.scale-leave-active {
        transform: scaleY(0.5);
      }
    }

    &.transition-bottom,
    &.transition-bottom-left,
    &.transition-bottom-right {
      transform-origin: center top;
    }

    &.transition-top,
    &.transition-top-left,
    &.transition-top-right {
      transform-origin: center bottom;
    }

    &.transition-left {
      transform-origin: right center;
    }

    &.transition-left-top {
      transform-origin: right top;
    }

    &.transition-left-bottom {
      transform-origin: right bottom;
    }

    &.transition-right {
      transform-origin: left center;
    }

    &.transition-right-top {
      transform-origin: left top;
    }

    &.transition-right-bottom {
      transform-origin: left bottom;
    }
  }
}
