@use "sass:color";
@use "sass:map";
@use "utils/color_helper" as helper;

$red-base:                  oklch(0.577 0.245 27.325);
$red-lighten-5:             helper.shift-color($red-base, 90%);
$red-lighten-4:             helper.shift-color($red-base, 75%);
$red-lighten-3:             helper.shift-color($red-base, 50%);
$red-lighten-2:             helper.shift-color($red-base, 30%);
$red-lighten-1:             helper.shift-color($red-base, 15%);
$red-darken-1:              helper.shift-color($red-base, -10%);
$red-darken-2:              helper.shift-color($red-base, -20%);
$red-darken-3:              helper.shift-color($red-base, -30%);
$red-darken-4:              helper.shift-color($red-base, -40%);
$red-darken-5:              helper.shift-color($red-base, -50%);
$red-accent-1:              oklch(0.78 0.12 25.8);
$red-accent-2:              oklch(0.69 0.17 27.39);
$red-accent-3:              oklch(0.6 0.19 28.68);
$red-accent-4:              oklch(0.52 0.18 29.31);

$deep-orange-base:          oklch(0.679 0.213 36.532);
$deep-orange-lighten-5:     helper.shift-color($deep-orange-base, 90%);
$deep-orange-lighten-4:     helper.shift-color($deep-orange-base, 75%);
$deep-orange-lighten-3:     helper.shift-color($deep-orange-base, 50%);
$deep-orange-lighten-2:     helper.shift-color($deep-orange-base, 30%);
$deep-orange-lighten-1:     helper.shift-color($deep-orange-base, 15%);
$deep-orange-darken-1:      helper.shift-color($deep-orange-base, -10%);
$deep-orange-darken-2:      helper.shift-color($deep-orange-base, -20%);
$deep-orange-darken-3:      helper.shift-color($deep-orange-base, -30%);
$deep-orange-darken-4:      helper.shift-color($deep-orange-base, -40%);
$deep-orange-darken-5:      helper.shift-color($deep-orange-base, -50%);
$deep-orange-accent-1:      oklch(0.85 0.15 36.21);
$deep-orange-accent-2:      oklch(0.76 0.17 41.5);
$deep-orange-accent-3:      oklch(0.67 0.18 41.16);
$deep-orange-accent-4:      oklch(0.6 0.2 39.5);

$orange-base:               oklch(0.77 0.174 64.054);
$orange-lighten-5:          helper.shift-color($orange-base, 90%);
$orange-lighten-4:          helper.shift-color($orange-base, 75%);
$orange-lighten-3:          helper.shift-color($orange-base, 50%);
$orange-lighten-2:          helper.shift-color($orange-base, 30%);
$orange-lighten-1:          helper.shift-color($orange-base, 15%);
$orange-darken-1:           helper.shift-color($orange-base, -10%);
$orange-darken-2:           helper.shift-color($orange-base, -20%);
$orange-darken-3:           helper.shift-color($orange-base, -30%);
$orange-darken-4:           helper.shift-color($orange-base, -40%);
$orange-darken-5:           helper.shift-color($orange-base, -50%);
$orange-accent-1:           oklch(0.884 0.11 80.66);
$orange-accent-2:           oklch(0.81 0.14 79.86);
$orange-accent-3:           oklch(0.75 0.16 77.28);
$orange-accent-4:           oklch(0.65 0.16 71.24);

$amber-base:                oklch(0.844 0.172 84.934);
$amber-lighten-5:           helper.shift-color($amber-base, 90%);
$amber-lighten-4:           helper.shift-color($amber-base, 75%);
$amber-lighten-3:           helper.shift-color($amber-base, 50%);
$amber-lighten-2:           helper.shift-color($amber-base, 30%);
$amber-lighten-1:           helper.shift-color($amber-base, 15%);
$amber-darken-1:            helper.shift-color($amber-base, -10%);
$amber-darken-2:            helper.shift-color($amber-base, -20%);
$amber-darken-3:            helper.shift-color($amber-base, -30%);
$amber-darken-4:            helper.shift-color($amber-base, -40%);
$amber-darken-5:            helper.shift-color($amber-base, -50%);
$amber-accent-1:            oklch(0.909 0.151 95.888);
$amber-accent-2:            oklch(0.857 0.165 94.263);
$amber-accent-3:            oklch(0.768 0.153 93.152);
$amber-accent-4:            oklch(0.65 0.14 91.34);

$yellow-base:               oklch(0.898 0.185 100.33);
$yellow-lighten-5:          helper.shift-color($yellow-base, 90%);
$yellow-lighten-4:          helper.shift-color($yellow-base, 75%);
$yellow-lighten-3:          helper.shift-color($yellow-base, 50%);
$yellow-lighten-2:          helper.shift-color($yellow-base, 30%);
$yellow-lighten-1:          helper.shift-color($yellow-base, 15%);
$yellow-darken-1:           helper.shift-color($yellow-base, -10%);
$yellow-darken-2:           helper.shift-color($yellow-base, -20%);
$yellow-darken-3:           helper.shift-color($yellow-base, -30%);
$yellow-darken-4:           helper.shift-color($yellow-base, -40%);
$yellow-darken-5:           helper.shift-color($yellow-base, -50%);
$yellow-accent-1:           oklch(0.97 0.19 109.17);
$yellow-accent-2:           oklch(0.92 0.21 109.55);
$yellow-accent-3:           oklch(0.82 0.2 109.76);
$yellow-accent-4:           oklch(0.69 0.17 109.73);

$lime-base:                 oklch(0.742 0.229 142.835);
$lime-lighten-5:            helper.shift-color($lime-base, 90%);
$lime-lighten-4:            helper.shift-color($lime-base, 75%);
$lime-lighten-3:            helper.shift-color($lime-base, 50%);
$lime-lighten-2:            helper.shift-color($lime-base, 30%);
$lime-lighten-1:            helper.shift-color($lime-base, 15%);
$lime-darken-1:             helper.shift-color($lime-base, -10%);
$lime-darken-2:             helper.shift-color($lime-base, -20%);
$lime-darken-3:             helper.shift-color($lime-base, -30%);
$lime-darken-4:             helper.shift-color($lime-base, -40%);
$lime-darken-5:             helper.shift-color($lime-base, -50%);
$lime-accent-1:             oklch(0.94 0.12 139.58);
$lime-accent-2:             oklch(0.86 0.18 139.88);
$lime-accent-3:             oklch(0.74 0.21 140.45);
$lime-accent-4:             oklch(0.66 0.21 140.8);

$light-green-base:          oklch(0.868 0.156 144.088);
$light-green-lighten-5:     helper.shift-color($light-green-base, 90%);
$light-green-lighten-4:     helper.shift-color($light-green-base, 75%);
$light-green-lighten-3:     helper.shift-color($light-green-base, 50%);
$light-green-lighten-2:     helper.shift-color($light-green-base, 30%);
$light-green-lighten-1:     helper.shift-color($light-green-base, 15%);
$light-green-darken-1:      color.adjust($light-green-base, $lightness: -5%);
$light-green-darken-2:      color.adjust($light-green-base, $lightness: -15%);
$light-green-darken-3:      color.adjust($light-green-base, $lightness: -25%);
$light-green-darken-4:      color.adjust($light-green-base, $lightness: -35%);
$light-green-darken-5:      color.adjust($light-green-base, $lightness: -45%);
$light-green-accent-1:      oklch(0.94 0.12 152.01);
$light-green-accent-2:      oklch(0.87 0.18 151.15);
$light-green-accent-3:      oklch(0.77 0.22 149.1);
$light-green-accent-4:      oklch(0.66 0.19 149);

$green-base:                oklch(0.684 0.144 154.999);
$green-lighten-5:           helper.shift-color($green-base, 90%);
$green-lighten-4:           helper.shift-color($green-base, 75%);
$green-lighten-3:           helper.shift-color($green-base, 50%);
$green-lighten-2:           helper.shift-color($green-base, 30%);
$green-lighten-1:           helper.shift-color($green-base, 15%);
$green-darken-1:            helper.shift-color($green-base, -10%);
$green-darken-2:            helper.shift-color($green-base, -20%);
$green-darken-3:            helper.shift-color($green-base, -30%);
$green-darken-4:            helper.shift-color($green-base, -40%);
$green-darken-5:            helper.shift-color($green-base, -50%);
$green-accent-1:            oklch(0.84 0.18 159.32);
$green-accent-2:            oklch(0.69 0.17 158.13);
$green-accent-3:            oklch(0.61 0.16 157.62);
$green-accent-4:            oklch(0.53 0.14 157.43);

$teal-base:                 oklch(0.605 0.107 183.385);
$teal-lighten-5:            helper.shift-color($teal-base, 90%);
$teal-lighten-4:            helper.shift-color($teal-base, 75%);
$teal-lighten-3:            helper.shift-color($teal-base, 50%);
$teal-lighten-2:            helper.shift-color($teal-base, 30%);
$teal-lighten-1:            helper.shift-color($teal-base, 15%);
$teal-darken-1:             helper.shift-color($teal-base, -10%);
$teal-darken-2:             helper.shift-color($teal-base, -20%);
$teal-darken-3:             helper.shift-color($teal-base, -30%);
$teal-darken-4:             helper.shift-color($teal-base, -40%);
$teal-darken-5:             helper.shift-color($teal-base, -50%);
$teal-accent-1:             oklch(0.939 0.089 178.297);
$teal-accent-2:             oklch(0.83 0.12 177.02);
$teal-accent-3:             oklch(0.71 0.15 174.83);
$teal-accent-4:             oklch(0.62 0.14 172.19);

$cyan-base:                 oklch(0.729 0.126 210.817);
$cyan-lighten-5:            helper.shift-color($cyan-base, 90%);
$cyan-lighten-4:            helper.shift-color($cyan-base, 75%);
$cyan-lighten-3:            helper.shift-color($cyan-base, 50%);
$cyan-lighten-2:            helper.shift-color($cyan-base, 30%);
$cyan-lighten-1:            helper.shift-color($cyan-base, 15%);
$cyan-darken-1:             helper.shift-color($cyan-base, -10%);
$cyan-darken-2:             helper.shift-color($cyan-base, -20%);
$cyan-darken-3:             helper.shift-color($cyan-base, -30%);
$cyan-darken-4:             helper.shift-color($cyan-base, -40%);
$cyan-darken-5:             helper.shift-color($cyan-base, -50%);
$cyan-accent-1:             oklch(0.929 0.111 195.416);
$cyan-accent-2:             oklch(0.83 0.12 195.14);
$cyan-accent-3:             oklch(0.73 0.16 194.67);
$cyan-accent-4:             oklch(0.65 0.14 193.63);

$light-blue-base:           oklch(0.699 0.157 238.994);
$light-blue-lighten-5:      helper.shift-color($light-blue-base, 90%);
$light-blue-lighten-4:      helper.shift-color($light-blue-base, 75%);
$light-blue-lighten-3:      helper.shift-color($light-blue-base, 50%);
$light-blue-lighten-2:      helper.shift-color($light-blue-base, 30%);
$light-blue-lighten-1:      helper.shift-color($light-blue-base, 15%);
$light-blue-darken-1:       helper.shift-color($light-blue-base, -10%);
$light-blue-darken-2:       helper.shift-color($light-blue-base, -20%);
$light-blue-darken-3:       helper.shift-color($light-blue-base, -30%);
$light-blue-darken-4:       helper.shift-color($light-blue-base, -40%);
$light-blue-darken-5:       helper.shift-color($light-blue-base, -50%);
$light-blue-accent-1:       oklch(0.841 0.101 228.421);
$light-blue-accent-2:       oklch(0.775 0.139 232.347);
$light-blue-accent-3:       oklch(0.721 0.163 239.291);
$light-blue-accent-4:       oklch(0.638 0.167 246.798);

$blue-base:                 oklch(0.545 0.169 254.296);
$blue-lighten-5:            helper.shift-color($blue-base, 90%);
$blue-lighten-4:            helper.shift-color($blue-base, 75%);
$blue-lighten-3:            helper.shift-color($blue-base, 50%);
$blue-lighten-2:            helper.shift-color($blue-base, 30%);
$blue-lighten-1:            helper.shift-color($blue-base, 15%);
$blue-darken-1:             helper.shift-color($blue-base, -10%);
$blue-darken-2:             helper.shift-color($blue-base, -20%);
$blue-darken-3:             helper.shift-color($blue-base, -30%);
$blue-darken-4:             helper.shift-color($blue-base, -40%);
$blue-darken-5:             helper.shift-color($blue-base, -50%);
$blue-accent-1:             oklch(0.79 0.12 254.26);
$blue-accent-2:             oklch(0.71 0.16 251.73);
$blue-accent-3:             oklch(0.62 0.19 252.14);
$blue-accent-4:             oklch(0.55 0.2 253.3);

$indigo-base:               oklch(0.478 0.159 271.403);
$indigo-lighten-5:          helper.shift-color($indigo-base, 90%);
$indigo-lighten-4:          helper.shift-color($indigo-base, 75%);
$indigo-lighten-3:          helper.shift-color($indigo-base, 50%);
$indigo-lighten-2:          helper.shift-color($indigo-base, 30%);
$indigo-lighten-1:          helper.shift-color($indigo-base, 15%);
$indigo-darken-1:           helper.shift-color($indigo-base, -10%);
$indigo-darken-2:           helper.shift-color($indigo-base, -20%);
$indigo-darken-3:           helper.shift-color($indigo-base, -30%);
$indigo-darken-4:           helper.shift-color($indigo-base, -40%);
$indigo-darken-5:           helper.shift-color($indigo-base, -50%);
$indigo-accent-1:           oklch(0.726 0.142 274.364);
$indigo-accent-2:           oklch(0.63 0.2 271.41);
$indigo-accent-3:           oklch(0.56 0.22 269.5);
$indigo-accent-4:           oklch(0.488 0.227 271.167);

$deep-purple-base:          oklch(0.502 0.188 294.988);
$deep-purple-lighten-5:     helper.shift-color($deep-purple-base, 90%);
$deep-purple-lighten-4:     helper.shift-color($deep-purple-base, 75%);
$deep-purple-lighten-3:     helper.shift-color($deep-purple-base, 50%);
$deep-purple-lighten-2:     helper.shift-color($deep-purple-base, 30%);
$deep-purple-lighten-1:     helper.shift-color($deep-purple-base, 15%);
$deep-purple-darken-1:      helper.shift-color($deep-purple-base, -10%);
$deep-purple-darken-2:      helper.shift-color($deep-purple-base, -20%);
$deep-purple-darken-3:      helper.shift-color($deep-purple-base, -30%);
$deep-purple-darken-4:      helper.shift-color($deep-purple-base, -40%);
$deep-purple-darken-5:      helper.shift-color($deep-purple-base, -50%);
$deep-purple-accent-1:      oklch(0.717 0.171 298.677);
$deep-purple-accent-2:      oklch(0.62 0.2 297.03);
$deep-purple-accent-3:      oklch(0.53 0.21 294.99);
$deep-purple-accent-4:      oklch(0.44 0.18 294.4);

$purple-base:               oklch(0.517 0.215 321.239);
$purple-lighten-5:          helper.shift-color($purple-base, 90%);
$purple-lighten-4:          helper.shift-color($purple-base, 75%);
$purple-lighten-3:          helper.shift-color($purple-base, 50%);
$purple-lighten-2:          helper.shift-color($purple-base, 30%);
$purple-lighten-1:          helper.shift-color($purple-base, 15%);
$purple-darken-1:           helper.shift-color($purple-base, -10%);
$purple-darken-2:           helper.shift-color($purple-base, -20%);
$purple-darken-3:           helper.shift-color($purple-base, -30%);
$purple-darken-4:           helper.shift-color($purple-base, -40%);
$purple-darken-5:           helper.shift-color($purple-base, -50%);
$purple-accent-1:           oklch(0.761 0.2 321.644);
$purple-accent-2:           oklch(0.679 0.277 321.37);
$purple-accent-3:           oklch(0.589 0.27 320.792);
$purple-accent-4:           oklch(0.508 0.24 320.17);

$pink-base:                 oklch(0.683 0.192 7.739);
$pink-lighten-5:            helper.shift-color($pink-base, 90%);
$pink-lighten-4:            helper.shift-color($pink-base, 75%);
$pink-lighten-3:            helper.shift-color($pink-base, 50%);
$pink-lighten-2:            helper.shift-color($pink-base, 30%);
$pink-lighten-1:            helper.shift-color($pink-base, 15%);
$pink-darken-1:             helper.shift-color($pink-base, -10%);
$pink-darken-2:             helper.shift-color($pink-base, -20%);
$pink-darken-3:             helper.shift-color($pink-base, -30%);
$pink-darken-4:             helper.shift-color($pink-base, -40%);
$pink-darken-5:             helper.shift-color($pink-base, -50%);
$pink-accent-1:             oklch(0.755 0.16 0.2);
$pink-accent-2:             oklch(0.672 0.228 5.727);
$pink-accent-3:             oklch(0.581 0.224 2.079);
$pink-accent-4:             oklch(0.536 0.209 2.887);

$midnight-haze-base:        oklch(0.439 0.049 265.134);
$midnight-haze-lighten-5:   oklch(0.96 0.02 265.28);
$midnight-haze-lighten-4:   oklch(0.9 0.04 265.61);
$midnight-haze-lighten-3:   oklch(0.764 0.049 265.134);
$midnight-haze-lighten-2:   oklch(0.66 0.06 266.46);
$midnight-haze-lighten-1:   oklch(0.54 0.06 265.16);
$midnight-haze-darken-1:    color.adjust($midnight-haze-base, $lightness: -5%);
$midnight-haze-darken-2:    color.adjust($midnight-haze-base, $lightness: -10%);
$midnight-haze-darken-3:    color.adjust($midnight-haze-base, $lightness: -15%);
$midnight-haze-darken-4:    color.adjust($midnight-haze-base, $lightness: -20%);
$midnight-haze-darken-5:    color.adjust($midnight-haze-base, $lightness: -30%);

$blue-grey-base:            oklch(0.572 0.04 229.025);
$blue-grey-lighten-5:       oklch(0.96 0.03 229.38);
$blue-grey-lighten-4:       color.scale($blue-grey-base, $lightness: 80%);
$blue-grey-lighten-3:       color.adjust($blue-grey-base, $lightness: 27%);
$blue-grey-lighten-2:       color.adjust($blue-grey-base, $lightness: 18%);
$blue-grey-lighten-1:       color.adjust($blue-grey-base, $lightness: 8%);
$blue-grey-darken-1:        color.adjust($blue-grey-base, $lightness: -5%);
$blue-grey-darken-2:        color.adjust($blue-grey-base, $lightness: -10%);
$blue-grey-darken-3:        color.adjust($blue-grey-base, $lightness: -15%);
$blue-grey-darken-4:        color.adjust($blue-grey-base, $lightness: -20%);
$blue-grey-darken-5:        color.adjust($blue-grey-base, $lightness: -30%);

// Gray Colors
$gray-50:                   oklch(98% 0 0);
$gray-100:                  oklch(96.7% 0.003 264.542);
$gray-200:                  oklch(92.8% 0.006 264.531);
$gray-300:                  oklch(87.2% 0.01 258.338);
$gray-400:                  oklch(70.7% 0.022 261.325);
$gray-500:                  oklch(0.56 0.02 244.89);
$gray-600:                  color.scale($gray-500, $lightness: -15%);
$gray-700:                  color.scale($gray-500, $lightness: -25%);
$gray-800:                  color.scale($gray-500, $lightness: -35%);
$gray-900:                  color.scale($gray-500, $lightness: -45%);
$gray-950:                  color.scale($gray-500, $lightness: -58%);

$neutral-base:              oklch(0.556 0 89.876);
$neutral-lighten-5:         helper.shift-color($neutral-base, 99%);
$neutral-lighten-4:         helper.shift-color($neutral-base, 90%);
$neutral-lighten-3:         helper.shift-color($neutral-base, 75%);
$neutral-lighten-2:         helper.shift-color($neutral-base, 45%);
$neutral-lighten-1:         helper.shift-color($neutral-base, 15%);
$neutral-darken-1:          helper.shift-color($neutral-base, -15%);
$neutral-darken-2:          helper.shift-color($neutral-base, -30%);
$neutral-darken-3:          helper.shift-color($neutral-base, -45%);
$neutral-darken-4:          helper.shift-color($neutral-base, -60%);
$neutral-darken-5:          helper.shift-color($neutral-base, -75%);

// Not used anymore
$brown-lighten-5:           helper.to-oklch(#efebe9);
$brown-lighten-4:           helper.to-oklch(#d7ccc8);
$brown-lighten-3:           helper.to-oklch(#bcaaa4);
$brown-lighten-2:           helper.to-oklch(#a1887f);
$brown-lighten-1:           helper.to-oklch(#8d6e63);
$brown-base:                helper.to-oklch(#795548);
$brown-darken-1:            helper.to-oklch(#6d4c41);
$brown-darken-2:            helper.to-oklch(#5d4037);
$brown-darken-3:            helper.to-oklch(#4e342e);
$brown-darken-4:            helper.to-oklch(#3e2723);

$black: helper.to-oklch(#000);
$white: helper.to-oklch(#fff);

$full-palette: (
    "red": (
        "50":           $red-lighten-5,
        "100":          $red-lighten-4,
        "200":          $red-lighten-3,
        "300":          $red-lighten-2,
        "400":          $red-lighten-1,
        "500":          $red-base,
        "600":          $red-darken-1,
        "700":          $red-darken-2,
        "800":          $red-darken-3,
        "900":          $red-darken-4,
        "950":          $red-darken-5,
        "accent-100":   $red-accent-1,
        "accent-200":   $red-accent-2,
        "accent-300":   $red-accent-3,
        "accent-400":   $red-accent-4
    ),
    "deep-orange": (
        "50":           $deep-orange-lighten-5,
        "100":          $deep-orange-lighten-4,
        "200":          $deep-orange-lighten-3,
        "300":          $deep-orange-lighten-2,
        "400":          $deep-orange-lighten-1,
        "500":          $deep-orange-base,
        "600":          $deep-orange-darken-1,
        "700":          $deep-orange-darken-2,
        "800":          $deep-orange-darken-3,
        "900":          $deep-orange-darken-4,
        "950":          $deep-orange-darken-5,
        "accent-100":   $deep-orange-accent-1,
        "accent-200":   $deep-orange-accent-2,
        "accent-300":   $deep-orange-accent-3,
        "accent-400":   $deep-orange-accent-4
    ),
    "orange": (
        "50":           $orange-lighten-5,
        "100":          $orange-lighten-4,
        "200":          $orange-lighten-3,
        "300":          $orange-lighten-2,
        "400":          $orange-lighten-1,
        "500":          $orange-base,
        "600":          $orange-darken-1,
        "700":          $orange-darken-2,
        "800":          $orange-darken-3,
        "900":          $orange-darken-4,
        "950":          $orange-darken-5,
        "accent-100":   $orange-accent-1,
        "accent-200":   $orange-accent-2,
        "accent-300":   $orange-accent-3,
        "accent-400":   $orange-accent-4
    ),
    "amber": (
        "50":           $amber-lighten-5,
        "100":          $amber-lighten-4,
        "200":          $amber-lighten-3,
        "300":          $amber-lighten-2,
        "400":          $amber-lighten-1,
        "500":          $amber-base,
        "600":          $amber-darken-1,
        "700":          $amber-darken-2,
        "800":          $amber-darken-3,
        "900":          $amber-darken-4,
        "950":          $amber-darken-5,
        "accent-100":   $amber-accent-1,
        "accent-200":   $amber-accent-2,
        "accent-300":   $amber-accent-3,
        "accent-400":   $amber-accent-4
    ),
    "yellow": (
        "50":           $yellow-lighten-5,
        "100":          $yellow-lighten-4,
        "200":          $yellow-lighten-3,
        "300":          $yellow-lighten-2,
        "400":          $yellow-lighten-1,
        "500":          $yellow-base,
        "600":          $yellow-darken-1,
        "700":          $yellow-darken-2,
        "800":          $yellow-darken-3,
        "900":          $yellow-darken-4,
        "950":          $yellow-darken-5,
        "accent-100":   $yellow-accent-1,
        "accent-200":   $yellow-accent-2,
        "accent-300":   $yellow-accent-3,
        "accent-400":   $yellow-accent-4
    ),
    "lime": (
        "50":           $lime-lighten-5,
        "100":          $lime-lighten-4,
        "200":          $lime-lighten-3,
        "300":          $lime-lighten-2,
        "400":          $lime-lighten-1,
        "500":          $lime-base,
        "600":          $lime-darken-1,
        "700":          $lime-darken-2,
        "800":          $lime-darken-3,
        "900":          $lime-darken-4,
        "950":          $lime-darken-5,
        "accent-100":   $lime-accent-1,
        "accent-200":   $lime-accent-2,
        "accent-300":   $lime-accent-3,
        "accent-400":   $lime-accent-4
    ),
    "light-green": (
        "50":           $light-green-lighten-5,
        "100":          $light-green-lighten-4,
        "200":          $light-green-lighten-3,
        "300":          $light-green-lighten-2,
        "400":          $light-green-lighten-1,
        "500":          $light-green-base,
        "600":          $light-green-darken-1,
        "700":          $light-green-darken-2,
        "800":          $light-green-darken-3,
        "900":          $light-green-darken-4,
        "950":          $light-green-darken-5,
        "accent-100":   $light-green-accent-1,
        "accent-200":   $light-green-accent-2,
        "accent-300":   $light-green-accent-3,
        "accent-400":   $light-green-accent-4
    ),
    "green": (
        "50":           $green-lighten-5,
        "100":          $green-lighten-4,
        "200":          $green-lighten-3,
        "300":          $green-lighten-2,
        "400":          $green-lighten-1,
        "500":          $green-base,
        "600":          $green-darken-1,
        "700":          $green-darken-2,
        "800":          $green-darken-3,
        "900":          $green-darken-4,
        "950":          $green-darken-5,
        "accent-100":   $green-accent-1,
        "accent-200":   $green-accent-2,
        "accent-300":   $green-accent-3,
        "accent-400":   $green-accent-4
    ),
    "teal": (
        "50":           $teal-lighten-5,
        "100":          $teal-lighten-4,
        "200":          $teal-lighten-3,
        "300":          $teal-lighten-2,
        "400":          $teal-lighten-1,
        "500":          $teal-base,
        "600":          $teal-darken-1,
        "700":          $teal-darken-2,
        "800":          $teal-darken-3,
        "900":          $teal-darken-4,
        "950":          $teal-darken-5,
        "accent-100":   $teal-accent-1,
        "accent-200":   $teal-accent-2,
        "accent-300":   $teal-accent-3,
        "accent-400":   $teal-accent-4
    ),
    "cyan": (
        "50":           $cyan-lighten-5,
        "100":          $cyan-lighten-4,
        "200":          $cyan-lighten-3,
        "300":          $cyan-lighten-2,
        "400":          $cyan-lighten-1,
        "500":          $cyan-base,
        "600":          $cyan-darken-1,
        "700":          $cyan-darken-2,
        "800":          $cyan-darken-3,
        "900":          $cyan-darken-4,
        "950":          $cyan-darken-5,
        "accent-100":   $cyan-accent-1,
        "accent-200":   $cyan-accent-2,
        "accent-300":   $cyan-accent-3,
        "accent-400":   $cyan-accent-4
    ),
    "light-blue": (
        "50":           $light-blue-lighten-5,
        "100":          $light-blue-lighten-4,
        "200":          $light-blue-lighten-3,
        "300":          $light-blue-lighten-2,
        "400":          $light-blue-lighten-1,
        "500":          $light-blue-base,
        "600":          $light-blue-darken-1,
        "700":          $light-blue-darken-2,
        "800":          $light-blue-darken-3,
        "900":          $light-blue-darken-4,
        "950":          $light-blue-darken-5,
        "accent-100":   $light-blue-accent-1,
        "accent-200":   $light-blue-accent-2,
        "accent-300":   $light-blue-accent-3,
        "accent-400":   $light-blue-accent-4
    ),
    "blue": (
        "50":           $blue-lighten-5,
        "100":          $blue-lighten-4,
        "200":          $blue-lighten-3,
        "300":          $blue-lighten-2,
        "400":          $blue-lighten-1,
        "500":          $blue-base,
        "600":          $blue-darken-1,
        "700":          $blue-darken-2,
        "800":          $blue-darken-3,
        "900":          $blue-darken-4,
        "950":          $blue-darken-5,
        "accent-100":   $blue-accent-1,
        "accent-200":   $blue-accent-2,
        "accent-300":   $blue-accent-3,
        "accent-400":   $blue-accent-4
    ),
    "indigo": (
        "50":           $indigo-lighten-5,
        "100":          $indigo-lighten-4,
        "200":          $indigo-lighten-3,
        "300":          $indigo-lighten-2,
        "400":          $indigo-lighten-1,
        "500":          $indigo-base,
        "600":          $indigo-darken-1,
        "700":          $indigo-darken-2,
        "800":          $indigo-darken-3,
        "900":          $indigo-darken-4,
        "950":          $indigo-darken-5,
        "accent-100":   $indigo-accent-1,
        "accent-200":   $indigo-accent-2,
        "accent-300":   $indigo-accent-3,
        "accent-400":   $indigo-accent-4
    ),
    "deep-purple": (
        "50":           $deep-purple-lighten-5,
        "100":          $deep-purple-lighten-4,
        "200":          $deep-purple-lighten-3,
        "300":          $deep-purple-lighten-2,
        "400":          $deep-purple-lighten-1,
        "500":          $deep-purple-base,
        "600":          $deep-purple-darken-1,
        "700":          $deep-purple-darken-2,
        "800":          $deep-purple-darken-3,
        "900":          $deep-purple-darken-4,
        "950":          $deep-purple-darken-5,
        "accent-100":   $deep-purple-accent-1,
        "accent-200":   $deep-purple-accent-2,
        "accent-300":   $deep-purple-accent-3,
        "accent-400":   $deep-purple-accent-4
    ),
    "purple": (
        "50":           $purple-lighten-5,
        "100":          $purple-lighten-4,
        "200":          $purple-lighten-3,
        "300":          $purple-lighten-2,
        "400":          $purple-lighten-1,
        "500":          $purple-base,
        "600":          $purple-darken-1,
        "700":          $purple-darken-2,
        "800":          $purple-darken-3,
        "900":          $purple-darken-4,
        "950":          $purple-darken-5,
        "accent-100":   $purple-accent-1,
        "accent-200":   $purple-accent-2,
        "accent-300":   $purple-accent-3,
        "accent-400":   $purple-accent-4
    ),
    "pink": (
        "50":           $pink-lighten-5,
        "100":          $pink-lighten-4,
        "200":          $pink-lighten-3,
        "300":          $pink-lighten-2,
        "400":          $pink-lighten-1,
        "500":          $pink-base,
        "600":          $pink-darken-1,
        "700":          $pink-darken-2,
        "800":          $pink-darken-3,
        "900":          $pink-darken-4,
        "950":          $pink-darken-5,
        "accent-100":   $pink-accent-1,
        "accent-200":   $pink-accent-2,
        "accent-300":   $pink-accent-3,
        "accent-400":   $pink-accent-4
    ),
    "midnight-haze": (
        "50":       $midnight-haze-lighten-5,
        "100":      $midnight-haze-lighten-4,
        "200":      $midnight-haze-lighten-3,
        "300":      $midnight-haze-lighten-2,
        "400":      $midnight-haze-lighten-1,
        "500":      $midnight-haze-base,
        "600":      $midnight-haze-darken-1,
        "700":      $midnight-haze-darken-2,
        "800":      $midnight-haze-darken-3,
        "900":      $midnight-haze-darken-4,
        "950":      $midnight-haze-darken-5
    ),
    "blue-grey": (
        "50":       $blue-grey-lighten-5,
        "100":      $blue-grey-lighten-4,
        "200":      $blue-grey-lighten-3,
        "300":      $blue-grey-lighten-2,
        "400":      $blue-grey-lighten-1,
        "500":      $blue-grey-base,
        "600":      $blue-grey-darken-1,
        "700":      $blue-grey-darken-2,
        "800":      $blue-grey-darken-3,
        "900":      $blue-grey-darken-4,
        "950":      $blue-grey-darken-5
    ),
    "gray": (
        "50":       $gray-50,
        "100":      $gray-100,
        "200":      $gray-200,
        "300":      $gray-300,
        "400":      $gray-400,
        "500":      $gray-500,
        "600":      $gray-600,
        "700":      $gray-700,
        "800":      $gray-800,
        "900":      $gray-900,
        "950":      $gray-950
    ),
    "neutral": (
        "50":       $neutral-lighten-5,
        "100":      $neutral-lighten-4,
        "200":      $neutral-lighten-3,
        "300":      $neutral-lighten-2,
        "400":      $neutral-lighten-1,
        "500":      $neutral-base,
        "600":      $neutral-darken-1,
        "700":      $neutral-darken-2,
        "800":      $neutral-darken-3,
        "900":      $neutral-darken-4,
        "950":      $neutral-darken-5
    )
);

// Full palette of colors
$enable_full_palette:  true !default;

// Material colors
$default-color:             helper.to-oklch(#715eac);
$primary-color:             helper.to-oklch(#0d6efd);
$primary-color-dark:        helper.to-oklch(#0d47a1);
$secondary-color:           helper.to-oklch(#aa66cc);
$secondary-color-dark:      helper.to-oklch(#681c8f);
$info-color:                helper.to-oklch(#20dcfb);
$info-color-dark:           helper.to-oklch(#0b6c8d);
$success-color:             helper.to-oklch(#1a8754);
$success-color-dark:        helper.to-oklch(#0f5334);
$warning-color:             helper.to-oklch(#ffbb33);
$warning-color-dark:        helper.to-oklch(#b57a04);
$danger-color:              helper.to-oklch(#dc3545);
$danger-color-dark:         helper.to-oklch(#ad0000);
$elegant-color:             helper.to-oklch(#2e2e2e);
$elegant-color-dark:        helper.to-oklch(#212121);
$stylish-color:             helper.to-oklch(#4b515d);
$stylish-color-dark:        helper.to-oklch(#2d333e);
$unique-color:              helper.to-oklch(#385870);
$unique-color-dark:         oklch(0.36 0.05 242.26);
$special-color:             helper.to-oklch(#37474f);
$special-color-dark:        helper.to-oklch(#263238);
$blue-green-color:          oklch(0.43 0.08 174.95);
$blue-green-color-dark:     helper.to-oklch(#022f27);
$mdb-default-color:         helper.to-oklch(#5f4a97);
$mdb-default-color-dark:    helper.to-oklch(#44307a);
$mdb-default-color-light:   helper.to-oklch(#b99ce1);
$mdb-unique-color:          helper.to-oklch(#880e4f);
$mdb-light-color:           helper.to-oklch(#f8f9fa);
$dark-color:                helper.to-oklch(#191919);

// This theme color is bundled by default
// Applicable to:
// BsAlert, BsBadge, BsButton, BsToggleButton, BsToggleField, BsChip, BsCard,
// BsCheckbox, BsRadio, BsSwitch, BsTabs, BsProgress
$context-colors: (
    "default":      $default-color,
    "primary":      $primary-color,
    "secondary":    $gray-500,
    "success":      $success-color,
    "danger":       $danger-color,
    "warning":      $warning-color,
    "info":         $info-color,
    "light":        $gray-200,
);

// Material theme color
$material-colors: (
    "primary-color":          $primary-color,
    "primary-color-dark":     $primary-color-dark,
    "secondary-color":        $secondary-color,
    "secondary-color-dark":   $secondary-color-dark,
    "default-color":          $mdb-default-color,
    "default-color-dark":     $mdb-default-color-dark,
    "info-color":             $info-color,
    "info-color-dark":        $info-color-dark,
    "success-color":          $success-color,
    "success-color-dark":     $success-color-dark,
    "warning-color":          $warning-color,
    "warning-color-dark":     $warning-color-dark,
    "danger-color":           $danger-color,
    "danger-color-dark":      $danger-color-dark,
    "blue-green-color":       $blue-green-color,
    "blue-green-color-dark":  $blue-green-color-dark,
    "elegant-color":          $elegant-color,
    "elegant-color-dark":     $elegant-color-dark,
    "stylish-color":          $stylish-color,
    "stylish-color-dark":     $stylish-color-dark,
    "unique-color":           $unique-color,
    "unique-color-dark":      $unique-color-dark,
    "special-color":          $special-color,
    "special-color-dark":     $special-color-dark,
);

// Bootstrap custom theme colors
$theme-colors: (
    "default":          $default-color,
    "primary":          $primary-color,
    "secondary":        $gray-500,
    "success":          $success-color,
    "warning":          $warning-color,
    "danger":           $danger-color,
    "info":             $info-color,
    "dark":             $dark-color,
    "light":            $mdb-light-color,
    "yellow":           $yellow-base,
    "amber":            $amber-base,
    "blue":             $blue-base,
    "blue-green":       $blue-green-color,
    "blue-grey":        $blue-grey-base,
    "brown":            $brown-base,
    "cyan":             $cyan-base,
    "dark-blue":        $blue-darken-4,
    "dark-green":       $green-darken-4,
    "deep-orange":      $deep-orange-base,
    "deep-purple":      $deep-purple-base,
    "green":            $green-base,
    "neutral":          $neutral-base,
    "indigo":           $indigo-base,
    "light-blue":       $light-blue-lighten-2,
    "light-green":      $light-green-base,
    "lime":             $lime-base,
    "midnight-haze":    $midnight-haze-base,
    "orange":           $orange-base,
    "pink":             $pink-base,
    "purple":           $purple-base,
    "red":              $red-base,
    "teal":             $teal-base,
    "unique":           $mdb-unique-color,
    "black":            $black
);

// Merge theme colors to reduced duplication when creating css
$merge-theme-colors: map.merge($material-colors, $theme-colors);

// This theme color is distributed independently.
// Colors that already exist on default bundle is removed to prevent duplication,
//
// This theme color can be used for most components.
$common-theme-colors: map.remove($theme-colors,
    "default", "primary", "secondary", "info", "success", "warning", "danger",
    "grey", "light", "dark", "black", "white"
);

// This theme color is distributed independently.
// Colors that already exist on default bundle is removed to prevent duplication,
//
// This theme color can only be used on some components.
$custom-theme-colors: map.remove($merge-theme-colors,
    "default", "primary", "secondary", "info", "success", "warning", "danger",
    "grey", "light", "dark", "black", "white"
);
