@use "sass:color";
@use "sass:map";
@use "utils/color_helper" as helper;

// Gray Colors
$gray-100: helper.to-oklch(#f8f9fa);
$gray-200: helper.to-oklch(#e9ecef);
$gray-300: helper.to-oklch(#dee2e6);
$gray-400: helper.to-oklch(#ced4da);
$gray-500: helper.to-oklch(#adb5bd);
$gray-600: helper.to-oklch(#6c757d);
$gray-700: helper.to-oklch(#495057);
$gray-800: helper.to-oklch(#343a40);
$gray-900: helper.to-oklch(#212529);
$gray-950: helper.to-oklch(#151517);

// Material Bootstrap Colors
$midnight-haze-lighten-5:   helper.to-oklch(#d0d6e2);
$midnight-haze-lighten-4:   helper.to-oklch(#b1bace);
$midnight-haze-lighten-3:   helper.to-oklch(#929fba);
$midnight-haze-lighten-2:   helper.to-oklch(#7283a7);
$midnight-haze-lighten-1:   helper.to-oklch(#59698d);
$midnight-haze-base:        helper.to-oklch(#45526e);
$midnight-haze-darken-1:    helper.to-oklch(#3b465e);
$midnight-haze-darken-2:    helper.to-oklch(#2e3951);
$midnight-haze-darken-3:    helper.to-oklch(#232c40);
$midnight-haze-darken-4:    helper.to-oklch(#1c2331);

$red-lighten-5:         helper.to-oklch(#ffebee);
$red-lighten-4:         helper.to-oklch(#ffcdd2);
$red-lighten-3:         helper.to-oklch(#ffada7);
$red-lighten-2:         helper.to-oklch(#ff887f);
$red-lighten-1:         helper.to-oklch(#ff6155);
$red-base:              helper.to-oklch(#f44336);
$red-darken-1:          helper.to-oklch(#e53935);
$red-darken-2:          helper.to-oklch(#d32f2f);
$red-darken-3:          helper.to-oklch(#b12121);
$red-darken-4:          helper.to-oklch(#951313);
$red-accent-1:          helper.to-oklch(#ff8a80);
$red-accent-2:          helper.to-oklch(#ff5252);
$red-accent-3:          helper.to-oklch(#e03333);
$red-accent-4:          helper.to-oklch(#d21b1b);

$pink-lighten-5:        helper.to-oklch(#ffdfe7);
$pink-lighten-4:        helper.to-oklch(#ffc6d5);
$pink-lighten-3:        helper.to-oklch(#ffa8bf);
$pink-lighten-2:        helper.to-oklch(#ff8baa);
$pink-lighten-1:        helper.to-oklch(#ff6f95);
$pink-base:             helper.to-oklch(#F65A83);
$pink-darken-1:         helper.to-oklch(#dd4c72);
$pink-darken-2:         helper.to-oklch(#c1385b);
$pink-darken-3:         helper.to-oklch(#a12747);
$pink-darken-4:         helper.to-oklch(#871d39);
$pink-accent-1:         helper.to-oklch(#ff80ab);
$pink-accent-2:         helper.to-oklch(#ff4081);
$pink-accent-3:         helper.to-oklch(#da1970);
$pink-accent-4:         helper.to-oklch(#c51162);

$purple-lighten-5:      helper.to-oklch(#f3e5f5);
$purple-lighten-4:      helper.to-oklch(#e1bee7);
$purple-lighten-3:      helper.to-oklch(#ce93d8);
$purple-lighten-2:      helper.to-oklch(#ba68c8);
$purple-lighten-1:      helper.to-oklch(#ab47bc);
$purple-base:           helper.to-oklch(#9c27b0);
$purple-darken-1:       helper.to-oklch(#8e24aa);
$purple-darken-2:       helper.to-oklch(#7b1fa2);
$purple-darken-3:       helper.to-oklch(#6a1b9a);
$purple-darken-4:       helper.to-oklch(#581581);
$purple-accent-1:       helper.to-oklch(#ea80fc);
$purple-accent-2:       helper.to-oklch(#e040fb);
$purple-accent-3:       helper.to-oklch(#bf19db);
$purple-accent-4:       helper.to-oklch(#9d08b7);

$deep-purple-lighten-5:  helper.to-oklch(#ede7f6);
$deep-purple-lighten-4:  helper.to-oklch(#d1c4e9);
$deep-purple-lighten-3:  helper.to-oklch(#b39ddb);
$deep-purple-lighten-2:  helper.to-oklch(#9575cd);
$deep-purple-lighten-1:  helper.to-oklch(#7e57c2);
$deep-purple-base:       helper.to-oklch(#6f42c1);
$deep-purple-darken-1:   helper.to-oklch(#5b32a7);
$deep-purple-darken-2:   helper.to-oklch(#50269b);
$deep-purple-darken-3:   helper.to-oklch(#3e1985);
$deep-purple-darken-4:   helper.to-oklch(#300c72);
$deep-purple-accent-1:   helper.to-oklch(#b388ff);
$deep-purple-accent-2:   helper.to-oklch(#8f67ff);
$deep-purple-accent-3:   helper.to-oklch(#7846ff);
$deep-purple-accent-4:   helper.to-oklch(#5402c5);

$indigo-lighten-5:  helper.to-oklch(#e8eaf6);
$indigo-lighten-4:  helper.to-oklch(#c5cae9);
$indigo-lighten-3:  helper.to-oklch(#9fa8da);
$indigo-lighten-2:  helper.to-oklch(#7986cb);
$indigo-lighten-1:  helper.to-oklch(#5c6bc0);
$indigo-base:       helper.to-oklch(#3f51b5);
$indigo-darken-1:   helper.to-oklch(#3949ab);
$indigo-darken-2:   helper.to-oklch(#303f9f);
$indigo-darken-3:   helper.to-oklch(#232f89);
$indigo-darken-4:   helper.to-oklch(#1a237e);
$indigo-accent-1:   helper.to-oklch(#8c9eff);
$indigo-accent-2:   helper.to-oklch(#6770eb);
$indigo-accent-3:   helper.to-oklch(#4a56f1);
$indigo-accent-4:   helper.to-oklch(#3945dd);

$blue-lighten-5:  helper.to-oklch(#e3f2fd);
$blue-lighten-4:  helper.to-oklch(#bbdefb);
$blue-lighten-3:  helper.to-oklch(#90caf9);
$blue-lighten-2:  helper.to-oklch(#64b5f6);
$blue-lighten-1:  helper.to-oklch(#42a5f5);
$blue-base:       helper.to-oklch(#2196f3);
$blue-darken-1:   helper.to-oklch(#1e88e5);
$blue-darken-2:   helper.to-oklch(#1976d2);
$blue-darken-3:   helper.to-oklch(#125db3);
$blue-darken-4:   helper.to-oklch(#0d47a1);
$blue-accent-1:   helper.to-oklch(#82b1ff);
$blue-accent-2:   helper.to-oklch(#448aff);
$blue-accent-3:   helper.to-oklch(#2979ff);
$blue-accent-4:   helper.to-oklch(#2962ff);

$light-blue-lighten-5:  helper.to-oklch(#e1f5fe);
$light-blue-lighten-4:  helper.to-oklch(#b3e5fc);
$light-blue-lighten-3:  helper.to-oklch(#81d4fa);
$light-blue-lighten-2:  helper.to-oklch(#4fc3f7);
$light-blue-lighten-1:  helper.to-oklch(#29b6f6);
$light-blue-base:       helper.to-oklch(#03a9f4);
$light-blue-darken-1:   helper.to-oklch(#039be5);
$light-blue-darken-2:   helper.to-oklch(#0288d1);
$light-blue-darken-3:   helper.to-oklch(#006daf);
$light-blue-darken-4:   helper.to-oklch(#01579b);
$light-blue-accent-1:   helper.to-oklch(#80d8ff);
$light-blue-accent-2:   helper.to-oklch(#40c4ff);
$light-blue-accent-3:   helper.to-oklch(#00b0ff);
$light-blue-accent-4:   helper.to-oklch(#0091ea);

$cyan-lighten-5:  helper.to-oklch(#e0f7fa);
$cyan-lighten-4:  helper.to-oklch(#b2ebf2);
$cyan-lighten-3:  helper.to-oklch(#80deea);
$cyan-lighten-2:  helper.to-oklch(#4dd0e1);
$cyan-lighten-1:  helper.to-oklch(#26c6da);
$cyan-base:       helper.to-oklch(#00bcd4);
$cyan-darken-1:   helper.to-oklch(#00acc1);
$cyan-darken-2:   helper.to-oklch(#0097a7);
$cyan-darken-3:   helper.to-oklch(#007985);
$cyan-darken-4:   helper.to-oklch(#006064);
$cyan-accent-1:   helper.to-oklch(#84ffff);
$cyan-accent-2:   helper.to-oklch(#18ffff);
$cyan-accent-3:   helper.to-oklch(#0bd3d2);
$cyan-accent-4:   helper.to-oklch(#0ba1a0);

$teal-lighten-5:  helper.to-oklch(#e0f2f1);
$teal-lighten-4:  helper.to-oklch(#b2dfdb);
$teal-lighten-3:  helper.to-oklch(#80cbc4);
$teal-lighten-2:  helper.to-oklch(#4db6ac);
$teal-lighten-1:  helper.to-oklch(#26a69a);
$teal-base:       helper.to-oklch(#009688);
$teal-darken-1:   helper.to-oklch(#00897b);
$teal-darken-2:   helper.to-oklch(#00796b);
$teal-darken-3:   helper.to-oklch(#016055);
$teal-darken-4:   helper.to-oklch(#004d40);
$teal-accent-1:   helper.to-oklch(#a7ffeb);
$teal-accent-2:   helper.to-oklch(#64f9dd);
$teal-accent-3:   helper.to-oklch(#27c9ab);
$teal-accent-4:   helper.to-oklch(#14a98d);

$green-lighten-5:  helper.to-oklch(#deffdf);
$green-lighten-4:  helper.to-oklch(#c3f9c6);
$green-lighten-3:  helper.to-oklch(#9add9d);
$green-lighten-2:  helper.to-oklch(#78d17d);
$green-lighten-1:  helper.to-oklch(#59bb5e);
$green-base:       helper.to-oklch(#40a545);
$green-darken-1:   helper.to-oklch(#37973c);
$green-darken-2:   helper.to-oklch(#2a832e);
$green-darken-3:   helper.to-oklch(#26702a);
$green-darken-4:   helper.to-oklch(#1b5e20);
$green-accent-1:   helper.to-oklch(#b9f6ca);
$green-accent-2:   helper.to-oklch(#8fefaa);
$green-accent-3:   helper.to-oklch(#5bcd7a);
$green-accent-4:   helper.to-oklch(#1da762);

$light-green-lighten-5:  helper.to-oklch(#f1f8e9);
$light-green-lighten-4:  helper.to-oklch(#dcedc8);
$light-green-lighten-3:  helper.to-oklch(#c5e1a5);
$light-green-lighten-2:  helper.to-oklch(#aed581);
$light-green-lighten-1:  helper.to-oklch(#9ccc65);
$light-green-base:       helper.to-oklch(#8bc34a);
$light-green-darken-1:   helper.to-oklch(#7cb342);
$light-green-darken-2:   helper.to-oklch(#689f38);
$light-green-darken-3:   helper.to-oklch(#4f832b);
$light-green-darken-4:   helper.to-oklch(#406823);
$light-green-accent-1:   helper.to-oklch(#ccff90);
$light-green-accent-2:   helper.to-oklch(#a7e75c);
$light-green-accent-3:   helper.to-oklch(#76b130);
$light-green-accent-4:   helper.to-oklch(#508511);

$lime-lighten-5:  helper.to-oklch(#f9fbe7);
$lime-lighten-4:  helper.to-oklch(#f0f4c3);
$lime-lighten-3:  helper.to-oklch(#e6ee9c);
$lime-lighten-2:  helper.to-oklch(#dce775);
$lime-lighten-1:  helper.to-oklch(#d4e157);
$lime-base:       helper.to-oklch(#cddc39);
$lime-darken-1:   helper.to-oklch(#bbcb21);
$lime-darken-2:   helper.to-oklch(#a4b501);
$lime-darken-3:   helper.to-oklch(#879502);
$lime-darken-4:   helper.to-oklch(#6f7a00);
$lime-accent-1:   helper.to-oklch(#f4ff81);
$lime-accent-2:   helper.to-oklch(#dae75b);
$lime-accent-3:   helper.to-oklch(#bbc741);
$lime-accent-4:   helper.to-oklch(#9ca919);

$yellow-lighten-5:  helper.to-oklch(#fffde7);
$yellow-lighten-4:  helper.to-oklch(#fff9c4);
$yellow-lighten-3:  helper.to-oklch(#fff59d);
$yellow-lighten-2:  helper.to-oklch(#fff176);
$yellow-lighten-1:  helper.to-oklch(#ffee58);
$yellow-base:       helper.to-oklch(#ffe822);
$yellow-darken-1:   helper.to-oklch(#f1dc24);
$yellow-darken-2:   helper.to-oklch(#e3ce12);
$yellow-darken-3:   helper.to-oklch(#d1bc02);
$yellow-darken-4:   helper.to-oklch(#b3a105);
$yellow-accent-1:   helper.to-oklch(#fffe6d);
$yellow-accent-2:   helper.to-oklch(#f3f23a);
$yellow-accent-3:   helper.to-oklch(#dbda18);
$yellow-accent-4:   helper.to-oklch(#c1c00a);

$amber-lighten-5:  helper.to-oklch(#fff8e1);
$amber-lighten-4:  helper.to-oklch(#ffecb3);
$amber-lighten-3:  helper.to-oklch(#ffe082);
$amber-lighten-2:  helper.to-oklch(#ffd54f);
$amber-lighten-1:  helper.to-oklch(#ffca28);
$amber-base:       helper.to-oklch(#ffc107);
$amber-darken-1:   helper.to-oklch(#efb301);
$amber-darken-2:   helper.to-oklch(#e1a900);
$amber-darken-3:   helper.to-oklch(#cb9800);
$amber-darken-4:   helper.to-oklch(#a77d00);
$amber-accent-1:   helper.to-oklch(#ffe05d);
$amber-accent-2:   helper.to-oklch(#f3cd2f);
$amber-accent-3:   helper.to-oklch(#d5b016);
$amber-accent-4:   helper.to-oklch(#bd9900);

$orange-lighten-5:  helper.to-oklch(#fff3e0);
$orange-lighten-4:  helper.to-oklch(#ffe0b2);
$orange-lighten-3:  helper.to-oklch(#ffcc80);
$orange-lighten-2:  helper.to-oklch(#ffb74d);
$orange-lighten-1:  helper.to-oklch(#ffa726);
$orange-base:       helper.to-oklch(#ff9800);
$orange-darken-1:   helper.to-oklch(#f38801);
$orange-darken-2:   helper.to-oklch(#e77602);
$orange-darken-3:   helper.to-oklch(#d15e00);
$orange-darken-4:   helper.to-oklch(#a74404);
$orange-accent-1:   helper.to-oklch(#ffd180);
$orange-accent-2:   helper.to-oklch(#ffab40);
$orange-accent-3:   helper.to-oklch(#ff9100);
$orange-accent-4:   helper.to-oklch(#d37801);

$deep-orange-lighten-5:  helper.to-oklch(#fbe9e7);
$deep-orange-lighten-4:  helper.to-oklch(#ffccbc);
$deep-orange-lighten-3:  helper.to-oklch(#ffab91);
$deep-orange-lighten-2:  helper.to-oklch(#ff8a65);
$deep-orange-lighten-1:  helper.to-oklch(#ff7043);
$deep-orange-base:       helper.to-oklch(#ff5722);
$deep-orange-darken-1:   helper.to-oklch(#e74613);
$deep-orange-darken-2:   helper.to-oklch(#d93400);
$deep-orange-darken-3:   helper.to-oklch(#c12e00);
$deep-orange-darken-4:   helper.to-oklch(#a52700);
$deep-orange-accent-1:   helper.to-oklch(#ff9e80);
$deep-orange-accent-2:   helper.to-oklch(#ff6e40);
$deep-orange-accent-3:   helper.to-oklch(#ff3d00);
$deep-orange-accent-4:   helper.to-oklch(#dd2c00);

$brown-lighten-5:  helper.to-oklch(#efebe9);
$brown-lighten-4:  helper.to-oklch(#d7ccc8);
$brown-lighten-3:  helper.to-oklch(#bcaaa4);
$brown-lighten-2:  helper.to-oklch(#a1887f);
$brown-lighten-1:  helper.to-oklch(#8d6e63);
$brown-base:       helper.to-oklch(#795548);
$brown-darken-1:   helper.to-oklch(#6d4c41);
$brown-darken-2:   helper.to-oklch(#5d4037);
$brown-darken-3:   helper.to-oklch(#4e342e);
$brown-darken-4:   helper.to-oklch(#3e2723);

$blue-grey-lighten-5:  helper.to-oklch(#eceff1);
$blue-grey-lighten-4:  helper.to-oklch(#cfd8dc);
$blue-grey-lighten-3:  helper.to-oklch(#b0bec5);
$blue-grey-lighten-2:  helper.to-oklch(#90a4ae);
$blue-grey-lighten-1:  helper.to-oklch(#78909c);
$blue-grey-base:       helper.to-oklch(#607d8b);
$blue-grey-darken-1:   helper.to-oklch(#546e7a);
$blue-grey-darken-2:   helper.to-oklch(#455a64);
$blue-grey-darken-3:   helper.to-oklch(#37474f);
$blue-grey-darken-4:   helper.to-oklch(#263238);

$neutral-lighten-5:  helper.to-oklch(#fafafa);
$neutral-lighten-4:  helper.to-oklch(#f5f5f5);
$neutral-lighten-3:  helper.to-oklch(#e5e5e5);
$neutral-lighten-2:  helper.to-oklch(#d4d4d4);
$neutral-lighten-1:  helper.to-oklch(#a3a3a3);
$neutral-base:       helper.to-oklch(#737373);
$neutral-darken-1:   helper.to-oklch(#525252);
$neutral-darken-2:   helper.to-oklch(#404040);
$neutral-darken-3:   helper.to-oklch(#262626);
$neutral-darken-4:   helper.to-oklch(#171717);

$black: #000;
$white: #fff;

$full-palette: (
    "red": (
        "lighten-5":  $red-lighten-5,
        "lighten-4":  $red-lighten-4,
        "lighten-3":  $red-lighten-3,
        "lighten-2":  $red-lighten-2,
        "lighten-1":  $red-lighten-1,
        "base":       $red-base,
        "darken-1":   $red-darken-1,
        "darken-2":   $red-darken-2,
        "darken-3":   $red-darken-3,
        "darken-4":   $red-darken-4,
        "accent-1":   $red-accent-1,
        "accent-2":   $red-accent-2,
        "accent-3":   $red-accent-3,
        "accent-4":   $red-accent-4
    ),
    "pink": (
        "lighten-5":  $pink-lighten-5,
        "lighten-4":  $pink-lighten-4,
        "lighten-3":  $pink-lighten-3,
        "lighten-2":  $pink-lighten-2,
        "lighten-1":  $pink-lighten-1,
        "base":       $pink-base,
        "darken-1":   $pink-darken-1,
        "darken-2":   $pink-darken-2,
        "darken-3":   $pink-darken-3,
        "darken-4":   $pink-darken-4,
        "accent-1":   $pink-accent-1,
        "accent-2":   $pink-accent-2,
        "accent-3":   $pink-accent-3,
        "accent-4":   $pink-accent-4
    ),
    "purple": (
        "lighten-5":  $purple-lighten-5,
        "lighten-4":  $purple-lighten-4,
        "lighten-3":  $purple-lighten-3,
        "lighten-2":  $purple-lighten-2,
        "lighten-1":  $purple-lighten-1,
        "base":       $purple-base,
        "darken-1":   $purple-darken-1,
        "darken-2":   $purple-darken-2,
        "darken-3":   $purple-darken-3,
        "darken-4":   $purple-darken-4,
        "accent-1":   $purple-accent-1,
        "accent-2":   $purple-accent-2,
        "accent-3":   $purple-accent-3,
        "accent-4":   $purple-accent-4
    ),
    "deep-purple": (
        "lighten-5":  $deep-purple-lighten-5,
        "lighten-4":  $deep-purple-lighten-4,
        "lighten-3":  $deep-purple-lighten-3,
        "lighten-2":  $deep-purple-lighten-2,
        "lighten-1":  $deep-purple-lighten-1,
        "base":       $deep-purple-base,
        "darken-1":   $deep-purple-darken-1,
        "darken-2":   $deep-purple-darken-2,
        "darken-3":   $deep-purple-darken-3,
        "darken-4":   $deep-purple-darken-4,
        "accent-1":   $deep-purple-accent-1,
        "accent-2":   $deep-purple-accent-2,
        "accent-3":   $deep-purple-accent-3,
        "accent-4":   $deep-purple-accent-4
    ),
    "indigo": (
        "lighten-5":  $indigo-lighten-5,
        "lighten-4":  $indigo-lighten-4,
        "lighten-3":  $indigo-lighten-3,
        "lighten-2":  $indigo-lighten-2,
        "lighten-1":  $indigo-lighten-1,
        "base":       $indigo-base,
        "darken-1":   $indigo-darken-1,
        "darken-2":   $indigo-darken-2,
        "darken-3":   $indigo-darken-3,
        "darken-4":   $indigo-darken-4,
        "accent-1":   $indigo-accent-1,
        "accent-2":   $indigo-accent-2,
        "accent-3":   $indigo-accent-3,
        "accent-4":   $indigo-accent-4
    ),
    "blue": (
        "lighten-5":  $blue-lighten-5,
        "lighten-4":  $blue-lighten-4,
        "lighten-3":  $blue-lighten-3,
        "lighten-2":  $blue-lighten-2,
        "lighten-1":  $blue-lighten-1,
        "base":       $blue-base,
        "darken-1":   $blue-darken-1,
        "darken-2":   $blue-darken-2,
        "darken-3":   $blue-darken-3,
        "darken-4":   $blue-darken-4,
        "accent-1":   $blue-accent-1,
        "accent-2":   $blue-accent-2,
        "accent-3":   $blue-accent-3,
        "accent-4":   $blue-accent-4
    ),
    "light-blue": (
        "lighten-5":  $light-blue-lighten-5,
        "lighten-4":  $light-blue-lighten-4,
        "lighten-3":  $light-blue-lighten-3,
        "lighten-2":  $light-blue-lighten-2,
        "lighten-1":  $light-blue-lighten-1,
        "base":       $light-blue-base,
        "darken-1":   $light-blue-darken-1,
        "darken-2":   $light-blue-darken-2,
        "darken-3":   $light-blue-darken-3,
        "darken-4":   $light-blue-darken-4,
        "accent-1":   $light-blue-accent-1,
        "accent-2":   $light-blue-accent-2,
        "accent-3":   $light-blue-accent-3,
        "accent-4":   $light-blue-accent-4
    ),
    "cyan": (
        "lighten-5":  $cyan-lighten-5,
        "lighten-4":  $cyan-lighten-4,
        "lighten-3":  $cyan-lighten-3,
        "lighten-2":  $cyan-lighten-2,
        "lighten-1":  $cyan-lighten-1,
        "base":       $cyan-base,
        "darken-1":   $cyan-darken-1,
        "darken-2":   $cyan-darken-2,
        "darken-3":   $cyan-darken-3,
        "darken-4":   $cyan-darken-4,
        "accent-1":   $cyan-accent-1,
        "accent-2":   $cyan-accent-2,
        "accent-3":   $cyan-accent-3,
        "accent-4":   $cyan-accent-4
    ),
    "teal": (
        "lighten-5":  $teal-lighten-5,
        "lighten-4":  $teal-lighten-4,
        "lighten-3":  $teal-lighten-3,
        "lighten-2":  $teal-lighten-2,
        "lighten-1":  $teal-lighten-1,
        "base":       $teal-base,
        "darken-1":   $teal-darken-1,
        "darken-2":   $teal-darken-2,
        "darken-3":   $teal-darken-3,
        "darken-4":   $teal-darken-4,
        "accent-1":   $teal-accent-1,
        "accent-2":   $teal-accent-2,
        "accent-3":   $teal-accent-3,
        "accent-4":   $teal-accent-4
    ),
    "green": (
        "lighten-5":  $green-lighten-5,
        "lighten-4":  $green-lighten-4,
        "lighten-3":  $green-lighten-3,
        "lighten-2":  $green-lighten-2,
        "lighten-1":  $green-lighten-1,
        "base":       $green-base,
        "darken-1":   $green-darken-1,
        "darken-2":   $green-darken-2,
        "darken-3":   $green-darken-3,
        "darken-4":   $green-darken-4,
        "accent-1":   $green-accent-1,
        "accent-2":   $green-accent-2,
        "accent-3":   $green-accent-3,
        "accent-4":   $green-accent-4
    ),
    "light-green": (
        "lighten-5":  $light-green-lighten-5,
        "lighten-4":  $light-green-lighten-4,
        "lighten-3":  $light-green-lighten-3,
        "lighten-2":  $light-green-lighten-2,
        "lighten-1":  $light-green-lighten-1,
        "base":       $light-green-base,
        "darken-1":   $light-green-darken-1,
        "darken-2":   $light-green-darken-2,
        "darken-3":   $light-green-darken-3,
        "darken-4":   $light-green-darken-4,
        "accent-1":   $light-green-accent-1,
        "accent-2":   $light-green-accent-2,
        "accent-3":   $light-green-accent-3,
        "accent-4":   $light-green-accent-4
    ),
    "lime": (
        "lighten-5":  $lime-lighten-5,
        "lighten-4":  $lime-lighten-4,
        "lighten-3":  $lime-lighten-3,
        "lighten-2":  $lime-lighten-2,
        "lighten-1":  $lime-lighten-1,
        "base":       $lime-base,
        "darken-1":   $lime-darken-1,
        "darken-2":   $lime-darken-2,
        "darken-3":   $lime-darken-3,
        "darken-4":   $lime-darken-4,
        "accent-1":   $lime-accent-1,
        "accent-2":   $lime-accent-2,
        "accent-3":   $lime-accent-3,
        "accent-4":   $lime-accent-4
    ),
    "yellow": (
        "lighten-5":  $yellow-lighten-5,
        "lighten-4":  $yellow-lighten-4,
        "lighten-3":  $yellow-lighten-3,
        "lighten-2":  $yellow-lighten-2,
        "lighten-1":  $yellow-lighten-1,
        "base":       $yellow-base,
        "darken-1":   $yellow-darken-1,
        "darken-2":   $yellow-darken-2,
        "darken-3":   $yellow-darken-3,
        "darken-4":   $yellow-darken-4,
        "accent-1":   $yellow-accent-1,
        "accent-2":   $yellow-accent-2,
        "accent-3":   $yellow-accent-3,
        "accent-4":   $yellow-accent-4
    ),
    "amber": (
        "lighten-5":  $amber-lighten-5,
        "lighten-4":  $amber-lighten-4,
        "lighten-3":  $amber-lighten-3,
        "lighten-2":  $amber-lighten-2,
        "lighten-1":  $amber-lighten-1,
        "base":       $amber-base,
        "darken-1":   $amber-darken-1,
        "darken-2":   $amber-darken-2,
        "darken-3":   $amber-darken-3,
        "darken-4":   $amber-darken-4,
        "accent-1":   $amber-accent-1,
        "accent-2":   $amber-accent-2,
        "accent-3":   $amber-accent-3,
        "accent-4":   $amber-accent-4
    ),
    "orange": (
        "lighten-5":  $orange-lighten-5,
        "lighten-4":  $orange-lighten-4,
        "lighten-3":  $orange-lighten-3,
        "lighten-2":  $orange-lighten-2,
        "lighten-1":  $orange-lighten-1,
        "base":       $orange-base,
        "darken-1":   $orange-darken-1,
        "darken-2":   $orange-darken-2,
        "darken-3":   $orange-darken-3,
        "darken-4":   $orange-darken-4,
        "accent-1":   $orange-accent-1,
        "accent-2":   $orange-accent-2,
        "accent-3":   $orange-accent-3,
        "accent-4":   $orange-accent-4
    ),
    "deep-orange": (
        "lighten-5":  $deep-orange-lighten-5,
        "lighten-4":  $deep-orange-lighten-4,
        "lighten-3":  $deep-orange-lighten-3,
        "lighten-2":  $deep-orange-lighten-2,
        "lighten-1":  $deep-orange-lighten-1,
        "base":       $deep-orange-base,
        "darken-1":   $deep-orange-darken-1,
        "darken-2":   $deep-orange-darken-2,
        "darken-3":   $deep-orange-darken-3,
        "darken-4":   $deep-orange-darken-4,
        "accent-1":   $deep-orange-accent-1,
        "accent-2":   $deep-orange-accent-2,
        "accent-3":   $deep-orange-accent-3,
        "accent-4":   $deep-orange-accent-4
    ),
    "midnight-haze": (
        "lighten-5": $midnight-haze-lighten-5,
        "lighten-4": $midnight-haze-lighten-4,
        "lighten-3": $midnight-haze-lighten-3,
        "lighten-2": $midnight-haze-lighten-2,
        "lighten-1": $midnight-haze-lighten-1,
        "base":      $midnight-haze-base,
        "darken-1":  $midnight-haze-darken-1,
        "darken-2":  $midnight-haze-darken-2,
        "darken-3":  $midnight-haze-darken-3,
        "darken-4":  $midnight-haze-darken-4
    ),
    "blue-grey": (
        "lighten-5":  $blue-grey-lighten-5,
        "lighten-4":  $blue-grey-lighten-4,
        "lighten-3":  $blue-grey-lighten-3,
        "lighten-2":  $blue-grey-lighten-2,
        "lighten-1":  $blue-grey-lighten-1,
        "base":       $blue-grey-base,
        "darken-1":   $blue-grey-darken-1,
        "darken-2":   $blue-grey-darken-2,
        "darken-3":   $blue-grey-darken-3,
        "darken-4":   $blue-grey-darken-4
    ),
    "gray": (
        "lighten-5": $gray-100,
        "lighten-4": $gray-200,
        "lighten-3": $gray-300,
        "lighten-2": $gray-400,
        "lighten-1": $gray-500,
        "base":      $gray-600,
        "darken-1":  $gray-700,
        "darken-2":  $gray-800,
        "darken-3":  $gray-900,
        "darken-4":  $gray-950
    ),
    "neutral": (
        "lighten-5": $neutral-lighten-5,
        "lighten-4": $neutral-lighten-4,
        "lighten-3": $neutral-lighten-3,
        "lighten-2": $neutral-lighten-2,
        "lighten-1": $neutral-lighten-1,
        "base":      $neutral-base,
        "darken-1":  $neutral-darken-1,
        "darken-2":  $neutral-darken-2,
        "darken-3":  $neutral-darken-3,
        "darken-4":  $neutral-darken-4
    )
);

// Full palette of colors
$enable_full_palette:  true !default;
$enable-gradients:     false !default;

// Material colors
$default-color:             helper.to-oklch(#715eac);
$primary-color:             helper.to-oklch(#0d6efd);
$primary-color-dark:        helper.to-oklch(#0d47a1);
$secondary-color:           helper.to-oklch(#aa66cc);
$secondary-color-dark:      helper.to-oklch(#681c8f);
$info-color:                helper.to-oklch(#20dcfb);
$info-color-dark:           helper.to-oklch(#0b6c8d);
$success-color:             helper.to-oklch(#1a8754);
$success-color-dark:        helper.to-oklch(#0f5334);
$warning-color:             helper.to-oklch(#ffbb33);
$warning-color-dark:        helper.to-oklch(#b57a04);
$danger-color:              helper.to-oklch(#dc3545);
$danger-color-dark:         helper.to-oklch(#ad0000);
$elegant-color:             helper.to-oklch(#2e2e2e);
$elegant-color-dark:        helper.to-oklch(#212121);
$stylish-color:             helper.to-oklch(#4b515d);
$stylish-color-dark:        helper.to-oklch(#2d333e);
$unique-color:              helper.to-oklch(#385870);
$unique-color-dark:         helper.to-oklch(#1c2331);
$special-color:             helper.to-oklch(#37474f);
$special-color-dark:        helper.to-oklch(#263238);
$blue-green-color:          helper.to-oklch(#064e40);
$blue-green-color-dark:     helper.to-oklch(#022f27);
$mdb-default-color:         helper.to-oklch(#5f4a97);
$mdb-default-color-dark:    helper.to-oklch(#44307a);
$mdb-default-color-light:   helper.to-oklch(#b99ce1);
$mdb-unique-color:          helper.to-oklch(#880e4f);
$mdb-light-color:           helper.to-oklch(#f8f9fa);
$error-color:               $red-base;

// This theme color is bundled by default
// Applicable to:
// BsButton, BsToggleButton, BsToggleField, BsCheckbox, BsChip, BsRadio, BsSwitch, BsTabs
$context-colors: (
    "default":      $default-color,
    "primary":      $primary-color,
    "secondary":    $gray-600,
    "success":      $success-color,
    "danger":       $danger-color,
    "warning":      $warning-color,
    "info":         $info-color,
    "light":        $gray-200,
);

// Material theme color
// Applicable to:
// BsButton, BsToggleButton, BsCheckbox, BsChip, BsCombobox, BsListView, BsListTile, BsListNav
$material-colors: (
    "primary-color":          $primary-color,
    "primary-color-dark":     $primary-color-dark,
    "secondary-color":        $secondary-color,
    "secondary-color-dark":   $secondary-color-dark,
    "default-color":          $mdb-default-color,
    "default-color-dark":     $mdb-default-color-dark,
    "info-color":             $info-color,
    "info-color-dark":        $info-color-dark,
    "success-color":          $success-color,
    "success-color-dark":     $success-color-dark,
    "warning-color":          $warning-color,
    "warning-color-dark":     $warning-color-dark,
    "danger-color":           $danger-color,
    "danger-color-dark":      $danger-color-dark,
    "blue-green-color":       $blue-green-color,
    "blue-green-color-dark":  $blue-green-color-dark,
    "elegant-color":          $elegant-color,
    "elegant-color-dark":     $elegant-color-dark,
    "stylish-color":          $stylish-color,
    "stylish-color-dark":     $stylish-color-dark,
    "unique-color":           $unique-color,
    "unique-color-dark":      $unique-color-dark,
    "special-color":          $special-color,
    "special-color-dark":     $special-color-dark,
);

// Bootstrap custom theme colors
// Applicable to:
// BsButton, BsAlert, BsCheckbox, BsChip, BsCombobox, BsListView, BsListTile, BsListNav,
// BsProgress, BsRadio, BsSwitch, BsToggleButton
$theme-colors: (
    "default":     $default-color,
    "primary":     $primary-color,
    "secondary":   $gray-600,
    "success":     $success-color,
    "warning":     $warning-color,
    "danger":      $danger-color,
    "info":        $info-color,
    "dark":        $neutral-darken-4,
    "light":       $mdb-light-color,
    "light-grey":  $neutral-lighten-2,
    "yellow":      $yellow-base,
    "amber":       $amber-base,
    "blue":        $blue-base,
    "blue-green":  $blue-green-color,
    "blue-grey":   $blue-grey-base,
    "brown":       $brown-base,
    "cyan":        $cyan-base,
    "dark-blue":   $blue-darken-4,
    "dark-green":  color.adjust($green-darken-4, $lightness: 2%),
    "deep-orange": $deep-orange-base,
    "deep-purple": $deep-purple-base,
    "green":       $green-base,
    "neutral":     $neutral-base,
    "indigo":      $indigo-base,
    "light-blue":  $light-blue-lighten-2,
    "light-green": $light-green-base,
    "lime":        $lime-base,
    "mdb-color":   $midnight-haze-base,
    "orange":      $orange-base,
    "pink":        $pink-base,
    "purple":      $purple-base,
    "red":         $red-base,
    "teal":        $teal-base,
    "unique":      $mdb-unique-color,
    "black":       $black
);

// Merge theme colors to reduced duplication when creating css
$merge-theme-colors: map.merge($material-colors, $theme-colors);

// This theme color is distributed independently.
// Colors that already exist on default bundle is removed to prevent duplication,
//
// This theme color can be used for most components.
$common-theme-colors: map.remove($theme-colors,
    "default", "primary", "secondary", "info", "success", "warning", "danger",
    "grey", "light", "dark", "black", "white"
);

// This theme color is distributed independently.
// Colors that already exist on default bundle is removed to prevent duplication,
//
// This theme color can only be used on some components.
$custom-theme-colors: map.remove($merge-theme-colors,
    "default", "primary", "secondary", "info", "success", "warning", "danger",
    "grey", "light", "dark", "black", "white"
);
