@import "~compass-sass-mixins/lib/compass/css3";
@import "colors";
@import "variables";
@import "mixins";

.#{$prefix}-field,
.#{$prefix}-textarea {
    position: relative;

    &.#{$prefix}-required {
        .#{$prefix}-field-label,
        .col-form-label {
            font-weight: bold;
        }
    }

    > .#{$prefix}-field-wrapper {
        @include flexbox((display: flex, flex-grow: 1));
        margin-left: 15px;
        margin-right: 15px;

        .#{$prefix}-prepend-icon,
        .#{$prefix}-action-icon,
        .#{$prefix}-append-icon {
            color: $gray-700;
            display: inline;
            font-size: 1rem;
            min-width: 1.5rem;
            text-align: center;

            > .#{$prefix}-icon-text {
                color: $gray-500;
                font-size: .88rem;
                white-space: nowrap;
            }
        }

        > .#{$prefix}-field-ctrl {
            @include flexbox((display: flex, flex-grow: 1, flex-direction: column));
            max-width: 100%;

            > .#{$prefix}-field-inner {
                @include flexbox((display: flex, flex: 1 1 auto));
                border-bottom: 1px solid $gray-500;
                position: relative;
                width: 100%;

                &:hover {
                    border-color: rgba($black, .65);
                }

                > .#{$prefix}-field-input-wrapper {
                    @include flexbox((display: flex, flex: 1 1 auto));
                    position: relative;
                }
            }

            > .#{$prefix}-help-text {
                display: block;
                height: 18px;
                margin-top: 4px;

                > * {
                    font-size: 83% !important;
                }
            }
        }
    }

    &:not(.#{$prefix}-field-outlined) {
        .#{$prefix}-field-inner {
            &:after {
                @include transition($transition-basic);
                background-color: $blue-darken-2;
                position: absolute;
                content: '';
                height: 2px;
                bottom: -1px;
                left: 50%;
                width: 0;
            }
        }
    }

    &.#{$prefix}-field-flat {
        .#{$prefix}-field-inner {
            border-bottom-color: transparent;
        }
    }

    &.#{$prefix}-floating-label {
        padding-top: 0.625rem;

        .#{$prefix}-field-inner {
            .#{$prefix}-field-label {
                @include transition(0.3s cubic-bezier(0.25, 0.8, 0.5, 1));
                @include transform-origin(top left, false);
                display: inline-block;
                left: 0;
                top: 11px;
                right: auto;
                line-height: 1.2;
                max-width: 90%;
                overflow: hidden;
                position: absolute;
                pointer-events: none;
                text-overflow: ellipsis;
                white-space: nowrap;
                z-index: 2;

                label {
                    margin-bottom: 0;
                }

                &.#{$prefix}-active {
                    color: $gray-600;
                }

                &.#{$prefix}-focused {
                    color: $primary-color;
                }

                //&.#{$prefix}-after-icon:not(.#{$prefix}-active) {
                //    margin-left: $padding-base + .5;
                //}
            }
        }
    }

    &.#{$prefix}-focused {
        &:not(.#{$prefix}-field-outlined) {
            .#{$prefix}-field-inner {
                &:after {
                    left: 0;
                    width: 100%;
                }
            }
        }

        .#{$prefix}-field-wrapper {
            .#{$prefix}-prepend-icon,
            .#{$prefix}-append-icon,
            .#{$prefix}-toggle-icon {
                color: $primary-color;
            }
        }
    }

    &.has-error {
        .col-form-label {
            color: $danger-color-dark !important;
        }

        .#{$prefix}-field-wrapper {
            .#{$prefix}-field-inner {
                border-bottom-color: $red-darken-3 !important;

                .#{$prefix}-field-label {
                    color: $danger-color-dark !important;
                }

                &:after {
                    background-color: $danger-color;
                }
            }

            .#{$prefix}-prepend-icon,
            .#{$prefix}-append-icon,
            .#{$prefix}-toggle-icon {
                color: $danger-color-dark;
            }
        }
    }

    &.has-success {
        .col-form-label {
            color: $success-color-dark !important;
        }

        .#{$prefix}-field-wrapper {
            .#{$prefix}-field-inner {
                border-bottom-color: $green-darken-4 !important;

                .#{$prefix}-field-label {
                    color: $success-color-dark !important;
                }
            }

            .#{$prefix}-prepend-icon,
            .#{$prefix}-append-icon,
            .#{$prefix}-toggle-icon {
                color: $success-color-dark;
            }
        }
    }

    &.#{$prefix}-field-outlined {
        > .#{$prefix}-field-wrapper {
            > .#{$prefix}-field-ctrl {
                > .#{$prefix}-field-inner {
                    @include border-radius($border-radius-sm);
                    border-bottom-color: transparent;
                    border-bottom-width: 0;
                    padding-left: $padding-base - .25;
                    padding-right: $padding-base - .25;

                    legend {
                        @include transition(width .3s cubic-bezier(.25, .8, .5, 1));
                        display: table;
                        line-height: 1;
                        max-width: 98%;
                        padding: 0;
                        margin: 0;
                    }

                    > fieldset {
                        @include border-radius($border-radius-sm);
                        @include transition(border, color $md-transition-stand);
                        display: block;
                        border-collapse: collapse;
                        border: 1px solid;
                        bottom: -2px;
                        left: 0;
                        right: 0;
                        color: rgba($black, .4);
                        padding: 0 $padding-sm - .1;
                        pointer-events: none;
                        position: absolute;
                    }

                    &:hover {
                        > fieldset {
                            color: rgba($black, .75);
                        }
                    }
                }
            }
        }

        &:not(.#{$prefix}-floating-label) {
            .#{$prefix}-field-inner {
                > fieldset {
                    top: -12px;
                }
            }
        }

        &.#{$prefix}-floating-label {
            margin-top: 0;
            padding-top: 0.25rem;

            .#{$prefix}-field-inner {
                padding-top: .85rem;
                padding-bottom: .4rem;

                > fieldset {
                    top: -6px;
                }
            }
        }

        .#{$prefix}-help-text {
            margin-left: $padding-sm;
        }

        &.#{$prefix}-focused {
            > .#{$prefix}-field-wrapper {
                > .#{$prefix}-field-ctrl {
                    > .#{$prefix}-field-inner {
                        > fieldset {
                            @include transition(border, color $md-transition-stand);
                            border-width: 2px;
                            color: $blue-darken-2;
                        }
                    }
                }
            }
        }

        &.has-error {
            .#{$prefix}-field-inner {
                > fieldset {
                    color: $red-darken-3 !important;
                }
            }
        }

        &.has-success {
            .#{$prefix}-field-inner {
                > fieldset {
                    color: $green-darken-4 !important;
                }
            }
        }
    }

    &.#{$prefix}-disabled {
        .col-form-label {
            color: $gray-500;
        }
    }
}

.#{$prefix}-field {
    .#{$prefix}-field-wrapper {
        > .#{$prefix}-prepend-icon {
            margin-right: $padding-base;
            padding-top: $padding-sm;
        }

        > .#{$prefix}-append-icon {
            margin-left: $padding-base;
            padding-top: $padding-sm;
        }

        .#{$prefix}-field-inner {
            @include align-items(center);

            > .#{$prefix}-prepend-icon {
                margin-right: $padding-sm;
            }

            > .#{$prefix}-action-icon,
            > .#{$prefix}-append-icon {
                margin-left: $padding-sm;
            }

            > .#{$prefix}-action-icon {
                cursor: pointer;

                > .icon-clear {
                    color: $gray-500;

                    &:first-child:not(:last-child) {
                        padding-right: $padding-sm;
                    }

                    &:focus, &:active, &:hover, &:active:focus {
                        color: $red-base;
                    }
                }
            }

            input {
                @include decorate-input-placeholder;
                background-color: transparent;
                border-width: 0;
                outline: 0 none;
                width: 100%;
                padding: $padding-sm 0;
            }
        }
    }

    &.#{$prefix}-floating-label {
        .#{$prefix}-field-inner {
            .#{$prefix}-field-label {
                > .#{$prefix}-empty-class, label {
                    margin-bottom: 0;
                }

                &.#{$prefix}-active {
                    @include transform(translateY(-20px) scale(.85));
                }
            }
        }
    }

    &.#{$prefix}-field-outlined {
        &.#{$prefix}-floating-label {
            .#{$prefix}-field-wrapper {
                @include align-items(center);

                > .#{$prefix}-append-icon,
                > .#{$prefix}-prepend-icon {
                    padding-top: $padding-base - 0.6;
                }

                .#{$prefix}-field-inner {
                    .#{$prefix}-field-label {
                        &.#{$prefix}-active {
                            @include transform(translateY(-28px) scale(.85));
                        }
                    }
                }
            }
        }
    }

    &.#{$prefix}-disabled {
        .#{$prefix}-field-inner {
            > input {
                color: rgba($black, .4);

                &:disabled {
                    background-color: transparent;
                }
            }

            > fieldset {
                color: rgba($black, .25);
            }
        }
    }
}

.#{$prefix}-textarea {
    .#{$prefix}-field-ctrl {
        @include align-items(flex-start);

        > .#{$prefix}-field-inner {
            @include align-items(flex-start);
        }
    }

    .#{$prefix}-field-inner {
        > .#{$prefix}-prepend-icon {
            padding-right: 8px;
            padding-top: 10px;
        }

        > .#{$prefix}-action-icon {
            position: relative;
            padding-left: 6px;
            padding-right: 8px;
            padding-top: 6px;

            > .icon-clear {
                cursor: pointer;
                color: $gray-500;

                &:focus, &:active, &:hover, &:active:focus {
                    color: $red-base;
                }
            }

            > .#{$prefix}-append-icon {
                padding-left: .3rem;
            }
        }

        > textarea {
            @include flex(1 1 auto);
            @include decorate-input-placeholder;
            border-width: 0;
            outline: 0 none;
            margin-top: 8px;
            padding-bottom: 6px;
            overflow-x: hidden;
            overflow-y: auto;
        }
    }

    &.#{$prefix}-floating-active {
        .#{$prefix}-field-inner {
            > .#{$prefix}-floating-label {

                &:not(.#{$prefix}-active) {
                    margin-top: $padding-sm;
                }

                &.#{$prefix}-active {
                    @include transform(translateY(-10px) scale(.9));
                }
            }
        }
    }

    &.#{$prefix}-field-noresize {
        .#{$prefix}-field-inner {
            > textarea {
                resize: none;
            }
        }
    }

    &.#{$prefix}-field-outlined {
        .#{$prefix}-field-inner {
            > .#{$prefix}-prepend-icon {
                margin-left: $padding-sm;
                padding-right: 0;
            }

            > textarea {
                @include border-radius($border-radius-sm);
                padding: 2px 4px 8px 8px;
                margin-left: 3px;
            }
        }

        &.#{$prefix}-floating-active {
            .#{$prefix}-field-inner {
                > .#{$prefix}-floating-label {
                    &.#{$prefix}-active {
                        @include transform(translateY(-10px) scale(.9));
                    }
                }

                > textarea {
                    padding-top: 0;
                }
            }
        }
    }

    &.#{$prefix}-disabled {
        .#{$prefix}-field-inner {
            > textarea {
                color: rgba($black, .6);

                &:disabled {
                    background-color: transparent;
                }
            }

            > fieldset {
                color: rgba($black, .25);
            }
        }
    }
}
