// Colors function
@function theme-color-level($theme, $color-name: "primary", $level: 0) {
    $color: map-get($theme, $color-name);
    $color-base: if($level > 0, $black, $white);
    $level: abs($level);

    @return mix($color-base, $color, $level * $theme-color-interval);
}

@function set-color-variant($bgColor, $textOnLightBgColor, $textOnDarkBgColor, $whiteLevel) {
    @if (lightness($bgColor) > $whiteLevel) {
        @return $textOnLightBgColor; // Lighter background, return dark color
    } @else {
        @return $textOnDarkBgColor; // Darker background, return light color
    }
}

@function set-alt-bgcolor($color, $transparency: 0, $level: 80) {
    @if (lightness($color) == 100) {
        @if ($transparency > 0) {
            @return rgba($default-active-bgcolor, $transparency);
        } @else {
            @return $white;
        }
    } @else if (lightness($color) > $level) {
        @if ($transparency > 0) {
            @return rgba(darken($color, 40%), $transparency + 0.1);
        } @else {
            @return rgba(darken($color, 25%), .2);
        }
    } @else {
        @if ($transparency > 0) {
            @return rgba(lighten($color, 30%), $transparency + 0.1);
        } @else {
            @return rgba(lighten($color, 25%), .2);
        }
    }
}

@function to-rgb($value) {
    @return red($value), green($value), blue($value);
}
