// Theme color function
@function theme-color($theme, $key: "primary") {
    @return map-get($theme, $key);
}

@function theme-color-level($theme, $color-name: "primary", $level: 0) {
    $color: theme-color($theme, $color-name);
    $color-base: if($level > 0, $black, $white);
    $level: abs($level);

    @return mix($color-base, $color, $level * $theme-color-interval);
}

@function set-alt-color-level($bgColor, $textOnLightBgColor, $textOnDarkBgColor, $whiteLevel) {
    @if (lightness($bgColor) > $whiteLevel) {
        @return $textOnLightBgColor; // Lighter background, return dark color
    } @else {
        @return $textOnDarkBgColor; // Darker background, return light color
    }
}

@function set-disable-text-color($color) {
    @if (lightness($color) > 80) {
        @return $gray-500;
    } @else {
        @return rgba($white-base, .5);
    }
}

@function set-leading-text-color($color) {
    @if (lightness($color) > 80) {
        @return rgba($black, .54);
    } @else {
        @return rgba($white-base, .6);
    }
}

@function set-leading-disable-text-color($color) {
    @if (lightness($color) > 80) {
        @return $gray-500;
    } @else {
        @return rgba($white-base, .2);
    }
}

@function set-hoverable-bgcolor($color, $transparency: 0) {
    @if (lightness($color) == 100) {
        @if ($transparency > 0) {
            @return rgba($default-active-bgcolor, $transparency);
        } @else {
            @return rgba($black, 0.08);
        }
    } @else if (lightness($color) > 80) {
        @if ($transparency > 0) {
            @return rgba($default-hover-bgcolor, $transparency);
        } @else {
            @return $default-hover-bgcolor;
        }
    } @else {
        @if ($transparency > 0) {
            @return rgba(lighten($color, 30%), $transparency + 0.1);
        } @else {
            @return rgba(lighten($color, 25%), .2);
        }
    }
}

// Colors
@function to-rgb($value) {
    @return red($value), green($value), blue($value);
}
