@import "~compass-mixins/lib/compass/css3";
@import "functions";
@import "colors";
@import "variables";
@import "shared";
@import "utilities/color_variants";
@import "utilities/shadows";

.opacity-0 {
    @extend %opacity-0;
}

.opacity-100 {
    @extend %opacity-100;
}

.#{$prefix}-link {
    @extend %cursor-pointer;
}

.#{$prefix}-disabled {
    @include user-select(none);
    color: rgba($black, .3) !important;
    cursor: default !important;
}

.#{$prefix}-fw-bold {
    font-weight: $font-weight-bold !important;
}

.#{$prefix}-fw-bolder {
    font-weight: $font-weight-boldest !important;
}

.#{$prefix}-fw-semibold {
    font-weight: $font-weight-semi-bold !important;
}

.#{$prefix}-fw-light {
    font-weight: $font-weight-light !important;
}
