@import "~compass-sass-mixins/lib/compass/css3";
@import "functions";
@import "colors";
@import "variables";
@import "shared";
@import "utilities/color_variants";

.opacity-0 {
    @extend %opacity-0;
}

.opacity-100 {
    @extend %opacity-100;
}

.#{$prefix}-link {
    @extend %cursor-pointer;
}

.#{$prefix}-disabled {
    @include user-select(none);
    color: rgba($black, .3) !important;
    cursor: default !important;
}

.font-weight-bold {
    font-weight: $font-weight-bold !important;
}

.font-weight-bolder {
    font-weight: $font-weight-bolder !important;
}

.font-weight-boldest {
    font-weight: $font-weight-boldest !important;
}
