@import "~compass-sass-mixins/lib/compass/css3";
@import "colors";
@import "variables";
@import "shared";
@import "mixins";

/* VueJs transition animation */
@include enterActive-leaveActive(".fade") {
    @include transition(opacity .5s);
}

@include enter-leaveTo(".fade") {
    opacity: 0;
}

.slide-fade, .slide-fade-reverse{
    &-enter-active {
        @include transition(all .6s ease);
    }

    &-leave-active {
        @include transition(all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0));
    }

    &-leave, &-leave-active, &-leave-to {
        position: absolute !important;
    }
}

@include enter-leaveTo(".slide-fade") {
    @include transform(translateX(100%));
    opacity: 0;
}

@include enter-leaveTo(".slide-fade-reverse") {
    @include transform(translateX(-100%));
    opacity: 0;
}

@include enterActive-leaveActive(".scale") {
    transition-duration: 300ms;
    transition-property: opacity, transform;
    backface-visibility: hidden;
}

@include enter-leaveActive(".scale") {
    opacity: 0;
    transform: scale(0.5);
}

.slide-left-right, .slide-right-left,
.slide-bottom-top, .slide-top-bottom,
.picker-transition, .picker-transition-reverse {
    &-enter-active, &-leave-active {
        @include transition($md-transition-enter);
    }

    &-enter, &-leave-to {
        opacity: 0;
    }

    &-enter-to {
        @include transition(translate(0, 0));
    }

    &-leave, &-leave-active, &-leave-to {
        position: absolute !important;
    }
}

.slide-bottom-top,
.picker-transition {
    &-enter {
        @include transform(translate(0, 100%));
    }

    &-leave-to {
        @include transform(translate(0, -100%));
    }
}

.slide-top-bottom,
.picker-transition-reverse {
    &-enter {
        @include transform(translate(0, -100%));
    }

    &-leave-to {
        @include transform(translate(0, 100%));
    }
}

.slide-left-right {
    &-enter {
        @include transform(translateX(-100%));
    }

    &-leave-to {
        @include transform(translateX(100%));
        opacity: 0;
    }
}

.slide-right-left {
    &-enter {
        @include transform(translateX(100%));
    }

    &-leave-to {
        @include transform(translateX(-100%));
        opacity: 0;
    }
}

.tab-transition {
    &-enter {
        @include transform(translate(100%, 0));
    }

    &-leave, &-leave-active {
        position: absolute;
        top: 0
    }

    &-leave-to {
        @include transform(translate(-100%, 0));
        position: absolute;
    }
}

.tab-transition-reverse {
    &-enter {
        @include transform(translate(-100%, 0));
    }

    &-leave, &-leave-to {
        @include transform(translate(100%, 0));
        position: absolute;
        top: 0;
    }
}
