@import "/node_modules/compass-mixins/lib/compass/css3";
@import "/node_modules/compass-mixins/lib/animation/core";
@import "mixins/transition";
@import "colors";
@import "variables";

/* VueJs transition animation */
@include enterActive-leaveActive("fade") {
    @include transition(opacity 0.5s ease-in-out);
}

@include enterFrom-leaveTo("fade") {
    opacity: 0;
}

.slide-fade, .slide-fade-reverse {
    &-enter-active {
        @include transition(all .6s ease);
    }

    &-leave-active {
        @include transition(all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0));
    }

    &-leave-from, &-leave-active, &-leave-to {
        position: absolute !important;
    }
}

@include enterFrom-leaveTo("slide-fade") {
    @include transform(translateX(100%));
    opacity: 0;
}

@include enterFrom-leaveTo("slide-fade-reverse") {
    @include transform(translateX(-100%));
    opacity: 0;
}

@include enterActive-leaveActive("scale") {
    transition-duration: 300ms;
    transition-property: opacity, transform;
    opacity: 1;
    //backface-visibility: hidden;
}

@include enterFrom-leaveActive("scale") {
    opacity: 0;
    transform: scale(0.5);
}

.slide-left-right, .slide-right-left,
.slide-bottom-top, .slide-top-bottom {
    &-enter-active, &-leave-active {
        @include transition($md-transition-enter);
    }

    &-enter-from, &-leave-to {
        opacity: 0;
    }

    &-enter-to {
        @include transition(translate(0, 0));
    }

    &-leave-from, &-leave-active, &-leave-to {
        position: absolute !important;
    }
}

.slide-bottom-top {
    &-enter-from {
        @include transform(translate(0, 100%));
    }

    &-leave-to {
        @include transform(translate(0, -100%));
    }
}

.slide-top-bottom {
    &-enter-from {
        @include transform(translate(0, -100%));
    }

    &-leave-to {
        @include transform(translate(0, 100%));
    }
}

.slide-left-right {
    &-enter-from {
        @include transform(translateX(-100%));
    }

    &-leave-to {
        @include transform(translateX(100%));
        opacity: 0;
    }
}

.slide-right-left {
    &-enter-from {
        @include transform(translateX(100%));
    }

    &-leave-to {
        @include transform(translateX(-100%));
        opacity: 0;
    }
}

.tab-transition {
    &-enter-from {
        @include transform(translate(100%, 0));
    }

    &-leave-from, &-leave-active {
        position: absolute;
        top: 0
    }

    &-leave-to {
        @include transform(translate(-100%, 0));
        position: absolute;
    }
}

.tab-transition-reverse {
    &-enter-from {
        @include transform(translate(-100%, 0));
    }

    &-leave-from, &-leave-to {
        @include transform(translate(100%, 0));
        position: absolute;
        top: 0;
    }
}

@keyframes rotateIn {
    0% {
        @include transform-origin(center center);
        @include rotate(-180deg);
        opacity: 0;
    }
    100% {
        @include transform-origin(center center);
        @include rotate(0);
        opacity: 1;
    }
}

@keyframes rotateOut {
    0% {
        @include transform-origin(center center);
        @include rotate(0);
        opacity: 1;
    }
    100% {
        @include transform-origin(center center);
        @include rotate(180deg);
        opacity: 0;
    }
}

@keyframes rotateInUpLeft {
    0% {
        @include transform-origin(left bottom);
        @include rotate(90deg);
        opacity: 0;
    }
    100% {
        @include transform-origin(left bottom);
        @include rotate(0);
        opacity: 1;
    }
}

@keyframes rotateOutUpLeft {
    0% {
        @include transform-origin(left bottom);
        @include rotate(0);
        opacity: 1;
    }
    100% {
        @include transform-origin(left bottom);
        @include rotate(-90deg);
        opacity: 0;
    }
}

.rotate-clock-wise {
    &-enter-active {
        @include animation(rotateIn 1s);
    }

    &-leave-active {
        @include animation(rotateOut 1s);
    }
    &-enter-from, &-leave-to {
        opacity: 0;
    }
}

.rotate-clock-reverse {
    &-enter-active {
        @include animation(rotateInUpLeft 750ms);
    }

    &-leave-active {
        @include animation(rotateOutUpLeft 750ms);
    }

    &-enter-from, &-leave-to {
        opacity: 0;
    }
}

@include keyframes(rollIn) {
    0% {
        @include opacity(0);
        @include transform(translateX(-100%) rotate(-120deg));
    }
    100% {
        @include opacity(1);
        @include transform(translateX(0px) rotate(0deg));
    }
}

@include keyframes(rollOut) {
    0% {
        @include opacity(1);
        @include transform(translateX(0px) rotate(0deg));
    }
    100% {
        @include opacity(0);
        @include transform(translateX(100%) rotate(120deg));
    }
}

.roll-in-out {
    &-enter-active {
        @include animation(rollIn 750ms);
    }

    &-leave-active {
        @include animation(rollOut 750ms);
    }

    &-enter-from, &-leave-to {
        opacity: 0;
    }
}
