@use 'variables' as vars;

@layer base, components, animations, utilities;

// Global css variables
//----------------------
@layer components {
  :root {
    --font-sans-serif: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-size: 1rem;
    --font-weight: normal;
    --line-height: 1.5;

    --#{vars.$prefix}field-primary-indicator: oklch(0.458 0.23 304.441);
    --#{vars.$prefix}field-accent-indicator: oklch(0.743 0.102 303.276);
    --#{vars.$prefix}field-active-indicator: oklch(0.458 0.23 304.441);
    --#{vars.$prefix}field-button-active-bg: oklch(0.154 0 89.876 / 0.25);
    --#{vars.$prefix}field-button-hover-bg: oklch(0.431 0 89.876 / 0.2);
    --#{vars.$prefix}field-button-color: currentColor;
    --#{vars.$prefix}field-disabled-opacity: 0.4;
    --#{vars.$prefix}field-readonly-opacity: 0.55;
    --#{vars.$prefix}caret-size: 6px;
  }
}
