@use "../../../scss/mixins/css3/text";
@use "../../../scss/color_vars" as colors;
@use "../../../scss/variables" as vars;

.#{vars.$prefix}appbar {
    --#{vars.$prefix}appbar-bg: #{colors.$white};
    --#{vars.$prefix}appbar-color: #{colors.$grey-darken-4};
    --#{vars.$prefix}appbar-height: 64px;
    --#{vars.$prefix}appbar-margin: #{vars.$padding-sm (vars.$padding-base - .25) vars.$padding-sm vars.$padding-base};
    --#{vars.$prefix}appbar-title-font-size: 1.5rem;
    --#{vars.$prefix}appbar-title-font-weight: #{vars.$font-weight-normal};

    justify-content: flex-start;
    background-color: var(--#{vars.$prefix}appbar-bg);
    max-width: 100%;

    > .#{vars.$prefix}appbar-content {
        display: flex;
        align-items: center;
        flex-direction: row;
        height: var(--#{vars.$prefix}appbar-height);
        padding: var(--#{vars.$prefix}appbar-margin);

        > .#{vars.$prefix}appbar-title {
            @include text.ellipsis();
            font-size: var(--#{vars.$prefix}appbar-title-font-size);
            font-weight: var(--#{vars.$prefix}appbar-title-font-weight);
            line-height: normal;
            margin: 0 vars.$padding-base;

            > a {
                color: inherit;
                text-decoration: none;
            }
        }

        > .#{vars.$prefix}appbar-items {
            display: flex;
            max-width: 100%;
            padding: 0;
        }
    }

    &.smooth-animation {
        transition: $transition-default;
        // @include transition(.35s cubic-bezier(.5, .35, .75, 1));
    }

    &.#{vars.$prefix}appbar-shadow {
        box-shadow: vars.$z-depth-1;
    }
}
