@use '../../../scss/mixins/css3/text-decorators' as decorators;
@use '../../../scss/color_vars' as colors;
@use '../../../scss/variables' as vars;

@layer components {
  .#{vars.$prefix}appbar {
    --#{vars.$prefix}appbar-bg: var(--appbar-background, #{colors.$white});
    --#{vars.$prefix}appbar-color: var(--appbar-foreground, #{colors.$neutral-darken-4});
    --#{vars.$prefix}appbar-height: 64px;
    // prettier-ignore
    --#{vars.$prefix}appbar-padding: #{vars.$padding-sm (vars.$padding-md - 0.25) vars.$padding-sm vars.$padding-md};
    --#{vars.$prefix}appbar-title-font-size: 1.5rem;
    // prettier-ignore
    --#{vars.$prefix}appbar-title-font-weight: var(--font-weight-normal, #{vars.$font-weight-normal}) ;

    justify-self: flex-start;
    background-color: var(--#{vars.$prefix}appbar-bg);
    color: var(--#{vars.$prefix}appbar-color);
    max-width: 100%;

    &.smooth-animation {
      transition: vars.$transition-default;
    }

    &.#{vars.$prefix}appbar-shadow {
      box-shadow: vars.$z-depth-1;
    }

    > .#{vars.$prefix}appbar-content {
      display: flex;
      align-items: center;
      flex-direction: row;
      height: var(--#{vars.$prefix}appbar-height);
      padding: var(--#{vars.$prefix}appbar-padding);
    }

    .#{vars.$prefix}appbar-title {
      @include decorators.truncate();
      color: var(--#{vars.$prefix}appbar-color);
      font-size: var(--#{vars.$prefix}appbar-title-font-size);
      font-weight: var(--#{vars.$prefix}appbar-title-font-weight);
      line-height: normal;
      margin: 0 vars.$padding-md;

      > a {
        color: inherit;
        text-decoration: none;
      }

      &:first-child {
        margin-left: 0;
      }
    }

    .#{vars.$prefix}appbar-items {
      display: flex;
      max-width: 100%;
      padding: 0;
    }
  }
}
