@import "~compass-mixins/lib/compass/css3";
@import "../../../scss/colors";
@import "../../../scss/variables";
@import "../../../scss/functions";
@import "../../../scss/mixins/radio";

.#{$prefix}radio {
    --#{$prefix}radio-size: #{$radio-size};
    --#{$prefix}radio-touch-size: #{$radio-touch-size};
    --#{$prefix}radio-stroke: #{$radio-stroke};
    --#{$prefix}radio-margin: #{$radio-margin};
    --#{$prefix}radio-disabled-bg: transparent;
    --#{$prefix}radio-disabled-opacity: calc(var(--#{$prefix}field-disabled-opacity) - .2);
    --#{$prefix}radio-state-bg: transparent;
    --#{$prefix}radio-state-color: var(--#{$prefix}radio-color);
    --#{$prefix}radio-state-opacity: 1;
    --#{$prefix}radio-state-inner-bg: transparent;
    --#{$prefix}radio-state-inner-opacity: 0;
    --#{$prefix}radio-state-overlay-bg: transparent;
    --#{$prefix}radio-state-overlay-opacity: 0;

    @include display-flex(inline-flex);
    margin: var(--#{$prefix}radio-margin);
    position: relative;
    cursor: pointer;

    > .#{$prefix}radio-inner {
        @include border-radius($border-radius-circle);
        @include transition($md-transition-stand);
        background-color: var(--#{$prefix}radio-state-bg);
        border: var(--#{$prefix}radio-stroke) solid var(--#{$prefix}radio-state-color);
        height: var(--#{$prefix}radio-size);
        min-width: var(--#{$prefix}radio-size);
        width: var(--#{$prefix}radio-size);
        opacity: var(--#{$prefix}radio-state-opacity);
        position: relative;

        &:focus {
            outline: none;
        }

        &:before,
        &:after {
            @include transition($md-transition-drop);
            content: " ";
            position: absolute;
        }

        &:before {
            @include border-radius($border-radius-circle);
            @include transform(translate(-50%, -50%));
            height: var(--#{$prefix}radio-touch-size);
            width: var(--#{$prefix}radio-touch-size);
            left: 50%;
            top: 50%;
            z-index: 11;
        }

        &:after {
            @include border-radius($border-radius-circle);
            @include transform(scale3D(.38, .38, 1));
            background-color: var(--#{$prefix}radio-state-inner-bg);
            opacity: var(--#{$prefix}radio-state-inner-opacity);
            bottom: 3px;
            left: 3px;
            right: 3px;
            top: 3px;
        }

        .#{$prefix}radio-overlay {
            @include transition($transition-hoverable);
            @include border-radius($border-radius-circle);
            @include transform(translate(-50%, -50%));
            background-color: var(--#{$prefix}radio-state-overlay-bg);
            opacity: var(--#{$prefix}radio-state-overlay-opacity);
            height: var(--#{$prefix}radio-touch-size);
            width: var(--#{$prefix}radio-touch-size);
            left: 50% !important;
            top: 50% !important;
            pointer-events: none;
            position: absolute;
        }

        .#{$prefix}ripple {
            @include border-radius($border-radius-circle);
            @include transform(translate(-50%, -50%));
            height: var(--#{$prefix}radio-touch-size);
            width: var(--#{$prefix}radio-touch-size);
            left: 50% !important;
            top: 50% !important;

            .#{$prefix}ripple-animation {
                background-color: var(--#{$prefix}radio-active-color);
                opacity: .65;
            }

            > input {
                display: none;
            }
        }
    }

    > .#{$prefix}radio-label {
        @include user-select(none);
        opacity: var(--#{$prefix}radio-state-opacity);
        height: var(--#{$prefix}radio-size);
        line-height: var(--#{$prefix}radio-size);
        margin-bottom: 0;
        padding-left: $padding-base;
        position: relative;
        cursor: pointer;
    }

    &.checked {
        --#{$prefix}radio-state-inner-bg: var(--#{$prefix}radio-active-color);
        --#{$prefix}radio-state-color: var(--#{$prefix}radio-active-color);
        --#{$prefix}radio-state-inner-opacity: 1;

        .#{$prefix}radio-inner {
            &:after {
                @include transform(scale3D(1, 1, 1));
                @include transition($md-transition-stand);
            }
        }
    }

    &:not(.disabled):not(.readonly) {
        > .#{$prefix}radio-inner {
            &:hover {
                --#{$prefix}radio-state-overlay-bg: currentColor;
                --#{$prefix}radio-state-overlay-opacity: .09;
            }
        }

        &.checked {
            > .#{$prefix}radio-inner {
                &:hover {
                    --#{$prefix}radio-state-overlay-bg: var(--#{$prefix}radio-active-color);
                    --#{$prefix}radio-state-overlay-opacity: .2;
                }
            }
        }
    }

    &.required {
        label:after {
            @include transform(translateX(calc(100% + 2px)));
            content: "*";
            line-height: 1em;
            position: absolute;
            vertical-align: top;
            right: 0;
            top: var(--#{$prefix}radio-stroke);
        }
    }

    &.disabled, &.readonly {
        --#{$prefix}radio-state-opacity: var(--#{$prefix}field-readonly-opacity);
        cursor: default;

        > .#{$prefix}radio-label {
            cursor: default;
        }
    }

    &.disabled {
        --#{$prefix}radio-state-opacity: var(--#{$prefix}radio-disabled-opacity);
        --#{$prefix}radio-state-bg: var(--#{$prefix}radio-disabled-bg);
        --#{$prefix}radio-state-color: currentColor;
        --#{$prefix}radio-state-inner-bg: currentColor;
    }
}

@each $name, $color in map-remove($merge-theme-colors, 'black') {
    @include make-radio($name, $color);
}
