@import "../../../scss/colors";
@import "../../../scss/variables";
@import "~compass-mixins/lib/compass/css3";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.#{$prefix}divider {
    --#{$prefix}divider-height: 1px;
    --#{$prefix}divider-margin-y: 0;

    background-color: var(--#{$prefix}divider-color);
    height: var(--#{$prefix}divider-height);
    min-height: var(--#{$prefix}divider-height);
    margin-bottom: var(--#{$prefix}divider-margin-y);
    margin-top: var(--#{$prefix}divider-margin-y);
    border: none;
    display: block;
    max-width: 100%;

    &.divider--dark {
        --#{$prefix}divider-color: #{rgba($white, 0.4)};
    }

    &.divider--light {
        --#{$prefix}divider-color: #{rgba($black, 0.2)};
    }
}

.#{$prefix}subheader {
    --#{$prefix}subheader-fontsize: #{$font-size-base};
    --#{$prefix}subheader-fontweight: #{$font-weight-normal};
    --#{$prefix}subheader-padding-x: #{$padding-base};
    --#{$prefix}subheader-padding-y: 0;

    @include flexbox((display: flex, align-items: center));
    color: var(--#{$prefix}subheader-color);
    font-size: var(--#{$prefix}subheader-fontsize);
    font-weight: var(--#{$prefix}subheader-fontweight);
    padding: var(--#{$prefix}subheader-padding-y) var(--#{$prefix}subheader-padding-x);
    height: 48px;

    &.subheader--dark {
        --#{$prefix}subheader-color: #{rgba($white, .8)};
    }

    &.subheader--light {
        --#{$prefix}subheader-color: #{$gray-600};
    }
}

.#{$prefix}img-holder {
    @include user-select(none);
}

.#{$prefix}anchor-center {
    text-anchor: middle;
}
