@use "sass:color";
@use '../../../scss/color_vars' as colors;
@use '../../../scss/variables' as vars;

@layer components {
  .#{vars.$prefix}subheader {
    --#{vars.$prefix}subheader-font-size: var(--font-size-default, #{vars.$font-size-base});
    // prettier-ignore
    --#{vars.$prefix}subheader-font-weight: var(--font-weight-semibold, #{vars.$font-weight-semibold});
    --#{vars.$prefix}subheader-padding-x: #{vars.$padding-md};
    --#{vars.$prefix}subheader-padding-y: 0;

    color: var(--#{vars.$prefix}subheader-color);
    font-size: var(--#{vars.$prefix}subheader-font-size);
    font-weight: var(--#{vars.$prefix}subheader-font-weight);
    // prettier-ignore
    padding: var(--#{vars.$prefix}subheader-padding-y) var(--#{vars.$prefix}subheader-padding-x);
    height: 48px;

    &.subheader--dark {
      --#{vars.$prefix}subheader-color: #{color.change(colors.$white, $alpha: 0.68)};
    }

    &.subheader--light {
      --#{vars.$prefix}subheader-color: #{colors.$gray-500};
    }
  }

  .#{vars.$prefix}img-holder {
    user-select: none;
  }

  .#{vars.$prefix}anchor-center {
    text-anchor: middle;
  }
}

// Patch Bootstrap 'reboot.css' styles
// This patch must be placed outside the css layer.
.#{vars.$prefix}divider {
  --#{vars.$prefix}divider-height: 1px;
  --#{vars.$prefix}divider-margin-y: #{vars.$padding-xs};

  background-color: var(--#{vars.$prefix}divider-color);
  height: var(--#{vars.$prefix}divider-height);
  min-height: var(--#{vars.$prefix}divider-height);
  margin-bottom: var(--#{vars.$prefix}divider-margin-y);
  margin-top: var(--#{vars.$prefix}divider-margin-y);
  max-width: 100%;
  border: none;
  display: block;

  &.divider--dark {
    --#{vars.$prefix}divider-color: #{color.change(colors.$white, $alpha: 0.4)};
  }

  &.divider--light {
    --#{vars.$prefix}divider-color: #{color.change(colors.$black, $alpha: 0.15)};
  }
}
