@import "~compass-mixins/lib/compass/css3";
@import "../../../scss/colors";
@import "../../../scss/variables";

.badge {
    @include box-shadow(none);
    font-weight: $font-weight-semi-bold;

    &.badge-label {
        font-size: 85%;
        font-weight: $font-weight-normal;
        padding: .25rem .6rem .4rem;
    }

    &.badge-pill {
        @include border-radius($border-radius-pill);
        font-size: 80%;
    }

    ~ .badge {
        margin-left: .3rem;
    }
}

a {
    &.badge {
        text-decoration: none;

        @each $color, $value in map-remove($context-colors, "default", "blue-green") {
            &.text-bg-#{$color} {
                &:focus, &:hover {
                    background-color: darken($value, 10%) !important;
                }
                &:focus {
                    @include box-shadow(0 0 0 .2rem rgba($value, .5));
                    outline: 0;
                }
            }
        }
    }
}
