@use 'sass:color';
//@use 'sass:map';
@use '../../../scss/utils/color_helper' as helper;
@use '../../../scss/color_vars' as colors;
@use '../../../scss/variables' as vars;

@layer components {
  .#{vars.$prefix}badge {
    // prettier-ignore
    --#{vars.$prefix}badge-border-radius: #{vars.$badge-border-radius};
    --#{vars.$prefix}badge-color: #{colors.$white};
    --#{vars.$prefix}badge-font-size: #{vars.$badge-font-size};
    // prettier-ignore
    --#{vars.$prefix}badge-font-weight: var(--font-weight-medium, #{vars.$font-weight-medium});
    --#{vars.$prefix}badge-padding-x: #{vars.$badge-padding-x};
    --#{vars.$prefix}badge-padding-y: #{vars.$badge-padding-y};

    border-radius: var(--#{vars.$prefix}badge-border-radius);
    color: var(--#{vars.$prefix}badge-color);
    font-size: var(--#{vars.$prefix}badge-font-size);
    font-weight: var(--#{vars.$prefix}badge-font-weight);
    padding: var(--#{vars.$prefix}badge-padding-y) var(--#{vars.$prefix}badge-padding-x);
    display: inline-block;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    line-height: 1;
    box-shadow: none;

    &.#{vars.$prefix}badge-label {
      --#{vars.$prefix}badge-font-size: 0.8em;
      --#{vars.$prefix}badge-padding-x: #{vars.$padding-sm + 0.1};
    }

    &.#{vars.$prefix}badge-pill {
      --#{vars.$prefix}badge-border-radius: #{vars.$radius-pill};
      --#{vars.$prefix}badge-font-size: 0.8em;
      --#{vars.$prefix}badge-padding-x: #{vars.$spacing * 0.75};
    }

    // Empty badges collapse automatically
    //&:empty {
    //  display: none;
    //}
  }

  //@each $name, $color in colors.$context-colors {
  //  .badge-outline-#{$name} {
  //    --#{vars.$prefix}badge-color: #{$color};
  //    --#{vars.$prefix}border-color: #{helper.to-oklch(color.adjust($color, $lightness: 10%))};
  //  }
  //}
}

// Patch Bootstrap 'reboot.css'
// This patch must be placed outside the css layer.
a.#{vars.$prefix}badge {
  color: var(--#{vars.$prefix}badge-color);
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }

  //@each $name, $color in colors.$context-colors {
  //  &.text-bg-#{$name} {
  //    &:focus,
  //    &:hover {
  //      background-color: helper.to-oklch(color.adjust($color, $lightness: -10%)) !important;
  //    }
  //
  //    &:focus {
  //      $shadow-color: helper.set-color-contrast(
  //        $color,
  //        color.adjust($color, $lightness: -18%),
  //        color.adjust($color, $lightness: 8%)
  //      );
  //      box-shadow: #{0 0 0 0.25rem helper.to-oklch(color.change($shadow-color, $alpha: 0.65))};
  //    }
  //  }
  //}
}
