@use "sass:color";
@import "compass-mixins/lib/compass/css3";
@import "../../../scss/functions";
@import "../../../scss/colors";
@import "../../../scss/variables";

.badge {
    @include box-shadow(none);
    --#{$prefix-bs}badge-font-weight: #{$font-weight-semi-bold};

    &.badge-label {
        --#{$prefix-bs}badge-font-size: .8em;
        line-height: 1;
        padding: .3rem ($padding-sm + .1);
    }

    &.badge-pill {
        $badge-padding: $padding-base - .25;
        --#{$prefix-bs}badge-border-radius: #{$border-radius-pill};
        --#{$prefix-bs}badge-font-size: .8em;
        --#{$prefix-bs}badge-padding-x: #{$badge-padding};
    }

    ~ .badge {
        margin-left: .3rem;
    }
}

a {
    &.badge {
        text-decoration: none;

        @each $color, $value in map-remove($context-colors, "default") {
            &.text-bg-#{$color} {
                &:focus, &:hover {
                    background-color: round-color-rgb(color.adjust($value, $lightness: -10%)) !important;
                    text-decoration: none;
                }
                &:focus {
                    @include box-shadow(0 0 0 .2rem rgba($value, .5));
                    outline: 0;
                }
            }
        }
    }
}
