/* BsAlert mixins - backward compatibility */
@mixin make-outline-alert($name, $color) {
    .#{$prefix}alert-outline-#{$name} {
        color: $color;
        border-color: lighten($color, 5%);

        hr {
            border-top-color: lighten($color, 5%);
        }

        .alert-link {
            color: darken($color, 10%);
        }
    }
}

@mixin make-solid-alert($name, $color) {
    .#{$prefix}alert-solid-#{$name} {
        background-color: $color;
        color: set-color-variant($color, $gray-900, $white-base, 70);
        @if (lightness($color) > 70) {
            color: $gray-900;
        } @else {
            color: $white-base;
        }

        hr {
            border-top-color: set-color-variant($color, darken($color, 25%), rgba(darken($white-base, 4%), .5), 70);
        }

        .alert-link {
            color: set-color-variant($color, $gray-900, $white-base, 70);
        }
    }
}

/* BsAlert variants mixins -- sass variables */
@mixin alert-variant($name, $background, $border, $color) {
    .alert-#{$name} {
        --#{$bs-prefix}alert-bg: #{$background};
        --#{$bs-prefix}alert-border-color: #{$border};
        --#{$bs-prefix}alert-color: #{$color};

        $hr-border-color: darken($border, 10%);
        --#{$bs-prefix}alert-hr-color: #{$hr-border-color};

        $link-color: mix(black, $color, 20%);
        --#{$bs-prefix}alert-link-color: #{$link-color};
    }
}

@mixin make-outline-alert-variant($name, $color) {
    .#{$prefix}alert-outline-#{$name} {
        $border-color: lighten($color, 15%);
        $hr-border-color: darken($color, 5%);
        $link-color: darken($color, 10%);
        $text-color: darken($color, 5%);

        --#{$bs-prefix}alert-color: #{$text-color};
        --#{$bs-prefix}alert-border-color: #{$border-color};
        --#{$bs-prefix}alert-hr-color: #{$hr-border-color};
        --#{$bs-prefix}alert-link-color: #{$link-color};
    }
}

@mixin make-solid-alert-variant($name, $color) {
    .#{$prefix}alert-solid-#{$name} {
        $text-color: set-color-variant($color, $gray-900, $white, 70);
        $hr-border-color: set-color-variant($color, darken($color, 25%), rgba(darken($white, 4%), .65), 70);

        --#{$bs-prefix}alert-bg: #{$color};
        --#{$bs-prefix}alert-color: #{$text-color};
        --#{$bs-prefix}alert-link-color: #{$text-color};
        --#{$bs-prefix}alert-hr-color: #{$hr-border-color};
    }
}
