@use "sass:color";
@use "../functions" as Func;

/* BsAlert variants mixins -- sass variables */

@mixin alert-variant($name, $background, $border, $color) {
    .alert-#{$name} {
        --#{$bs-prefix}alert-bg: #{$background};
        --#{$bs-prefix}alert-border-color: #{$border};
        --#{$bs-prefix}alert-color: #{$color};

        $hr-border-color: Func.round-color-rgb(color.adjust($border, $lightness: -10%));
        --#{$bs-prefix}alert-hr-color: #{$hr-border-color};

        $link-color: mix(black, $color, 20%);
        --#{$bs-prefix}alert-link-color: #{$link-color};
    }
}

@mixin make-outline-alert-variant($name, $color) {
    .#{$prefix}alert-outline-#{$name} {
        $border-color: Func.round-color-rgb(color.adjust($color, $lightness: 15%));
        $hr-border-color: Func.round-color-rgb(color.adjust($color, $lightness: -5%));
        $link-color: Func.round-color-rgb(color.adjust($color, $lightness: -10%));
        $text-color: Func.round-color-rgb(color.adjust($color, $lightness: -5%));

        --#{$bs-prefix}alert-color: #{$text-color};
        --#{$bs-prefix}alert-border-color: #{$border-color};
        --#{$bs-prefix}alert-hr-color: #{$hr-border-color};
        --#{$bs-prefix}alert-link-color: #{$link-color};
    }
}

@mixin make-solid-alert-variant($name, $color) {
    .#{$prefix}alert-solid-#{$name} {
        $text-color: set-color-contrast($color, $gray-900, $white);
        $hr-border-color: set-color-contrast($color, color.adjust($color, $lightness: -25%), rgba(color.adjust($white, $lightness: -4%), .65));

        --#{$bs-prefix}alert-bg: #{$color};
        --#{$bs-prefix}alert-color: #{$text-color};
        --#{$bs-prefix}alert-link-color: #{$text-color};
        --#{$bs-prefix}alert-hr-color: #{Func.round-color-rgb($hr-border-color)};
    }
}
