@use 'sass:color';
@use '../utils/color_helper' as helper;
@use '../color_vars' as colors;
@use '../variables' as vars;

// BsButton variants -- scss mixins
//----------------------------------
@mixin make-default-variant($name, $color, $dark-mode: false) {
  @if ($dark-mode == true) {
    @include make-default-variant-dark($name, $color);
  } @else {
    @include make-default-variant-light($name, $color);
  }
}

@mixin make-outline-variant($name, $color, $dark-mode: false) {
  @if ($dark-mode == true) {
    @include make-outline-variant-dark($name, $color);
  } @else {
    @include make-outline-variant-light($name, $color);
  }
}

@mixin make-flat-variant($name, $color, $dark-mode: false) {
  @if ($dark-mode == true) {
    @include make-flat-variant-dark($name, $color);
  } @else {
    @include make-flat-variant-light($name, $color);
  }
}

// Private used, make default button with light theme
@mixin make-default-variant-light($name, $color) {
  .btn-#{$name} {
    $focus-box-shadow-color: helper.to-oklch(
      helper.set-color-contrast(
        $color,
        color.scale($color, $lightness: -15%),
        color.scale($color, $lightness: 15%)
      )
    );
    $dark-text-color: helper.to-oklch(color.scale($color, $lightness: -75%));
    $text-color: helper.set-color-contrast($color, $dark-text-color, colors.$white);
    $hover-bg: helper.to-oklch(color.scale($color, $lightness: -8%));
    $active-bg: helper.to-oklch(
      helper.set-color-contrast(
        $color,
        color.scale($color, $lightness: -10%),
        color.scale($color, $lightness: -15%)
      )
    );

    --#{vars.$prefix}btn-bg: #{$color};
    --#{vars.$prefix}btn-color: #{$text-color};
    --#{vars.$prefix}btn-border-color: #{$color};
    --#{vars.$prefix}btn-active-bg: #{$active-bg};
    --#{vars.$prefix}btn-active-color: #{$text-color};
    --#{vars.$prefix}btn-active-border-color: #{$active-bg};
    --#{vars.$prefix}btn-hover-bg: #{$hover-bg};
    --#{vars.$prefix}btn-hover-color: #{$text-color};
    --#{vars.$prefix}btn-hover-border-color: #{$hover-bg};
    --#{vars.$prefix}btn-focus-shadow-color: #{$focus-box-shadow-color};

    &.#{vars.$prefix}btn-fab,
    &.btn-tonal {
      $text-color: helper.to-oklch(
        helper.set-color-contrast(
          $color,
          helper.set-color-contrast($color, $color, colors.$black, 90%),
          color.scale($color, $lightness: -35%)
        )
      );
      $bg-color: helper.to-oklch(
        helper.set-color-contrast(
          $color,
          helper.set-color-contrast(
            $color,
            color.change(color.adjust($color, $lightness: -2%), $alpha: 0.5),
            color.change($color, $chroma: 20%, $lightness: 95%),
            90%
          ),
          color.scale($color, $chroma: -15%, $lightness: 70%)
        )
      );
      $border-color: helper.to-oklch(
        helper.set-color-contrast(
          $color,
          helper.set-color-contrast(
            $color,
            color.change(color.adjust($color, $lightness: -5%), $alpha: 0.15),
            color.change($color, $chroma: 20%, $lightness: 95%, $alpha: 0.25),
            90%
          ),
          color.scale($color, $chroma: -15%, $lightness: 70%)
        )
      );
      $hover-bg: helper.to-oklch(
        helper.set-color-contrast(
          $color,
          helper.set-color-contrast(
            $color,
            color.change(color.adjust($color, $lightness: 20%), $alpha: 0.5),
            color.scale($color, $chroma: -20%, $lightness: 75%),
            90%
          ),
          color.scale($color, $chroma: -25%, $lightness: 55%)
        )
      );
      $hover-text: helper.to-oklch(
        helper.set-color-contrast(
          $color,
          helper.set-color-contrast(
            $color,
            color.scale($color, $lightness: 60%),
            colors.$black,
            90%
          ),
          color.scale($color, $lightness: -50%)
        )
      );
      $active-bg: helper.to-oklch(color.adjust($color, $lightness: -5%));
      $active-text: helper.to-oklch(
        helper.set-color-contrast($active-bg, color.scale($color, $lightness: -75%), colors.$white)
      );

      --#{vars.$prefix}btn-bg: #{$bg-color};
      --#{vars.$prefix}btn-color: #{$text-color};
      --#{vars.$prefix}btn-border-color: #{$border-color};
      --#{vars.$prefix}btn-active-bg: #{$active-bg};
      --#{vars.$prefix}btn-active-color: #{$active-text};
      --#{vars.$prefix}btn-active-border-color: #{$active-bg};
      --#{vars.$prefix}btn-hover-bg: #{$hover-bg};
      --#{vars.$prefix}btn-hover-color: #{$hover-text};
      --#{vars.$prefix}btn-hover-border-color: transparent;
    }
  }

  .#{vars.$prefix}segmented-button {
    > .btn-#{$name}:not(:first-child):not(:focus-visible) {
      &:not(:disabled):not(.disabled):not(.active) {
        $border-color: helper.to-oklch(color.adjust($color, $lightness: -10%));
        border-left-color: $border-color !important;

        &.readonly {
          $border-color: helper.to-oklch(color.adjust($color, $lightness: -5%));
          border-left-color: $border-color !important;
        }

        &.btn-tonal {
          $border-color: helper.to-oklch(color.adjust($color, $lightness: 24%));
          border-left-color: color.change($border-color, $alpha: 0.8) !important;
        }
      }
    }
  }
}

// Private used, make default button with dark theme
@mixin make-default-variant-dark($name, $color) {
  .btn-#{$name} {
    $dark-box-shadow-focus: helper.to-oklch(
      helper.set-color-contrast(
        $color,
        color.scale($color, $lightness: -15%),
        color.adjust($color, $lightness: 35%)
      )
    );
    $dark-text-color: helper.to-oklch(
      helper.set-color-contrast(
        $color,
        color.scale($color, $lightness: 75%),
        color.scale($color, $lightness: -40%)
      )
    );
    $dark-text-active: helper.to-oklch(
      helper.set-color-contrast(
        $color,
        color.scale($color, $lightness: 40%),
        color.scale($color, $lightness: -60%)
      )
    );
    $dark-bg-color: helper.to-oklch(
      helper.set-color-contrast(
        $color,
        color.change(color.scale($color, $lightness: -25%), $alpha: 0.8),
        color.scale($color, $lightness: 50%)
      )
    );
    $dark-bg-hover: helper.to-oklch(
      helper.set-color-contrast(
        $color,
        color.change(color.scale($color, $lightness: -20%), $alpha: 0.5),
        color.scale($color, $lightness: 45%)
      )
    );
    $dark-bg-active: helper.to-oklch(
      helper.set-color-contrast(
        $color,
        color.change(color.scale($color, $lightness: -10%), $alpha: 0.5),
        color.scale($color, $lightness: 15%)
      )
    );

    @if ($color == colors.$primary-color) {
      // special case, color preference only
      $primary-color: oklch(0.636 0.137 235.915);

      --#{vars.$prefix}btn-bg: #{$primary-color};
      --#{vars.$prefix}btn-color: #{colors.$white};
      --#{vars.$prefix}btn-border-color: #{$primary-color};
      --#{vars.$prefix}btn-active-bg: #{helper.to-oklch(
          color.scale($primary-color, $lightness: -10%)
        )};
      --#{vars.$prefix}btn-active-color: #{colors.$white};
      --#{vars.$prefix}btn-active-border-color: #{helper.to-oklch(
          color.scale($primary-color, $lightness: -10%)
        )};
      --#{vars.$prefix}btn-hover-bg: #{helper.to-oklch(
          color.scale($primary-color, $lightness: 15%)
        )};
      --#{vars.$prefix}btn-hover-color: #{colors.$white};
      --#{vars.$prefix}btn-hover-border-color: #{helper.to-oklch(
          color.scale($primary-color, $lightness: 10%)
        )};
    } @else {
      --#{vars.$prefix}btn-bg: #{$dark-bg-color};
      --#{vars.$prefix}btn-color: #{$dark-text-color};
      --#{vars.$prefix}btn-border-color: #{color.change($dark-bg-color, $alpha: 0.1)};
      --#{vars.$prefix}btn-active-bg: #{$dark-bg-active};
      --#{vars.$prefix}btn-active-color: #{$dark-text-active};
      --#{vars.$prefix}btn-active-border-color: #{color.change($dark-bg-active, $alpha: 0.1)};
      --#{vars.$prefix}btn-hover-bg: #{$dark-bg-hover};
      --#{vars.$prefix}btn-hover-color: #{$dark-text-color};
      --#{vars.$prefix}btn-hover-border-color: #{color.change($dark-bg-hover, $alpha: 0.1)};
    }

    --#{vars.$prefix}btn-focus-shadow-color: #{$dark-box-shadow-focus};

    &.#{vars.$prefix}btn-fab,
    &.btn-tonal {
      $tonal-text-color: helper.to-oklch(color.scale($color, $lightness: 90%));
      $tonal-bg: helper.to-oklch(color.scale($color, $lightness: 50%));
      $tonal-bg-active: helper.to-oklch(
        color.change(color.scale($color, $lightness: 75%), $alpha: 0.75)
      );
      $tonal-bg-hover: helper.to-oklch(
        color.change(color.scale($color, $lightness: 40%), $alpha: 0.5)
      );
      $tonal-text-active: helper.to-oklch(
        color.change(color.scale($color, $lightness: -70%), $alpha: 0.85)
      );

      --#{vars.$prefix}btn-bg: #{color.change($tonal-bg, $alpha: 0.35)};
      --#{vars.$prefix}btn-color: #{$tonal-text-color};
      --#{vars.$prefix}btn-border-color: #{color.change($tonal-bg, $alpha: 0.05)};
      --#{vars.$prefix}btn-hover-bg: #{$tonal-bg-hover};
      --#{vars.$prefix}btn-hover-color: #{$tonal-text-color};
      --#{vars.$prefix}btn-hover-border-color: #{color.change($tonal-bg-hover, $alpha: 0.1)};
      --#{vars.$prefix}btn-active-bg: #{$tonal-bg-active};
      --#{vars.$prefix}btn-active-color: #{$tonal-text-active};
      --#{vars.$prefix}btn-active-border-color: #{color.change($tonal-bg-active, $alpha: 0.1)};
    }
  }

  .#{vars.$prefix}segmented-button {
    > .btn-#{$name}:not(:first-child):not(:focus-visible) {
      &:not(:disabled):not(.disabled):not(.active) {
        $border-color: helper.set-color-contrast(
          $color,
          color.scale($color, $lightness: -70%),
          color.scale($color, $lightness: 35%)
        );
        border-left-color: helper.to-oklch($border-color) !important;

        &.readonly {
          $border-color: helper.set-color-contrast(
            $color,
            color.change(color.scale($color, $lightness: -75%), $alpha: 0.8),
            color.adjust($color, $lightness: 10%, $alpha: 30)
          );
          border-left-color: #{helper.to-oklch(color.change($border-color, $alpha: 0.9))} !important;
        }

        &.btn-tonal {
          $border-color: helper.to-oklch(color.scale($color, $lightness: 20%));
          border-left-color: #{color.change($border-color, $alpha: 0.02)} !important;
        }
      }
    }
  }
}

// Private used, make outlined button with light theme
@mixin make-outline-variant-light($name, $color) {
  .btn-outline-#{$name} {
    $focus-box-shadow-color: helper.set-color-contrast(
      $color,
      color.scale($color, $lightness: -15%),
      color.adjust($color, $lightness: 5%)
    );
    $text-color: helper.set-color-contrast($color, colors.$gray-300, $color, 90%);
    $border-color: color.adjust(colors.$gray-500, $lightness: 20%);
    $active-bg: helper.set-color-contrast(
      $color,
      color.change(color.scale($color, $lightness: 50%), $alpha: 0.45),
      $color,
      90%
    );
    $active-border: helper.set-color-contrast(
      $color,
      color.change(color.scale($color, $lightness: 50%), $alpha: 0.15),
      $color,
      90%
    );
    $active-text: helper.set-color-contrast(
      $color,
      helper.set-color-contrast($color, colors.$white, color.scale($color, $lightness: -75%), 90%),
      colors.$white
    );
    $hover-bg: helper.set-color-contrast(
      $color,
      color.change(color.scale($color, $lightness: 45%), $alpha: 0.35),
      color.change(color.mix($color, #fff, 30%, oklch), $alpha: 0.9),
      90%
    );
    $hover-text: helper.set-color-contrast(
      $color,
      colors.$white,
      color.scale($color, $lightness: -30%),
      90%
    );
    $hover-border: helper.set-color-contrast($color, $border-color, $color, 90%);

    @if($name == 'secondary') {
      --#{vars.$prefix}btn-color: #{colors.$elegant-color-dark};
      --#{vars.$prefix}btn-hover-color: #{colors.$neutral-darken-4};
    } @else {
      --#{vars.$prefix}btn-color: #{helper.to-oklch($text-color)};
      --#{vars.$prefix}btn-hover-color: #{helper.to-oklch($hover-text)};
    }

    --#{vars.$prefix}btn-border-color: #{helper.to-oklch($border-color)};
    --#{vars.$prefix}btn-active-bg: #{helper.to-oklch($active-bg)};
    --#{vars.$prefix}btn-active-color: #{helper.to-oklch($active-text)};
    --#{vars.$prefix}btn-active-border-color: #{helper.to-oklch($active-border)};
    --#{vars.$prefix}btn-hover-bg: #{helper.to-oklch($hover-bg)};
    --#{vars.$prefix}btn-hover-border-color: #{helper.to-oklch($hover-border)};
    --#{vars.$prefix}btn-focus-shadow-color: #{$focus-box-shadow-color};
  }
}

// Private used, make outlined button with dark theme
@mixin make-outline-variant-dark($name, $color) {
  .btn-outline-#{$name} {
    $dark-box-shadow-focus: helper.to-oklch(color.scale($color, $lightness: 55%));
    $dark-text-color: helper.to-oklch(color.scale($color, $lightness: 55%));
    $dark-text-active: helper.to-oklch(
      helper.set-color-contrast(
        $color,
        color.scale($color, $lightness: 40%),
        color.scale($color, $lightness: -60%)
      )
    );
    $dark-border-color: color.change(color.adjust(colors.$gray-500, $lightness: 25%), $alpha: 0.35);
    $dark-bg-active: helper.to-oklch(
      helper.set-color-contrast(
        $color,
        color.change(color.scale($color, $lightness: -25%), $alpha: 0.8),
        color.scale($color, $lightness: 60%, $alpha: 50%)
      )
    );
    $dark-bg-hover: helper.set-color-contrast(
      $color,
      color.change(color.scale($color, $lightness: 15%), $alpha: 0.125),
      color.change(color.scale($color, $lightness: 20%), $alpha: 0.14)
    );
    $dark-border-hover: color.change(color.adjust($color, $lightness: 10%), $alpha: 0.35);

    --#{vars.$prefix}btn-color: #{$dark-text-color};
    --#{vars.$prefix}btn-border-color: #{helper.to-oklch($dark-border-color)};
    --#{vars.$prefix}btn-active-bg: #{helper.to-oklch($dark-bg-active)};
    --#{vars.$prefix}btn-active-color: #{$dark-text-active};
    --#{vars.$prefix}btn-active-border-color: #{helper.set-color-contrast(
        $color,
        $dark-border-color,
        $color
      )};
    --#{vars.$prefix}btn-hover-bg: #{helper.to-oklch($dark-bg-hover)};
    --#{vars.$prefix}btn-hover-color: #{$dark-text-color};
    --#{vars.$prefix}btn-hover-border-color: #{helper.to-oklch($dark-border-hover)};
    --#{vars.$prefix}btn-focus-shadow-color: #{$dark-box-shadow-focus};
  }
}

// Private used, make flat button with light theme
@mixin make-flat-variant-light($name, $color) {
  .btn-flat-#{$name} {
    $focus-box-shadow-color: helper.set-color-contrast(
      $color,
      color.scale($color, $lightness: -10%),
      color.scale($color, $lightness: 10%)
    );
    $text-color: helper.set-color-contrast(
      $color,
      helper.set-color-contrast(
        $color,
        color.scale($color, $lightness: -15%),
        color.scale($color, $lightness: -10%),
        90%
      ),
      $color
    );
    $active-bg: helper.set-color-contrast(
      $color,
      color.change(color.scale($color, $lightness: 30%), $alpha: 0.45),
      $color,
      90%
    );
    $active-text: helper.set-color-contrast(
      $color,
      helper.set-color-contrast($color, colors.$white, color.scale($color, $lightness: -75%), 90%),
      colors.$white
    );
    $hover-bg: helper.set-color-contrast(
      $color,
      helper.set-color-contrast(
        $color,
        color.change(color.scale($color, $lightness: 15%), $alpha: 0.3),
        color.change(color.mix($color, #fff, 25%, oklch), $alpha: 0.9),
        90%
      ),
      // tune dark color variants
      color.change(color.mix($color, #fff, 15%, oklch), $alpha: 0.75),
      22%
    );
    $hover-text: helper.set-color-contrast(
      $color,
      colors.$white,
      color.scale($color, $lightness: -30%),
      90%
    );

    @if($name == 'secondary') {
      --#{vars.$prefix}btn-color: #{colors.$elegant-color-dark};
      --#{vars.$prefix}btn-hover-color: #{colors.$neutral-darken-4};
    } @else {
      --#{vars.$prefix}btn-color: #{helper.to-oklch($text-color)};
      --#{vars.$prefix}btn-hover-color: #{helper.to-oklch($hover-text)};
    }

    --#{vars.$prefix}btn-hover-bg: #{helper.to-oklch($hover-bg)};
    --#{vars.$prefix}btn-active-bg: #{helper.to-oklch($active-bg)};
    --#{vars.$prefix}btn-active-color: #{helper.to-oklch($active-text)};
    --#{vars.$prefix}btn-focus-shadow-color: #{helper.to-oklch($focus-box-shadow-color)};
  }
}

// Private used, make flat button with dark theme
@mixin make-flat-variant-dark($name, $color) {
  .btn-flat-#{$name} {
    $dark-text-color: helper.to-oklch(
      helper.set-color-contrast(
        $color,
        color.change($color, $alpha: 0.8),
        color.scale($color, $lightness: 55%),
        90
      )
    );
    $dark-active-text-color: helper.to-oklch(
      helper.set-color-contrast($color, colors.$white, color.scale($color, $lightness: 60%), 90)
    );

    --#{vars.$prefix}btn-color: #{$dark-text-color};
    --#{vars.$prefix}btn-hover-color: #{$dark-active-text-color};
    --#{vars.$prefix}btn-active-color: #{$dark-active-text-color};
  }
}
