@use "sass:color";

/* BsButton variants mixins -- sass variables */

@mixin make-button-variant($name, $color) {
    .btn-#{$name} {
        $active-box-shadow-color-rgb: to-rgb(color.scale($color, $lightness: 5%));
        $text-color: set-color-contrast($color, $black, $white);
        $hover-color: round-color-rgb(color.scale($color, $lightness: -15%));
        $active-color: round-color-rgb(color.scale($color, $lightness: -35%));

        --#{$bs-prefix}btn-bg: #{$color};
        --#{$bs-prefix}btn-color: #{$text-color};
        --#{$bs-prefix}btn-border-color: #{$color};
        --#{$bs-prefix}btn-active-bg: #{$active-color};
        --#{$bs-prefix}btn-active-color: #{$text-color};
        --#{$bs-prefix}btn-active-border-color: #{$active-color};
        --#{$bs-prefix}btn-hover-bg: #{$hover-color};
        --#{$bs-prefix}btn-hover-color: #{$text-color};
        --#{$bs-prefix}btn-hover-border-color: #{$hover-color};
        --#{$bs-prefix}btn-focus-shadow-rgb: #{$active-box-shadow-color-rgb};

        &.#{$prefix}btn-fab,
        &.#{$prefix}btn-tonal {
            @if ($name == 'light' or $name == 'light-grey') {
                $text-color: $gray-600;
                $bg-color: $grey-lighten-5;
                $hover-bg: $gray-100;
                $hover-color: $gray-700;
                $active-bg: $gray-200;
                $active-color: $gray-800;

                --#{$bs-prefix}btn-bg: #{$bg-color};
                --#{$bs-prefix}btn-color: #{$text-color};
                --#{$bs-prefix}btn-border-color: #{$bg-color};
                --#{$bs-prefix}btn-active-bg: #{$active-bg};
                --#{$bs-prefix}btn-active-color: #{$active-color};
                --#{$bs-prefix}btn-active-border-color: #{$active-bg};
                --#{$bs-prefix}btn-hover-bg: #{$hover-bg};
                --#{$bs-prefix}btn-hover-color: #{$hover-color};
                --#{$bs-prefix}btn-hover-border-color: #{$hover-bg};
            } @else {
                $text-color: round-color-rgb(color.scale($color, $lightness: -10%));
                $bg-color: round-color-rgb(color.scale($color, $lightness: 80%));
                $hover-bg: round-color-rgb(color.scale($color, $lightness: 70%));
                $hover-color: round-color-rgb(color.scale($color, $lightness: -30%));
                $active-bg: round-color-rgb(color.scale($color, $lightness: 60%));
                $active-color: round-color-rgb(color.scale($color, $lightness: -50%));

                --#{$bs-prefix}btn-bg: #{$bg-color};
                --#{$bs-prefix}btn-color: #{$text-color};
                --#{$bs-prefix}btn-border-color: #{$bg-color};
                --#{$bs-prefix}btn-active-bg: #{$active-bg};
                --#{$bs-prefix}btn-active-color: #{$active-color};
                --#{$bs-prefix}btn-active-border-color: #{$active-bg};
                --#{$bs-prefix}btn-hover-bg: #{$hover-bg};
                --#{$bs-prefix}btn-hover-color: #{$hover-color};
                --#{$bs-prefix}btn-hover-border-color: #{$hover-bg};
            }
        }
    }
}

@mixin make-outline-button-variant($name, $color) {
    .btn-outline-#{$name} {
        $active-box-shadow-color-rgb: to-rgb(color.adjust($color, $lightness: 5%));
        $border-color: color.adjust($gray-600, $lightness: 25%);
        --#{$bs-prefix}btn-bg: transparent;
        --#{$bs-prefix}btn-border-color: #{round-color-rgb($border-color)};
        --#{$bs-prefix}btn-border-width: thin;
        --#{$bs-prefix}btn-focus-shadow-rgb: #{$active-box-shadow-color-rgb};

        @if ($name == 'light' or $name == 'light-grey') {
            $active-bg-rgba: rgba(round-color-rgb($border-color), .2);
            $active-border-color-rgba: round-color-rgb(color.adjust($border-color, $lightness: -8%));
            --#{$bs-prefix}btn-color: #{$gray-600};
            --#{$bs-prefix}btn-active-bg: #{$active-bg-rgba};
            --#{$bs-prefix}btn-active-color: #{$gray-800};
            --#{$bs-prefix}btn-active-border-color: #{$active-border-color-rgba};
            --#{$bs-prefix}btn-hover-bg: #{$active-bg-rgba};
            --#{$bs-prefix}btn-hover-color: #{$gray-800};
            --#{$bs-prefix}btn-hover-border-color: #{$active-border-color-rgba};
        } @else {
            $active-bg-rgba: rgba(round-color-rgb(color.scale($color, $lightness: 5%)), .4);
            $active-color: set-color-contrast($active-bg-rgba, color.scale($color, $lightness: -70%), $white, 100);
            $hover-bg-rgba: rgba(color.scale($color, $lightness: 45%), .35);
            $hover-color-rgba: set-color-contrast($active-bg-rgba, $white, color.scale($color, $lightness: -30%), 220);
            $hover-border-color: color.adjust($color, $lightness: 10%);
            --#{$bs-prefix}btn-color: #{$color};
            --#{$bs-prefix}btn-active-bg: #{$active-bg-rgba};
            --#{$bs-prefix}btn-active-color: #{round-color-rgb($active-color)};
            --#{$bs-prefix}btn-active-border-color: #{$color};
            --#{$bs-prefix}btn-hover-bg: #{round-color-rgba($hover-bg-rgba)};
            --#{$bs-prefix}btn-hover-color: #{round-color-rgba($hover-color-rgba)};
            --#{$bs-prefix}btn-hover-border-color: #{round-color-rgb($hover-border-color)};
        }
    }
}

@mixin make-flat-button-variant($name, $color) {
    .btn-flat-#{$name} {
        $active-box-shadow-color-rgb: to-rgb(color.scale($color, $lightness: 10%));
        --#{$bs-prefix}btn-focus-shadow-rgb: #{$active-box-shadow-color-rgb};

        @if ($name == 'light' or $name == 'light-grey') {
            $active-bg-rgba: rgba($gray-500, .2);
            --#{$bs-prefix}btn-active-bg: #{$active-bg-rgba};
            --#{$bs-prefix}btn-color: #{round-color-rgb(color.scale($color, $lightness: 10%))};
            --#{$bs-prefix}btn-active-color: #{$white};
            --#{$bs-prefix}btn-hover-bg: #{$active-bg-rgba};
            --#{$bs-prefix}btn-hover-color: #{$white};
        } @else {
            $active-bg-color-rgba: rgba(round-color-rgb(color.scale($color, $lightness: 10%)), .3);
            $active-color-rgba: set-color-contrast($active-bg-color-rgba, color.scale($color, $lightness: -70%), $white, 100);
            $hover-bg-rgba: set-color-contrast($color, rgba(color.scale($color, $lightness: 15%), .3), rgba(color.scale($color, $lightness: 20%), .2));
            $hover-color-rgba: set-color-contrast($active-bg-color-rgba, $white, color.scale($color, $lightness: -30%), 220);

            --#{$bs-prefix}btn-color: #{$color};
            --#{$bs-prefix}btn-active-bg: #{$active-bg-color-rgba};
            --#{$bs-prefix}btn-active-color: #{round-color-rgba($active-color-rgba)};
            --#{$bs-prefix}btn-hover-bg: #{round-color-rgba($hover-bg-rgba)};
            --#{$bs-prefix}btn-hover-color: #{round-color-rgba($hover-color-rgba)};
        }
    }
}
