@use '../utils/color_helper' as helper;
@use '../color_vars' as colors;
@use '../variables' as vars;

// BsCheckbox variants -- scss mixins
//-----------------------------------
@mixin make-default-variant($name, $color) {
  .checkbox-#{$name} {
    $checked-color: helper.set-color-contrast($color, colors.$black, colors.$white);

    --#{vars.$prefix}checkbox-checked-bg: #{$color};
    --#{vars.$prefix}checkbox-checked-color: #{$checked-color};
  }
}
