// BsChip variants mixins
@mixin make-chip($name, $color) {
    .#{$prefix}-chip-#{$name} {
        &:not(.#{$prefix}-chip-outlined):not(.#{$prefix}-disabled) {
            background-color: $color;
            color: set-foreground-color($color, $gray-800, $white, 80);

            &:hover {
                background-color: darken($color, 5%);
            }

            &:focus, &.focus,
            &.#{$prefix}-focus,
            &.#{$prefix}-active {
                background-color: set-foreground-color($color, darken($color, 15%), darken($color, 10%), 80);
                //background-color: darken($color, 15%);
                color: set-foreground-color($color, $black, $white, 80);
            }

            &:focus, &.focus,
            &.#{$prefix}-focus {
                @include box-shadow(0 0 0 0.2rem rgba($color, .5));
            }
        }
    }
}

@mixin make-outline-chip($name, $color) {
    .#{$prefix}-chip-outline-#{$name} {
        &:not(.#{$prefix}-disabled) {
            border-color: set-foreground-color($color, darken($color, 8%), $color, 80);
            color: set-foreground-color($color, $gray-800, $color, 80);

            &:hover {
                border-color: darken($color, 8%);
                color: set-outline-button-color($name, darken($color, 10%));

                @if ($name == 'light' or $name == 'light-grey') {
                    background-color: rgba($color, .4);
                } @else {
                    background-color: rgba(lighten($color, 20%), .2);
                }
            }

            &:focus, &.focus,
            &.#{$prefix}-focus,
            &.#{$prefix}-active {
                border-color: darken($color, 8%);
                color: set-foreground-color($color, $black, darken($color, 15%), 80);

                @if ($name == 'light' or $name == 'light-grey') {
                    background-color: rgba($color, .5);
                } @else {
                    background-color: rgba(lighten($color, 15%), .3);
                }
            }

            &:focus, &.focus,
            &.#{$prefix}-focus {
                @include box-shadow(0 0 0 0.2rem rgba($color, .5));
            }
        }
    }
}
