@use 'sass:color';
@use '../utils/color_helper' as helper;
@use '../color_vars' as colors;
@use '../variables' as vars;

// BsChip variants -- scss mixins
//-------------------------------
@mixin make-default-variant-light($name, $color) {
  .chip-#{$name} {
    $chip-bg: helper.set-color-contrast(
      $color,
      helper.set-color-contrast($color, colors.$white, helper.shift-color($color, 65%), 90%),
      color.change(helper.shift-color($color, 60%), $alpha: 0.75)
    );
    $chip-border: helper.set-color-contrast($color, colors.$neutral-lighten-3, $chip-bg, 90%);
    $chip-color: helper.set-color-contrast($color, colors.$neutral-darken-1, colors.$black, 90%);
    $icon-color: helper.to-oklch(
      helper.set-color-contrast(
        $color,
        helper.set-color-contrast(
          $color,
          colors.$gray-900,
          color.adjust($color, $lightness: -25%),
          90%
        ),
        color.adjust($color, $lightness: -5%)
      )
    );

    $hover-bg: helper.set-color-contrast(
      $color,
      helper.set-color-contrast(
        $color,
        helper.shift-color($color, 15%),
        helper.shift-color($color, 45%),
        90%
      ),
      color.change(helper.shift-color($color, 45%), $alpha: 0.85)
    );
    $hover-border: helper.set-color-contrast(
      $color,
      helper.to-oklch(color.scale(colors.$neutral-lighten-3, $lightness: -5%)),
      $hover-bg,
      90%
    );
    $active-bg: helper.to-oklch(
      helper.set-color-contrast(
        $color,
        helper.set-color-contrast(
          $color,
          color.scale(colors.$gray-500, $lightness: 85%),
          helper.shift-color($color, 10%),
          90%
        ),
        color.adjust($color, $lightness: 25%)
      )
    );
    $active-border: helper.set-color-contrast($color, colors.$gray-300, $active-bg, 90%);
    $active-color: helper.set-color-contrast($active-bg, colors.$black, colors.$white);
    $active-icon-color: helper.to-oklch(
      helper.set-color-contrast(
        $active-bg,
        helper.set-color-contrast(
          $active-bg,
          colors.$gray-900,
          color.adjust($color, $lightness: -25%),
          90%
        ),
        color.adjust($color, $lightness: -10%)
      )
    );
    $focus-border: colors.$neutral-lighten-3;
    $box-shadow-color: helper.set-color-contrast(
      $color,
      helper.set-color-contrast(
        $color,
        colors.$neutral-lighten-1,
        color.scale($color, $lightness: -10%),
        90%
      ),
      $color
    );

    @if ($name == 'secondary') {
      $chip-bg: helper.to-oklch(color.scale($color, $lightness: 75%));
      $chip-hover: helper.to-oklch(color.scale($color, $lightness: 60%));
      $chip-active: helper.to-oklch(color.scale($color, $lightness: 50%));

      --#{vars.$prefix}chip-bg: #{$chip-bg};
      --#{vars.$prefix}chip-border-color: #{$chip-bg};
      --#{vars.$prefix}chip-hover-bg: #{$chip-hover};
      --#{vars.$prefix}chip-hover-border-color: #{$chip-hover};
      --#{vars.$prefix}chip-active-bg: #{$chip-active};
      --#{vars.$prefix}chip-active-border-color: #{$chip-active};
    } @else {
      --#{vars.$prefix}chip-bg: #{$chip-bg};
      --#{vars.$prefix}chip-border-color: #{$chip-border};
      --#{vars.$prefix}chip-hover-bg: #{$hover-bg};
      --#{vars.$prefix}chip-hover-border-color: #{$hover-border};
      --#{vars.$prefix}chip-active-bg: #{$active-bg};
      --#{vars.$prefix}chip-active-border-color: #{$active-border};
    }

    --#{vars.$prefix}chip-color: #{$chip-color};
    --#{vars.$prefix}chip-icon-color: #{$icon-color};
    --#{vars.$prefix}chip-hover-color: #{$chip-color};
    --#{vars.$prefix}chip-active-color: #{$active-color};
    --#{vars.$prefix}chip-active-icon-color: #{$active-icon-color};
    --#{vars.$prefix}chip-focus-border-color: #{$focus-border};
    --#{vars.$prefix}chip-focus-shadow-color: #{$box-shadow-color};
  }
}

@mixin make-outline-variant-light($name, $color) {
  .chip-outline-#{$name} {
    $chip-border: helper.to-oklch(color.adjust(colors.$gray-500, $lightness: 25%));
    $chip-color: colors.$gray-800;
    $icon-color: helper.set-color-contrast($color, colors.$gray-800, $color, 90%);
    $hover-bg: helper.to-oklch(
      helper.set-color-contrast(
        $color,
        colors.$white,
        color.change(color.adjust($color, $lightness: 20%), $alpha: 0.2),
        90%
      )
    );
    $hover-border: helper.to-oklch(
      helper.set-color-contrast(
        $color,
        helper.set-color-contrast(
          $color,
          colors.$neutral-lighten-1,
          color.scale($color, $lightness: -20%),
          90%
        ),
        $color
      )
    );
    $hover-color: helper.to-oklch(
      helper.set-color-contrast(
        $color,
        colors.$neutral-darken-4,
        color.scale($color, $lightness: -40%),
        90%
      )
    );
    $active-bg: helper.set-color-contrast(
      $color,
      helper.set-color-contrast(
        $color,
        helper.shift-color(colors.$indigo-base, 85%),
        helper.shift-color($color, 65%),
        90%
      ),
      helper.fn-if(
        ($name == 'secondary'),
        helper.to-oklch(color.scale($color, $lightness: 75%)),
        helper.shift-color($color, 70%)
      )
    );
    $active-border: helper.set-color-contrast(
      $color,
      colors.$neutral-lighten-2,
      color.scale($active-bg, $lightness: -15%),
      90%
    );
    $active-icon-color: helper.to-oklch(
      helper.set-color-contrast($color, colors.$black, color.scale($color, $lightness: -40%), 90%)
    );
    $focus-border: colors.$neutral-lighten-3;
    $box-shadow-color: helper.set-color-contrast(
      $color,
      helper.set-color-contrast(
        $color,
        colors.$neutral-lighten-1,
        color.scale($color, $lightness: -10%),
        90%
      ),
      $color
    );

    --#{vars.$prefix}chip-bg: transparent;
    --#{vars.$prefix}chip-color: #{$chip-color};
    --#{vars.$prefix}chip-border-color: #{$chip-border};
    --#{vars.$prefix}chip-icon-color: #{$icon-color};
    --#{vars.$prefix}chip-hover-bg: #{$hover-bg};
    --#{vars.$prefix}chip-hover-color: #{$hover-color};
    --#{vars.$prefix}chip-hover-border-color: #{$hover-border};
    --#{vars.$prefix}chip-active-bg: #{$active-bg};
    --#{vars.$prefix}chip-active-color: #{colors.$black};
    --#{vars.$prefix}chip-active-border-color: #{$active-border};
    --#{vars.$prefix}chip-active-icon-color: #{$active-icon-color};
    --#{vars.$prefix}chip-focus-border-color: #{$focus-border};
    --#{vars.$prefix}chip-focus-shadow-color: #{$box-shadow-color};
  }
}
