@use 'sass:color';
@use '../utils/color_helper' as helper;
@use '../color_vars' as colors;
@use '../variables' as vars;

// BsChip variants -- scss mixins
//-------------------------------
@mixin make-default-variant($name, $color) {
  .chip-#{$name} {
    $chip-bg: helper.set-color-contrast(
      $color,
      helper.set-color-contrast(
        $color,
        color.change(helper.shift-color($color, 25%), $alpha: 0.3),
        helper.shift-color($color, 65%),
        90%
      ),
      color.change(helper.shift-color($color, 60%), $alpha: 0.75)
    );
    $chip-color: helper.set-color-contrast($color, colors.$white, colors.$black, 90%);
    $icon-color: helper.to-oklch(color.adjust($color, $lightness: -5%));
    $hover-bg: helper.set-color-contrast(
      $color,
      helper.set-color-contrast(
        $color,
        color.change(helper.shift-color($color, 25%), $alpha: 0.5),
        helper.shift-color($color, 45%),
        90%
      ),
      color.change(helper.shift-color($color, 45%), $alpha: 0.85)
    );
    $active-bg: helper.to-oklch(
      helper.set-color-contrast(
        $color,
        helper.set-color-contrast(
          $color,
          color.adjust($color, $lightness: 45%),
          color.adjust($color, $lightness: 10%),
          90%
        ),
        color.adjust($color, $lightness: 10%)
      )
    );
    $active-color: helper.set-color-contrast($active-bg, colors.$black, colors.$white);
    $active-box-shadow-color: helper.to-oklch($chip-bg);
    $active-icon-color: helper.to-oklch(
      helper.set-color-contrast(
        $active-bg,
        colors.$gray-900,
        color.adjust(colors.$white, $lightness: -5%),
        90%
      )
    );

    @if ($name == 'secondary') {
      --#{vars.$prefix}chip-bg: oklch(0.6 0 0 / 0.25); // #{helper.shift-color($color, 70%)};
      --#{vars.$prefix}chip-hover-bg: #{helper.shift-color($color, 60%)};
    } @else {
      --#{vars.$prefix}chip-bg: #{$chip-bg};
      --#{vars.$prefix}chip-hover-bg: #{$hover-bg};
    }

    --#{vars.$prefix}chip-color: #{$chip-color};
    --#{vars.$prefix}chip-border-color: #{$chip-bg};
    --#{vars.$prefix}chip-icon-color: #{$icon-color};
    --#{vars.$prefix}chip-hover-color: #{$chip-color};
    --#{vars.$prefix}chip-hover-border-color: #{$hover-bg};
    --#{vars.$prefix}chip-active-bg: #{$active-bg};
    --#{vars.$prefix}chip-active-color: #{$active-color};
    --#{vars.$prefix}chip-active-border-color: #{$active-bg};
    --#{vars.$prefix}chip-active-icon-color: #{$active-icon-color};
    --#{vars.$prefix}chip-focus-border-color: #{$active-bg};
    --#{vars.$prefix}chip-focus-shadow-color: #{$active-box-shadow-color};
  }
}

@mixin make-outline-variant($name, $color) {
  .chip-outline-#{$name} {
    $border-color: helper.to-oklch(
      helper.set-color-contrast(
        $color,
        color.change(color.adjust(colors.$gray-500, $lightness: 25%), $alpha: 0.5),
        color.adjust(colors.$gray-500, $lightness: 25%),
        90%
      )
    );
    $text-color: helper.to-oklch(helper.set-color-contrast($color, $color, colors.$gray-800, 90%));
    $hover-bg: helper.to-oklch(
      helper.set-color-contrast(
        $color,
        color.change(color.adjust($color, $lightness: -10%), $alpha: 0.4),
        color.change(color.adjust($color, $lightness: 20%), $alpha: 0.2),
        90%
      )
    );
    $hover-border: helper.to-oklch(
      helper.set-color-contrast(
        $color,
        helper.set-color-contrast($color, $border-color, color.adjust($color, $lightness: 3%), 90%),
        color.adjust($color, $lightness: 12%)
      )
    );
    $hover-color: helper.to-oklch(
      helper.set-color-contrast($color, colors.$white, color.scale($color, $lightness: -40%), 90%)
    );
    $active-bg: helper.set-color-contrast(
      $color,
      helper.set-color-contrast(
        $color,
        helper.shift-color($color, 25%),
        helper.shift-color($color, 65%),
        90%
      ),
      helper.shift-color($color, 70%)
    );
    //$active-color: helper.to-oklch(
    //  helper.set-color-contrast($color, colors.$black, color.scale($color, $lightness: -50%), 90%)
    //);
    $active-icon-color: helper.to-oklch(
      helper.set-color-contrast($color, colors.$black, color.scale($color, $lightness: -40%), 90%)
    );
    $focus-border: helper.to-oklch(
      helper.set-color-contrast($color, color.adjust($border-color, $lightness: -15%), $color)
    );
    $active-box-shadow-color: helper.to-oklch(color.adjust($hover-bg, $lightness: 10%));

    --#{vars.$prefix}chip-bg: transparent;
    --#{vars.$prefix}chip-color: #{$text-color};
    --#{vars.$prefix}chip-border-color: #{$border-color};
    --#{vars.$prefix}chip-icon-color: #{$color};
    --#{vars.$prefix}chip-hover-bg: #{$hover-bg};
    --#{vars.$prefix}chip-hover-color: #{$hover-color};
    --#{vars.$prefix}chip-hover-border-color: #{$hover-border};
    --#{vars.$prefix}chip-active-bg: #{$active-bg};
    --#{vars.$prefix}chip-active-color: #{colors.$black};
    --#{vars.$prefix}chip-active-border-color: #{$active-bg};
    --#{vars.$prefix}chip-active-icon-color: #{$active-icon-color};
    --#{vars.$prefix}chip-focus-border-color: #{$focus-border};
    --#{vars.$prefix}chip-focus-shadow-color: #{$active-box-shadow-color};
  }
}
