@use "sass:list";

/* BsListView variants mixins -- sass variables */

@mixin make-listview-variant($name, $color) {
    .#{$prefix}list-#{$name} {
        $subheader-color: set-color-contrast($color, rgba(lighten($gray-900, 5%), .6), rgba($white, .6));

        --#{$prefix}listview-bg: #{$color};

        @if (brightness($color) < 160) {
            .#{$prefix}divider {
                --#{$prefix}divider-color: #{rgba($white, 0.4)};
            }
        }

        .#{$prefix}subheader {
            --#{$prefix}subheader-color: #{$subheader-color};
        }
    }
}

@mixin make-list-tile-variant($name, $color) {
    .#{$prefix}list-#{$name} {
        .#{$prefix}list-tile, .#{$prefix}list-nav {
            $tile-hover-bg: set-color-contrast($color, $default-hover-bgcolor, set-color-contrast($color, rgba(darken($color, 30%), .25), rgba(darken($color, 20%), .25), 160), 220);
            $tile-active-bg: set-alt-bgcolor($color, .2);
            $tile-title-color: set-color-contrast($color, $gray-900, $white);
            $tile-subtitle-color: set-color-contrast($color, $gray-700, rgba($white, .7));
            $tile-leading-color: set-color-contrast($color, rgba($black, .54), rgba($white, .6));
            $tile-active-title-color: set-color-contrast($color, darken($default-active-bgcolor, 20%), $white, 220);
            $tile-active-subtitle-color: set-color-contrast($color, darken($default-active-bgcolor, 10%), rgba($white, .77), 220);
            $tile-active-leading-icon-color: set-color-contrast($color, rgba($default-active-bgcolor, .54), rgba($white, .75), 220);
            $tile-disable-title-color: set-color-contrast($color, rgba($black, .5), rgba($white, .4));
            $tile-disable-subtitle-color: $tile-disable-title-color;
            $tile-disable-leading-color: $tile-disable-title-color;
            $tile-indicator-border-color: set-color-contrast($color, darken($mdb-default-color, 5%), lighten(set-alt-bgcolor($color, .65), 45%), 220);

            --#{$prefix}tile-action-color: #{$tile-leading-color};
            --#{$prefix}tile-leading-color: #{$tile-leading-color};
            --#{$prefix}tile-title-color: #{$tile-title-color};
            --#{$prefix}tile-subtitle-color: #{$tile-subtitle-color};
            --#{$prefix}tile-hover-bg: #{$tile-hover-bg};

            --#{$prefix}tile-active-bg: #{$tile-active-bg};
            --#{$prefix}tile-active-action-color: #{$tile-active-leading-icon-color};
            --#{$prefix}tile-active-leading-color: #{$tile-active-title-color};
            --#{$prefix}tile-active-leading-icon-color: #{$tile-active-leading-icon-color};
            --#{$prefix}tile-active-title-color: #{$tile-active-title-color};
            --#{$prefix}tile-active-subtitle-color: #{$tile-active-subtitle-color};

            $list-colors: "amber", "yellow", "lime", "warning", "warning-color";
            @if(not list.index($list-colors, $name)) {
                --#{$prefix}tile-active-indicator-border-color: #{$tile-indicator-border-color};
            } @else {
                --#{$prefix}tile-active-indicator-border-color: #{darken($mdb-default-color, 5%)};
            }

            --#{$prefix}tile-disable-action-color: #{$tile-disable-leading-color};
            --#{$prefix}tile-disable-leading-color: #{$tile-disable-leading-color};
            --#{$prefix}tile-disable-title-color: #{$tile-disable-title-color};
            --#{$prefix}tile-disable-subtitle-color: #{$tile-disable-subtitle-color};

            $divider-color: set-color-contrast($color, $gray-300, rgba($white, .18), 220);
            $nav-item-expanded-bg: set-alt-bgcolor($color);

            --#{$prefix}nav-item-color: #{$tile-title-color};
            --#{$prefix}nav-item-divider-color: #{$divider-color};
            --#{$prefix}nav-item-icon-color: #{$tile-leading-color};
            --#{$prefix}nav-item-expanded-bg: #{$nav-item-expanded-bg};
            --#{$prefix}nav-item-hover-bg: #{$tile-hover-bg};
            --#{$prefix}nav-item-active-bg: #{$tile-active-bg};
            --#{$prefix}nav-item-active-color: #{$tile-active-title-color};
            --#{$prefix}nav-item-active-icon-color: #{$tile-active-leading-icon-color};
            --#{$prefix}nav-item-disable-color: #{$tile-disable-title-color};
            --#{$prefix}nav-item-disable-icon-color: #{$tile-disable-leading-color};
        }
    }
}
