/* Input Placeholder mixins */
@mixin decorate-input-placeholder {
    &::placeholder {
        color: currentColor;
        font-weight: $font-weight-light;
        opacity: .35;
    }

    &::-moz-placeholder {
        color: currentColor;
        font-weight: $font-weight-light;
        opacity: .35;
    }

    &::-webkit-input-placeholder {
        color: currentColor;
        font-weight: $font-weight-light;
        opacity: .35;
    }

    &:-ms-input-placeholder {
        color: currentColor;
        font-weight: $font-weight-light;
        opacity: .35;
    }
}
