@use '../variables' as vars;

// BsRadio variants -- scss mixins
//--------------------------------
@mixin make-default-variant($name, $color) {
  .radio-#{$name} {
    //--#{vars.$prefix}radio-color: currentColor;
    --#{vars.$prefix}radio-active-color: #{$color};
  }
}
