/* BsRadio mixins */
@mixin make-radio($name, $color) {
    .#{$prefix}radio-#{$name} {
        $ripple-bg: set-alt-color-level($color, rgba($gray-500, .5), rgba($color, .4), 70);
        $ripple-lighten: transparentize($ripple-bg, .2);
        $hover-rgba: rgba($black, .12);

        --#{$prefix}radio-color: #{$color};
        --#{$prefix}radio-ripple-rgba: #{$ripple-bg};
        --#{$prefix}radio-hover-rgba: #{$hover-rgba};
        --#{$prefix}radio-active-hover-rgba: #{$ripple-lighten};
    }
}
