@use 'sass:map';
@use 'alert';
@use 'badge';
@use 'button';
@use 'checkbox';
@use 'chip';
@use 'progress';
@use 'radio';
@use 'switch';
@use 'css3/text-decorators' as decorators;
@use '../color_vars' as colors;
@use '../variables' as vars;

@mixin make-theme-light($theme-colors) {
  $no-dark: map.remove($theme-colors, 'dark');
  $no-dark-light: map.remove($theme-colors, 'dark', 'light');

  // BsBadge color scheme
  //-----------------------
  @each $name, $color in $no-dark {
    @include badge.make-actionable-variant-light($name, $color);
  }

  // BsButton color scheme
  //-----------------------
  @each $name, $color in $theme-colors {
    @include button.make-default-variant-light($name, $color);
    @include button.make-outline-variant-light($name, $color);
    @include button.make-flat-variant-light($name, $color);
  }

  // BsAlert color scheme
  //-----------------------
  @each $name, $color in $no-dark {
    @include alert.make-default-variant-light($name, $color);
    @include alert.make-outline-variant-light($name, $color);
    @include alert.make-solid-variant($name, $color);
  }

  // BsCheckbox color scheme
  //-------------------------
  @each $name, $color in $no-dark-light {
    @include checkbox.make-default-variant($name, $color);
  }

  // BsRadio color scheme
  //----------------------
  @each $name, $color in $no-dark-light {
    @include radio.make-default-variant($name, $color);
  }

  // BsSwitch color scheme
  //-----------------------
  @each $name, $color in $no-dark-light {
    @include switch.make-default-variant-light($name, $color);
  }

  // BsChip color scheme
  //---------------------
  @each $name, $color in $no-dark {
    @include chip.make-default-variant-light($name, $color);
    @include chip.make-outline-variant-light($name, $color);
  }

  // BsProgress color scheme
  //-------------------------
  @each $name, $color in $no-dark-light {
    @include progress.make-bar-variant($name, $color);
    @include progress.make-spinner-variant($name, $color);
  }
}

// TODO: dark color scheme for other components is still incomplete
@mixin make-theme-dark($theme-colors) {
  $no-dark: map.remove($theme-colors, 'dark');
  $no-dark-light: map.remove($theme-colors, 'dark', 'light');

  // BsBadge color scheme
  //-----------------------
  //@each $name, $color in $no-dark {
  //  @include badge.make-default-variant($name, $color);
  //  @include badge.make-outline-variant($name, $color);
  //}

  // BsButton color scheme
  //-----------------------
  @each $name, $color in $theme-colors {
    @include button.make-default-variant($name, $color, true);
    @include button.make-outline-variant($name, $color, true);
    @include button.make-flat-variant($name, $color, true);
  }

  // BsColorPicker color scheme
  //----------------------------
  .#{vars.$prefix}color-picker {
    --#{vars.$prefix}color-picker-input-bg: oklch(0.287 0.003 48.605);
  }
}
