@import "compass-mixins/lib/compass/css3";
@import "../../../scss/colors";
@import "../../../scss/variables";

.#{$prefix}combobox-field {
    &.#{$prefix}floating-label {
        .#{$prefix}field-label {
            height: var(--#{$prefix}field-control-height);
        }
    }

    .#{$prefix}action-icon {
        > .icon-expand {
            @include transition(all 0.3s ease 0s);
            cursor: pointer;
        }
    }

    &.disabled {
        .#{$prefix}action-icon {
            > .icon-expand {
                opacity: var(--#{$prefix}field-disabled-opacity);
            }
        }
    }

    &.#{$prefix}open {
        .#{$prefix}action-icon {
            > .icon-expand {
                @include transform(rotateZ(-180deg));
            }
        }
    }

    &.#{$prefix}chip-enabled {
        > .#{$prefix}field-inner {
            min-height: 58px;

            > .#{$prefix}field-activator {
                @include flexbox((flex: 1 1 auto, align-items: end, flex-wrap: wrap));
                max-width: 100%;
            }
        }

        .#{$prefix}chip {
            margin-bottom: $text-field-padding-bottom;
            margin-right: $padding-sm;

            ~ .#{$prefix}chip {
                margin-left: 0;
            }
        }

        &.#{$prefix}floating-label {
            .#{$prefix}field-label {
                height: auto;
                top: $padding-base;
            }

            &:not(.#{$prefix}field-outlined):not(.#{$prefix}field-filled) {
                .#{$prefix}field-activator {
                    --#{$prefix}field-control-height: 0;
                    --#{$prefix}field-padding-top: 0;

                    padding-top: $padding-base + .25;

                    > .#{$prefix}field-placeholder {
                        --#{$prefix}field-padding-bottom: 0.75rem;
                    }
                }

                &.active, &.focused {
                    --#{$prefix}field-floating-label-transform: translateY(-24px) scale(.85);
                    --#{$prefix}field-padding-top: 1.25rem;
                }

                .#{$prefix}field-label {
                    top: $padding-base + .35;
                }
            }

            &.#{$prefix}field-filled,
            &.#{$prefix}field-outlined {
                .#{$prefix}field-activator {
                    --#{$prefix}field-control-height: 0;
                    --#{$prefix}field-padding-top: 0;

                    padding-left: $padding-base;
                    padding-top: $padding-base;

                    > .#{$prefix}field-placeholder {
                        --#{$prefix}field-padding-start: 0;
                    }
                }
            }

            &.#{$prefix}field-filled {
                .#{$prefix}field-activator {
                    min-height: 4.125rem;
                    padding-top: $padding-base + .75;

                    > .#{$prefix}field-label {
                        top: $padding-base + .25;
                    }

                    > .#{$prefix}field-placeholder {
                        --#{$prefix}field-padding-bottom: 0.75rem;
                    }
                }

                &.active, &.focused {
                    --#{$prefix}field-floating-label-transform: translateY(-14px) scale(.85);
                }
            }

            &.#{$prefix}field-outlined {
                .#{$prefix}field-activator {
                    min-height: 3.75rem;
                    padding-bottom: $text-field-padding-bottom;

                    > .#{$prefix}field-placeholder {
                        --#{$prefix}field-padding-bottom: 0.75rem;
                        --#{$prefix}field-padding-top: 0;
                    }
                }
            }
        }
    }
}
