@use 'sass:color';
@use '../../../scss/mixins/css3/borders';
@use '../../../scss/mixins/button';
@use '../../../scss/utils/color_helper' as helper;
@use '../../../scss/color_vars' as colors;
@use '../../../scss/variables' as vars;

@layer components {
  .#{vars.$prefix}btn,
  .#{vars.$prefix}btn-fab,
  .#{vars.$prefix}btn-icon {
    $disabled-bg: helper.to-oklch(color.adjust(colors.$gray-500, $lightness: 22%));
    $disabled-border-color: helper.to-oklch(color.adjust(colors.$gray-500, $lightness: 25%));

    --#{vars.$prefix}btn-bg: transparent;
    --#{vars.$prefix}btn-color: #{colors.$gray-900};
    --#{vars.$prefix}btn-border-color: transparent;
    --#{vars.$prefix}btn-border-width: 0.094rem; // 1.5px;

    --#{vars.$prefix}btn-disabled-bg: #{color.change($disabled-bg, $alpha: 0.8)};
    --#{vars.$prefix}btn-disabled-color: #{colors.$gray-600};
    --#{vars.$prefix}btn-disabled-border-color: #{$disabled-border-color};

    --#{vars.$prefix}btn-disabled-opacity: 0.6;
    --#{vars.$prefix}btn-readonly-opacity: 0.75;
    --#{vars.$prefix}btn-font-size: var(--font-size-default, #{vars.$btn-font-size-md});
    --#{vars.$prefix}btn-font-weight: var(--font-weight-medium, 500);

    --#{vars.$prefix}btn-hover-bg: transparent;
    --#{vars.$prefix}btn-hover-color: #{colors.$gray-900};
    --#{vars.$prefix}btn-hover-border-color: transparent;

    --#{vars.$prefix}btn-box-shadow: none;
    --#{vars.$prefix}btn-active-box-shadow: none;
    --#{vars.$prefix}btn-hover-box-shadow: #{vars.$z-depth-half};
    // prettier-ignore
    --#{vars.$prefix}btn-focus-box-shadow: 0 0 0 0.25rem var(--#{vars.$prefix}btn-focus-shadow-color);
    --#{vars.$prefix}btn-focus-border-color: oklch(0.985 0 89.876 / 0.85);

    --#{vars.$prefix}btn-elevated-box-shadow: #{vars.$z-depth-1};
    --#{vars.$prefix}btn-elevated-active-box-shadow: #{vars.$z-depth-half};
    --#{vars.$prefix}btn-elevated-hover-box-shadow: #{vars.$z-depth-1-half};

    // used internally
    --#{vars.$prefix}btn-state-line-height: var(--#{vars.$prefix}btn-md-line-height);
    --#{vars.$prefix}btn-state-padding-x: var(--#{vars.$prefix}btn-md-padding-x);
    --#{vars.$prefix}btn-state-padding-y: var(--#{vars.$prefix}btn-md-padding-y);
    --#{vars.$prefix}btn-state-border-color: var(--#{vars.$prefix}btn-border-color);
    // end

    display: inline-block;
    font-family: inherit;
    position: relative;
    white-space: nowrap;
    box-shadow: var(--#{vars.$prefix}btn-box-shadow);
    border-radius: var(--#{vars.$prefix}btn-border-radius);
    transition: #{vars.$btn-transition};

    > .#{vars.$prefix}ripple {
      padding: 0;
      border-radius: inherit;
    }

    .#{vars.$prefix}btn-inner {
      line-height: var(--#{vars.$prefix}btn-state-line-height);
      border-radius: inherit;
      // prettier-ignore
      padding: var(--#{vars.$prefix}btn-state-padding-y) var(--#{vars.$prefix}btn-state-padding-x);
    }

    &.#{vars.$prefix}btn-xs {
      --#{vars.$prefix}btn-state-line-height: var(--#{vars.$prefix}btn-xs-line-height);
      --#{vars.$prefix}btn-state-padding-x: var(--#{vars.$prefix}btn-xs-padding-x);
      --#{vars.$prefix}btn-state-padding-y: var(--#{vars.$prefix}btn-xs-padding-y);
    }

    &.#{vars.$prefix}btn-sm {
      --#{vars.$prefix}btn-state-line-height: var(--#{vars.$prefix}btn-sm-line-height);
      --#{vars.$prefix}btn-state-padding-x: var(--#{vars.$prefix}btn-sm-padding-x);
      --#{vars.$prefix}btn-state-padding-y: var(--#{vars.$prefix}btn-sm-padding-y);
    }

    &.#{vars.$prefix}btn-lg {
      --#{vars.$prefix}btn-state-line-height: var(--#{vars.$prefix}btn-lg-line-height);
      --#{vars.$prefix}btn-state-padding-x: var(--#{vars.$prefix}btn-lg-padding-x);
      --#{vars.$prefix}btn-state-padding-y: var(--#{vars.$prefix}btn-lg-padding-y);
    }

    &[class*='btn-flat'] {
      --#{vars.$prefix}btn-bg: transparent;
      --#{vars.$prefix}btn-border-color: transparent;
      --#{vars.$prefix}btn-active-border-color: transparent;
      --#{vars.$prefix}btn-hover-border-color: transparent;
      --#{vars.$prefix}btn-hover-box-shadow: none;
    }

    &[class*='btn-outline'] {
      $disabled-border-color: helper.to-oklch(color.adjust(colors.$gray-500, $lightness: 10%));

      --#{vars.$prefix}btn-bg: transparent;
      --#{vars.$prefix}btn-border-width: thin;
      --#{vars.$prefix}btn-disabled-border-color: #{$disabled-border-color};
    }

    &.btn-raised {
      --#{vars.$prefix}btn-box-shadow: var(--#{vars.$prefix}btn-elevated-box-shadow);
      --#{vars.$prefix}btn-active-box-shadow: var(--#{vars.$prefix}btn-elevated-active-box-shadow);
      --#{vars.$prefix}btn-hover-box-shadow: var(--#{vars.$prefix}btn-elevated-hover-box-shadow);

      &[class*='btn-flat'] {
        --#{vars.$prefix}btn-hover-box-shadow: var(--#{vars.$prefix}btn-elevated-box-shadow);
      }
    }
  }

  .#{vars.$prefix}btn,
  .#{vars.$prefix}btn-fab {
    > .dropdown-toggle {
      &::after {
        align-self: center;
        margin-right: calc(var(--#{vars.$prefix}btn-state-padding-x) / 2);
        margin-left: 0;
      }

      > .#{vars.$prefix}btn-inner {
        padding-right: calc(var(--#{vars.$prefix}btn-state-padding-x) / 2);
      }

      &.empty-text {
        > .has-icon {
          padding-right: #{vars.$padding-xs};
        }
      }
    }
  }

  .#{vars.$prefix}btn {
    --#{vars.$prefix}btn-xs-border-radius: #{vars.$btn-border-radius-sm};
    --#{vars.$prefix}btn-xs-line-height: 1;
    --#{vars.$prefix}btn-xs-padding-x: #{vars.$spacing};
    --#{vars.$prefix}btn-xs-padding-y: #{vars.$spacing * 0.375};

    --#{vars.$prefix}btn-sm-border-radius: #{vars.$btn-border-radius-md};
    --#{vars.$prefix}btn-sm-line-height: 1.3;
    --#{vars.$prefix}btn-sm-padding-x: #{vars.$spacing * 1.25};
    --#{vars.$prefix}btn-sm-padding-y: #{vars.$spacing * 0.4};

    --#{vars.$prefix}btn-md-border-radius: #{vars.$btn-border-radius-md};
    --#{vars.$prefix}btn-md-line-height: 1.5;
    --#{vars.$prefix}btn-md-padding-x: #{vars.$spacing * 1.5};
    --#{vars.$prefix}btn-md-padding-y: #{vars.$spacing * 0.425};

    --#{vars.$prefix}btn-lg-border-radius: #{vars.$btn-border-radius-lg};
    --#{vars.$prefix}btn-lg-line-height: 1.5;
    --#{vars.$prefix}btn-lg-padding-x: #{vars.$spacing * 1.875};
    --#{vars.$prefix}btn-lg-padding-y: #{vars.$spacing * 0.75};

    --#{vars.$prefix}btn-border-radius: var(--#{vars.$prefix}btn-md-border-radius);

    &[class*='btn-flat'] {
      .#{vars.$prefix}btn-inner:not(.has-icon) {
        --#{vars.$prefix}btn-state-padding-x: calc(var(--#{vars.$prefix}btn-md-padding-x) / 2);
      }
    }

    .#{vars.$prefix}icon-left,
    .#{vars.$prefix}icon-right {
      transition:
        width 200ms #{vars.$transition-default-animation},
        visibility 0ms #{vars.$transition-default-animation};

      &.#{vars.$prefix}empty-icon {
        width: 0;
      }
    }

    .#{vars.$prefix}icon-left {
      margin-right: #{vars.$padding-sm};
      margin-left: #{vars.$padding-sm * -1};
    }

    .#{vars.$prefix}icon-right {
      margin-left: #{vars.$padding-sm};
      margin-right: #{vars.$padding-sm * -1};
    }

    &.#{vars.$prefix}btn-xs {
      --#{vars.$prefix}btn-border-radius: var(--#{vars.$prefix}btn-xs-border-radius);
      --#{vars.$prefix}btn-font-size: #{vars.$btn-font-size-xs};

      &[class*='btn-flat'] {
        .#{vars.$prefix}btn-inner:not(.has-icon) {
          --#{vars.$prefix}btn-state-padding-x: calc(var(--#{vars.$prefix}btn-xs-padding-x) / 2);
        }
      }

      .#{vars.$prefix}icon-left {
        margin-left: #{vars.$padding-xs * -1};
      }

      .#{vars.$prefix}icon-right {
        margin-right: #{vars.$padding-xs * -1};
      }
    }

    &.#{vars.$prefix}btn-sm {
      --#{vars.$prefix}btn-border-radius: var(--#{vars.$prefix}btn-sm-border-radius);
      --#{vars.$prefix}btn-font-size: #{vars.$btn-font-size-sm};

      &[class*='btn-flat'] {
        .#{vars.$prefix}btn-inner:not(.has-icon) {
          --#{vars.$prefix}btn-state-padding-x: calc(var(--#{vars.$prefix}btn-sm-padding-x) / 2);
        }
      }
    }

    &.#{vars.$prefix}btn-lg {
      --#{vars.$prefix}btn-border-radius: var(--#{vars.$prefix}btn-lg-border-radius);
      --#{vars.$prefix}btn-font-size: #{vars.$btn-font-size-lg};

      &[class*='btn-flat'] {
        .#{vars.$prefix}btn-inner:not(.has-icon) {
          --#{vars.$prefix}btn-state-padding-x: calc(var(--#{vars.$prefix}btn-lg-padding-x) / 2);
        }
      }
    }

    &.btn-rounded-sm {
      --#{vars.$prefix}btn-border-radius: var(--#{vars.$prefix}btn-xs-border-radius);
    }

    &.btn-rounded-pill {
      --#{vars.$prefix}btn-border-radius: var(--#{vars.$prefix}radius-pill);
    }
  }

  .#{vars.$prefix}btn-fab {
    --#{vars.$prefix}btn-lg-padding-x: #{vars.$padding-lg};
    --#{vars.$prefix}btn-lg-padding-y: #{vars.$padding-lg};
    --#{vars.$prefix}btn-md-padding-x: #{vars.$padding-md};
    --#{vars.$prefix}btn-md-padding-y: #{vars.$padding-md};
    --#{vars.$prefix}btn-sm-padding-x: #{vars.$padding-sm};
    --#{vars.$prefix}btn-sm-padding-y: #{vars.$padding-sm};
    --#{vars.$prefix}btn-xs-padding-x: #{vars.$spacing * 0.375};
    --#{vars.$prefix}btn-xs-padding-y: #{vars.$spacing * 0.375};

    --#{vars.$prefix}btn-border-radius: #{vars.$btn-fab-border-radius-md};
    --#{vars.$prefix}btn-box-shadow: #{vars.$z-depth-half};

    &[class*='btn-flat'] {
      --#{vars.$prefix}btn-box-shadow: none;
    }

    .#{vars.$prefix}icon-left,
    .#{vars.$prefix}icon-right {
      transition:
        width 200ms #{vars.$transition-default-animation},
        visibility 0ms #{vars.$transition-default-animation};

      &.#{vars.$prefix}empty-icon {
        width: 0;
      }
    }

    .#{vars.$prefix}icon-left {
      margin-right: #{vars.$padding-sm};
      margin-left: #{vars.$padding-xs * -1};
    }

    .#{vars.$prefix}icon-right {
      margin-left: #{vars.$padding-sm};
      margin-right: #{vars.$padding-xs * -1};
    }

    &.#{vars.$prefix}btn-xs,
    &.#{vars.$prefix}btn-sm {
      .#{vars.$prefix}icon-left {
        margin-right: #{vars.$padding-xs};
        margin-left: 0;
      }

      .#{vars.$prefix}icon-right {
        margin-left: #{vars.$padding-xs};
        margin-right: 0;
      }
    }

    &.#{vars.$prefix}btn-xs {
      --#{vars.$prefix}btn-border-radius: #{vars.$btn-fab-border-radius-xs};
      --#{vars.$prefix}btn-font-size: #{vars.$btn-font-size-xs};
    }

    &.#{vars.$prefix}btn-sm {
      --#{vars.$prefix}btn-border-radius: #{vars.$btn-fab-border-radius-sm};
      --#{vars.$prefix}btn-font-size: #{vars.$btn-font-size-sm};
    }

    &.#{vars.$prefix}btn-lg {
      --#{vars.$prefix}btn-border-radius: #{vars.$btn-fab-border-radius-lg};
      --#{vars.$prefix}btn-font-size: #{vars.$btn-font-size-lg};
    }
  }

  .#{vars.$prefix}btn-icon {
    --#{vars.$prefix}btn-border-radius: #{vars.$radius-circle};

    --#{vars.$prefix}btn-lg-line-height: 3.625rem; // 58px
    --#{vars.$prefix}btn-md-line-height: 2.25rem;  // 36px
    --#{vars.$prefix}btn-sm-line-height: 2rem;     // 32px
    --#{vars.$prefix}btn-xs-line-height: 1.5rem;   // 24px

    --#{vars.$prefix}btn-lg-height: 3.625rem; // 58px
    --#{vars.$prefix}btn-lg-width: 3.625rem;  // 58px
    --#{vars.$prefix}btn-md-height: 2.625rem; // 42px
    --#{vars.$prefix}btn-md-width: 2.625rem;  // 42px
    --#{vars.$prefix}btn-sm-height: 2.125rem; // 34px
    --#{vars.$prefix}btn-sm-width: 2.125rem;  // 34px
    --#{vars.$prefix}btn-xs-height: 1.75rem;  // 28px
    --#{vars.$prefix}btn-xs-width: 1.75rem;   // 28px

    --#{vars.$prefix}btn-state-height: var(--#{vars.$prefix}btn-md-height);
    --#{vars.$prefix}btn-state-width: var(--#{vars.$prefix}btn-md-width);

    width: var(--#{vars.$prefix}btn-state-width);
    height: var(--#{vars.$prefix}btn-state-height);

    &.#{vars.$prefix}btn-xs {
      --#{vars.$prefix}btn-state-height: var(--#{vars.$prefix}btn-xs-height);
      --#{vars.$prefix}btn-state-width: var(--#{vars.$prefix}btn-xs-width);
    }

    &.#{vars.$prefix}btn-sm {
      --#{vars.$prefix}btn-state-height: var(--#{vars.$prefix}btn-sm-height);
      --#{vars.$prefix}btn-state-width: var(--#{vars.$prefix}btn-sm-width);
    }

    &.#{vars.$prefix}btn-lg {
      --#{vars.$prefix}btn-state-height: var(--#{vars.$prefix}btn-lg-height);
      --#{vars.$prefix}btn-state-width: var(--#{vars.$prefix}btn-lg-width);
    }

    &.btn-close-action {
      --#{vars.$prefix}btn-border-radius: #{vars.$radius-md};
      --#{vars.$prefix}btn-sm-height: 1.875rem; // 30px;
      --#{vars.$prefix}btn-sm-width: 1.875rem;  // 30px;
    }
  }

  .#{vars.$prefix}segmented-button {
    display: flex;
    position: relative;

    .#{vars.$prefix}btn {
      &:hover,
      &:focus-visible,
      &.selected {
        z-index: 1;
      }

      &:not(:first-child) {
        margin-left: -1px;

        &.disabled,
        &:disabled {
          $disabled-border-color: helper.to-oklch(color.adjust(colors.$gray-500, $lightness: -7%));
          border-left-color: color.change($disabled-border-color, $alpha: 0.2) !important;
        }
      }
    }
  }
}

// override Bootstrap styles
.dropdown-toggle {
  white-space: nowrap;

  &:after {
    border-top: var(--#{vars.$prefix}caret-size, 5px) solid;
    border-right: var(--#{vars.$prefix}caret-size, 5px) solid transparent;
    border-bottom: 0;
    border-left: var(--#{vars.$prefix}caret-size, 5px) solid transparent;
    content: '';
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
  }
}

// Patch Bootstrap 'reboot.css'
// This patch must be placed outside the css layer.
button {
  &.#{vars.$prefix}btn,
  &.#{vars.$prefix}btn-fab,
  &.#{vars.$prefix}btn-icon {
    border-radius: var(--#{vars.$prefix}btn-border-radius);
  }
}

a {
  &.#{vars.$prefix}btn,
  &.#{vars.$prefix}btn-fab,
  &.#{vars.$prefix}btn-icon {
    text-decoration: none;
  }
}

.#{vars.$prefix}btn,
.#{vars.$prefix}btn-fab,
.#{vars.$prefix}btn-icon {
  padding: 0;
  outline: 0;
  line-height: 1;
  cursor: pointer;
  background-color: var(--#{vars.$prefix}btn-bg);
  // prettier-ignore
  border: var(--#{vars.$prefix}btn-border-width) solid var(--#{vars.$prefix}btn-state-border-color);
  color: var(--#{vars.$prefix}btn-color);
  font-size: var(--#{vars.$prefix}btn-font-size);
  font-weight: var(--#{vars.$prefix}btn-font-weight);
  //-webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  &:hover {
    --#{vars.$prefix}btn-state-border-color: var(--#{vars.$prefix}btn-hover-border-color);

    color: var(--#{vars.$prefix}btn-hover-color);
    background-color: var(--#{vars.$prefix}btn-hover-bg);
    box-shadow: var(--#{vars.$prefix}btn-hover-box-shadow);
  }

  &:focus-visible:not(.disabled):not(:disabled) {
    --#{vars.$prefix}btn-state-border-color: var(--#{vars.$prefix}btn-focus-border-color);

    color: var(--#{vars.$prefix}btn-hover-color);
    background-color: var(--#{vars.$prefix}btn-hover-bg);
    outline: 3px solid var(--#{vars.$prefix}btn-focus-shadow-color);
    z-index: 1;

    &.active {
      color: var(--#{vars.$prefix}btn-active-color);
      background-color: var(--#{vars.$prefix}btn-active-bg);
    }
  }

  &.active {
    --#{vars.$prefix}btn-state-border-color: var(--#{vars.$prefix}btn-active-border-color);

    color: var(--#{vars.$prefix}btn-active-color);
    background-color: var(--#{vars.$prefix}btn-active-bg);
    box-shadow: var(--#{vars.$prefix}btn-active-box-shadow);
  }

  &.readonly {
    opacity: var(--#{vars.$prefix}btn-readonly-opacity);

    &:not(.active) {
      --#{vars.$prefix}btn-state-border-color: var(--#{vars.$prefix}btn-border-color);

      color: var(--#{vars.$prefix}btn-color);
      background-color: var(--#{vars.$prefix}btn-bg);
    }
  }

  &.readonly,
  &.disabled,
  &:disabled {
    cursor: default;
    box-shadow: none;
    pointer-events: none;
  }

  &.disabled,
  &:disabled {
    --#{vars.$prefix}btn-state-border-color: var(--#{vars.$prefix}btn-disabled-border-color);

    color: var(--#{vars.$prefix}btn-disabled-color);
    background-color: var(--#{vars.$prefix}btn-disabled-bg);
    opacity: var(--#{vars.$prefix}btn-disabled-opacity);
  }
}

.#{vars.$prefix}button-group {
  display: inline-flex;
  position: relative;
}

.#{vars.$prefix}button-toolbar {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: flex-start;

  .#{vars.$prefix}btn,
  .#{vars.$prefix}btn-icon {
    &:not(:last-child) {
      @include borders.end-radius(0);
    }

    &:not(:first-child) {
      @include borders.start-radius(0);
      margin-left: -1px;

      &:not([class*='btn-outline']):not([class*='btn-flat']) {
        border-left-color: oklch(0 0 0 / 0.1);
      }
    }

    &.active,
    &:hover,
    &:focus {
      z-index: 1;
    }
  }
}
