@use "sass:color";
@import 'compass-mixins/lib/compass/css3';
@import '../../../scss/functions';
@import '../../../scss/mixins/button';
@import '../../../scss/colors';
@import '../../../scss/variables';

.btn {
    $disabled-bg: round-color-rgb(color.adjust($gray-500, $lightness: 20%));
    $disabled-border-color: round-color-rgb(color.adjust($gray-500, $lightness: 20%));

    --#{$prefix-bs}btn-padding-y: 0;
    --#{$prefix-bs}btn-padding-x: 0;
    --#{$prefix-bs}btn-border-radius: #{$btn-border-radius};
    --#{$prefix-bs}btn-disabled-bg: #{$disabled-bg};
    --#{$prefix-bs}btn-disabled-border-color: #{$disabled-border-color};
    --#{$prefix-bs}btn-disabled-color: #{$gray-700};
    //--#{$bs-prefix}btn-disabled-opacity: .65;
    --#{$prefix-bs}btn-readonly-opacity: 0.75;

    --#{$prefix-bs}btn-inner-padding-x: #{$padding-lg};
    --#{$prefix-bs}btn-inner-padding-y: 0.425rem;
    --#{$prefix-bs}btn-lg-inner-padding-x: #{$padding-lg};
    --#{$prefix-bs}btn-lg-inner-padding-y: #{$padding-sm};
    --#{$prefix-bs}btn-sm-inner-padding-x: #{$padding-base};
    --#{$prefix-bs}btn-sm-inner-padding-y: 0.4rem;
    --#{$prefix-bs}btn-xs-inner-padding-x: #{$padding-sm + 0.25};
    --#{$prefix-bs}btn-xs-inner-padding-y: #{$btn-margin-basic};

    --#{$prefix-bs}btn-initial-box-shadow: none;
    --#{$prefix-bs}btn-active-box-shadow: #{$z-depth-half};
    --#{$prefix-bs}btn-focus-box-shadow: #{$z-depth-half};
    --#{$prefix-bs}btn-hover-box-shadow: #{$z-depth-1};

    --#{$prefix-bs}btn-state-box-shadow: var(--#{$prefix-bs}btn-initial-box-shadow);
    --#{$prefix-bs}btn-state-padding-x: var(--#{$prefix-bs}btn-inner-padding-x);
    --#{$prefix-bs}btn-state-padding-y: var(--#{$prefix-bs}btn-inner-padding-y);

    @include box-shadow(var(--#{$prefix-bs}btn-state-box-shadow));
    position: relative;
    white-space: nowrap;

    &:hover {
        --#{$prefix-bs}btn-state-box-shadow: var(--#{$prefix-bs}btn-hover-box-shadow);
        outline: 0;
    }

    &.active,
    &:active,
    &:focus {
        --#{$prefix-bs}btn-state-box-shadow: var(--#{$prefix-bs}btn-active-box-shadow);
    }

    &.active:focus,
    &:active:focus {
        --#{$prefix-bs}btn-state-box-shadow: var(--#{$prefix-bs}btn-focus-box-shadow);
        outline: 0;
    }

    &.readonly {
        opacity: var(--#{$prefix-bs}btn-readonly-opacity);

        &:not(.active) {
            background-color: var(--#{$prefix-bs}btn-bg);
            border-color: var(--#{$prefix-bs}btn-border-color);
            color: var(--#{$prefix-bs}btn-color);
        }
    }

    &.readonly,
    &.disabled,
    &:disabled {
        --#{$prefix-bs}btn-state-box-shadow: none;
        cursor: default;
    }

    &.#{$prefix}btn-tonal,
    &[class*='btn-outline'] {
        --#{$prefix-bs}btn-hover-box-shadow: #{$z-depth-half};
        --#{$prefix-bs}btn-active-box-shadow: none;
    }

    &[class*='btn-outline'] {
        --#{$prefix-bs}btn-disabled-bg: transparent;
        --#{$prefix-bs}btn-disabled-color: #{$gray-500};
        --#{$prefix-bs}btn-disabled-border-color: #{round-color-rgb(color.adjust($gray-500, $lightness: 8%))};
    }

    &.#{$prefix}btn-raised {
        --#{$prefix-bs}btn-initial-box-shadow: #{$z-depth-1};
        --#{$prefix-bs}btn-active-box-shadow: #{$z-depth-1};
        --#{$prefix-bs}btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--#{$prefix-bs}btn-focus-shadow-rgb), 0.5);
        --#{$prefix-bs}btn-hover-box-shadow: #{$z-depth-1-half};

        &.readonly,
        &.disabled,
        &:disabled {
            &:active,
            &:focus,
            &:hover {
                --#{$prefix-bs}btn-state-box-shadow: --#{$prefix-bs}btn-initial-box-shadow;
            }
        }
    }

    > .#{$prefix}ripple {
        @include border-radius(var(--#{$prefix-bs}btn-border-radius));
        @include display-flex();
        padding: 0;

        &.dropdown-toggle {
            &::after {
                @include align-self(center);
                margin-right: 0.875rem;
                margin-left: 0;
            }

            > .#{$prefix}btn-inner {
                padding-right: calc(var(--#{$prefix-bs}btn-state-padding-x) - 0.2rem);
            }
        }
    }

    .#{$prefix}btn-inner {
        @include flexbox(
            (
                display: flex,
                justify-content: center,
                align-items: center,
            )
        );
        line-height: var(--#{$prefix-bs}btn-line-height);
        padding: var(--#{$prefix-bs}btn-state-padding-y) var(--#{$prefix-bs}btn-state-padding-x);
        width: 100%;

        .#{$prefix}icon-left,
        .#{$prefix}icon-right {
            @include transition(
                width 200ms $md-transition-default-timing,
                visibility 0ms $md-transition-default-timing
            );

            &.#{$prefix}empty-icon {
                width: 0;
            }
        }

        .#{$prefix}icon-left {
            margin-right: $padding-sm;
            margin-left: -$padding-sm;
        }

        .#{$prefix}icon-right {
            margin-left: $padding-sm;
            margin-right: -$padding-sm;
        }
    }

    &.btn-xs {
        --#{$prefix-bs}btn-border-radius: #{$border-radius-sm};
        --#{$prefix-bs}btn-font-size: 0.75rem;
        --#{$prefix-bs}btn-line-height: 1;
        --#{$prefix-bs}btn-state-padding-x: var(--#{$prefix-bs}btn-xs-inner-padding-x);
        --#{$prefix-bs}btn-state-padding-y: var(--#{$prefix-bs}btn-xs-inner-padding-y);

        .#{$prefix}btn-inner {
            .#{$prefix}icon-left {
                margin-left: -$padding-xs;
            }

            .#{$prefix}icon-right {
                margin-right: -$padding-xs;
            }
        }
    }

    &.btn-sm {
        --#{$prefix-bs}btn-line-height: 1.3;
        --#{$prefix-bs}btn-state-padding-x: var(--#{$prefix-bs}btn-sm-inner-padding-x);
        --#{$prefix-bs}btn-state-padding-y: var(--#{$prefix-bs}btn-sm-inner-padding-y);
    }

    &.btn-lg {
        --#{$prefix-bs}btn-border-radius: #{$btn-border-radius-lg};
        --#{$prefix-bs}btn-state-padding-x: var(--#{$prefix-bs}btn-lg-inner-padding-x);
        --#{$prefix-bs}btn-state-padding-y: var(--#{$prefix-bs}btn-lg-inner-padding-y);
    }

    &.#{$prefix}rounded-sm {
        --#{$prefix-bs}btn-border-radius: #{$border-radius-sm};
    }

    &.#{$prefix}rounded-pill {
        --#{$prefix-bs}btn-border-radius: #{$border-radius-pill};
    }

    &[class*='btn-flat'] {
        $disabled-color: round-color-rgb(color.adjust($gray-500, $lightness: 25%));

        --#{$prefix-bs}btn-disabled-bg: #{$disabled-color};
        --#{$prefix-bs}btn-disabled-border-color: #{$disabled-color};
        --#{$prefix-bs}btn-disabled-color: #{$gray-600};
        --#{$prefix-bs}btn-inner-padding-x: 0.75rem;
        --#{$prefix-bs}btn-lg-inner-padding-x: 0.875rem;
        --#{$prefix-bs}btn-sm-inner-padding-x: 0.625rem;

        .#{$prefix}btn-inner {
            .#{$prefix}icon-left {
                margin-left: 0;
            }

            .#{$prefix}icon-right {
                margin-right: 0;
            }
        }
    }

    &.#{$prefix}btn-fab,
    &[class*='btn-flat'],
    &[class*='btn-outline'] {
        &:active {
            color: var(--#{$prefix-bs}btn-hover-color);
        }
    }

    &.#{$prefix}btn-fab,
    &.#{$prefix}btn-tonal,
    &[class*='btn-flat'],
    &[class*='btn-outline'] {
        --#{$prefix-bs}btn-font-weight: 500;
    }

    &.#{$prefix}btn-fab {
        --#{$prefix-bs}btn-inner-padding-x: #{$padding-base};
        --#{$prefix-bs}btn-inner-padding-y: #{$padding-base};
        --#{$prefix-bs}btn-lg-inner-padding-x: #{$padding-lg};
        --#{$prefix-bs}btn-lg-inner-padding-y: #{$padding-lg};
        --#{$prefix-bs}btn-sm-inner-padding-x: #{$padding-sm};
        --#{$prefix-bs}btn-sm-inner-padding-y: #{$padding-sm};
        --#{$prefix-bs}btn-xs-inner-padding-x: 0.375rem;
        --#{$prefix-bs}btn-xs-inner-padding-y: 0.375rem;
        --#{$prefix-bs}btn-border-radius: var(--#{$prefix-bs}btn-inner-padding-x);
        //position: absolute;

        &:not([class*='btn-flat']):not(.#{$prefix}btn-raised) {
            --#{$prefix-bs}btn-initial-box-shadow: #{$z-depth-half};
        }

        &[class*='btn-outline']:not(.#{$prefix}btn-raised) {
            --#{$prefix-bs}btn-active-box-shadow: #{$z-depth-1};
            --#{$prefix-bs}btn-hover-box-shadow: #{$z-depth-1};
        }

        .#{$prefix}icon-left {
            margin-left: -$padding-xs;
        }

        .#{$prefix}icon-right {
            margin-right: -$padding-xs;
        }

        &.btn-xs,
        &.btn-sm {
            .#{$prefix}icon-left {
                margin-left: 0;
                margin-right: $padding-xs;
            }

            .#{$prefix}icon-right {
                margin-right: 0;
                margin-left: $padding-xs;
            }
        }

        &.btn-xs {
            --#{$prefix-bs}btn-border-radius: var(--#{$prefix-bs}btn-sm-inner-padding-x);
        }

        &.btn-sm {
            --#{$prefix-bs}btn-border-radius: calc(
                var(--#{$prefix-bs}btn-sm-inner-padding-x) + 0.25rem
            );
        }

        &.btn-lg {
            --#{$prefix-bs}btn-border-radius: var(--#{$prefix-bs}btn-lg-inner-padding-x);
        }
    }

    ~ .btn,
    ~ .#{$prefix}dropdown-menu {
        margin-left: $padding-sm;
    }
}

.#{$prefix}btn-icon {
    $disabled-bg: round-color-rgb(color.adjust($gray-500, $lightness: 20%));
    $disabled-border-color: round-color-rgb(color.adjust($gray-500, $lightness: 20%));

    --#{$prefix-bs}btn-border-width: 1px;
    --#{$prefix-bs}btn-border-radius: #{$border-radius-circle};
    --#{$prefix-bs}btn-disabled-bg: #{$disabled-bg};
    --#{$prefix-bs}btn-disabled-border-color: #{$disabled-border-color};
    --#{$prefix-bs}btn-disabled-color: #{$gray-700};
    --#{$prefix-bs}btn-disabled-opacity: 0.65;
    --#{$prefix-bs}btn-readonly-opacity: 0.75;

    --#{$prefix-bs}btn-initial-box-shadow: none;
    --#{$prefix-bs}btn-active-box-shadow: #{$z-depth-half};
    --#{$prefix-bs}btn-focus-box-shadow: 0 0 0 0.25rem
        rgba(var(--#{$prefix-bs}btn-focus-shadow-rgb), 0.5);
    --#{$prefix-bs}btn-hover-box-shadow: #{$z-depth-1};

    --#{$prefix-bs}btn-line-height: 2.25rem;   // 36px
    --#{$prefix-bs}btn-lg-line-height: 3.5rem; // 56px
    --#{$prefix-bs}btn-sm-line-height: 2rem;   // 32px
    --#{$prefix-bs}btn-xs-line-height: 1.5rem; // 24px

    --#{$prefix-bs}btn-height: 2.375rem;   // 38px
    --#{$prefix-bs}btn-width: 2.375rem;    // 38px
    --#{$prefix-bs}btn-lg-height: 3.5rem;  // 56px
    --#{$prefix-bs}btn-lg-width: 3.5rem;   // 56px
    --#{$prefix-bs}btn-sm-height: 2rem;    // 32px
    --#{$prefix-bs}btn-sm-width: 2rem;     // 32px
    --#{$prefix-bs}btn-xs-height: 1.5rem;  // 24px
    --#{$prefix-bs}btn-xs-width: 1.5rem;   // 24px

    --#{$prefix-bs}btn-state-box-shadow: var(--#{$prefix-bs}btn-initial-box-shadow);
    --#{$prefix-bs}btn-state-bg: var(--#{$prefix-bs}btn-bg);
    --#{$prefix-bs}btn-state-border-color: var(--#{$prefix-bs}btn-border-color);
    --#{$prefix-bs}btn-state-color: var(--#{$prefix-bs}btn-color);
    --#{$prefix-bs}btn-state-line-height: var(--#{$prefix-bs}btn-line-height);
    --#{$prefix-bs}btn-inner-state-height: var(--#{$prefix-bs}btn-height);
    --#{$prefix-bs}btn-inner-state-width: var(--#{$prefix-bs}btn-width);

    @include transition($btn-transition);
    @include border-radius(var(--#{$prefix-bs}btn-border-radius));
    @include box-shadow(var(--#{$prefix-bs}btn-state-box-shadow));

    background-color: var(--#{$prefix-bs}btn-state-bg);
    border: var(--#{$prefix-bs}btn-border-width) solid var(--#{$prefix-bs}btn-state-border-color);
    color: var(--#{$prefix-bs}btn-state-color);
    cursor: pointer;
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    line-height: var(--#{$prefix-bs}btn-state-line-height);
    outline: 0;

    &:hover {
        --#{$prefix-bs}btn-state-box-shadow: var(--#{$prefix-bs}btn-hover-box-shadow);
        --#{$prefix-bs}btn-state-bg: var(--#{$prefix-bs}btn-hover-bg);
        --#{$prefix-bs}btn-state-color: var(--#{$prefix-bs}btn-hover-color);
        --#{$prefix-bs}btn-state-border-color: var(--#{$prefix-bs}btn-hover-border-color);
    }

    &.active,
    &:active,
    &:focus,
    &.focused {
        --#{$prefix-bs}btn-state-bg: var(--#{$prefix-bs}btn-active-bg);
        --#{$prefix-bs}btn-state-border-color: var(--#{$prefix-bs}btn-active-border-color);
        --#{$prefix-bs}btn-state-box-shadow: var(--#{$prefix-bs}btn-active-box-shadow);
    }

    &.active {
        --#{$prefix-bs}btn-state-color: var(--#{$prefix-bs}btn-active-color);
    }

    &:not([disabled]):not(.disabled):not(.readonly):active:focus,
    &:not([disabled]):not(.disabled):not(.readonly).active:focus,
    .show > &.dropdown-toggle {
        @include box-shadow(var(--#{$prefix-bs}btn-focus-box-shadow));
    }

    &.readonly {
        --#{$prefix-bs}btn-state-box-shadow: none;
        opacity: var(--#{$prefix-bs}btn-readonly-opacity);
        cursor: default;

        &:hover {
            --#{$prefix-bs}btn-state-bg: var(--#{$prefix-bs}btn-bg);
        }
    }

    &:disabled,
    &.disabled {
        --#{$prefix-bs}btn-state-box-shadow: none;
        --#{$prefix-bs}btn-state-bg: var(--#{$prefix-bs}btn-disabled-bg);
        --#{$prefix-bs}btn-state-border-color: var(--#{$prefix-bs}btn-disabled-border-color);
        --#{$prefix-bs}btn-state-color: var(--#{$prefix-bs}btn-disabled-color);

        opacity: var(--#{$prefix-bs}btn-disabled-opacity);
        pointer-events: none;
        cursor: default;

        &[class*='btn-outline'] {
            --#{$prefix-bs}btn-state-bg: transparent;
            --#{$prefix-bs}btn-state-border-color: #{round-color-rgb(color.adjust($gray-500, $lightness: 8%))};
            --#{$prefix-bs}btn-state-color: #{$gray-500};
        }

        &[class*='btn-flat'] {
            $disabled-color: round-color-rgb(color.adjust($gray-500, $lightness: 25%));
            --#{$prefix-bs}btn-state-bg: #{$disabled-color};
            --#{$prefix-bs}btn-state-border-color: #{$disabled-color};
            --#{$prefix-bs}btn-state-color: #{$gray-600};
        }
    }

    > .#{$prefix}ripple {
        @include display-flex();
        @include border-radius(var(--#{$prefix-bs}btn-border-radius));

        width: var(--#{$prefix-bs}btn-inner-state-width);
        height: var(--#{$prefix-bs}btn-inner-state-height);

        > .#{$prefix}btn-inner {
            @include flexbox(
                (
                    display: flex,
                    justify-content: center,
                    align-items: center,
                )
            );
            width: 100%;
            position: relative;
        }
    }

    &.btn-xs {
        --#{$prefix-bs}btn-state-line-height: var(--#{$prefix-bs}btn-xs-line-height);
        --#{$prefix-bs}btn-inner-state-height: var(--#{$prefix-bs}btn-xs-height);
        --#{$prefix-bs}btn-inner-state-width: var(--#{$prefix-bs}btn-xs-width);
    }

    &.btn-sm {
        --#{$prefix-bs}btn-state-line-height: var(--#{$prefix-bs}btn-sm-line-height);
        --#{$prefix-bs}btn-inner-state-height: var(--#{$prefix-bs}btn-sm-height);
        --#{$prefix-bs}btn-inner-state-width: var(--#{$prefix-bs}btn-sm-width);
    }

    &.btn-lg {
        --#{$prefix-bs}btn-state-line-height: var(--#{$prefix-bs}btn-lg-line-height);
        --#{$prefix-bs}btn-inner-state-height: var(--#{$prefix-bs}btn-lg-height);
        --#{$prefix-bs}btn-inner-state-width: var(--#{$prefix-bs}btn-lg-width);
    }

    .#{$prefix}ripple-enter-active {
        @include transition-duration(1.2s);
    }

    ~ .#{$prefix}btn-icon {
        margin-left: $padding-xs;
    }
}

@each $btn_name, $color_value in map-remove($merge-theme-colors, 'black') {
    @include make-button-variant($btn_name, $color_value);
    @include make-outline-button-variant($btn_name, $color_value);
    @include make-flat-button-variant($btn_name, $color_value);
}

[class*='btn-flat'] {
    --#{$prefix-bs}btn-initial-box-shadow: none;
    --#{$prefix-bs}btn-active-box-shadow: none;
    --#{$prefix-bs}btn-focus-box-shadow: #{$z-depth-half};
    --#{$prefix-bs}btn-hover-box-shadow: none;
    --#{$prefix-bs}btn-bg: transparent;
    --#{$prefix-bs}btn-border-color: transparent;
    --#{$prefix-bs}btn-active-border-color: transparent;
    --#{$prefix-bs}btn-hover-border-color: transparent;

    &.#{$prefix}btn-raised {
        --#{$prefix-bs}btn-initial-box-shadow: #{$z-depth-half};
        --#{$prefix-bs}btn-active-box-shadow: #{$z-depth-1};
        --#{$prefix-bs}btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--#{$prefix-bs}btn-focus-shadow-rgb), 0.5);
        --#{$prefix-bs}btn-hover-box-shadow: #{$z-depth-1-half};
    }
}

.btn-group {
    > .btn:not(:last-child) {
        .#{$prefix}ripple {
            @include border-right-radius(0);
        }
    }

    > .btn:not(:first-child) {
        .#{$prefix}ripple {
            @include border-left-radius(0);
        }
    }

    > .btn ~ .#{$prefix}dropdown-menu {
        margin-left: 0;
    }

    > .#{$prefix}dropdown-menu {
        margin-right: 0;

        &:not(:last-child) {
            > .#{$prefix}dropdown-menu-activator {
                > .btn,
                > .btn > .#{$prefix}ripple {
                    @include border-right-radius(0);
                }
            }
        }

        &:not(:first-child) {
            > .#{$prefix}dropdown-menu-activator {
                > .btn,
                > .btn > .#{$prefix}ripple {
                    @include border-left-radius(0);
                }
            }
        }
    }

    > .btn,
    > .#{$prefix}dropdown-menu .btn {
        &[class*='btn-outline'] {
            --#{$prefix-bs}btn-color: #{$gray-600};
        }
    }
}

.#{$prefix}field {
    &.#{$prefix}toggle-field {
        --#{$prefix}field-padding-start: #{$padding-xs};
    }
}
