@use "../../../scss/mixins/css3/borders";
@use "../../../scss/color_vars" as colors;
@use "../../../scss/variables" as vars;

.#{vars.$prefix}dropdown-menu {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: vars.$padding-sm;

    .#{vars.$prefix}dropdown-menu-activator {
        position: relative;

        > * {
            cursor: pointer;
        }
    }

    // ~ .#{vars.$prefix}btn-icon {
    //     margin-left: $padding-xs;
    // }
}

.#{vars.$prefix}popover-dropdown-menu {
    --#{vars.$prefix}menu-border-radius: var(--#{vars.$prefix-bs}border-radius);

    @include borders.radius(var(--#{vars.$prefix}menu-border-radius));

    > .#{vars.$prefix}list {
        @include borders.radius(var(--#{vars.$prefix}menu-border-radius));

        .#{vars.$prefix}divider {
            margin-bottom: 3px;
            margin-top: 3px;
        }
    }
}
