@use 'sass:color';
@use '../../../scss/mixins/css3/breakpoints' as media;
@use '../../../scss/mixins/css3/borders';
@use '../../../scss/color_vars' as colors;
@use '../../../scss/variables' as vars;

@layer components {
  .#{vars.$prefix}tabs {
    --#{vars.$prefix}tab-content-padding: #{vars.$padding-md + 0.25};
    --#{vars.$prefix}tab-placement-top-shadow: #{vars.$tabs-placement-top-shadow};
    --#{vars.$prefix}tab-placement-bottom-shadow: #{vars.$tabs-placement-bottom-shadow};
    --#{vars.$prefix}tab-placement-left-shadow: #{vars.$tabs-placement-left-shadow};
    --#{vars.$prefix}tab-placement-right-shadow: #{vars.$tabs-placement-right-shadow};
    --#{vars.$prefix}tab-spacing: #{vars.$tabs-spacing};

    --#{vars.$prefix}tab-item-padding: #{vars.$tabs-item-padding};
    --#{vars.$prefix}tab-item-color: #{rgba(colors.$white, 0.6)};
    --#{vars.$prefix}tab-item-active-color: #{colors.$white};
    --#{vars.$prefix}tab-item-hover-color: #{rgba(colors.$white, 0.8)};
    --#{vars.$prefix}tab-item-disabled-color: #{rgba(colors.$white, 0.3)};
    // prettier-ignore
    --#{vars.$prefix}tab-item-font-weight: var(--font-weight-medium, #{vars.$font-weight-medium});
    --#{vars.$prefix}tab-item-font-size: 0.95rem;

    // prettier-ignore
    --#{vars.$prefix}tab-tabs-background: var(--#{vars.$prefix}card-cap-bg, #{vars.$card-cap-bg});
    // prettier-ignore
    --#{vars.$prefix}tab-tabs-border-radius: var(--#{vars.$prefix}radius, #{vars.$radius-md});
    // prettier-ignore
    --#{vars.$prefix}tab-tabs-border-color: var(--#{vars.$prefix}card-border-color, #{vars.$card-border-color});
    // prettier-ignore
    --#{vars.$prefix}tab-tabs-border-width: var(--#{vars.$prefix}card-border-width, thin);
    --#{vars.$prefix}tab-tabs-active-bg: #{colors.$white};
    --#{vars.$prefix}tab-tabs-active-border-color: #{colors.$gray-300};
    --#{vars.$prefix}tab-tabs-hover-border-color: #{colors.$gray-200};
    // prettier-ignore
    --#{vars.$prefix}tab-tabs-color: #{color.mix(colors.$mdb-default-color, color.change(colors.$gray-800, $alpha: 0.8), 30%)};
    --#{vars.$prefix}tab-tabs-disabled-color: #{colors.$gray-600};
    // prettier-ignore
    --#{vars.$prefix}tab-tabs-hover-color: var(--#{vars.$prefix}field-active-indicator);
    // prettier-ignore
    --#{vars.$prefix}tab-tabs-margin-x: var(--#{vars.$prefix}card-cap-padding-x, #{vars.$card-cap-padding-x});
    // prettier-ignore
    --#{vars.$prefix}tab-tabs-margin-y: var(--#{vars.$prefix}card-cap-padding-y, #{vars.$card-cap-padding-y});

    // prettier-ignore
    --#{vars.$prefix}tab-pills-background: var(--#{vars.$prefix}card-cap-bg, #{vars.$card-cap-bg});
    // prettier-ignore
    --#{vars.$prefix}tab-pills-border-radius: var(--#{vars.$prefix}radius, #{vars.$radius-md});
    // prettier-ignore
    --#{vars.$prefix}tab-pills-border-color: var(--#{vars.$prefix}card-border-color, #{vars.$card-border-color});
    // prettier-ignore
    --#{vars.$prefix}tab-pills-border-width: var(--#{vars.$prefix}card-border-width, thin);
    // prettier-ignore
    --#{vars.$prefix}tab-pills-color: #{color.mix(colors.$mdb-default-color, color.change(colors.$gray-800, $alpha: 0.8), 30%)};
    --#{vars.$prefix}tab-pills-active-bg: var(--#{vars.$prefix}field-primary-indicator);
    --#{vars.$prefix}tab-pills-active-color: #{colors.$white};
    --#{vars.$prefix}tab-pills-hover-color: var(--#{vars.$prefix}field-active-indicator);
    --#{vars.$prefix}tab-pills-disabled-color: #{colors.$gray-600};
    --#{vars.$prefix}tab-pills-margin: #{vars.$tabs-pills-margin};

    --#{vars.$prefix}tab-material-padding: #{vars.$tabs-material-padding};
    --#{vars.$prefix}tab-material-margin-start: #{vars.$padding-md};
    --#{vars.$prefix}tab-material-margin-end: #{vars.$padding-md};
    --#{vars.$prefix}tab-material-indicator-active-color: #{colors.$white};
    // prettier-ignore
    --#{vars.$prefix}tab-material-indicator-border: #{vars.$tabs-material-indicator-border};

    // prettier-ignore
    --#{vars.$prefix}tab-modern-border-radius: var(--#{vars.$prefix}radius-pill, #{vars.$tabs-modern-border-radius});
    --#{vars.$prefix}tab-modern-active-bg: #{rgba(colors.$black, 0.2)};
    --#{vars.$prefix}tab-modern-margin: #{vars.$tabs-modern-margin};

    transition: vars.$transition-leave;

    @include media.breakpoint-down(sm) {
      // prettier-ignore
      --#{vars.$prefix}tab-content-padding: #{vars.$padding-md + 0.25} #{vars.$padding-md - 0.25};
    }

    > .#{vars.$prefix}tab-content {
      padding: var(--#{vars.$prefix}tab-content-padding);
      transition: all vars.$transition-default;
      overflow: hidden;
      position: relative;
    }
  }

  .tab-item-link {
    cursor: pointer;
    outline: 0 none;
    padding: 0;
    display: block;
    text-decoration: none;
    transition: vars.$tabs-item-link-transition;

    &.disabled,
    &:disabled {
      pointer-events: none;
      cursor: default;
    }

    > .#{vars.$prefix}ripple {
      font-size: var(--#{vars.$prefix}tab-item-font-size);
      font-weight: var(--#{vars.$prefix}tab-item-font-weight);
      padding: var(--#{vars.$prefix}tab-item-padding);
      user-select: none;
    }

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }

  .#{vars.$prefix}tab-items {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    &.#{vars.$prefix}tab-top,
    &.#{vars.$prefix}tab-bottom {
      flex-wrap: nowrap;
      overflow-x: hidden;
      position: relative;

      > .tab-sliding {
        display: flex;
        flex: 1 0 auto;
        position: relative;
        transition: transform 0.6s cubic-bezier(0.25, 0.8, 0.5, 1);
      }
    }

    &.#{vars.$prefix}tabs-tabs {
      .tab-item-link {
        color: var(--#{vars.$prefix}tab-tabs-color);

        &:hover,
        &:focus {
          color: var(--#{vars.$prefix}tab-tabs-hover-color);
        }

        &.active {
          background-color: var(--#{vars.$prefix}tab-tabs-active-bg);
        }

        &.disabled,
        &:disabled {
          color: var(--#{vars.$prefix}tab-tabs-disabled-color);
        }
      }

      &.#{vars.$prefix}tab-left {
        background-color: var(--#{vars.$prefix}tab-tabs-background);
        // prettier-ignore
        border-right: var(--#{vars.$prefix}tab-tabs-border-width) solid var(--#{vars.$prefix}tab-tabs-border-color);
        // prettier-ignore
        padding: var(--#{vars.$prefix}tab-tabs-margin-x) 0 var(--#{vars.$prefix}tab-tabs-margin-x) var(--#{vars.$prefix}tab-tabs-margin-x);

        > .tab-item-link {
          @include borders.end-radius(0);
          @include borders.start-radius(var(--#{vars.$prefix}tab-tabs-border-radius));
          margin-right: -1px;

          &.active {
            // prettier-ignore
            border-color: var(--#{vars.$prefix}tab-tabs-active-border-color) #{colors.$white} var(--#{vars.$prefix}tab-tabs-active-border-color) var(--#{vars.$prefix}tab-tabs-active-border-color);
          }
        }
      }

      &.#{vars.$prefix}tab-right {
        background-color: var(--#{vars.$prefix}tab-tabs-background);
        // prettier-ignore
        border-left: var(--#{vars.$prefix}tab-tabs-border-width) solid var(--#{vars.$prefix}tab-tabs-border-color);
        // prettier-ignore
        padding: var(--#{vars.$prefix}tab-tabs-margin-x) var(--#{vars.$prefix}tab-tabs-margin-x) var(--#{vars.$prefix}tab-tabs-margin-x) 0;

        > .tab-item-link {
          @include borders.start-radius(0);
          @include borders.end-radius(var(--#{vars.$prefix}tab-tabs-border-radius));
          margin-left: -1px;

          &.active {
            // prettier-ignore
            border-color: var(--#{vars.$prefix}tab-tabs-active-border-color) var(--#{vars.$prefix}tab-tabs-active-border-color) var(--#{vars.$prefix}tab-tabs-active-border-color) #{colors.$white};
          }
        }
      }

      &.#{vars.$prefix}tab-top,
      &.#{vars.$prefix}tab-bottom {
        > .tab-sliding {
          padding-left: var(--#{vars.$prefix}tab-tabs-margin-x);
          padding-right: var(--#{vars.$prefix}tab-tabs-margin-x);
        }
      }

      &.#{vars.$prefix}tab-top {
        padding: var(--#{vars.$prefix}tab-tabs-margin-y) 0 0 0;
        border-bottom-width: 0;

        > .tab-sliding {
          // prettier-ignore
          border-bottom: var(--#{vars.$prefix}tab-tabs-border-width) solid var(--#{vars.$prefix}tab-tabs-border-color);
        }

        .tab-item-link {
          @include borders.bottom-radius(0);
          @include borders.top-radius(var(--#{vars.$prefix}tab-tabs-border-radius));
          margin-bottom: -1px;

          &:hover,
          &:focus {
            // prettier-ignore
            border-color:  var(--#{vars.$prefix}tab-tabs-hover-border-color) var(--#{vars.$prefix}tab-tabs-hover-border-color) var(--#{vars.$prefix}tab-tabs-active-border-color);
          }

          &.active {
            // prettier-ignore
            border-color:  var(--#{vars.$prefix}tab-tabs-active-border-color) var(--#{vars.$prefix}tab-tabs-active-border-color) #{colors.$white};
          }
        }
      }

      &.#{vars.$prefix}tab-bottom {
        padding: 0 0 var(--#{vars.$prefix}tab-tabs-margin-y) 0;
        border-bottom-width: 0;
        border-top-width: 0;

        > .tab-sliding {
          // prettier-ignore
          border-top: var(--#{vars.$prefix}tab-tabs-border-width) solid var(--#{vars.$prefix}tab-tabs-border-color);
        }

        .tab-item-link {
          @include borders.top-radius(0);
          @include borders.bottom-radius(var(--#{vars.$prefix}tab-tabs-border-radius));
          margin-top: -1px;

          &:hover,
          &:focus {
            // prettier-ignore
            border-color:  var(--#{vars.$prefix}tab-tabs-active-border-color) var(--#{vars.$prefix}tab-tabs-hover-border-color) var(--#{vars.$prefix}tab-tabs-hover-border-color);
          }

          &.active {
            // prettier-ignore
            border-color: #{colors.$white} var(--#{vars.$prefix}tab-tabs-active-border-color) var(--#{vars.$prefix}tab-tabs-active-border-color);
          }
        }
      }
    }

    &.#{vars.$prefix}tabs-pills {
      padding: var(--#{vars.$prefix}tab-pills-margin);

      .tab-item-link {
        color: var(--#{vars.$prefix}tab-pills-color);

        > .#{vars.$prefix}ripple {
          @include borders.radius(var(--#{vars.$prefix}tab-pills-border-radius));
        }

        &:hover,
        &:focus {
          color: var(--#{vars.$prefix}tab-pills-hover-color);
        }

        &.active {
          background-color: var(--#{vars.$prefix}tab-pills-active-bg);
          color: var(--#{vars.$prefix}tab-pills-active-color);
          box-shadow: vars.$z-depth-1;
        }

        &.disabled,
        &:disabled {
          color: var(--#{vars.$prefix}tab-pills-disabled-color);
        }
      }

      &.#{vars.$prefix}tab-left {
        background-color: var(--#{vars.$prefix}tab-pills-background);
        // prettier-ignore
        border-right: var(--#{vars.$prefix}tab-pills-border-width) solid var(--#{vars.$prefix}tab-pills-border-color);
      }

      &.#{vars.$prefix}tab-right {
        background-color: var(--#{vars.$prefix}tab-pills-background);
        // prettier-ignore
        border-left: var(--#{vars.$prefix}tab-pills-border-width) solid var(--#{vars.$prefix}tab-pills-border-color);
      }
    }

    &.#{vars.$prefix}tabs-material {
      position: relative;

      .tab-item-link {
        //@include borders.radius(0);
        background-color: transparent;
        border-color: transparent;
        border-style: solid;
        border-width: 0;
        list-style: none;
        color: var(--#{vars.$prefix}tab-item-color);
        transition: vars.$transition-default;

        > .#{vars.$prefix}ripple {
          padding: var(--#{vars.$prefix}tab-material-padding);
        }

        &:hover {
          color: var(--#{vars.$prefix}tab-item-hover-color);
        }

        &.active {
          color: var(--#{vars.$prefix}tab-item-active-color);
        }

        &.disabled {
          color: var(--#{vars.$prefix}tab-item-disabled-color);
        }
      }

      &.#{vars.$prefix}tab-top {
        box-shadow: var(--#{vars.$prefix}tab-placement-top-shadow);

        .tab-item-link {
          border-bottom-width: var(--#{vars.$prefix}tab-material-indicator-border);

          &.active {
            border-bottom-color: var(--#{vars.$prefix}tab-material-indicator-active-color);
          }
        }
      }

      &.#{vars.$prefix}tab-bottom {
        box-shadow: var(--#{vars.$prefix}tab-placement-bottom-shadow);

        .tab-item-link {
          border-top-width: var(--#{vars.$prefix}tab-material-indicator-border);

          &.active {
            border-top-color: var(--#{vars.$prefix}tab-material-indicator-active-color);
          }
        }
      }

      &.#{vars.$prefix}tab-left {
        box-shadow: var(--#{vars.$prefix}tab-placement-left-shadow);

        > .tab-item-link {
          border-right-width: var(--#{vars.$prefix}tab-material-indicator-border);

          &.active {
            border-right-color: var(--#{vars.$prefix}tab-material-indicator-active-color);
          }
        }
      }

      &.#{vars.$prefix}tab-right {
        box-shadow: var(--#{vars.$prefix}tab-placement-right-shadow);

        > .tab-item-link {
          border-left-width: var(--#{vars.$prefix}tab-material-indicator-border);

          &.active {
            border-left-color: var(--#{vars.$prefix}tab-material-indicator-active-color);
          }
        }
      }

      &.#{vars.$prefix}tab-top,
      &.#{vars.$prefix}tab-bottom {
        .tab-item-link {
          @include media.breakpoint-up(lg) {
            &:first-child {
              margin-left: var(--#{vars.$prefix}tab-material-margin-start);
            }

            &:last-child {
              margin-right: var(--#{vars.$prefix}tab-material-margin-end);
            }
          }
        }
      }
    }

    &.#{vars.$prefix}tabs-modern {
      //border-width: 0;
      padding: var(--#{vars.$prefix}tab-modern-margin);

      &.#{vars.$prefix}tab-top {
        box-shadow: var(--#{vars.$prefix}tab-placement-top-shadow);
      }

      &.#{vars.$prefix}tab-bottom {
        box-shadow: var(--#{vars.$prefix}tab-placement-bottom-shadow);
      }

      .tab-item-link {
        @include borders.radius(var(--#{vars.$prefix}tab-modern-border-radius));
        //border-width: 0 !important;
        color: var(--#{vars.$prefix}tab-item-color);

        > .#{vars.$prefix}ripple {
          @include borders.radius(var(--#{vars.$prefix}tab-modern-border-radius));
        }

        &:hover {
          color: var(--#{vars.$prefix}tab-item-hover-color);
        }

        &.active {
          background-color: var(--#{vars.$prefix}tab-modern-active-bg);
          color: var(--#{vars.$prefix}tab-item-active-color);
        }

        &.disabled {
          color: var(--#{vars.$prefix}tab-item-disabled-color);
        }
      }
    }

    &.#{vars.$prefix}tabs-pills,
    &.#{vars.$prefix}tabs-modern {
      &.#{vars.$prefix}tab-top,
      &.#{vars.$prefix}tab-bottom {
        .tab-item + .tab-item {
          margin-left: var(--#{vars.$prefix}tab-spacing);
        }
      }

      &.#{vars.$prefix}tab-left,
      &.#{vars.$prefix}tab-right {
        .tab-item + .tab-item {
          margin-top: var(--#{vars.$prefix}tab-spacing);
        }
      }
    }
  }

  .#{vars.$prefix}card {
    > .#{vars.$prefix}tabs {
      &:first-child {
        .#{vars.$prefix}tabs-pills,
        .#{vars.$prefix}tabs-material,
        .#{vars.$prefix}tabs-modern {
          &.#{vars.$prefix}tab-top {
            @include borders.top-radius(var(--#{vars.$prefix}card-border-radius));
          }

          &.#{vars.$prefix}tab-left {
            @include borders.top-start-radius(var(--#{vars.$prefix}card-border-radius));
          }

          &.#{vars.$prefix}tab-right {
            @include borders.top-end-radius(var(--#{vars.$prefix}card-border-radius));
          }
        }
      }

      &:last-child {
        .#{vars.$prefix}tabs-pills,
        .#{vars.$prefix}tabs-material,
        .#{vars.$prefix}tabs-modern {
          &.#{vars.$prefix}tab-bottom {
            @include borders.bottom-radius(var(--#{vars.$prefix}card-border-radius));
          }

          &.#{vars.$prefix}tab-left {
            @include borders.bottom-start-radius(var(--#{vars.$prefix}card-border-radius));
          }

          &.#{vars.$prefix}tab-right {
            @include borders.bottom-end-radius(var(--#{vars.$prefix}card-border-radius));
          }
        }
      }
    }

    &.rounded-0 {
      .#{vars.$prefix}tabs {
        .#{vars.$prefix}tabs-pills,
        .#{vars.$prefix}tabs-material,
        .#{vars.$prefix}tabs-modern {
          @include borders.radius(0);
        }
      }
    }
  }
}
