@use "sass:color";
@use "../../../scss/mixins/css3/breakpoints" as media;
@use "../../../scss/mixins/css3/borders";
@use "../../../scss/color_vars" as colors;
@use "../../../scss/variables" as vars;

.#{vars.$prefix}tabs {
    --#{vars.$prefix}tabs-content-padding: #{$padding-md + .25};
    --#{vars.$prefix}tabs-item-padding: #{vars.$tabs-item-padding};
    --#{vars.$prefix}tabs-item-spacing: #{vars.$tabs-item-spacing};
    --#{vars.$prefix}tabs-item-color: #{rgba(colors.$white, .6)};
    --#{vars.$prefix}tabs-item-active-color: #{colors.$white};
    --#{vars.$prefix}tabs-item-hover-color: #{rgba(colors.$white, .8)};
    --#{vars.$prefix}tabs-item-disabled-color: #{rgba(colors.$white, .3)};
    --#{vars.$prefix}tabs-item-font-weight: #{$font-weight-medium};
    --#{vars.$prefix}tabs-nav-active-border-color: #{colors.$gray-300};
    --#{vars.$prefix}tabs-nav-margin-x: #{vars.$card-cap-padding-x};
    --#{vars.$prefix}tabs-nav-margin-y: #{vars.$card-cap-padding-y};
    --#{vars.$prefix}tabs-material-padding: #{vars.$tabs-material-padding};
    --#{vars.$prefix}tabs-material-margin-start: #{$padding-md};
    --#{vars.$prefix}tabs-material-margin-end: #{$padding-md};
    --#{vars.$prefix}tabs-material-indicator-active-color: #{colors.$white};
    --#{vars.$prefix}tabs-material-indicator-border: #{vars.$tabs-material-indicator-border};
    --#{vars.$prefix}tabs-modern-border-radius: #{vars.$tabs-modern-border-radius};
    --#{vars.$prefix}tabs-modern-padding: #{vars.$tabs-modern-padding};
    --#{vars.$prefix}tabs-modern-active-bgcolor: #{rgba(colors.$black, .2)};
    --#{vars.$prefix}tabs-placement-top-shadow: #{vars.$tabs-placement-top-shadow};
    --#{vars.$prefix}tabs-placement-bottom-shadow: #{vars.$tabs-placement-bottom-shadow};
    --#{vars.$prefix}tabs-placement-left-shadow: #{vars.$tabs-placement-left-shadow};
    --#{vars.$prefix}tabs-placement-right-shadow: #{vars.$tabs-placement-right-shadow};

    transition: vars.$transition-leave;

    @include media.breakpoint-down(sm) {
        --#{vars.$prefix}tabs-content-padding: #{$padding-md + .25} #{$padding-md - .25};
    }

    .nav {
        --#{vars.$prefix-bs}nav-link-color: #{color.mix(vars.$default-active-bgcolor, rgba(colors.$gray-800, .8), 30%)};
        --#{vars.$prefix-bs}nav-link-hover-color: rgb(var(--#{vars.$prefix}field-primary-indicator-rgb));
        //overflow-x: hidden;

        .nav-link {
            cursor: pointer;
            font-size: .95rem;
            outline: 0 none;
            padding: 0;

            > .#{vars.$prefix}ripple {
                font-weight: var(--#{vars.$prefix}tabs-item-font-weight);
                padding: var(--#{vars.$prefix}tabs-item-padding);
                user-select: none;
            }
        }

        &.#{vars.$prefix}tab-top,
        &.#{vars.$prefix}tab-bottom {
            flex-wrap: nowrap;
            overflow-x: hidden;
            position: relative;

            > .tab-sliding {
                display: flex;
                flex: 1 0 auto;
                position: relative;
                transition: transform 0.6s cubic-bezier(0.25, 0.8, 0.5, 1);
            }
        }

        &.nav-tabs {
            &.#{vars.$prefix}tab-left {
                background-color: var(--#{vars.$prefix-bs}card-cap-bg);
                border-right: var(--#{vars.$prefix-bs}card-border-width) solid var(--#{vars.$prefix-bs}card-border-color);
                padding: var(--#{vars.$prefix}tabs-nav-margin-x) 0 var(--#{vars.$prefix}tabs-nav-margin-x) var(--#{vars.$prefix}tabs-nav-margin-x);

                > .nav-item {
                    @include borders.end-radius(0);
                    @include borders.start-radius(var(--#{vars.$prefix-bs}nav-tabs-border-radius));
                    margin-right: -1px;

                    &.active {
                        border-color: var(--#{vars.$prefix}tabs-nav-active-border-color) var(--#{vars.$prefix-bs}white) var(--#{vars.$prefix}tabs-nav-active-border-color) var(--#{vars.$prefix}tabs-nav-active-border-color);
                    }
                }
            }

            &.#{vars.$prefix}tab-right {
                background-color: var(--#{vars.$prefix-bs}card-cap-bg);
                border-left: var(--#{vars.$prefix-bs}card-border-width) solid var(--#{vars.$prefix-bs}card-border-color);
                padding: var(--#{vars.$prefix}tabs-nav-margin-x) var(--#{vars.$prefix}tabs-nav-margin-x) var(--#{vars.$prefix}tabs-nav-margin-x) 0;

                > .nav-item {
                    @include borders.start-radius(0);
                    @include borders.end-radius(var(--#{vars.$prefix-bs}nav-tabs-border-radius));
                    margin-left: -1px;

                    &.active {
                        border-color: var(--#{vars.$prefix}tabs-nav-active-border-color) var(--#{vars.$prefix}tabs-nav-active-border-color) var(--#{vars.$prefix}tabs-nav-active-border-color) var(--#{vars.$prefix-bs}white);
                    }
                }
            }

            &.#{vars.$prefix}tab-top,
            &.#{vars.$prefix}tab-bottom {
                > .tab-sliding {
                    padding-left: var(--#{vars.$prefix}tabs-nav-margin-x);
                    padding-right: var(--#{vars.$prefix}tabs-nav-margin-x);
                }
            }

            &.#{vars.$prefix}tab-top {
                //padding: var(--#{vars.$prefix}tabs-nav-margin-y) var(--#{vars.$prefix}tabs-nav-margin-x) 0 var(--#{vars.$prefix}tabs-nav-margin-x);
                padding: var(--#{vars.$prefix}tabs-nav-margin-y) 0 0 0;
                border-bottom-width: 0;

                > .tab-sliding {
                    border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
                }
            }

            &.#{vars.$prefix}tab-bottom {
                //padding: 0 var(--#{vars.$prefix}tabs-nav-margin-x) var(--#{vars.$prefix}tabs-nav-margin-y) var(--#{vars.$prefix}tabs-nav-margin-x);
                padding: 0 0 var(--#{vars.$prefix}tabs-nav-margin-y) 0;
                border-bottom-width: 0;
                border-top-width: 0;

                > .tab-sliding {
                    border-top: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
                }

                .nav-item {
                    @include borders.top-radius(0);
                    @include borders.bottom-radius(var(--#{vars.$prefix-bs}nav-tabs-border-radius));
                    margin-bottom: 0;
                    margin-top: -1px;

                    &.active {
                        border-color: var(--#{vars.$prefix-bs}white) var(--#{vars.$prefix}tabs-nav-active-border-color) var(--#{vars.$prefix}tabs-nav-active-border-color);
                    }
                }
            }
        }

        &.nav-pills {
            --#{vars.$prefix-bs}nav-pills-link-active-bg: rgb(var(--#{vars.$prefix}field-primary-indicator-rgb));
            padding: var(--#{vars.$prefix}tabs-item-padding);

            &.#{vars.$prefix}tab-left {
                background-color: var(--#{vars.$prefix-bs}card-cap-bg);
                border-right: var(--#{vars.$prefix-bs}card-border-width) solid var(--#{vars.$prefix-bs}card-border-color);
            }

            &.#{vars.$prefix}tab-right {
                background-color: var(--#{vars.$prefix-bs}card-cap-bg);
                border-left: var(--#{vars.$prefix-bs}card-border-width) solid var(--#{vars.$prefix-bs}card-border-color);
            }

            .nav-link {
                > .#{vars.$prefix}ripple {
                    @include borders.radius(var(--#{vars.$prefix-bs}nav-pills-border-radius));
                }

                &.active {
                    box-shadow: vars.$z-depth-1;
                }
            }
        }

        &.nav-material {
            position: relative;

            .nav-link {
                @include borders.radius(0);
                background-color: transparent;
                border-color: transparent;
                border-style: solid;
                border-width: 0;
                list-style: none;
                color: var(--#{vars.$prefix}tabs-item-color);
                transition: vars.$transition-default;

                > .#{vars.$prefix}ripple {
                    padding: var(--#{vars.$prefix}tabs-material-padding);
                }

                &:hover {
                    color: var(--#{vars.$prefix}tabs-item-hover-color);
                }

                &.active {
                    color: var(--#{vars.$prefix}tabs-item-active-color);
                }

                &.disabled {
                    color: var(--#{vars.$prefix}tabs-item-disabled-color);
                }
            }

            &.#{vars.$prefix}tab-top {
                box-shadow: var(--#{vars.$prefix}tabs-placement-top-shadow);

                .nav-link {
                    border-bottom-width: var(--#{vars.$prefix}tabs-material-indicator-border);

                    &.active {
                        border-bottom-color: var(--#{vars.$prefix}tabs-material-indicator-active-color);
                    }
                }
            }

            &.#{vars.$prefix}tab-bottom {
                box-shadow: var(--#{vars.$prefix}tabs-placement-bottom-shadow);

                .nav-link {
                    border-top-width: var(--#{vars.$prefix}tabs-material-indicator-border);

                    &.active {
                        border-top-color: var(--#{vars.$prefix}tabs-material-indicator-active-color);
                    }
                }
            }

            &.#{vars.$prefix}tab-left {
                box-shadow: var(--#{vars.$prefix}tabs-placement-left-shadow);

                > .nav-link {
                    border-right-width: var(--#{vars.$prefix}tabs-material-indicator-border);

                    &.active {
                        border-right-color: var(--#{vars.$prefix}tabs-material-indicator-active-color);
                    }
                }
            }

            &.#{vars.$prefix}tab-right {
                box-shadow: var(--#{vars.$prefix}tabs-placement-right-shadow);

                > .nav-link {
                    border-left-width: var(--#{vars.$prefix}tabs-material-indicator-border);

                    &.active {
                        border-left-color: var(--#{vars.$prefix}tabs-material-indicator-active-color);
                    }
                }
            }

            &.#{vars.$prefix}tab-top,
            &.#{vars.$prefix}tab-bottom {
                .nav-link {
                    @include media.breakpoint-up(lg) {
                        &:first-child {
                            margin-left: var(--#{vars.$prefix}tabs-material-margin-start);
                        }

                        &:last-child {
                            margin-right: var(--#{vars.$prefix}tabs-material-margin-end);
                        }
                    }
                }
            }
        }

        &.nav-modern {
            border-width: 0;
            padding: var(--#{vars.$prefix}tabs-modern-padding);

            &.#{vars.$prefix}tab-top {
                box-shadow: var(--#{vars.$prefix}tabs-placement-top-shadow);
            }

            &.#{vars.$prefix}tab-bottom {
                box-shadow: var(--#{vars.$prefix}tabs-placement-bottom-shadow);
            }

            .nav-link {
                @include borders.radius(var(--#{vars.$prefix}tabs-modern-border-radius));
                border-width: 0 !important;
                color: var(--#{vars.$prefix}tabs-item-color);

                > .#{vars.$prefix}ripple {
                    @include borders.radius(var(--#{vars.$prefix}tabs-modern-border-radius));
                }

                &:hover {
                    color: var(--#{vars.$prefix}tabs-item-hover-color);
                }

                &.active {
                    background-color: var(--#{vars.$prefix}tabs-modern-active-bgcolor);
                    color: var(--#{vars.$prefix}tabs-item-active-color);
                }

                &.disabled {
                    color: var(--#{vars.$prefix}tabs-item-disabled-color);
                }
            }
        }

        &.nav-pills, &.nav-modern {
            &.#{vars.$prefix}tab-top,
            &.#{vars.$prefix}tab-bottom {
                .nav-item + .nav-item {
                    margin-left: var(--#{vars.$prefix}tabs-item-spacing);
                }
            }

            &.#{vars.$prefix}tab-left,
            &.#{vars.$prefix}tab-right {
                .nav-item + .nav-item {
                    margin-top: var(--#{vars.$prefix}tabs-item-spacing);
                }
            }
        }
    }

    .tab-content {
        transition: all vars.$transition-default;
        overflow: hidden;
        position: relative;
        padding: var(--#{vars.$prefix}tabs-content-padding);
    }
}

.card {
    > .#{vars.$prefix}tabs {
        &:first-child {
            .nav-pills, .nav-material, .nav-modern {
                &.#{vars.$prefix}tab-top {
                    @include borders.top-radius(var(--#{vars.$prefix-bs}card-border-radius));
                }

                &.#{vars.$prefix}tab-left {
                    @include borders.top-start-radius(var(--#{vars.$prefix-bs}card-border-radius));
                }

                &.#{vars.$prefix}tab-right {
                    @include borders.top-end-radius(var(--#{vars.$prefix-bs}card-border-radius));
                }
            }
        }

        &:last-child {
            .nav-pills, .nav-material, .nav-modern {
                &.#{vars.$prefix}tab-bottom {
                    @include borders.bottom-radius(var(--#{vars.$prefix-bs}card-border-radius));
                }

                &.#{vars.$prefix}tab-left {
                    @include borders.bottom-start-radius(var(--#{vars.$prefix-bs}card-border-radius));
                }

                &.#{vars.$prefix}tab-right {
                    @include borders.bottom-end-radius(var(--#{vars.$prefix-bs}card-border-radius));
                }
            }
        }
    }

    &.rounded-0 {
        .#{vars.$prefix}tabs {
            .nav-pills, .nav-material, .nav-modern {
                @include borders.radius(0);
            }
        }
    }
}
