@use '../../../scss/variables' as vars;

@layer base {
  body {
    margin: 0;
    padding: 0;
  }
}

@layer components {
  .#{vars.$prefix}application-wrap,
  .#{vars.$prefix}container-wrap,
  .#{vars.$prefix}content-wrap {
    display: flex;
    max-width: 100%;
    position: relative;
  }

  .#{vars.$prefix}application-wrap {
    backface-visibility: hidden;
    flex: 1 1 auto;
    flex-direction: column;
    overflow-x: hidden;

    &.#{vars.$prefix}viewport-height {
      height: 100vh;
    }

    &.#{vars.$prefix}appbar-fixed-top {
      > .#{vars.$prefix}container-wrap {
        width: 100%;

        > .#{vars.$prefix}content-wrap {
          display: block;
          overflow: auto;
        }
      }
    }
  }

  .#{vars.$prefix}container-wrap {
    flex: 1 0 auto;

    &.smooth-animation {
      transition: vars.$transition-default;
    }
  }

  .#{vars.$prefix}content-wrap {
    flex: 1 0 auto;
    transition: vars.$transition-default;
  }
}
