@import "compass-mixins/lib/compass/css3";
@import "../../../scss/colors";
@import "../../../scss/variables";

html, body {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
}

.#{$prefix}application-wrap,
.#{$prefix}container-wrap,
.#{$prefix}content-wrap {
    @include display-flex();
    max-width: 100%;
    position: relative;
}

.#{$prefix}application-wrap {
    @include backface-visibility();
    @include flexbox((flex: 1 1 auto, flex-direction: column));
    overflow-x: hidden;

    &.#{$prefix}viewport-height {
        height: 100vh;
    }

    &.#{$prefix}appbar-fixed-top {
        > .#{$prefix}container-wrap {
            width: 100%;

            > .#{$prefix}content-wrap {
                display: block;
                overflow: auto;
            }
        }
    }
}

.#{$prefix}container-wrap {
    @include flex(1 0 auto);

    &.smooth-animation {
        @include transition($md-transition-default);
    }
}

.#{$prefix}content-wrap {
    @include flex(1 0 auto);
    @include transition($md-transition-default);
}
