@import "../../../scss/colors";
@import "../../../scss/variables";
@import "~compass-mixins/lib/compass/css3";

html, body {
    height: 100%;
    text-rendering: optimizeLegibility;
    // -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.#{$prefix}application-wrap,
.#{$prefix}container-wrap,
.#{$prefix}content-wrap {
    @include display-flex();
    max-width: 100%;
    position: relative;
}

.#{$prefix}application-wrap {
    @include flexbox((flex: 1 1 auto, flex-direction: column));
    @include backface-visibility();
    overflow-x: hidden;

    &.#{$prefix}viewport-height {
        height: 100vh;
    }
}

.#{$prefix}container-wrap,
.#{$prefix}content-wrap {
    @include flex(1 0 auto);
    @include transition($md-transition-default);
}
