@use '../../../scss/variables' as vars;

@layer components {
  .#{vars.$prefix}application-wrap,
  .#{vars.$prefix}container-wrap,
  .#{vars.$prefix}content-wrap {
    width: 100%;
    position: relative;
  }

  .#{vars.$prefix}application-wrap {
    background-color: var(--background);
    color: var(--foreground);
    display: flex;
    flex-direction: column;

    &:not(.#{vars.$prefix}viewport-height) {
      overflow-x: hidden;
    }

    &.#{vars.$prefix}viewport-height {
      min-height: 100vh;
    }
  }

  .#{vars.$prefix}container-wrap {
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;

    &.smooth-animation {
      transition: vars.$transition-default;
    }
  }

  .#{vars.$prefix}content-wrap {
    color: var(--foreground);
    flex: 1 0 auto;
  }
}
