@import "compass-mixins/lib/compass/css3";
@import "../../../scss/colors";
@import "../../../scss/variables";
@import "../../../scss/mixins/transition";

@keyframes ripple {
    to {
        @include transform(scale(3));
        opacity: 0;
    }
}

.#{$prefix}overlay {
    background-color: $black;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: .4;
    position: absolute;
    z-index: 1031;
}

.#{$prefix}ripple {
    @include transition(background 400ms);
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.#{$prefix}ripple-animation {
    @include border-radius($border-radius-circle);
    @include transform(scale(0));
    @include transition($md-transition-easeOut);
    //background-color: rgba(255, 255, 255, .6);
    background-color: currentColor;
    position: absolute;
    opacity: .2;
    animation: ripple 600ms linear;
}

@include enterActive-leaveActive("expand") {
    @include backface-visibility(hidden);
    @include transform(translate3d(0, 0, 0));
    @include transition(all .85s $transition-easeOut);
}
