@use '../../../scss/color_vars' as colors;
@use '../../../scss/variables' as vars;

@layer components {
  .#{vars.$prefix}breadcrumb {
    --#{vars.$prefix}breadcrumb-padding-x: #{vars.$breadcrumb-padding-x};
    --#{vars.$prefix}breadcrumb-padding-y: #{vars.$breadcrumb-padding-y};
    --#{vars.$prefix}breadcrumb-icon-color: inherit;
    --#{vars.$prefix}breadcrumb-font-size: inherit;
    --#{vars.$prefix}breadcrumb-font-weight: var(--font-weight-medium);

    // prettier-ignore
    --#{vars.$prefix}breadcrumb-item-color: var(--foreground-subtle, #{colors.$neutral-darken-1});
    --#{vars.$prefix}breadcrumb-item-active-color: inherit;
    --#{vars.$prefix}breadcrumb-item-hover-color: var(--link-color, #{colors.$primary-color});
    // prettier-ignore
    --#{vars.$prefix}breadcrumb-item-separator-color: var(--foreground-subtle-tertiary, #{colors.$neutral-lighten-2});
    --#{vars.$prefix}breadcrumb-item-spacing: #{vars.$breadcrumb-item-spacing};
    --#{vars.$prefix}breadcrumb-line-height: #{vars.$breadcrumb-line-height};

    // prettier-ignore
    padding: var(--#{vars.$prefix}breadcrumb-padding-y) var(--#{vars.$prefix}breadcrumb-padding-x);
    overflow-x: clip;

    .#{vars.$prefix}breadcrumb-container {
      margin: 0;
      overflow-y: hidden;
      overflow-x: auto;

      > .#{vars.$prefix}breadcrumb-inner {
        font-size: var(--#{vars.$prefix}breadcrumb-font-size);
        font-weight: var(--#{vars.$prefix}breadcrumb-font-weight);
      }
    }

    .#{vars.$prefix}breadcrumb-icon {
      color: var(--#{vars.$prefix}breadcrumb-icon-color);
      margin: 0 vars.$padding-sm 0 0;
    }

    .#{vars.$prefix}breadcrumb-item {
      color: var(--#{vars.$prefix}breadcrumb-item-color);

      + .#{vars.$prefix}breadcrumb-item {
        padding-left: var(--#{vars.$prefix}breadcrumb-item-spacing);

        &::before {
          float: left; // Suppress inline spacings and underlining of the separator
          padding-right: var(--#{vars.$prefix}breadcrumb-item-spacing);
          color: var(--#{vars.$prefix}breadcrumb-item-separator-color);
          content: var(--#{vars.$prefix}breadcrumb-item-separator, '/');
        }
      }
    }
  }
}

// Patch Bootstrap 'reboot.css' and user-agent styles
// This patch must be placed outside the css layer.
ol.#{vars.$prefix}breadcrumb-inner {
  line-height: var(--#{vars.$prefix}breadcrumb-line-height);
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-inline-start: 0;
}

li.#{vars.$prefix}breadcrumb-item {
  white-space: nowrap;
  margin: 0;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: var(--#{vars.$prefix}breadcrumb-item-hover-color);
    }
  }

  &.active {
    color: var(--#{vars.$prefix}breadcrumb-item-active-color);
  }
}
