@use "../../../scss/variables" as vars;

.#{vars.$prefix}breadcrumb {
    --#{vars.$prefix}breadcrumb-container-padding-x: #{vars.$padding-lg};
    --#{vars.$prefix}breadcrumb-container-padding-y: 0.75rem;
    --#{vars.$prefix}breadcrumb-separator-color: var(--#{vars.$prefix-bs}gray-600);
    --#{vars.$prefix}breadcrumb-icon-color: inherit;
    --#{vars.$prefix}breadcrumb-font-size: inherit;
    --#{vars.$prefix}breadcrumb-label-color: inherit;
    --#{vars.$prefix}breadcrumb-label-active-color: var(--#{vars.$prefix-bs}gray-700);
    --#{vars.$prefix}breadcrumb-label-hover-color: var(--#{vars.$prefix-bs}link-color);
    --#{vars.$prefix}breadcrumb-line-height: 1.25;

    display: flex;
    align-items: flex-end;
    padding: var(--#{vars.$prefix}breadcrumb-container-padding-y) var(--#{vars.$prefix}breadcrumb-container-padding-x);

    > .#{vars.$prefix}breadcrumb-icon {
        color: var(--#{vars.$prefix}breadcrumb-icon-color);
        display: inline-flex;
        margin-right: vars.$padding-sm;
    }

    > .breadcrumb {
        --#{vars.$prefix-bs}breadcrumb-divider-color: var(--#{vars.$prefix}breadcrumb-separator-color);
        --#{vars.$prefix-bs}breadcrumb-item-active-color: var(--#{vars.$prefix}breadcrumb-label-active-color);
        --#{vars.$prefix-bs}breadcrumb-font-size: var(--#{vars.$prefix}breadcrumb-font-size);
        --#{vars.$prefix-bs}breadcrumb-margin-bottom: 0;

        align-items: flex-end;
        flex-wrap: nowrap;
        line-height: var(--#{vars.$prefix}breadcrumb-line-height);
        overflow: hidden;

        a {
            color: var(--#{vars.$prefix}breadcrumb-label-color);
            text-decoration: none;

            &:hover {
                color: var(--#{vars.$prefix}breadcrumb-label-hover-color);
            }
        }
    }

    .breadcrumb-item {
        display: flex;
        white-space: nowrap;
    }
}
