@use "../../../scss/mixins/css3/borders";
@use "../../../scss/mixins/css3/breakpoints" as media;
@use "../../../scss/variables" as vars;

.card {
    --#{vars.$prefix-bs}card-border-radius: 0.75rem;
    --#{vars.$prefix-bs}card-inner-border-radius: calc(var(--#{vars.$prefix-bs}card-border-radius) - 1px);

    .card-header {
        font-weight: vars.$font-weight-semi-bold;
    }

    .card-subtitle {
        font-weight: vars.$font-weight-normal;
    }

    &:not(.rounded-0) {
        > .#{vars.$prefix}mask-loader {
            > .#{vars.$prefix}overlay {
                @include borders.radius(var(--#{vars.$prefix-bs}card-border-radius))
            }
        }
    }
}

.card-group {
    @include media.breakpoint-up(sm) {
        > .card {
            &.#{vars.$prefix}shadow,
            &.#{vars.$prefix}shadow-1,
            &.#{vars.$prefix}shadow-2,
            &.#{vars.$prefix}shadow-3,
            &.#{vars.$prefix}shadow-4,
            &.#{vars.$prefix}shadow-5 {
                box-shadow: none !important;
            }
        }
    }
}

.#{vars.$prefix}card-media {
    --#{vars.$prefix-bs}card-media-bg: rgba(0, 0, 0, .54);
    --#{vars.$prefix-bs}card-media-color: rgba(255, 255, 255, .8);
    --#{vars.$prefix-bs}card-media-title-font-size: 1.5rem;
    --#{vars.$prefix-bs}card-media-title-font-weight: #{vars.$font-weight-semi-bold};
    --#{vars.$prefix-bs}card-media-subtitle-font-size: 1.125rem;
    --#{vars.$prefix-bs}card-media-subtitle-font-weight: #{vars.$font-weight-light};

    position: relative;

    > img {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        display: block;
        vertical-align: top;
    }

    > .#{vars.$prefix}card-media-overlay {
        background-color: var(--#{vars.$prefix-bs}card-media-bg);
        left: 0;
        right: 0;
        padding: $padding-md;
        position: absolute;

        > .#{vars.$prefix}card-media-title,
        > .#{vars.$prefix}card-media-subtitle {
            color: var(--#{vars.$prefix-bs}card-media-color);
        }

        > .#{vars.$prefix}card-media-title {
            font-size: var(--#{vars.$prefix-bs}card-media-title-font-size);
            font-weight: var(--#{vars.$prefix-bs}card-media-title-font-weight);
        }

        > .#{vars.$prefix}card-media-subtitle {
            font-size: var(--#{vars.$prefix-bs}card-media-subtitle-font-size);
            font-weight: var(--#{vars.$prefix-bs}card-media-subtitle-font-weight);
        }
    }
}

.card {
    > .#{vars.$prefix}card-media {
        &:first-child {
            > img {
                @include borders.top-radius(var(--#{vars.$prefix-bs}card-inner-border-radius));
            }

            > .#{vars.$prefix}card-media-overlay {
                &.#{vars.$prefix}overlay-top {
                    @include borders.top-radius(var(--#{vars.$prefix-bs}card-inner-border-radius));
                }
            }
        }

        &:last-child {
            > img {
                @include borders.bottom-radius(var(--#{vars.$prefix-bs}card-border-radius));
            }

            > .#{vars.$prefix}card-media-overlay {
                &.#{vars.$prefix}overlay-bottom {
                    @include borders.bottom-radius(var(--#{vars.$prefix-bs}card-border-radius));
                }
            }
        }
    }
}

.card-img-start,
.card-img-left {
    @include borders.start-radius(var(--#{vars.$prefix-bs}card-inner-border-radius));
}

.card-img-end,
.card-img-right {
    @include borders.end-radius(var(--#{vars.$prefix-bs}card-inner-border-radius));
}
