.x-overflow-hidden {
    overflow-x: hidden !important;
}

.y-overflow-hidden {
    overflow-y: hidden !important;
}

.#{$prefix}link {
    cursor: pointer;
}

.#{$prefix}fw-bold {
    font-weight: $font-weight-bold !important;
}

.#{$prefix}fw-bolder {
    font-weight: $font-weight-boldest !important;
}

.#{$prefix}fw-semibold {
    font-weight: $font-weight-semi-bold !important;
}

.#{$prefix}fw-light {
    font-weight: $font-weight-light !important;
}

.#{$prefix}border {
    border: thin solid !important;
}

.triangle-up, .caret-up {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid currentColor;
    display: inline-block;
}

.triangle-down, .caret-down {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid currentColor;
    display: inline-block;
}
