.overflow-x-hidden {
    overflow-x: hidden !important;
}

.overflow-y-hidden {
    overflow-y: hidden !important;
}

.#{$prefix}link {
    cursor: pointer;
}

.#{$prefix}fw-bold {
    font-weight: $font-weight-bold !important;
}

.#{$prefix}fw-bolder {
    font-weight: $font-weight-boldest !important;
}

.#{$prefix}fw-semibold {
    font-weight: $font-weight-semi-bold !important;
}

.#{$prefix}fw-light {
    font-weight: $font-weight-light !important;
}

.#{$prefix}border {
    border: thin solid !important;
}

.rounded-top-0 {
    @include border-top-radius(0 !important);
}

.rounded-bottom-0 {
    @include border-bottom-radius(0 !important);
}

.rounded-start-0 {
    @include border-left-radius(0 !important);
}

.rounded-end-0 {
    @include border-right-radius(0 !important);
}

.triangle-up, .caret-up {
    width: 0;
    height: 0;
    border-left: var(--#{$prefix}caret-size) solid transparent;
    border-right: var(--#{$prefix}caret-size) solid transparent;
    border-bottom: var(--#{$prefix}caret-size) solid currentColor;
    display: inline-block;
}

.triangle-down, .caret-down {
    width: 0;
    height: 0;
    border-left: var(--#{$prefix}caret-size) solid transparent;
    border-right: var(--#{$prefix}caret-size) solid transparent;
    border-top: var(--#{$prefix}caret-size) solid currentColor;
    display: inline-block;
}
