@import "~compass-sass-mixins/lib/compass/css3";
@import "../colors";
@import "../variables";

.#{$prefix}-shadow {
    @include box-shadow(0 1px 2px 0 rgba(60, 64, 67, 0.35), 0 1px 4px 3px rgba(60, 64, 67, 0.05) !important);
    border-width: 0 !important;
}

.#{$prefix}-shadow-1 {
    @include box-shadow($z-depth-1-half !important);
    border-width: 0 !important;
}

.#{$prefix}-shadow-2 {
    @include box-shadow($z-depth-2 !important);
    border-width: 0 !important;
}

.#{$prefix}-shadow-3 {
    @include box-shadow($z-depth-3 !important);
    border-width: 0 !important;
}

.#{$prefix}-shadow-4 {
    @include box-shadow($z-depth-4 !important);
    border-width: 0 !important;
}

.#{$prefix}-shadow-5 {
    @include box-shadow($z-depth-5 !important);
    border-width: 0 !important;
}

.#{$prefix}-hover-shadow {
    @include transition($transition-hoverable);
    @include box-shadow(none);

    &:hover {
        @include box-shadow($z-depth-2);
    }
}
