//@use 'sass:map';
@use '../../../scss/mixins/css3/borders';
@use '../../../scss/mixins/alert' as alerts;
@use '../../../scss/color_vars' as colors;
@use '../../../scss/variables' as vars;

@layer components {
  .#{vars.$prefix}alert {
    --#{vars.$prefix}alert-bg: transparent;
    --#{vars.$prefix}alert-padding-x: #{vars.$alert-padding-x};
    --#{vars.$prefix}alert-padding-y: #{vars.$alert-padding-y};
    --#{vars.$prefix}alert-margin-bottom: #{vars.$alert-margin-bottom};
    --#{vars.$prefix}alert-border-color: transparent;
    --#{vars.$prefix}alert-border: 1px solid var(--#{vars.$prefix}alert-border-color);
    // prettier-ignore
    --#{vars.$prefix}alert-border-radius: var(--#{vars.$prefix}radius, #{vars.$alert-border-radius});
    --#{vars.$prefix}alert-icon-spacing: #{vars.$alert-icon-spacing};

    padding: var(--#{vars.$prefix}alert-padding-y) var(--#{vars.$prefix}alert-padding-x);
    margin-bottom: var(--#{vars.$prefix}alert-margin-bottom);
    background-color: var(--#{vars.$prefix}alert-bg);
    border: var(--#{vars.$prefix}alert-border);
    color: var(--#{vars.$prefix}alert-color);
    @include borders.radius(var(--#{vars.$prefix}alert-border-radius));

    > .alert-icon {
      display: flex;
      margin-right: var(--#{vars.$prefix}alert-icon-spacing);
    }

    .alert-link {
      color: var(--#{vars.$prefix}alert-link-color);
      font-weight: var(--font-weight-semibold, 600);
      text-decoration: underline dotted;
      text-underline-offset: 5px;
    }

    &[class*='alert-solid'] {
      hr {
        border-top: 1px solid var(--#{vars.$prefix}alert-hr-color);
        opacity: 0.4;
      }
    }
  }
}

// Patch Bootstrap 'reboot.css'
// This patch must be placed outside the css layer.
.#{vars.$prefix}alert {
  > .flex-fill + .#{vars.$prefix}btn-icon:last-child {
    margin-left: vars.$padding-sm;
    margin-right: vars.$padding-sm * -1;
  }
}
