@import "/node_modules/compass-mixins/lib/compass/css3";
@import "../../../scss/functions";
@import "../../../scss/mixins/alert";
@import "../../../scss/colors";
@import "../../../scss/variables";

.alert {
    --#{$bs-prefix}alert-link-color: inherit;
    --#{$bs-prefix}alert-hr-color: inherit;

    hr {
        border-top: 1px solid var(--#{$bs-prefix}alert-hr-color);
        opacity: 0.4;
    }

    .alert-link {
        color: var(--#{$bs-prefix}alert-link-color);
    }

    &.alert-dismissible {
        padding-right: 1rem;

        > .close {
            padding: .5rem;
        }
    }

    .#{$prefix}btn-icon:last-child {
        --#{$bs-prefix}btn-state-line-height: #{$padding-xl};

        .#{$prefix}ripple {
            --#{$bs-prefix}btn-inner-state-width: #{$padding-xl};
            --#{$bs-prefix}btn-inner-state-height: #{$padding-xl};
        }
    }
}

@each $color-name, $value in $theme-colors {
    $background-color: theme-color-level($theme-colors, $color-name, $alert-bg-level);
    $border-color: theme-color-level($theme-colors, $color-name, $alert-border-level);
    $text-color: theme-color-level($theme-colors, $color-name, $alert-color-level);
    @include alert-variant($color-name, $background-color, $border-color, $text-color);

    $outline-color: theme-color-level($theme-colors, $color-name, $alert-color-level);
    @include make-outline-alert-variant($color-name, $value);
    @include make-solid-alert-variant($color-name, $value);
}
