@import "compass-mixins/lib/compass/css3";
@import "../../../scss/colors";
@import "../../../scss/variables";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.#{$prefix}lightbox-wrap {
    --#{$prefix}lightbox-element-padding-x: #{$padding-sm};
    --#{$prefix}lightbox-display-bg: #{rgba($black, .3)};
    --#{$prefix}lightbox-toolbar-bg: #{rgba($black, .9)};
    --#{$prefix}lightbox-toolbar-color: #{$gray-400};
    --#{$prefix}lightbox-overlay-bg: #151515;
    --#{$prefix}lightbox-title-bg: #{rgba($black, .7)};
    --#{$prefix}lightbox-title-color: #{$gray-400};
    --#{$prefix}lightbox-title-size: 1.25rem;
    --#{$prefix}lightbox-thumbnail-bg: #{rgba($black, .95)};
    --#{$prefix}lightbox-thumbnail-border: #{1px solid rgba($black, .6)};
    --#{$prefix}lightbox-thumbnail-opacity: 0.5;
    --#{$prefix}lightbox-thumbnail-active-border-color: #{$red-base};
    --#{$prefix}lightbox-thumbnail-active-border-width: 2px;
    // --#{$prefix}lightbox-zindex: 1990;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    // z-index: var(--#{$prefix}lightbox-zindex);

    &.#{$prefix}lightbox-overlay {
        background-color: var(--#{$prefix}lightbox-overlay-bg);
    }

    > .#{$prefix}lightbox-display {
        @include flexbox((display: flex, align-items: center, justify-content: center));
        position: relative;

        .#{$prefix}lightbox-item {
            @include flexbox((display: flex, flex-direction: column));
            background: var(--#{$prefix}lightbox-display-bg);
            max-width: 95%;
            max-height: 96%;
            position: relative;
            overflow: hidden;
        }

        .#{$prefix}lightbox-item-img {
            @include flex(1 1 auto);
            display: block;
            overflow: hidden;
            position: relative;

            > img {
                @include transition($transition-basic);
                max-width: 100%;
                max-height: 100%;
                z-index: 10;
            }
        }

        .#{$prefix}lightbox-item-title {
            background: var(--#{$prefix}lightbox-title-bg);
            color: var(--#{$prefix}lightbox-title-color);
            font-size: var(--#{$prefix}lightbox-title-size);
            display: block;
            line-height: normal;
            padding: 12px;
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        > .#{$prefix}lightbox-controls {
            @include flexbox((display: flex, justify-content: space-between));
            position: fixed;
            left: 0;
            right: 0;
            z-index: 10;

            > .#{$prefix}control-prev {
                @include display-flex(inline-flex);
                padding-left: var(--#{$prefix}lightbox-element-padding-x);
            }

            > .#{$prefix}control-next {
                @include display-flex(inline-flex);
                padding-right: var(--#{$prefix}lightbox-element-padding-x);
            }
        }
    }

    > .#{$prefix}lightbox-toolbar {
        @include flexbox((display: flex, justify-content: space-between));
        top: 0;
        left: 0;
        right: 0;
        position: fixed;
        z-index: 10;

        .#{$prefix}toolbar-items {
            background: var(--#{$prefix}lightbox-toolbar-bg);
            min-width: 100px;
            padding: var(--#{$prefix}lightbox-element-padding-x);
        }

        .#{$prefix}counter {
            color: var(--#{$prefix}lightbox-toolbar-color);
            padding: var(--#{$prefix}lightbox-element-padding-x) $padding-base;
        }
    }

    > .#{$prefix}lightbox-thumbnail {
        background: var(--#{$prefix}lightbox-thumbnail-bg);
        left: 0;
        right: 0;
        bottom: 0;
        overflow-x: auto;
        position: fixed;
        padding: 0 $padding-sm;

        > .#{$prefix}lightbox-thumbnail-row {
            @include flexbox((display:flex, flex-direction: row));

            > .#{$prefix}lightbox-thumbnails {
                @include flexbox((display: flex, flex-flow: row nowrap));

                .#{$prefix}thumbnail-item {
                    border: var(--#{$prefix}lightbox-thumbnail-border);
                    opacity: var(--#{$prefix}lightbox-thumbnail-opacity);
                    cursor: pointer;
                    display: inline-block;

                    &:hover {
                        --#{$prefix}lightbox-thumbnail-opacity: 1;
                    }

                    &.active {
                        --#{$prefix}lightbox-thumbnail-opacity: 1;
                        border-color: var(--#{$prefix}lightbox-thumbnail-active-border-color);
                        border-left-width: var(--#{$prefix}lightbox-thumbnail-active-border-width);
                        border-right-width: var(--#{$prefix}lightbox-thumbnail-active-border-width);
                    }
                }
            }

            @include media-breakpoint-up(lg) {
                @include flexbox((justify-content: center));
            }
        }
    }
}
