@use 'sass:color';
@use '../../../scss/mixins/css3/breakpoints' as media;
@use '../../../scss/color_vars' as colors;
@use '../../../scss/variables' as vars;

@layer components {
  .#{vars.$prefix}lightbox-container {
    --#{vars.$prefix}lightbox-element-padding-x: #{vars.$padding-sm};
    //--#{vars.$prefix}lightbox-display-bg: #{color.change(colors.$black, $alpha: 0.3)};
    --#{vars.$prefix}lightbox-toolbar-bg: #{color.change(colors.$black, $alpha: 0.9)};
    --#{vars.$prefix}lightbox-toolbar-color: var(--foreground-subtle-secondary);
    --#{vars.$prefix}lightbox-overlay-bg: #151515;
    --#{vars.$prefix}lightbox-title-bg: #{color.change(colors.$black, $alpha: 0.7)};
    --#{vars.$prefix}lightbox-title-color: var(--foreground-subtle-tertiary);
    --#{vars.$prefix}lightbox-title-size: 1.25rem;
    --#{vars.$prefix}lightbox-thumbnail-bg: #{color.change(colors.$black, $alpha: 0.95)};
    // prettier-ignore
    --#{vars.$prefix}lightbox-thumbnail-border: #{1px solid color.change(colors.$black, $alpha: 0.6)};
    --#{vars.$prefix}lightbox-thumbnail-opacity: 0.5;
    --#{vars.$prefix}lightbox-thumbnail-active-border-color: #{colors.$red-base};
    --#{vars.$prefix}lightbox-thumbnail-active-border-width: 2px;

    bottom: 0;

    &.#{vars.$prefix}lightbox-overlay {
      background-color: var(--#{vars.$prefix}lightbox-overlay-bg);
    }
  }

  .#{vars.$prefix}lightbox-item {
    background: var(--#{vars.$prefix}lightbox-display-bg);
    max-width: 95%;
    max-height: 96%;
  }

  .#{vars.$prefix}lightbox-item-view {
    > img,
    > iframe,
    > video {
      transition: vars.$transition-basic;
      max-height: 100%;
      height: auto;
    }

    > img {
      max-width: 100%;
    }

    > iframe,
    > video {
      width: 100%;
    }
  }

  .#{vars.$prefix}lightbox-item-title {
    background: var(--#{vars.$prefix}lightbox-title-bg);
    color: var(--#{vars.$prefix}lightbox-title-color);
    font-size: var(--#{vars.$prefix}lightbox-title-size);
    display: block;
    line-height: normal;
    padding: 12px;
    bottom: 0;
  }

  .#{vars.$prefix}lightbox-controls {
    left: 0;
    right: 0;
    z-index: 10;

    > .#{vars.$prefix}control-prev {
      padding-left: var(--#{vars.$prefix}lightbox-element-padding-x);
    }

    > .#{vars.$prefix}control-next {
      padding-right: var(--#{vars.$prefix}lightbox-element-padding-x);
    }
  }

  .#{vars.$prefix}lightbox-toolbar {
    z-index: 10;

    .#{vars.$prefix}toolbar-items {
      background: var(--#{vars.$prefix}lightbox-toolbar-bg);
      padding: var(--#{vars.$prefix}lightbox-element-padding-x);
      min-width: 100px;
    }

    .#{vars.$prefix}counter {
      color: var(--#{vars.$prefix}lightbox-toolbar-color);
      padding: var(--#{vars.$prefix}lightbox-element-padding-x) #{vars.$padding-md};
    }
  }

  .#{vars.$prefix}lightbox-thumbnail-container {
    background: var(--#{vars.$prefix}lightbox-thumbnail-bg);
    overflow-x: auto;
    padding: 0 vars.$padding-sm;

    > .#{vars.$prefix}lightbox-thumbnail-inner {
      > .#{vars.$prefix}lightbox-thumbnail-row {
        flex-flow: row nowrap;

        .#{vars.$prefix}thumbnail-item {
          border: var(--#{vars.$prefix}lightbox-thumbnail-border);
          opacity: var(--#{vars.$prefix}lightbox-thumbnail-opacity);
          display: inline-block;
          cursor: pointer;

          &:hover {
            --#{vars.$prefix}lightbox-thumbnail-opacity: 1;
          }

          &.active {
            --#{vars.$prefix}lightbox-thumbnail-opacity: 1;

            border-color: var(--#{vars.$prefix}lightbox-thumbnail-active-border-color);
            border-left-width: var(--#{vars.$prefix}lightbox-thumbnail-active-border-width);
            border-right-width: var(--#{vars.$prefix}lightbox-thumbnail-active-border-width);
          }
        }
      }

      @include media.breakpoint-up(lg) {
        justify-content: center;
      }
    }
  }
}
