@use '../../../scss/variables' as vars;

@layer components {
  .#{vars.$prefix}chip-field {
    --#{vars.$prefix}field-control-height: 2.5rem;
    --#{vars.$prefix}field-padding-top: 0;
    --#{vars.$prefix}field-padding-bottom: #{vars.$padding-xs};

    > .#{vars.$prefix}field-inner {
      > .#{vars.$prefix}field-activator {
        align-items: end;
        flex: 1 1 auto;
        flex-wrap: wrap;
        max-width: 100%;
      }
    }

    .#{vars.$prefix}chip {
      --#{vars.$prefix}chip-gutter-y: #{vars.$text-field-padding-bottom};

      margin-top: 0;
    }

    input {
      display: flex;
      flex: 1;
      min-width: 85px;
      max-width: 100%;
    }

    &.#{vars.$prefix}field-filled,
    &.#{vars.$prefix}field-outlined {
      .#{vars.$prefix}field-feedback {
        --#{vars.$prefix}field-padding-start: 1rem;
      }
    }

    &.#{vars.$prefix}field-filled {
      --#{vars.$prefix}field-padding-start: 0;
      --#{vars.$prefix}field-padding-end: 0;

      &:not(.#{vars.$prefix}floating-label) {
        --#{vars.$prefix}field-padding-bottom: 0.65rem;
      }

      > .#{vars.$prefix}field-inner {
        padding: 0.375rem vars.$padding-md 0 vars.$padding-md;
      }
    }

    &.#{vars.$prefix}field-outlined {
      --#{vars.$prefix}field-padding-bottom: #{vars.$text-field-padding-bottom};
      --#{vars.$prefix}field-padding-top: 0;
      --#{vars.$prefix}field-padding-start: 0;
      --#{vars.$prefix}field-padding-end: 0;

      &:not(.#{vars.$prefix}floating-label) {
        --#{vars.$prefix}field-padding-top: 0.125rem;
      }

      > .#{vars.$prefix}field-inner {
        padding: 0 vars.$padding-md 0 vars.$padding-md;

        > .#{vars.$prefix}field-activator {
          margin-top: 0.65rem;
          margin-bottom: 0.25rem;
        }
      }
    }

    &.#{vars.$prefix}floating-label {
      .#{vars.$prefix}field-label {
        height: auto;
      }

      &.#{vars.$prefix}field-filled {
        --#{vars.$prefix}field-floating-label-transform: translateY(-14px) scale(0.85);

        > .#{vars.$prefix}field-inner {
          padding: 0 vars.$padding-md 0 vars.$padding-md;

          > .#{vars.$prefix}field-activator {
            margin-top: vars.$padding-lg;
          }
        }

        .#{vars.$prefix}field-label {
          top: -0.35rem;
          left: 0;
        }
      }

      &.#{vars.$prefix}field-outlined {
        --#{vars.$prefix}field-floating-label-transform: translateY(-27px) scale(0.85);

        > .#{vars.$prefix}field-inner {
          min-height: 56px;

          > .#{vars.$prefix}field-activator {
            margin-top: vars.$padding-md - vars.$padding-xs;
            margin-bottom: vars.$text-field-padding-bottom;
          }
        }

        .#{vars.$prefix}field-label {
          top: 0.25rem;
        }

        &.prepend-icon {
          // prettier-ignore
          --#{vars.$prefix}field-floating-label-transform: translateY(-27px) translateX(-36px) scale(0.85);
        }
      }

      &.#{vars.$prefix}field-filled,
      &.#{vars.$prefix}field-outlined {
        &.prepend-icon {
          > .#{vars.$prefix}field-inner {
            padding-left: 0;

            > .#{vars.$prefix}field-activator {
              margin-left: vars.$padding-md;
            }
          }
        }

        &.append-icon {
          > .#{vars.$prefix}field-inner {
            padding-right: 0;

            > .#{vars.$prefix}field-activator {
              margin-right: vars.$padding-md;
            }
          }
        }
      }

      &:not(.#{vars.$prefix}field-outlined):not(.#{vars.$prefix}field-filled) {
        .#{vars.$prefix}field-activator {
          margin-top: vars.$padding-md;
        }

        &.active,
        &.focused {
          --#{vars.$prefix}field-floating-label-transform: translateY(-28px) scale(0.85);
        }
      }
    }
  }
}
