@use "sass:math";
@import "compass-mixins/lib/compass/css3";
@import "../../../scss/functions";
@import "../../../scss/mixins/placeholder";
@import "../../../scss/mixins/transition";
@import "../../../scss/colors";
@import "../../../scss/variables";

@include enterActive-leaveActive("field-feedback") {
    @include transition(0.15s ease);
}

@include enterFrom-leaveTo("field-feedback") {
    @include transform(translateY(-8px));
    @include transition(opacity, transform 0.25s ease-out);
}

.#{$prefix}field {
    --#{$prefix}field-active-border-color: rgb(var(--#{$prefix}field-active-indicator));
    --#{$prefix}field-active-border-width: 2px;
    --#{$prefix}field-color-bg: currentColor;
    --#{$prefix}field-border-color: currentColor;
    --#{$prefix}field-border-width: 1px;
    --#{$prefix}field-control-height: #{$text-field-height};
    --#{$prefix}field-label-color: currentColor;
    --#{$prefix}field-outline-bg: transparent;
    --#{$prefix}field-padding-start: #{$padding-base};
    --#{$prefix}field-padding-end: #{$padding-base};
    --#{$prefix}field-padding-top: #{$text-field-padding-top};
    --#{$prefix}field-padding-bottom: #{$text-field-padding-bottom};
    --#{$prefix}field-floating-label-color: var(--#{$prefix}field-label-color);

    position: relative;

    > .#{$prefix}field-wrapper {
        @include display-flex();

        .#{$prefix}action-icon,
        .#{$prefix}validation-icon,
        .#{$prefix}prepend-inner,
        .#{$prefix}prepend-outer,
        .#{$prefix}append-inner,
        .#{$prefix}append-outer {
            @include display-flex(inline-flex);
            opacity: .65;

            > .#{$prefix}icon, > .#{$prefix}toggle-icon {
                @include align-self(flex-start);
                margin-top: $padding-base;
            }

            .#{$prefix}text {
                font-size: .88rem;
                white-space: nowrap;
            }
        }

        .#{$prefix}prepend-outer {
            margin-right: $padding-base;
        }

        .#{$prefix}append-outer {
            margin-left: $padding-base;
        }
    }

    &.required {
        > .col-form-label,
        .#{$prefix}field-label {
            color: var(--#{$prefix}field-label-color);
            font-weight: $font-weight-semi-bold;
        }
    }

    &.disabled {
        > .col-form-label,
        .#{$prefix}field-value,
        .#{$prefix}prepend-inner,
        .#{$prefix}append-inner {
            opacity: var(--#{$prefix}field-disabled-opacity);
        }
    }

    &:not(.#{$prefix}field-outlined):not(.#{$prefix}field-filled) {
        .#{$prefix}action-icon,
        .#{$prefix}append-outer,
        .#{$prefix}prepend-outer,
        .#{$prefix}append-inner,
        .#{$prefix}prepend-inner {
            > .#{$prefix}icon, > .#{$prefix}toggle-icon {
                margin-top: 22px;
            }
        }
    }

    &.#{$prefix}checkbox-group, 
    &.#{$prefix}radio-group {
        --#{$prefix}field-padding-start: 0;
    }

    .#{$prefix}field-feedback {
        padding: #{$padding-xs} var(--#{$prefix}field-padding-start) 0 var(--#{$prefix}field-padding-start);
        min-height: 25px;

        .#{$prefix}help-text {
            opacity: $text-field-support-text-opacity;
        }
    }
}

.#{$prefix}field-control {
    @include flexbox((display: flex, flex-grow: 1, flex-direction: column));
    max-width: 100%;

    > .#{$prefix}field-inner {
        @include flexbox((display: flex, flex: 1 1 auto));
        position: relative;

        > .#{$prefix}field-activator {
            @include transition($md-transition-stand);
            @include flexbox((display: flex, flex: 1 1, flex-basis: 0));
            @include align-items(flex-start);
            outline: none;
            position: relative;

            > input, > textarea {
                @include decorate-input-placeholder();
                // @include flexbox((display: flex, flex: 1 1 auto));
                @include transition(opacity $md-transition-default);
                background-color: transparent;
                border-width: 0;
                color: inherit;
                outline: 0 none;
                opacity: 0.5;
                min-height: var(--#{$prefix}field-control-height);
                padding-inline-start: var(--#{$prefix}field-padding-start);
                padding-inline-end: var(--#{$prefix}field-padding-end);
                padding-top: var(--#{$prefix}field-padding-top);
                padding-bottom: var(--#{$prefix}field-padding-bottom);
                width: 100%;
            }

            > .#{$prefix}field-value,
            > .#{$prefix}field-placeholder {
                pointer-events: none;
                min-height: var(--#{$prefix}field-control-height);
                padding-top: var(--#{$prefix}field-padding-top);
                padding-bottom: var(--#{$prefix}field-padding-bottom);
                padding-left: var(--#{$prefix}field-padding-start);
            }

            > .#{$prefix}field-placeholder {
                color: currentColor;
                font-weight: $font-weight-light;
                opacity: .5;
            }
        }

        > .#{$prefix}prepend-inner {
            margin-left: $padding-base - .25;
        }

        > .#{$prefix}field-activator + .#{$prefix}action-icon,
        > .#{$prefix}validation-icon,
        > .#{$prefix}append-inner {
            margin-right: $padding-base - .25;
        }

        > .#{$prefix}action-icon {
            > .icon-clear,
            > .#{$prefix}toggle-icon,
            > .#{$prefix}spin-button-left > .btn,
            > .#{$prefix}spin-button-right > .btn,
            .#{$prefix}btn-icon {
                cursor: pointer;
                opacity: .75;

                &:hover {
                    opacity: 1;
                }
            }

            > .#{$prefix}icon ~ .#{$prefix}icon,
            > .#{$prefix}icon ~ .#{$prefix}toggle-icon,
            > .#{$prefix}toggle-icon ~ .#{$prefix}icon {
                margin-left: $padding-sm;
            }
        }
    }

    &.active, &.focused {
        &:not(.disabled) {
            > .#{$prefix}field-inner {
                > .#{$prefix}field-activator {
                    > input, > textarea {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &:not(.#{$prefix}field-outlined):not(.#{$prefix}field-flat) {
        > .#{$prefix}field-inner {
            &:before {
                @include transition(opacity $md-transition-default);
                background-color: var(--#{$prefix}field-border-color);
                position: absolute;
                content: '';
                height: var(--#{$prefix}field-border-width);
                bottom: 0;
                left: 0;
                opacity: $text-field-opacity;
                width: 100%;
            }

            &:after {
                @include transition($transition-basic);
                background-color: var(--#{$prefix}field-active-border-color);
                position: absolute;
                content: '';
                height: var(--#{$prefix}field-active-border-width);
                width: 0;
                bottom: 0;
                left: 50%;
            }
        }

        &:not(.disabled) {
            &:hover {
                > .#{$prefix}field-inner {
                    &:before {
                        opacity: $text-field-hover-opacity;
                    }
                }
            }
        }

        &.focused {
            > .#{$prefix}field-inner {
                &:after {
                    left: 0;
                    width: 100%;
                }
            }
        }

        &.disabled {
            > .#{$prefix}field-inner {
                &:before {
                    opacity: .15;
                }
            }
        }
    }

    &.#{$prefix}floating-label {
        --#{$prefix}field-floating-label-opacity: #{$text-field-opacity};
        --#{$prefix}field-floating-label-transform: translateY(-8px) scale(.85);

        .#{$prefix}field-label {
            @include transition(.25s $md-transition-stand-timing);
            @include transform-origin(top left, false);
            @include display-flex(inline-flex);
            @include align-items(center);
            color: var(--#{$prefix}field-floating-label-color);
            left: var(--#{$prefix}field-padding-start);
            top: 0;
            right: auto;
            max-width: 90%;
            overflow: hidden;
            opacity: var(--#{$prefix}field-floating-label-opacity);
            position: absolute;
            pointer-events: none;
            text-overflow: ellipsis;
            white-space: nowrap;
            height: 100%;
            z-index: 2;
        }

        &.active {
            .#{$prefix}field-label {
                @include transform(var(--#{$prefix}field-floating-label-transform));
            }
        }

        &.focused {
            --#{$prefix}field-floating-label-color: var(--#{$prefix}field-active-border-color);
            --#{$prefix}field-floating-label-opacity: 1;

            .#{$prefix}field-label {
                @include transform(var(--#{$prefix}field-floating-label-transform));
            }
        }

        &.disabled {
            --#{$prefix}field-floating-label-opacity: calc(var(--#{$prefix}field-disabled-opacity) - .15);
        }
    }

    &.#{$prefix}field-filled {
        --#{$prefix}field-overlay-opacity: .04;

        .#{$prefix}field-overlay {
            @include border-top-radius($text-field-border-radius);
            @include transition(opacity $md-transition-default);
            background-color: var(--#{$prefix}field-color-bg);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: var(--#{$prefix}field-overlay-opacity);
            position: absolute;
            pointer-events: none;
        }

        &:not(.disabled):not(.focused) {
            &:hover {
                --#{$prefix}field-overlay-opacity: .08;
            }
        }

        &.focused {
            --#{$prefix}field-overlay-opacity: .15;
        }

        &.disabled {
            --#{$prefix}field-overlay-opacity: .02;
        }

        &.#{$prefix}field-rounded {
            &.#{$prefix}text-field, &.#{$prefix}numeric-field {
                &:not(.prepend-icon) {
                    --#{$prefix}field-padding-start: #{math.div($text-field-height, 2)};

                    &:not(.#{$prefix}floating-label) {
                        --#{$prefix}field-padding-start: 1.375rem;
                    }
                }

                .#{$prefix}field-overlay {
                    @include border-radius($border-radius-pill);
                }

                > .#{$prefix}field-inner {
                    --#{$prefix}field-state-border-width: 0;

                    > .#{$prefix}prepend-inner {
                        margin-left: $padding-base;
                    }
                    > .#{$prefix}action-icon, > .#{$prefix}append-inner {
                        &:last-child {
                            margin-right: $padding-base;
                        }
                    }

                    &:before {
                        @include border-radius($border-radius-pill);
                        opacity: 1;
                        height: 100%;
                        width: 100%;
                        left: 0;
                        background-color: transparent;
                        border: var(--#{$prefix}field-state-border-width) solid var(--#{$prefix}field-active-border-color);
                    }

                    &:after {
                        left: 0;
                        height: 100%;
                        width: 0;
                        background-color: transparent;
                    }
                }

                &.focused {
                    > .#{$prefix}field-inner {
                        --#{$prefix}field-state-border-width: var(--#{$prefix}field-active-border-width);
                    }
                }
            }
        }
    }

    &.#{$prefix}field-outlined {
        --#{$prefix}field-padding-top: #{$padding-base};
        --#{$prefix}field-padding-bottom: #{$padding-base};
        --#{$prefix}field-outline-border-color: var(--#{$prefix}field-border-color);
        --#{$prefix}field-outline-border-width: var(--#{$prefix}field-border-width);
        --#{$prefix}field-outline-border-radius: #{$text-field-border-radius};
        --#{$prefix}field-outline-opacity: #{$text-field-opacity};

        @include border-radius($text-field-border-radius);
        background-color: var(--#{$prefix}field-outline-bg);

        .#{$prefix}field-outline-control {
            @include border-radius($text-field-border-radius);
            @include flexbox((display: flex, flex: 1 1 auto));
            pointer-events: none;
            position: absolute;
            left: 0;
            right: 0;
            height: 100%;

            > .#{$prefix}field-outline-start {
                @include border-left-radius(var(--#{$prefix}field-outline-border-radius));
                @include display-flex(inline-flex);
                border: var(--#{$prefix}field-outline-border-width) solid var(--#{$prefix}field-outline-border-color);
                border-width: var(--#{$prefix}field-outline-border-width) 0 var(--#{$prefix}field-outline-border-width) var(--#{$prefix}field-outline-border-width);
                opacity: var(--#{$prefix}field-outline-opacity);
                width: .75rem;
            }

            > .#{$prefix}field-outline-label {
                border: var(--#{$prefix}field-outline-border-width) solid var(--#{$prefix}field-outline-border-color);
                border-width: 0 0 var(--#{$prefix}field-outline-border-width) 0;
                opacity: var(--#{$prefix}field-outline-opacity);
                color: var(--#{$prefix}field-floating-label-color);
                display: none;
                margin-top: -12px;
                padding: 0.15rem $padding-xs;
                font-size: 85%;
            }

            > .#{$prefix}field-outline-end {
                @include border-right-radius(var(--#{$prefix}field-outline-border-radius));
                @include flex(1 1 auto);
                border: var(--#{$prefix}field-outline-border-width) solid var(--#{$prefix}field-outline-border-color);
                border-width: var(--#{$prefix}field-outline-border-width) var(--#{$prefix}field-outline-border-width) var(--#{$prefix}field-outline-border-width) 0;
                opacity: var(--#{$prefix}field-outline-opacity);
            }
        }

        &:not(.disabled):not(.focused) {
            &:hover {
                .#{$prefix}field-outline-control {
                    --#{$prefix}field-outline-opacity: #{$text-field-hover-opacity};
                }
            }
        }

        &.active, &.focused {
            --#{$prefix}field-floating-label-transform: translateY(-25px) scale(.85);

            .#{$prefix}field-label {
                opacity: 0;
                visibility: hidden;
            }

            &.prepend-icon {
                --#{$prefix}field-floating-label-transform: translateY(-26px) translateX(-36px) scale(.85);
            }

            .#{$prefix}field-outline-control {
                > .#{$prefix}field-outline-label {
                    @include display-flex(inline-flex);
                }
            }
        }

        &.focused {
            .#{$prefix}field-outline-control {
                --#{$prefix}field-floating-label-color: var(--#{$prefix}field-active-border-color);
                --#{$prefix}field-outline-border-width: var(--#{$prefix}field-active-border-width);
                --#{$prefix}field-outline-border-color: var(--#{$prefix}field-active-border-color);
                --#{$prefix}field-outline-opacity: 1;
            }
        }

        &.disabled {
            --#{$prefix}field-outline-opacity: calc(var(--#{$prefix}field-disabled-opacity) - .2);
        }

        &.#{$prefix}field-rounded {
            &.#{$prefix}text-field, &.#{$prefix}numeric-field {
                &:not(.prepend-icon) {
                    --#{$prefix}field-padding-start: #{math.div($text-field-height, 2)};

                    &:not(.#{$prefix}floating-label) {
                        --#{$prefix}field-padding-start: 1.375rem;
                    }
                }

                --#{$prefix}field-outline-border-radius: #{$border-radius-pill};

                .#{$prefix}field-outline-control {
                    > .#{$prefix}field-outline-start {
                        width: math.div($text-field-height, 2);
                    }
                }

                > .#{$prefix}field-inner {
                    > .#{$prefix}prepend-inner {
                        margin-left: $padding-base;
                    }

                    > .#{$prefix}append-inner {
                        margin-right: $padding-base;
                    }

                    > .#{$prefix}field-activator + .#{$prefix}action-icon {
                        margin-right: $padding-base;

                        + .#{$prefix}append-inner {
                            margin-left: -$padding-xs;
                        }
                    }
                }
            }
        }
    }

    &:not(.#{$prefix}field-outlined):not(.#{$prefix}field-filled) {
        --#{$prefix}field-padding-start: 0;

        &:not(.append-icon) {
            --#{$prefix}field-padding-end: 0;
        }

        .#{$prefix}prepend-inner {
            margin-left: 0;
            margin-right: $padding-base;
        }

        .#{$prefix}append-inner {
            margin-right: 0;
        }

        .#{$prefix}action-icon:last-child {
            margin-right: 0;
        }

        &.#{$prefix}floating-label {
            .#{$prefix}field-label {
                top: .375rem;
            }
        }

        &.active, &.focused {
            --#{$prefix}field-floating-label-transform: translateY(-16px) scale(.85);
        }
    }

    &:not(.#{$prefix}floating-label) {
        --#{$prefix}field-control-height: 2.5rem;
        --#{$prefix}field-padding-top: .425rem;

        &.#{$prefix}field-outlined {
            --#{$prefix}field-padding-top: .5rem;
            --#{$prefix}field-padding-bottom: .5rem;

            .#{$prefix}field-outline-control {
                > .#{$prefix}field-outline-label {
                    display: none;
                }
            }
        }

        > .#{$prefix}field-inner {
            > .#{$prefix}prepend-inner,
            > .#{$prefix}append-inner {
                > .#{$prefix}icon {
                    @include align-self(center);
                    margin-top: 0;
                }
            }

            > .#{$prefix}action-icon {
                > .#{$prefix}icon, > .#{$prefix}toggle-icon {
                    @include align-self(center);
                    margin-top: 0;
                }
            }
        }
    }

}

.#{$prefix}textarea {
    --#{$prefix}field-padding-top: #{$text-field-padding-top + .25};
    --#{$prefix}field-control-height: #{$text-field-line-height * 2};

    > .#{$prefix}field-inner {
        > .#{$prefix}field-activator {
            > textarea {
                padding-top: 0;
                padding-bottom: 0;
                padding-inline-start: 0;
                padding-inline-end: 0;
                margin: var(--#{$prefix}field-padding-top) var(--#{$prefix}field-padding-end) var(--#{$prefix}field-padding-bottom) var(--#{$prefix}field-padding-start);
            }
        }
    }

    &.#{$prefix}textarea-noresize {
        > .#{$prefix}field-inner {
            > .#{$prefix}field-activator {
                > textarea {
                    resize: none;
                }
            }
        }
    }

    &.#{$prefix}textarea-autogrow {
        > .#{$prefix}field-inner {
            > .#{$prefix}field-activator {
                > textarea {
                    overflow-y: hidden;
                }
            }
        }
    }

    &.#{$prefix}floating-label {
        .#{$prefix}field-label {
            @include align-items(flex-start);
            top: 1rem;
        }
    }

    &:not(.#{$prefix}field-outlined):not(.#{$prefix}field-filled) {
        &.#{$prefix}floating-label {
            .#{$prefix}field-label {
                top: 1.5rem;
            }
        }
    }

    &:not(.#{$prefix}floating-label) {
        > .#{$prefix}field-inner {
            > .#{$prefix}prepend-inner,
            > .#{$prefix}append-inner {
                > .#{$prefix}icon {
                    @include align-self(flex-start);
                    margin-top: .75rem;
                }
            }

            > .#{$prefix}action-icon {
                > .#{$prefix}icon, > .#{$prefix}toggle-icon {
                    @include align-self(flex-start);
                    margin-top: .75rem;
                }
            }
        }
    }
}

.#{$prefix}field {
    &.has-success {
        //$textSuccess: lighten($success-color, 8%);
        --#{$prefix}field-active-border-color: #{$success-color};
        --#{$prefix}field-border-color: #{$success-color};
        --#{$prefix}field-floating-label-color: #{$success-color};
    }

    &.has-error {
        --#{$prefix}field-active-border-color: #{$red-accent-3};
        --#{$prefix}field-border-color: #{$red-accent-3};
        --#{$prefix}field-floating-label-color: #{$red-accent-3};
    }

    &.has-success, &.has-error {
        .#{$prefix}field-control {
            &.#{$prefix}floating-label {
                --#{$prefix}field-floating-label-opacity: .85;
            }
        }
    }
}
