@use 'sass:color';
@use '../../../scss/mixins/css3/placeholder';
@use '../../../scss/color_vars' as colors;
@use '../../../scss/variables' as vars;

@layer components {
  .#{vars.$prefix}field-searchbox {
    --#{vars.$prefix}searchbox-bg: #{color.change(colors.$black, $alpha: 0.025)};
    --#{vars.$prefix}searchbox-color: currentColor;
    --#{vars.$prefix}searchbox-active-bg: #{colors.$white};
    --#{vars.$prefix}searchbox-active-border-color: var(--#{vars.$prefix}field-active-indicator);
    --#{vars.$prefix}searchbox-border-color: #{color.change(colors.$black, $alpha: 0.07)};
    --#{vars.$prefix}searchbox-border-width: thin;
    --#{vars.$prefix}searchbox-border-radius: var(--#{vars.$prefix}radius);
    --#{vars.$prefix}searchbox-font-size: var(--font-size-default, 1rem);
    --#{vars.$prefix}searchbox-font-weight: var(--font-weight-normal, 400);
    --#{vars.$prefix}searchbox-padding-x: 0.375rem;
    --#{vars.$prefix}searchbox-padding-y: 0.375rem;
    // prettier-ignore
    --#{vars.$prefix}searchbox-focused-shadow: color-mix(in oklch, var(--#{vars.$prefix}field-active-indicator), transparent 75%);

    // used internally
    --#{vars.$prefix}searchbox-state-bg: var(--#{vars.$prefix}searchbox-bg);
    --#{vars.$prefix}searchbox-state-border-color: var(--#{vars.$prefix}searchbox-border-color);
    --#{vars.$prefix}searchbox-state-opacity: 1;

    position: relative;
    width: 100%;

    .#{vars.$prefix}searchbox-inner {
      display: flex;
      column-gap: 0.25rem;
      align-items: center;
      // prettier-ignore
      transition: border-color vars.$transition-basic, box-shadow vars.$transition-basic;
      // prettier-ignore
      padding: var(--#{vars.$prefix}searchbox-padding-y) var(--#{vars.$prefix}searchbox-padding-x);
      background-color: var(--#{vars.$prefix}searchbox-state-bg);
      // prettier-ignore
      border: var(--#{vars.$prefix}searchbox-border-width) solid var(--#{vars.$prefix}searchbox-state-border-color);
      border-radius: var(--#{vars.$prefix}searchbox-border-radius);
      opacity: var(--#{vars.$prefix}searchbox-state-opacity);
      font-size: var(--#{vars.$prefix}searchbox-font-size);
      font-weight: var(--#{vars.$prefix}searchbox-font-weight);
      line-height: 1.5;
      position: relative;
      width: 100%;

      &.focused {
        --#{vars.$prefix}searchbox-state-bg: var(--#{vars.$prefix}searchbox-active-bg);
        // prettier-ignore
        --#{vars.$prefix}searchbox-state-border-color: var(--#{vars.$prefix}searchbox-active-border-color);
        box-shadow: 0 0 0.1rem 0.2rem var(--#{vars.$prefix}searchbox-focused-shadow);
      }

      &.readonly {
        --#{vars.$prefix}searchbox-state-opacity: var(--#{vars.$prefix}field-readonly-opacity);
      }

      &.disabled {
        --#{vars.$prefix}searchbox-state-opacity: var(--#{vars.$prefix}field-disabled-opacity);
      }
    }
  }

  .dark .#{vars.$prefix}field-searchbox,
  .#{vars.$prefix}field-searchbox.#{vars.$prefix}searchbox-dark {
    --#{vars.$prefix}field-active-indicator: var(--#{vars.$prefix}field-accent-indicator);
    --#{vars.$prefix}searchbox-bg: #{color.change(colors.$black, $alpha: 0.15)};
    --#{vars.$prefix}searchbox-color: #{colors.$gray-200};
    --#{vars.$prefix}searchbox-active-bg: #{color.change(colors.$black, $alpha: 0.35)};
    --#{vars.$prefix}searchbox-border-color: #{color.change(colors.$white, $alpha: 0.12)};
    --#{vars.$prefix}searchbox-focused-shadow: oklch(0.743 0.102 303.276 / 0.32);
  }
}

// Patch Bootstrap 'reboot.css'
// This patch must be placed outside the css layer.
.#{vars.$prefix}searchbox-inner {
  input {
    @include placeholder.decorate-input-placeholder();

    & {
      color: var(--#{vars.$prefix}searchbox-color);
      background: transparent;
      border: 0 transparent;
      font-size: inherit;
      width: 100%;
      outline: none;
      padding-left: 2px;
    }

    &:focus {
      outline: none;
    }
  }

  label {
    display: block;
    margin: 0;
    padding: 0;
    flex-grow: 1;
  }
}
