@import "/node_modules/compass-mixins/lib/compass/css3";
@import "../../../scss/colors";
@import "../../../scss/variables";
@import "/node_modules/bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/variables";

.#{$prefix}side-drawer {
    @include transition($md-transition-default);
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: $zindex-sticky - 1;

    &.#{$prefix}closed {
        @include box-shadow(none !important);
    }

    > .#{$prefix}side-drawer-inner {
        @include flexbox((display:flex, flex-direction: column));
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    .divider {
        border-bottom: 1px solid rgba(200, 200, 200, 0.16);
    }
}
