@use "../../../scss/variables" as vars;

.#{vars.$prefix}drawer-host {
    height: 100%;
    position: absolute;
    z-index: vars.$zindex-sticky - 1;
    transition: vars.$transition-default;
}

.#{vars.$prefix}side-drawer {
    height: 100%;
    margin: 0;
    padding: 0;

    &.smooth-animation {
        transition: .55s vars.$transition-easeInOut;
    }

    &.drawer-closed {
        box-shadow: none !important;
    }

    > .#{vars.$prefix}side-drawer-inner {
        display:flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    .divider {
        border-bottom: 1px solid rgba(200, 200, 200, 0.16);
    }
}
