@use '../mixins/chip';
@use '../color_vars' as colors;

// BsChip with custom colors
//----------------------------
@each $name, $color in colors.$custom-theme-colors {
  @include chip.make-default-variant-light($name, $color);
  @include chip.make-outline-variant-light($name, $color);
}
