@use 'sass:color';
@use 'sass:map';
@use '../mixins/css3/text-decorators' as decorators;
@use '../utils/color_helper' as helper;
@use '../color_vars' as colors;
@use '../variables' as vars;

// Create custom colors for background, borders and text
//--------------------------------------------------------
$final-colors: map.remove(
  colors.$merge-theme-colors,
  'dark',
  'elegant-color-dark',
  'dark-blue',
  'primary-color-dark',
  'default',
  'primary',
  'secondary',
  'info',
  'success',
  'warning',
  'danger',
  'grey',
  'light-grey',
  'light',
  'dark',
  'black',
  'white'
);

@each $name, $color in $final-colors {
  @include decorators.decorate-color($name, $color);
}

// Manually adds duplicate custom colors
//---------------------------------------
@include decorators.decorate-color(
  'dark-blue',
  colors.$primary-color-dark,
  $alias-name1: 'primary-color-dark'
);

// Create full color palette for background
//-------------------------------------------
@each $name, $colors in colors.$full-palette {
  @each $sub_name, $color_value in $colors {
    @if $sub_name == 'base' {
      @if (map.get(colors.$theme-colors, $name) == null) {
        .bg-#{$name} {
          background-color: $color_value;
        }
      }

      .bg-rgba-#{$name}-slight,
      .bg-rgba-#{$name}-slight:after {
        background-color: color.change($color_value, $alpha: 0.1);
      }

      .bg-rgba-#{$name}-light,
      .bg-rgba-#{$name}-light:after {
        background-color: color.change($color_value, $alpha: 0.3);
      }

      .bg-rgba-#{$name}-strong,
      .bg-rgba-#{$name}-strong:after {
        background-color: color.change(
          helper.to-oklch(color.adjust($color_value, $lightness: -5%)),
          $alpha: 0.7
        );
      }
    } @else {
      @if colors.$enable_full_palette {
        @include decorators.decorate-color(
          '#{$name}.#{$sub_name}',
          $color_value,
          $border: false,
          $text: false
        );
      }
    }
  }
}
