@use '../mixins/listview';
@use '../color_vars' as colors;

// BsListTile, BsListNav and BsListView with custom colors
//---------------------------------------------------------
@each $name, $color in colors.$custom-theme-colors {
  @include listview.make-listview-variant($name, $color);
}
