@use "sass:color";
@use "sass:math";
@import "compass-mixins/lib/compass/css3";
@import "../../../scss/colors";
@import "../../../scss/variables";

.#{$prefix}datepicker {
    --#{$prefix}datepiker-border-radius: #{$border-radius-base};
    --#{$prefix}datepiker-padding-x: #{$padding-base};
    --#{$prefix}datepiker-padding-y: #{$padding-base};
    --#{$prefix}datepiker-header-color: #{$white};
    --#{$prefix}datepiker-table-header-color: #{$gray-600};
    --#{$prefix}datepiker-title-font-size: 1.8rem;
    --#{$prefix}datepiker-subtitle-font-size: 1.25rem;

    @include border-radius(var(--#{$prefix}datepiker-border-radius));
    position: relative;

    > .#{$prefix}datepicker-inner {
        width: 100%;
    }

    .#{$prefix}datepicker-body {
        @include border-radius(var(--#{$prefix}datepiker-border-radius));
        min-height: 280px;
        position: relative;

        table {
            @include transition($md-transition-stand);
            table-layout: fixed;
            width: 100%;

            td, th {
                position: relative;
                text-align: center;
            }
        }
    }

    .#{$prefix}datepicker-header,
    .#{$prefix}datepicker-days {
        padding: var(--#{$prefix}datepiker-padding-y) var(--#{$prefix}datepiker-padding-x);
    }

    .#{$prefix}datepicker-header {
        @include border-top-radius(var(--#{$prefix}datepiker-border-radius));

        color: var(--#{$prefix}datepiker-header-color);
        font-weight: $font-weight-semi-bold;
        line-height: normal;

        > .#{$prefix}datepicker-title {
            font-size: var(--#{$prefix}datepiker-title-font-size);
            overflow: hidden;
            position: relative;
        }

        > .#{$prefix}datepicker-subtitle {
            font-size: var(--#{$prefix}datepiker-subtitle-font-size);
            margin-bottom: calc(var(--#{$prefix}datepiker-padding-y) / 4);
        }

        .#{$prefix}datepicker-year,
        .#{$prefix}datepicker-time,
        > .#{$prefix}datepicker-title {
            @include user-select(none);
            @include transition($md-transition-drop);

            &:not(.active) {
                opacity: var(--#{$prefix}field-readonly-opacity);

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .#{$prefix}datepicker-nav {
        @include flexbox((display: flex, justify-content: space-between, align-items: center));
        padding: calc(var(--#{$prefix}datepiker-padding-y) / 2) var(--#{$prefix}datepiker-padding-x);

        > .#{$prefix}datepicker-nav-title {
            @include flex(1);
            cursor: pointer;
            overflow: hidden;
            position: relative;
            text-align: center;

            > .#{$prefix}fw-bold {
                @include transition($md-transition-stand);
                display: block;
                width: 100%;
            }

            &.disabled {
                opacity: var(--#{$prefix}field-readonly-opacity);
            }
        }

        > .#{$prefix}btn-icon {
            --#{$bs-prefix}btn-inner-height: 2.5rem;
            --#{$bs-prefix}btn-inner-width: 2.5rem;
        }
    }

    .#{$prefix}datepicker-days,
    .#{$prefix}datepicker-months,
    .#{$prefix}datepicker-years {
        padding: 0 calc(var(--#{$prefix}datepiker-padding-x) - .25rem) calc(var(--#{$prefix}datepiker-padding-y) - .25rem);
        position: relative;
        overflow: hidden;

        .#{$prefix}btn-today {
            --#{$bs-prefix}btn-border-color: var(--#{$bs-prefix}btn-color);
        }
    }

    .#{$prefix}datepicker-days {
        th {
            @include user-select(none);
            color: var(--#{$prefix}datepiker-table-header-color);
            padding: calc(var(--#{$prefix}datepiker-padding-y) / 2) 0;
            pointer-events: none;
        }

        td {
            height: 40px;
            vertical-align: middle;
        }

        .#{$prefix}btn-icon {
            --#{$bs-prefix}btn-sm-inner-height: 2.125rem;
            --#{$bs-prefix}btn-sm-inner-width: 2.125rem;

            &.disabled {
                --#{$bs-prefix}btn-disabled-bg: transparent;
            }
        }
    }

    .#{$prefix}datepicker-months,
    .#{$prefix}datepicker-years,
    .#{$prefix}picker-times,
    .#{$prefix}picker-minutes,
    .#{$prefix}picker-seconds {
        td {
            height: 54px;
            vertical-align: middle;
        }
    }

    .#{$prefix}datepicker-times {
        padding: calc(var(--#{$prefix}datepiker-padding-y) / 2) calc(var(--#{$prefix}datepiker-padding-x) - .25rem);

        .#{$prefix}picker-times {
            margin-top: $padding-sm;
        }

        .#{$prefix}picker-hours {
            td {
                height: 44px;
                vertical-align: middle;
            }
        }

        .#{$prefix}picker-times-sep {
            width: 1rem;
            font-size: 22px;
            font-weight: bold;
            padding-bottom: $padding-xs;
        }
    }

    &:not(.#{$prefix}landscape) {
        .#{$prefix}datepicker-header {
            + .#{$prefix}datepicker-body {
                @include border-top-radius(0);
            }
        }
    }

    &.#{$prefix}landscape {
        .#{$prefix}datepicker-header {
            @include border-left-radius(var(--#{$prefix}datepiker-border-radius));
            @include border-right-radius(0);
            width: 200px;

            + .#{$prefix}datepicker-body {
                @include border-left-radius(0);
            }
        }
    }

    .#{$prefix}datepicker-header {
        &.bg-white, &.bg-light, &.bg-light-grey, &.bg-yellow {
            --#{$prefix}datepiker-header-color: #{$grey-darken-3};
        }
    }

    .#{$prefix}datepicker-body {
        &:not(.bg-white):not(.bg-light):not(.bg-light-grey):not(.bg-amber):not(.bg-lime):not(.bg-yellow) {
            --#{$prefix}datepiker-table-header-color: #{$grey-base};

            color: $grey-lighten-4;

            .btn-flat-dark {
                --#{$bs-prefix}btn-color: #{$grey-lighten-2};
                --#{$bs-prefix}btn-hover-color: #{$white};
                --#{$bs-prefix}btn-hover-bg: rgba(70, 70, 70, 0.8);
            }

            &.bg-grey {
                --#{$prefix}datepiker-table-header-color: #{$grey-lighten-3};

                .btn-flat-dark {
                    --#{$bs-prefix}btn-color: #{$grey-lighten-4};
                }
            }
        }
    }
}

.#{$prefix}field-control {
    &.#{$prefix}datetime-field {
        .#{$prefix}prepend-inner,
        .#{$prefix}append-inner {
            cursor: pointer;
        }
    }
}
