@use "sass:map";
@use "sass:math";
@use "../../../scss/mixins/css3/borders";
@use "../../../scss/mixins/listview";
@use "../../../scss/color_vars" as colors;
@use "../../../scss/variables" as vars;

.#{vars.$prefix}list {
    --#{vars.$prefix}listview-padding-x: 0;
    --#{vars.$prefix}listview-padding-y: #{vars.$padding-sm};

    --#{vars.$prefix}tile-minheight: 2.5rem;
    --#{vars.$prefix}tile-action-minwidth: 1.5rem;
    --#{vars.$prefix}tile-spacing-x: #{vars.$padding-base - .5};
    --#{vars.$prefix}tile-spacing-y: .375rem;
    --#{vars.$prefix}tile-padding-x: #{vars.$padding-base};
    --#{vars.$prefix}tile-padding-y: #{vars.$padding-sm};
    --#{vars.$prefix}tile-title-font-size: #{vars.$font-size-base};
    --#{vars.$prefix}tile-title-font-weight: #{vars.$font-weight-normal};
    --#{vars.$prefix}tile-subtitle-font-size: #{math.div((vars.$font-size-base * 90), 100)};
    --#{vars.$prefix}tile-active-title-font-weight: #{vars.$font-weight-semi-bold};
    --#{vars.$prefix}tile-active-indicator-border: 4px;

    --#{vars.$prefix}nav-item-padding-x: #{vars.$padding-base};
    --#{vars.$prefix}nav-item-padding-y: #{vars.$padding-xs};
    --#{vars.$prefix}nav-item-line-height: normal;
    --#{vars.$prefix}nav-item-font-size: #{vars.$font-size-base};
    --#{vars.$prefix}nav-item-font-weight: #{vars.$font-weight-normal};
    --#{vars.$prefix}nav-item-active-font-weight: #{vars.$font-weight-semi-bold};

    background-color: var(--#{vars.$prefix}listview-bg);
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    padding: var(--#{vars.$prefix}listview-padding-y) var(--#{vars.$prefix}listview-padding-x);
    transition: vars.$transition-default, height;

    .#{vars.$prefix}subheader {
        user-select: none;
    }

    .dropdown-menu {
        --#{vars.$prefix-bs}dropdown-padding-y: 0;
        --#{vars.$prefix-bs}dropdown-item-padding-y: var(--#{vars.$prefix}tile-padding-y);
        --#{vars.$prefix-bs}dropdown-header-color: var(--#{vars.$prefix}subheader-color);
    }

    &.#{vars.$prefix}list-space-both,
    &.#{vars.$prefix}list-space-left,
    &.#{vars.$prefix}list-space-right {
        .dropdown-item {
            margin-bottom: calc(var(--#{vars.$prefix}tile-spacing-y) * .5);
            margin-top: calc(var(--#{vars.$prefix}tile-spacing-y) * .5);
        }
    }

    &.#{vars.$prefix}list-space-both,
    &.#{vars.$prefix}list-space-left {
        .dropdown-item {
            margin-left: var(--#{vars.$prefix}tile-spacing-x);
        }
    }

    &.#{vars.$prefix}list-space-both,
    &.#{vars.$prefix}list-space-right {
        .dropdown-item {
            margin-right: var(--#{vars.$prefix}tile-spacing-x);
        }
    }
}

.card {
    > .#{vars.$prefix}list:first-child {
        @include borders.top-radius(var(--#{vars.$prefix-bs}card-border-radius));
    }

    > .#{vars.$prefix}list:last-child {
        @include borders.bottom-radius(var(--#{vars.$prefix-bs}card-border-radius));
    }
}

@each $name, $color in map.merge(colors.$context-colors, ("white": colors.$white, "black": colors.$black)) {
    @include listview.make-listview-variant($name, $color);
}
