@import "compass-mixins/lib/compass/css3";
@import "../../../scss/utils/color_functions";
@import "../../../scss/mixins/listview";
@import "../../../scss/color_vars";
@import "../../../scss/variables";

.#{$prefix}list {
    --#{$prefix}listview-padding-x: 0;
    --#{$prefix}listview-padding-y: #{$padding-sm};

    --#{$prefix}tile-minheight: 2.5rem;
    --#{$prefix}tile-action-minwidth: 1.5rem;
    --#{$prefix}tile-spacing-x: #{$padding-base - .5};
    --#{$prefix}tile-spacing-y: .375rem;
    --#{$prefix}tile-padding-x: #{$padding-base};
    --#{$prefix}tile-padding-y: #{$padding-sm};
    --#{$prefix}tile-title-font-size: #{$font-size-base};
    --#{$prefix}tile-title-font-weight: #{$font-weight-normal};
    --#{$prefix}tile-subtitle-font-size: #{calc($font-size-base * 90/100)};
    --#{$prefix}tile-active-title-font-weight: #{$font-weight-semi-bold};
    --#{$prefix}tile-active-indicator-border: 4px;

    --#{$prefix}nav-item-padding-x: #{$padding-base};
    --#{$prefix}nav-item-padding-y: #{$padding-xs};
    --#{$prefix}nav-item-line-height: normal;
    --#{$prefix}nav-item-font-size: #{$font-size-base};
    --#{$prefix}nav-item-font-weight: #{$font-weight-normal};
    --#{$prefix}nav-item-active-font-weight: #{$font-weight-semi-bold};

    @include transition($transition-default, height);
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    background-color: var(--#{$prefix}listview-bg);
    padding: var(--#{$prefix}listview-padding-y) var(--#{$prefix}listview-padding-x);

    .#{$prefix}subheader {
        @include user-select(none);
    }

    .dropdown-menu {
        --#{$prefix-bs}dropdown-padding-y: 0;
        --#{$prefix-bs}dropdown-item-padding-y: var(--#{$prefix}tile-padding-y);
        --#{$prefix-bs}dropdown-header-color: var(--#{$prefix}subheader-color);
    }

    &.#{$prefix}list-space-both,
    &.#{$prefix}list-space-left,
    &.#{$prefix}list-space-right {
        .dropdown-item {
            margin-bottom: calc(var(--#{$prefix}tile-spacing-y) * .5);
            margin-top: calc(var(--#{$prefix}tile-spacing-y) * .5);
        }
    }

    &.#{$prefix}list-space-both,
    &.#{$prefix}list-space-left {
        .dropdown-item {
            margin-left: var(--#{$prefix}tile-spacing-x);
        }
    }

    &.#{$prefix}list-space-both,
    &.#{$prefix}list-space-right {
        .dropdown-item {
            margin-right: var(--#{$prefix}tile-spacing-x);
        }
    }
}

.card {
    > .#{$prefix}list:first-child {
        @include border-top-radius(var(--#{$prefix-bs}card-border-radius));
    }

    > .#{$prefix}list:last-child {
        @include border-bottom-radius(var(--#{$prefix-bs}card-border-radius));
    }
}

@each $name, $color in map-merge($merge-theme-colors, ("white": $white)) {
    @include make-listview-variant($name, $color);
}
