@import "../../../scss/colors";
@import "../../../scss/variables";
@import "../../../scss/functions";
@import "../../../scss/mixins/listview";
@import "~compass-mixins/lib/compass/css3";


.#{$prefix}list-tile {
    --#{$prefix}tile-state-bgcolor: inherit;
    --#{$prefix}tile-state-action-color: var(--#{$prefix}tile-action-color);
    --#{$prefix}tile-state-leading-color: var(--#{$prefix}tile-leading-color);
    --#{$prefix}tile-state-leading-icon-color: var(--#{$prefix}tile-leading-color);
    --#{$prefix}tile-state-subtitle-color: var(--#{$prefix}tile-subtitle-color);
    --#{$prefix}tile-state-title-color: var(--#{$prefix}tile-title-color);
    --#{$prefix}tile-state-title-font-weight: var(--#{$prefix}tile-title-font-weight);

    @include transition($transition-hoverable);
    @include user-select(none);
    position: relative;
    text-decoration: none;
    background-color: var(--#{$prefix}tile-state-bgcolor);

    &:active,
    &:focus,
    &:hover {
        text-decoration: none;
    }

    &:not(.disabled):not(.active) {
        &.#{$prefix}link:hover {
            --#{$prefix}tile-state-bgcolor: var(--#{$prefix}tile-hover-bg);
        }
    }

    .#{$prefix}list-tile-title,
    .#{$prefix}list-tile-subtitle {
        @include transition(.3s $md-transition-stand-timing);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }

    .#{$prefix}list-tile-leading {
        color: var(--#{$prefix}tile-state-leading-color);
        max-width: 100%;

        &.#{$prefix}has-icon {
            color: var(--#{$prefix}tile-state-leading-icon-color);
        }
    }

    .#{$prefix}list-tile-title {
        color: var(--#{$prefix}tile-state-title-color);
    }

    .#{$prefix}list-tile-subtitle {
        color: var(--#{$prefix}tile-state-subtitle-color);
    }

    .#{$prefix}list-tile-action {
        color: var(--#{$prefix}tile-state-action-color);
        min-width: var(--#{$prefix}tile-action-minwidth);
        max-width: 100%;

        &.#{$prefix}action-stack {
            @include flexbox((display: flex, align-self: flex-start, flex-direction: column));
        }

        .#{$prefix}checkbox {
            --#{$prefix}checkbox-margin: #{$padding-sm $padding-sm $padding-sm 0};
        }
    }

    .#{$prefix}list-tile-content {
        @include flexbox((display: flex, flex: 1, align-self: center, flex-direction: column));
        max-width: 100%;
        width: auto;
        overflow: hidden;

        > .#{$prefix}list-tile-title {
            font-size: var(--#{$prefix}tile-title-font-size);
            font-weight: var(--#{$prefix}tile-state-title-font-weight);
        }

        > .#{$prefix}list-tile-subtitle {
            font-size: var(--#{$prefix}tile-subtitle-font-size);
        }

        &.#{$prefix}multiline {
            > .#{$prefix}list-tile-subtitle {
                white-space: normal;
            }
        }
    }

    > .#{$prefix}ripple {
        min-height: var(--#{$prefix}tile-minheight);
        padding: var(--#{$prefix}tile-padding-y) var(--#{$prefix}tile-padding-x);
        position: relative;

        > div[class^="#{$prefix}list-tile-"] {
            &:nth-child(2),
            &:last-child:not(:first-child) {
                margin-left: var(--#{$prefix}tile-padding-x);
            }

            &.#{$prefix}has-icon {
                @include flexbox((display: flex, align-items: center, align-self: center, justify-content: center));
                margin-right: calc(var(--#{$prefix}tile-padding-x) - .75rem);
            }
        }
    }

    &.active {
        --#{$prefix}tile-state-bgcolor: var(--#{$prefix}tile-active-bg);
        --#{$prefix}tile-state-action-color: var(--#{$prefix}tile-active-action-color);
        --#{$prefix}tile-state-leading-color: var(--#{$prefix}tile-active-leading-color);
        --#{$prefix}tile-state-leading-icon-color: var(--#{$prefix}tile-active-leading-icon-color);
        --#{$prefix}tile-state-subtitle-color: var(--#{$prefix}tile-active-subtitle-color);
        --#{$prefix}tile-state-title-color: var(--#{$prefix}tile-active-title-color);
        --#{$prefix}tile-state-title-font-weight: var(--#{$prefix}tile-active-title-font-weight);
    }

    &.disabled {
        --#{$prefix}tile-state-action-color: var(--#{$prefix}tile-disable-action-color);
        --#{$prefix}tile-state-leading-color: var(--#{$prefix}tile-disable-leading-color);
        --#{$prefix}tile-state-subtitle-color: var(--#{$prefix}tile-disable-subtitle-color);
        --#{$prefix}tile-state-title-color: var(--#{$prefix}tile-disable-title-color);
    }
}

.#{$prefix}list-tile, .#{$prefix}nav-item-inner {
    &.#{$prefix}tile-space-both,
    &.#{$prefix}tile-space-left,
    &.#{$prefix}tile-space-right {
        margin-bottom: var(--#{$prefix}tile-spacing-y);
        margin-top: var(--#{$prefix}tile-spacing-y);
    }

    &.#{$prefix}tile-space-both,
    &.#{$prefix}tile-space-left {
        margin-left: var(--#{$prefix}tile-spacing-x);
    }

    &.#{$prefix}tile-space-both,
    &.#{$prefix}tile-space-right {
        margin-right: var(--#{$prefix}tile-spacing-x);
    }

    &.#{$prefix}tile-border-left,
    &.#{$prefix}tile-border-right,
    &.#{$prefix}tile-border-left-right,
    &.#{$prefix}tile-border-top,
    &.#{$prefix}tile-border-bottom,
    &.#{$prefix}tile-border-top-bottom {
        &.active {
            > .#{$prefix}ripple {
                &:before,
                &:after {
                    @include transition(.3s $md-transition-stand-timing);
                    background: var(--#{$prefix}tile-active-indicator-border-color);
                    content: " ";
                    display: block;
                    position: absolute;
                }
            }
        }
    }

    &.#{$prefix}tile-border-left,
    &.#{$prefix}tile-border-left-right {
        &.active {
            > .#{$prefix}ripple {
                &:before {
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: var(--#{$prefix}tile-active-indicator-border);
                }
            }
        }
    }

    &.#{$prefix}tile-border-right,
    &.#{$prefix}tile-border-left-right {
        &.active {
            > .#{$prefix}ripple {
                &:after {
                    right: 0;
                    top: 0;
                    height: 100%;
                    width: var(--#{$prefix}tile-active-indicator-border);
                }
            }
        }
    }

    &.#{$prefix}tile-border-left,
    &.#{$prefix}tile-border-right,
    &.#{$prefix}tile-border-left-right {
        &.active {
            > .#{$prefix}ripple {
                &.rounded-pill {
                    &:before,
                    &:after {
                        --#{$prefix}tile-active-indicator-border: 6px;
                        @include border-radius(40%);
                        top: 30%;
                        height: 40%;
                    }
                }
            }
        }
    }

    &.#{$prefix}tile-border-top,
    &.#{$prefix}tile-border-top-bottom {
        &.active {
            > .#{$prefix}ripple {
                &:before {
                    left: 0;
                    top: 0;
                    height: var(--#{$prefix}tile-active-indicator-border);
                    width: 100%;
                }
            }
        }
    }

    &.#{$prefix}tile-border-bottom,
    &.#{$prefix}tile-border-top-bottom {
        &.active {
            > .#{$prefix}ripple {
                &:after {
                    left: 0;
                    bottom: 0;
                    height: var(--#{$prefix}tile-active-indicator-border);
                    width: 100%;
                }
            }
        }
    }

    &.#{$prefix}tile-border-top,
    &.#{$prefix}tile-border-bottom,
    &.#{$prefix}tile-border-top-bottom {
        &.active {
            > .#{$prefix}ripple {
                &.rounded-pill {
                    &:before,
                    &:after {
                        --#{$prefix}tile-active-indicator-border: 5px;
                        width: 85%;
                        left: 7.5%;
                    }
                }
            }
        }
    }

    &.#{$prefix}tile-border-top,
    &.#{$prefix}tile-border-top-bottom {
        &.active {
            > .#{$prefix}ripple {
                &.rounded-pill {
                    &:before {
                        @include border-bottom-radius(6px);
                    }
                }
            }
        }
    }

    &.#{$prefix}tile-border-bottom,
    &.#{$prefix}tile-border-top-bottom {
        &.active {
            > .#{$prefix}ripple {
                &.rounded-pill {
                    &:after {
                        @include border-top-radius(6px);
                    }
                }
            }
        }
    }
}

.#{$prefix}nav-item {
    &.#{$prefix}expanded {
        > .#{$prefix}nav-item-inner {
            &.#{$prefix}tile-border-top,
            &.#{$prefix}tile-border-bottom,
            &.#{$prefix}tile-border-top-bottom,
            &.#{$prefix}tile-border-right,
            &.#{$prefix}tile-border-left,
            &.#{$prefix}tile-border-left-right {
                &.active {
                    > .#{$prefix}ripple {
                        &:before,
                        &:after {
                            --#{$prefix}tile-active-indicator-border: 0;
                        }
                    }
                }
            }
        }
    }
}

@each $name, $color in map-merge($merge-theme-colors, ("white": $white)) {
    @include make-list-tile-variant($name, $color);
}
