@use '../../../scss/mixins/css3/borders';
@use '../../../scss/variables' as vars;

@layer components {
  .#{vars.$prefix}list-nav {
    --#{vars.$prefix}nav-item-color: var(--navigation-item-foreground);
    --#{vars.$prefix}nav-item-icon-color: var(--navigation-item-foreground-subtle);
    --#{vars.$prefix}nav-item-divider-color: var(--border-translucent);

    --#{vars.$prefix}nav-item-active-bg: var(--navigation-item-active-background);
    --#{vars.$prefix}nav-item-active-color: var(--navigation-item-active-foreground);
    // prettier-ignore
    --#{vars.$prefix}nav-item-active-icon-color: var(--navigation-item-active-foreground-secondary);
    --#{vars.$prefix}nav-item-expanded-bg: var(--navigation-item-expanded-background);
    --#{vars.$prefix}nav-item-hover-bg: var(--navigation-item-hover-background);

    // used internally
    --#{vars.$prefix}nav-item-state-bg: transparent;
    --#{vars.$prefix}nav-item-state-color: var(--#{vars.$prefix}nav-item-color);
    // prettier-ignore
    --#{vars.$prefix}nav-item-state-icon-color: var(--#{vars.$prefix}nav-item-icon-color);
    // prettier-ignore
    --#{vars.$prefix}nav-item-state-font-weight: var(--#{vars.$prefix}nav-item-font-weight);
    --#{vars.$prefix}nav-item-inner-state-bg: inherit;
    --#{vars.$prefix}nav-item-padding-left: var(--#{vars.$prefix}nav-item-padding-x);
    --#{vars.$prefix}nav-item-padding-right: var(--#{vars.$prefix}nav-item-padding-x);

    &.collapsing {
      transition: height 0.65s vars.$transition-drop-animation;
    }

    &:not(.#{vars.$prefix}nav-child) {
      > .#{vars.$prefix}nav-item {
        &.#{vars.$prefix}expanded {
          --#{vars.$prefix}nav-item-state-bg: var(--#{vars.$prefix}nav-item-expanded-bg);
          --#{vars.$prefix}nav-item-inner-state-bg: transparent;
        }
      }
    }

    .#{vars.$prefix}nav-item {
      background-color: var(--#{vars.$prefix}nav-item-state-bg);
      white-space: nowrap;

      > .#{vars.$prefix}nav-item-inner {
        background-color: var(--#{vars.$prefix}nav-item-inner-state-bg);
        font-size: var(--#{vars.$prefix}nav-item-font-size);
        font-weight: var(--#{vars.$prefix}nav-item-state-font-weight);

        > .#{vars.$prefix}ripple {
          line-height: var(--#{vars.$prefix}nav-item-line-height);
          // prettier-ignore
          padding: var(--#{vars.$prefix}nav-item-padding-y) var(--#{vars.$prefix}nav-item-padding-right) var(--#{vars.$prefix}nav-item-padding-y) var(--#{vars.$prefix}nav-item-padding-left);
          min-height: var(--#{vars.$prefix}tile-minheight);

          > .#{vars.$prefix}nav-text {
            flex: 1;
            opacity: 1;
            transition: opacity 0.8s;
          }

          > .#{vars.$prefix}icon:first-child {
            margin-right: calc(var(--#{vars.$prefix}nav-item-padding-x) + 0.25rem);
            color: var(--#{vars.$prefix}nav-item-state-icon-color);
          }

          > .#{vars.$prefix}badge {
            --#{vars.$prefix}badge-font-size: 0.75em;
            --#{vars.$prefix}badge-padding-y: #{vars.$padding-xs};
            --#{vars.$prefix}badge-font-weight: #{vars.$font-weight-normal};

            line-height: var(--#{vars.$prefix}nav-item-line-height);
          }

          > .expand-more {
            color: var(--#{vars.$prefix}nav-item-state-icon-color);
            transform: rotateZ(0deg);
            transition: all 0.3s ease 0s;
          }
        }
      }

      &.#{vars.$prefix}expanded {
        > .#{vars.$prefix}nav-item-inner {
          > .#{vars.$prefix}ripple {
            > .expand-more {
              transform: rotateZ(-180deg);
            }
          }
        }
      }

      &.active {
        // prettier-ignore
        --#{vars.$prefix}nav-item-inner-state-bg: var(--#{vars.$prefix}nav-item-active-bg);
        // prettier-ignore
        --#{vars.$prefix}nav-item-state-color: var(--#{vars.$prefix}nav-item-active-color);
        // prettier-ignore
        --#{vars.$prefix}nav-item-state-icon-color: var(--#{vars.$prefix}nav-item-active-icon-color);
        // prettier-ignore
        --#{vars.$prefix}nav-item-state-font-weight: var(--#{vars.$prefix}nav-item-active-font-weight);

        &.#{vars.$prefix}nav-parent {
          &.#{vars.$prefix}expanded {
            --#{vars.$prefix}nav-item-inner-state-bg: transparent;
            --#{vars.$prefix}nav-item-state-color: var(--#{vars.$prefix}nav-item-color);
            // prettier-ignore
            --#{vars.$prefix}nav-item-state-icon-color: var(--#{vars.$prefix}nav-item-icon-color);
          }
        }
      }

      &:hover {
        &:not(.#{vars.$prefix}expanded):not(.active):not(.disabled) {
          --#{vars.$prefix}nav-item-inner-state-bg: var(--#{vars.$prefix}nav-item-hover-bg);
        }
      }

      &.disabled {
        opacity: var(--#{vars.$prefix}nav-item-disabled-opacity);

        > .#{vars.$prefix}nav-item-inner {
          cursor: default;
        }
      }
    }

    > .#{vars.$prefix}nav-item {
      &.#{vars.$prefix}expanded {
        &:not(:first-child) {
          border-top: 1px solid var(--#{vars.$prefix}nav-item-divider-color);
        }

        &:not(:last-child) {
          border-bottom: 1px solid var(--#{vars.$prefix}nav-item-divider-color);
        }
      }

      &.#{vars.$prefix}nav-parent {
        &.has-icon {
          > .#{vars.$prefix}nav-child {
            > .#{vars.$prefix}nav-item {
              &:not(.#{vars.$prefix}has-icon) {
                // prettier-ignore
                --#{vars.$prefix}nav-item-padding-left: calc(var(--#{vars.$prefix}nav-item-padding-x) + 2.75rem);
              }

              .#{vars.$prefix}nav-item {
                // prettier-ignore
                --#{vars.$prefix}nav-item-padding-left: calc(var(--#{vars.$prefix}nav-item-padding-x) + 3.75rem);
              }
            }
          }
        }

        &:not(.has-icon) {
          > .#{vars.$prefix}nav-child {
            > .#{vars.$prefix}nav-item {
              // prettier-ignore
              --#{vars.$prefix}nav-item-padding-left: calc(var(--#{vars.$prefix}nav-item-padding-x) + 1rem);

              .#{vars.$prefix}nav-item {
                // prettier-ignore
                --#{vars.$prefix}nav-item-padding-left: calc(var(--#{vars.$prefix}nav-item-padding-x) + 2rem);
              }
            }
          }
        }
      }
    }
  }

  .#{vars.$prefix}nav-item-inner {
    &.#{vars.$prefix}nav-space-both,
    &.#{vars.$prefix}nav-space-left,
    &.#{vars.$prefix}nav-space-right {
      margin-bottom: var(--#{vars.$prefix}tile-spacing-y);
      margin-top: var(--#{vars.$prefix}tile-spacing-y);
    }

    &.#{vars.$prefix}nav-space-both,
    &.#{vars.$prefix}nav-space-left {
      margin-left: var(--#{vars.$prefix}tile-spacing-x);
    }

    &.#{vars.$prefix}nav-space-both,
    &.#{vars.$prefix}nav-space-right {
      margin-right: var(--#{vars.$prefix}tile-spacing-x);
    }
  }

  .#{vars.$prefix}nav-item {
    &.active {
      > .#{vars.$prefix}nav-border-left,
      > .#{vars.$prefix}nav-border-right,
      > .#{vars.$prefix}nav-border-left-right,
      > .#{vars.$prefix}nav-border-top,
      > .#{vars.$prefix}nav-border-bottom,
      > .#{vars.$prefix}nav-border-top-bottom {
        > .#{vars.$prefix}ripple {
          &:before,
          &:after {
            background: var(--#{vars.$prefix}tile-indicator-border-color);
            content: ' ';
            display: block;
            position: absolute;
            transition: 0.3s vars.$transition-stand-animation;
          }
        }
      }

      > .#{vars.$prefix}nav-border-left,
      > .#{vars.$prefix}nav-border-left-right {
        > .#{vars.$prefix}ripple {
          &:before {
            width: var(--#{vars.$prefix}tile-indicator-border-width);
            height: 100%;
            left: 0;
            top: 0;
          }
        }
      }

      > .#{vars.$prefix}nav-border-right,
      > .#{vars.$prefix}nav-border-left-right {
        > .#{vars.$prefix}ripple {
          &:after {
            width: var(--#{vars.$prefix}tile-indicator-border-width);
            height: 100%;
            right: 0;
            top: 0;
          }
        }
      }

      > .#{vars.$prefix}nav-border-left,
      > .#{vars.$prefix}nav-border-right,
      > .#{vars.$prefix}nav-border-left-right {
        > .#{vars.$prefix}ripple {
          &.rounded-pill {
            &:before,
            &:after {
              --#{vars.$prefix}tile-indicator-border-width: 6px;

              @include borders.radius(40%);
              top: 30%;
              height: 40%;
            }
          }
        }
      }

      > .#{vars.$prefix}nav-border-top,
      > .#{vars.$prefix}nav-border-top-bottom {
        > .#{vars.$prefix}ripple {
          &:before {
            height: var(--#{vars.$prefix}tile-indicator-border-width);
            width: 100%;
            left: 0;
            top: 0;
          }
        }
      }

      > .#{vars.$prefix}nav-border-bottom,
      > .#{vars.$prefix}nav-border-top-bottom {
        > .#{vars.$prefix}ripple {
          &:after {
            height: var(--#{vars.$prefix}tile-indicator-border-width);
            width: 100%;
            left: 0;
            bottom: 0;
          }
        }
      }

      > .#{vars.$prefix}nav-border-top,
      > .#{vars.$prefix}nav-border-bottom,
      > .#{vars.$prefix}nav-border-top-bottom {
        > .#{vars.$prefix}ripple {
          &.rounded-pill {
            &:before,
            &:after {
              --#{vars.$prefix}tile-indicator-border-width: 5px;
              width: 85%;
              left: 7.5%;
            }
          }
        }
      }

      > .#{vars.$prefix}nav-border-top,
      > .#{vars.$prefix}nav-border-top-bottom {
        > .#{vars.$prefix}ripple {
          &.rounded-pill {
            &:before {
              @include borders.bottom-radius(6px);
            }
          }
        }
      }

      > .#{vars.$prefix}nav-border-bottom,
      > .#{vars.$prefix}nav-border-top-bottom {
        > .#{vars.$prefix}ripple {
          &.rounded-pill {
            &:after {
              @include borders.top-radius(6px);
            }
          }
        }
      }
    }

    &.#{vars.$prefix}expanded {
      > .#{vars.$prefix}nav-border-top,
      > .#{vars.$prefix}nav-border-bottom,
      > .#{vars.$prefix}nav-border-top-bottom,
      > .#{vars.$prefix}nav-border-right,
      > .#{vars.$prefix}nav-border-left,
      > .#{vars.$prefix}nav-border-left-right {
        &.active {
          > .#{vars.$prefix}ripple {
            &:before,
            &:after {
              --#{vars.$prefix}tile-indicator-border-width: 0;
            }
          }
        }
      }
    }
  }
}

// Patch Bootstrap 'reboot.css'
// This patch must be placed outside the css layer.
.#{vars.$prefix}list-nav {
  padding: 0;
  margin: 0;
  list-style: none;

  .#{vars.$prefix}nav-item {
    > .#{vars.$prefix}nav-item-inner {
      color: var(--#{vars.$prefix}nav-item-state-color);
      text-decoration: none;
      display: block;
      outline: 0 none;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }
  }
}
