@use '../mixins/css3/text-decorators' as decorators;
@use '../color_vars' as colors;

@layer base {
  @media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth;
    }
  }

  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  body,
  html {
    text-rendering: optimizelegibility;
  }

  body {
    font-family: var(--font-sans-serif);
    font-size: var(--font-size-default);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height);
  }

  // Create default colors for background and text
  //-----------------------------------------------
  @each $name, $color in colors.$context-colors {
    @include decorators.decorate-color(
      $color,
      $name,
      $border: false,
      $text-bg: true,
      $hyperlink: true
    );
  }
}
