@use "sass:color";
@use "sass:math";
@import "compass-mixins/lib/compass/css3";
@import "../../../scss/colors";
@import "../../../scss/variables";

$cmpCssName: "#{$prefix}color-picker-";
$markerSize: 14px;

.#{$prefix}color-picker {
    --#{$prefix}slider-thumb-color: #{color.scale($grey-base, $lightness: -20%)};

    @include border-radius(var(--#{$bs-prefix}border-radius));
    display: inline-block;
    width: 300px;
    position: relative;

    > .#{$cmpCssName}canvas {
        @include border-top-radius(var(--#{$bs-prefix}border-radius));
        background-image: linear-gradient(rgba(0, 0, 0, 0), #000), linear-gradient(90deg, #fff, currentColor);
        height: 150px;
        width: 100%;

        > .#{$cmpCssName}canvas-marker {
            @include border-radius($border-radius-circle);
            background-color: currentColor;
            height: $markerSize;
            width: $markerSize;
            margin: math.div(-$markerSize, 2) 0 0 math.div(-$markerSize, 2);
            border: 1px solid $white;
            outline: none;
            position: absolute;

            &:focus {
                border-width: 2px;
            }
        }
    }

    > .#{$cmpCssName}body {
        padding: $padding-base;

        &:last-child {
            @include border-bottom-radius(var(--#{$bs-prefix}border-radius));
        }
    }

    > .#{$cmpCssName}swatches {
        @include border-bottom-radius(var(--#{$bs-prefix}border-radius));
        overflow-y: auto;
        position: relative;
    }

    .#{$cmpCssName}controls {
        @include flexbox((display: flex, align-items: center));

        > .#{$cmpCssName}preview {
            height: 2.5rem;
            width: 2.5rem;
            margin-right: $padding-base;
            position: relative;

            > .#{$cmpCssName}selected-color {
                @include border-radius($border-radius-circle);
                border: $gray-200 1px solid;
                width: 100%;
                height: 100%;

                > .#{$cmpCssName}selected-color-alpha {
                    @include border-radius($border-radius-circle);
                    background-color: currentColor;
                    height: 100%;
                    width: 100%;
                }
            }
        }

        > .#{$cmpCssName}sliders {
            @include flexbox((display: flex, flex: 1 0 auto, flex-direction: column));
            padding-left: $padding-sm;
        }
    }

    .#{$prefix}hue-slider,
    .#{$prefix}alpha-slider {
        padding: ($markerSize * .75) math.div($markerSize, 2);
        position: relative;
    }

    .#{$prefix}slider-track {
        @include flexbox((display: flex, align-items: center));
        @include border-radius($padding-sm);
        height: .5rem;
        width: 100%;
        position: relative;

        > .#{$prefix}slider-thumb {
            --#{$prefix}slider-thumb-surface-opacity: 0;
            --#{$prefix}slider-thumb-ripple-opacity: 0;

            @include border-radius($border-radius-circle);
            @include box-shadow(0 1px 2px 0 rgba(60, 64, 67, 0.35), 0 1px 4px 3px rgba(60, 64, 67, 0.05));
            //@include box-shadow($z-depth-half);
            background-color: var(--#{$prefix}slider-thumb-color);
            color: var(--#{$prefix}slider-thumb-color);
            height: $markerSize;
            width: $markerSize;
            margin-left: math.div(-$markerSize, 2);
            outline: none;
            position: absolute;
            cursor: pointer;

            > .#{$prefix}slider-thumb-surface {
                @include border-radius($border-radius-circle);
                @include user-select(none);
                background-color: var(--#{$prefix}slider-thumb-color);
                height: 100%;
                width: 100%;
                cursor: pointer;

                &:before {
                    @include border-radius($border-radius-circle);
                    @include transition($md-transition-default);
                    background-color: currentColor;
                    content: "";
                    height: 100%;
                    width: 100%;
                    left: 0;
                    top: 0;
                    opacity: var(--#{$prefix}slider-thumb-surface-opacity);
                    position: absolute;
                    pointer-events: none;
                }
            }

            > .#{$prefix}slider-thumb-ripple {
                @include border-radius($border-radius-circle);
                @include transform(translate(-50%, -50%));
                background-color: var(--#{$prefix}slider-thumb-color);
                opacity: var(--#{$prefix}slider-thumb-ripple-opacity);
                height: $markerSize * 2;
                width: $markerSize * 2;
                left: 50%;
                top: 50%;
                cursor: pointer;
                position: absolute;
                pointer-events: none;
            }

            &:hover, &:focus {
                --#{$prefix}slider-thumb-surface-opacity: 0.08;

                > .#{$prefix}slider-thumb-surface {
                    &:before {
                        transform: scale(2);
                    }
                }
            }

            &.#{$prefix}focused {
                --#{$prefix}slider-thumb-ripple-opacity: .18;
            }

            &.#{$prefix}pressed {
                --#{$prefix}slider-thumb-ripple-opacity: .25;
            }

            &.move-transition {
                @include transition(0.35s $md-transition-stand-timing);
            }
        }

        > .#{$prefix}slider-track-alpha {
            @include border-radius($padding-sm);
            background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), currentColor);
            height: 100%;
            width: 100%;
        }
    }

    .#{$prefix}hue-slider {
        > .#{$prefix}slider-track {
            background-image: linear-gradient(to right, #f00 0%, #ff0 16.66%, #0f0 33.33%, #0ff 50%, #00f 66.66%, #f0f 83.33%, #f00 100%);
        }
    }

    .#{$cmpCssName}preview > .#{$cmpCssName}selected-color,
    .#{$prefix}alpha-slider > .#{$prefix}slider-track {
        background-image: repeating-linear-gradient(45deg, #aaa 25%, transparent 25%, transparent 75%, #aaa 75%, #aaa), repeating-linear-gradient(45deg, #aaa 25%, #fff 25%, #fff 75%, #aaa 75%, #aaa);
        background-position: 0 0, 4px 4px;
        background-size: 8px 8px;
    }

    .#{$cmpCssName}inputs {
        > .#{$cmpCssName}input-row {
            @include flexbox((display: flex, align-items: center));
            padding: ($padding-base - .25) 0;

            > .#{$cmpCssName}input-col {
                @include flex(1 1 auto);
                width: 20%;

                > input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }

            > .#{$cmpCssName}input-label {
                @include user-select(none);
                font-size: 12px;
                opacity: var(--#{$prefix}field-readonly-opacity);
                padding: 0 $padding-sm;

                &:first-child {
                    padding-left: 0;
                }
            }
        }
    }

    .#{$cmpCssName}swatches-content {
        padding: 12px;

        > .#{$prefix}swatch-button {
            @include border-radius($border-radius-circle);
            background-image: repeating-linear-gradient(45deg, #aaa 25%, transparent 25%, transparent 75%, #aaa 75%, #aaa), repeating-linear-gradient(45deg, #aaa 25%, #fff 25%, #fff 75%, #aaa 75%, #aaa);
            background-position: 0 0, 4px 4px;
            background-size: 8px 8px;
            border: 0;
            width: 20px;
            height: 20px;
            margin: 0 $padding-xs $padding-sm $padding-xs;
            padding: 0;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            white-space: nowrap;

            &:after {
                @include box-shadow(inset 0 0 0 1px rgba(0, 0, 0, .1));
                @include border-radius($border-radius-circle);
                background-color: currentColor;
                content: '';
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                display: block;
                position: absolute;
                pointer-events: none;
            }
        }
    }

    > .#{$cmpCssName}body + .#{$cmpCssName}swatches {
        > .#{$cmpCssName}swatches-content {
            padding-top: 0;
        }
    }
}

.#{$prefix}popover {
    &.#{$prefix}popover-color-picker {
        @include border-radius(var(--#{$bs-prefix}border-radius));
        overflow: hidden;
    }
}
