@use 'sass:color';
@use 'sass:math';
@use '../../../scss/mixins/css3/borders';
@use '../../../scss/color_vars' as colors;
@use '../../../scss/variables' as vars;

$cmpCssName: '#{vars.$prefix}color-picker-';
$markerSize: 14px;

@layer components {
  .#{vars.$prefix}color-picker {
    --#{vars.$prefix}color-picker-bg: var(--background-tertiary);
    --#{vars.$prefix}color-picker-border-radius: var(--#{vars.$prefix}radius);
    --#{vars.$prefix}color-picker-input-bg: #{colors.$gray-100};
    --#{vars.$prefix}color-picker-input-border: 1px solid oklch(0.867 0.011 247.949);
    --#{vars.$prefix}color-picker-input-color: inherit; // var(--foreground, #{colors.$gray-900});
    // prettier-ignore
    --#{vars.$prefix}color-picker-input-focus-bg: var(--background-secondary, #{colors.$white});
    --#{vars.$prefix}color-picker-input-focus-color: inherit;
    // prettier-ignore
    --#{vars.$prefix}color-picker-input-focus-outline: 2px solid var(--#{vars.$prefix}field-active-indicator);
    --#{vars.$prefix}color-picker-input-focus-shadow: oklch(0.578 0.228 260.025 / 0.25);
    // prettier-ignore
    --#{vars.$prefix}color-picker-slider-thumb-color: #{color.scale(colors.$neutral-base, $lightness: -40%)};

    @include borders.radius(var(--#{vars.$prefix}color-picker-border-radius));
    background-color: var(--#{vars.$prefix}color-picker-bg);
    width: 330px;

    > .#{$cmpCssName}canvas {
      @include borders.top-radius(inherit);
      // prettier-ignore
      background-image: linear-gradient(rgba(0, 0, 0, 0), #000), linear-gradient(90deg, #fff, currentColor);
      height: 150px;

      > .#{$cmpCssName}canvas-marker {
        @include borders.radius(vars.$radius-circle);
        background-color: currentColor;
        height: $markerSize;
        width: $markerSize;
        margin: math.div(($markerSize * -1), 2) 0 0 math.div(($markerSize * -1), 2);
        border: 1px solid #{colors.$white};
        outline: none;

        &:focus {
          border-width: 2px;
        }
      }
    }

    > .#{$cmpCssName}body {
      padding: vars.$padding-md;

      .#{vars.$prefix}btn-sm {
        --#{vars.$prefix}btn-sm-padding-x: 1rem;
      }

      &:last-child {
        @include borders.bottom-radius(inherit);
      }
    }

    > .#{$cmpCssName}swatches {
      @include borders.bottom-radius(inherit);
      overflow-y: auto;
    }

    .#{$cmpCssName}controls {
      > .#{$cmpCssName}preview {
        height: 2.5rem;
        width: 2.5rem;
        margin-right: vars.$padding-md;

        > .#{$cmpCssName}selected-color {
          @include borders.radius(vars.$radius-circle);
          border: 1px solid oklch(0.464 0 89.876);

          > .#{$cmpCssName}selected-color-alpha {
            @include borders.radius(vars.$radius-circle);
            background-color: currentColor;
          }
        }
      }

      > .#{$cmpCssName}sliders {
        flex: 1 0 auto;
        padding-left: vars.$padding-sm;
      }
    }

    .#{vars.$prefix}hue-slider,
    .#{vars.$prefix}alpha-slider {
      padding: ($markerSize * 0.75) math.div($markerSize, 2);
    }

    .#{vars.$prefix}slider-track {
      @include borders.radius(vars.$padding-sm);
      height: 0.5rem;

      > .#{vars.$prefix}slider-thumb {
        --#{vars.$prefix}slider-thumb-surface-opacity: 0;
        --#{vars.$prefix}slider-thumb-ripple-opacity: 0;

        @include borders.radius(vars.$radius-circle);
        background-color: var(--#{vars.$prefix}color-picker-slider-thumb-color);
        // prettier-ignore
        box-shadow: 0 1px 2px 0 oklch(0.369 0.007 240.019 / 0.35), 0 1px 4px 3px oklch(0.369 0.007 240.019 / 0.05);
        color: var(--#{vars.$prefix}color-picker-slider-thumb-color);
        width: $markerSize;
        height: $markerSize;
        margin-left: math.div(($markerSize * -1), 2);
        outline: none;
        cursor: pointer;

        > .#{vars.$prefix}slider-thumb-surface {
          @include borders.radius(vars.$radius-circle);
          background-color: var(--#{vars.$prefix}color-picker-slider-thumb-color);
          cursor: pointer;

          &:before {
            @include borders.radius(vars.$radius-circle);
            background-color: currentColor;
            content: '';
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            position: absolute;
            pointer-events: none;
            opacity: var(--#{vars.$prefix}slider-thumb-surface-opacity);
            transition: vars.$transition-default;
          }
        }

        > .#{vars.$prefix}slider-thumb-ripple {
          @include borders.radius(vars.$radius-circle);
          background-color: var(--#{vars.$prefix}color-picker-slider-thumb-color);
          opacity: var(--#{vars.$prefix}slider-thumb-ripple-opacity);
          height: $markerSize * 2;
          width: $markerSize * 2;
          left: 50%;
          top: 50%;
          cursor: pointer;
          pointer-events: none;
          transform: translate(-50%, -50%);
        }

        &:hover,
        &:focus {
          --#{vars.$prefix}slider-thumb-surface-opacity: 0.08;

          > .#{vars.$prefix}slider-thumb-surface {
            &:before {
              transform: scale(2);
            }
          }
        }

        &.#{vars.$prefix}focused {
          --#{vars.$prefix}slider-thumb-ripple-opacity: 0.18;
        }

        &.#{vars.$prefix}pressed {
          --#{vars.$prefix}slider-thumb-ripple-opacity: 0.25;
        }

        &.move-transition {
          transition: 0.35s #{vars.$transition-stand-animation};
        }
      }

      > .#{vars.$prefix}slider-track-alpha {
        @include borders.radius(vars.$padding-sm);
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), currentColor);
      }
    }

    .#{vars.$prefix}hue-slider {
      > .#{vars.$prefix}slider-track {
        background-image: linear-gradient(
          to right,
          #f00 0%,
          #ff0 16.66%,
          #0f0 33.33%,
          #0ff 50%,
          #00f 66.66%,
          #f0f 83.33%,
          #f00 100%
        );
      }
    }

    .#{$cmpCssName}preview > .#{$cmpCssName}selected-color,
    .#{vars.$prefix}alpha-slider > .#{vars.$prefix}slider-track {
      background-image:
        repeating-linear-gradient(
          45deg,
          #aaa 25%,
          transparent 25%,
          transparent 75%,
          #aaa 75%,
          #aaa
        ),
        repeating-linear-gradient(45deg, #aaa 25%, #fff 25%, #fff 75%, #aaa 75%, #aaa);
      // prettier-ignore
      background-position: 0 0, 4px 4px;
      background-size: 8px 8px;
    }

    .#{$cmpCssName}inputs {
      padding-top: vars.$padding-sm;

      > .#{$cmpCssName}input-row {
        padding: (vars.$padding-md - 0.25) 0;

        > .#{$cmpCssName}input-label {
          font-size: 12px;
          opacity: var(--#{vars.$prefix}field-readonly-opacity);

          &:first-child {
            padding-left: 0;
          }
        }
      }

      .form-input-number,
      .form-input-text {
        background-color: var(--#{vars.$prefix}color-picker-input-bg);
        background-clip: padding-box;
        border: var(--#{vars.$prefix}color-picker-input-border);
        border-radius: 0.25rem;
        color: var(--#{vars.$prefix}color-picker-input-color);
        min-height: calc(1.5em + 0.5rem + 2px);
        padding: 0.25rem 0.375rem;
        // prettier-ignore
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

        &:focus {
          color: var(--#{vars.$prefix}color-picker-input-focus-color);
          background-color: var(--#{vars.$prefix}color-picker-input-focus-bg);
          outline: var(--#{vars.$prefix}color-picker-input-focus-outline);
          box-shadow: 0 0 0 0.325rem var(--#{vars.$prefix}color-picker-input-focus-shadow);
        }
      }
    }

    .#{$cmpCssName}swatches-content {
      padding: 0 1rem 1rem 1rem;

      > .#{vars.$prefix}swatch-button {
        @include borders.radius(vars.$radius-circle !important);
        //background-image:
        //  repeating-linear-gradient(
        //    45deg,
        //    #aaa 25%,
        //    transparent 25%,
        //    transparent 75%,
        //    #aaa 75%,
        //    #aaa
        //  ),
        //  repeating-linear-gradient(45deg, #aaa 25%, #fff 25%, #fff 75%, #aaa 75%, #aaa);
        //
        //// prettier-ignore
        //background-position: 0 0, 4px 4px;
        //background-size: 8px 8px;
        border: 0;
        width: 24px;
        height: 24px;
        margin: 0;
        padding: 0;
        cursor: pointer;
        white-space: nowrap;

        &:after {
          @include borders.radius(vars.$radius-circle);
          box-shadow: inset 0 0 0 1px oklch(0 0 0 / 0.1);
          background-color: currentColor;
          content: '';
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          display: block;
          position: absolute;
          pointer-events: none;
        }
      }
    }
  }

  .#{vars.$prefix}popover-color-picker {
    overflow: hidden;

    > .#{vars.$prefix}color-picker {
      --#{vars.$prefix}color-picker-border-radius: inherit;
    }
  }
}

// Patch Bootstrap 'reboot.css'
// This patch must be placed outside the css layer.
.#{$cmpCssName}inputs {
  .#{$cmpCssName}input-col {
    > input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .form-input-number,
  .form-input-text {
    font-weight: 400;
    font-size: 0.85em;
    line-height: 1.5;
    appearance: none;
  }
}
