@use "sass:color";
@use "sass:math";
@import "../../../scss/colors";
@import "../../../scss/variables";
@import "~compass-mixins/lib/compass/css3";

$cmpCssName: "#{$prefix}color-picker-";
$markerSize: 14px;

.#{$prefix}color-picker {
    @include border-radius(var(--#{$bs-prefix}border-radius));
    display: inline-block;
    width: 300px;
    position: relative;

    > .#{$cmpCssName}canvas {
        @include border-top-radius(var(--#{$bs-prefix}border-radius));
        background-image: linear-gradient(rgba(0, 0, 0, 0), #000), linear-gradient(90deg, #fff, currentColor);
        height: 150px;
        width: 100%;

        > .#{$cmpCssName}canvas-marker {
            @include border-radius($border-radius-circle);
            background-color: currentColor;
            height: $markerSize;
            width: $markerSize;
            margin: math.div(-$markerSize, 2) 0 0 math.div(-$markerSize, 2);
            border: 1px solid $white;
            outline: none;
            position: absolute;
        }
    }

    > .#{$cmpCssName}body {
        @include border-bottom-radius(var(--#{$bs-prefix}border-radius));
        padding: $padding-base;
    }

    .#{$cmpCssName}controls {
        @include flexbox((display: flex, align-items: center));

        > .#{$cmpCssName}preview {
            height: 2.5rem;
            width: 2.5rem;
            margin-right: $padding-base;
            position: relative;

            > .#{$cmpCssName}selected-color {
                @include border-radius($border-radius-circle);
                border: $gray-200 1px solid;
                width: 100%;
                height: 100%;

                > .#{$cmpCssName}selected-color-alpha {
                    @include border-radius($border-radius-circle);
                    background-color: currentColor;
                    height: 100%;
                    width: 100%;
                }
            }
        }

        > .#{$cmpCssName}sliders {
            @include flexbox((display: flex, flex: 1 0 auto, flex-direction: column));
            padding: 0 $padding-sm;
        }
    }

    .#{$cmpCssName}hue-slider,
    .#{$cmpCssName}alpha-slider {
        padding: ($markerSize * .75) math.div($markerSize, 2);
        position: relative;
    }

    .#{$cmpCssName}slider-track {
        @include flexbox((display: flex, align-items: center));
        @include border-radius($padding-sm);
        height: .5rem;
        width: 100%;
        position: relative;

        > .#{$cmpCssName}slider-thumb {
            @include border-radius($border-radius-circle);
            @include box-shadow(0 1px 2px 0 rgba(60, 64, 67, 0.35), 0 1px 4px 3px rgba(60, 64, 67, 0.05));
            //@include box-shadow($z-depth-half);
            background-color: color.scale($grey-base, $lightness: -20%);
            height: $markerSize;
            width: $markerSize;
            margin-left: math.div(-$markerSize, 2);
            position: absolute;
            cursor: pointer;

            &.move-transition {
                @include transition(0.35s $md-transition-stand-timing);
            }
        }

        > .#{$cmpCssName}slider-track-alpha {
            @include border-radius($padding-sm);
            background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), currentColor);
            height: 100%;
            width: 100%;
        }
    }

    .#{$cmpCssName}hue-slider {
        > .#{$cmpCssName}slider-track {
            background-image: linear-gradient(to right, #f00 0%, #ff0 16.66%, #0f0 33.33%, #0ff 50%, #00f 66.66%, #f0f 83.33%, #f00 100%);
        }
    }

    .#{$cmpCssName}preview > .#{$cmpCssName}selected-color,
    .#{$cmpCssName}alpha-slider > .#{$cmpCssName}slider-track {
        background-image: repeating-linear-gradient(45deg, #aaa 25%, transparent 25%, transparent 75%, #aaa 75%, #aaa), repeating-linear-gradient(45deg, #aaa 25%, #fff 25%, #fff 75%, #aaa 75%, #aaa);
        background-position: 0 0, 4px 4px;
        background-size: 8px 8px;
    }

    .#{$cmpCssName}inputs {
        > .#{$cmpCssName}input-row {
            @include flexbox((display: flex, align-items: center));
            padding: ($padding-base - .25) 0;

            > .#{$cmpCssName}input-col {
                @include flex(1 1 auto);
                width: 20%;

                > input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }

            > .#{$cmpCssName}input-label {
                @include user-select(none);
                font-size: 12px;
                opacity: var(--#{$prefix}field-readonly-opacity);
                padding: 0 $padding-sm;

                &:first-child {
                    padding-left: 0;
                }
            }
        }
    }
}
