@import "compass-mixins/lib/compass/css3";
@import "../../../scss/colors";
@import "../../../scss/variables";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.#{$prefix}chip-group-slider {
    @include flexbox((display: flex, flex: 1 1 auto));
    contain: content;
    overflow: auto hidden;

    > .#{$prefix}chip-group-content {
        @include flexbox((display: flex, flex: 1 0 auto));
        @include transition(all $md-transition-easeOut);
        padding: $padding-xs;
        position: relative;
        white-space: nowrap;
    }
}

.#{$prefix}chip-group {
    @include flexbox((display: flex, flex: 0 1 auto));
    position: relative;
    max-width: 100%;

    > .#{$prefix}chip-slide-prev,
    > .#{$prefix}chip-slide-next {
        display: none;

        > .#{$prefix}btn-icon {
            --#{$bs-prefix}btn-disabled-bg: transparent;
            --#{$bs-prefix}btn-disabled-border-color: transparent;
        }

        @include media-breakpoint-up(lg) {
            @include flexbox((display: flex, flex: 0 1 52px, align-items: center, justify-content: center));
            min-width: 52px;
        }
    }

    &.#{$prefix}chip-group-column {
        .#{$prefix}chip-group-content {
            @include flex-wrap(wrap);
            max-width: 100%;
            white-space: normal;
        }
    }

    @include media-breakpoint-up(lg) {
        > .#{$prefix}chip-group-slider {
            overflow: hidden;
        }
    }
}
