@use 'sass:color';
@use 'sass:math';
@use '../../../scss/mixins/css3/borders';
@use '../../../scss/mixins/chip';
@use '../../../scss/utils/color_helper' as helper;
@use '../../../scss/color_vars' as colors;
@use '../../../scss/variables' as vars;

@layer components {
  .#{vars.$prefix}chip {
    $disabled-bg: helper.to-oklch(color.adjust(colors.$gray-400, $lightness: 15%));
    $disabled-border-color: helper.to-oklch(color.adjust(colors.$gray-400, $lightness: 8%));

    --#{vars.$prefix}chip-border-width: 0;
    --#{vars.$prefix}chip-font-weight: #{vars.$font-weight-normal};

    --#{vars.$prefix}chip-disabled-bg: #{$disabled-bg};
    --#{vars.$prefix}chip-disabled-border-color: #{$disabled-border-color};
    --#{vars.$prefix}chip-disabled-color: #{colors.$gray-800};
    --#{vars.$prefix}chip-disabled-opacity: 0.5;
    --#{vars.$prefix}chip-readonly-opacity: 0.65;

    --#{vars.$prefix}chip-gutter-x: #{vars.$padding-sm};
    --#{vars.$prefix}chip-gutter-y: #{vars.$padding-xs};

    --#{vars.$prefix}chip-avatar-margin-left: #{(vars.$padding-sm + 0.175) * -1};
    --#{vars.$prefix}chip-avatar-margin-right: #{vars.$padding-sm};
    --#{vars.$prefix}chip-icon-margin-left: #{vars.$padding-sm * -1};
    --#{vars.$prefix}chip-icon-margin-right: #{vars.$padding-sm};
    --#{vars.$prefix}chip-dismiss-btn-margin-left: #{vars.$padding-sm};
    --#{vars.$prefix}chip-dismiss-btn-margin-right: #{(vars.$padding-sm + 0.25) * -1};

    --#{vars.$prefix}chip-md-border-radius: #{vars.$radius-md};
    --#{vars.$prefix}chip-md-height: #{vars.$chip-md-height};
    --#{vars.$prefix}chip-md-padding-x: #{vars.$padding-md};
    --#{vars.$prefix}chip-md-padding-y: 0;

    --#{vars.$prefix}chip-sm-border-radius: #{vars.$radius-sm};
    --#{vars.$prefix}chip-sm-font-size: #{vars.$chip-sm-font-size};
    --#{vars.$prefix}chip-sm-height: #{vars.$chip-sm-height};
    --#{vars.$prefix}chip-sm-padding-x: 0.75rem;
    --#{vars.$prefix}chip-sm-padding-y: 0;

    --#{vars.$prefix}chip-lg-border-radius: #{vars.$radius-lg};
    --#{vars.$prefix}chip-lg-font-size: #{vars.$chip-lg-font-size};
    --#{vars.$prefix}chip-lg-height: #{vars.$chip-lg-height};
    --#{vars.$prefix}chip-lg-padding-x: #{vars.$padding-lg};
    --#{vars.$prefix}chip-lg-padding-y: 0;

    // used internally
    --#{vars.$prefix}chip-state-bg: var(--#{vars.$prefix}chip-bg);
    --#{vars.$prefix}chip-state-color: var(--#{vars.$prefix}chip-color);
    --#{vars.$prefix}chip-state-border-color: var(--#{vars.$prefix}chip-border-color);
    --#{vars.$prefix}chip-state-icon-color: var(--#{vars.$prefix}chip-icon-color);
    --#{vars.$prefix}chip-state-border-radius: var(--#{vars.$prefix}chip-md-border-radius);
    --#{vars.$prefix}chip-state-height: var(--#{vars.$prefix}chip-md-height);
    --#{vars.$prefix}chip-state-padding-x: var(--#{vars.$prefix}chip-md-padding-x);
    --#{vars.$prefix}chip-state-padding-y: var(--#{vars.$prefix}chip-md-padding-y);
    // end

    @include borders.radius(var(--#{vars.$prefix}chip-state-border-radius));
    background-color: var(--#{vars.$prefix}chip-state-bg);
    // prettier-ignore
    border: var(--#{vars.$prefix}chip-border-width) solid var(--#{vars.$prefix}chip-state-border-color);
    // prettier-ignore
    margin: var(--#{vars.$prefix}chip-gutter-y) var(--#{vars.$prefix}chip-gutter-x) var(--#{vars.$prefix}chip-gutter-y) 0;
    font-weight: var(--#{vars.$prefix}chip-font-weight);
    height: var(--#{vars.$prefix}chip-state-height);
    cursor: default;
    line-height: 1;
    white-space: nowrap;
    vertical-align: middle;
    transition-duration: 0.3s;
    transition-property: all, opacity;
    //transition-timing-function: $md-transition-drop-timing;

    &:not(.disabled):not(.readonly) {
      &:hover {
        --#{vars.$prefix}chip-state-bg: var(--#{vars.$prefix}chip-hover-bg);
        --#{vars.$prefix}chip-state-color: var(--#{vars.$prefix}chip-hover-color);
        --#{vars.$prefix}chip-state-border-color: var(--#{vars.$prefix}chip-hover-border-color);

        font-weight: var(--#{vars.$prefix}chip-font-weight);
        // prettier-ignore
        box-shadow: 0 1px 2px 0 oklch(0.317 0 89.876 / 0.25), 0 2px 4px 2px oklch(0.145 0 89.876 / 0.05);
      }

      &.active,
      &.focused,
      &:focus,
      &:focus-visible {
        --#{vars.$prefix}chip-state-bg: var(--#{vars.$prefix}chip-active-bg);
        --#{vars.$prefix}chip-state-color: var(--#{vars.$prefix}chip-active-color);
        // prettier-ignore
        --#{vars.$prefix}chip-state-border-color: var(--#{vars.$prefix}chip-active-border-color);

        > .#{vars.$prefix}chip-content {
          .#{vars.$prefix}chip-icon {
            --#{vars.$prefix}chip-state-icon-color: var(--#{vars.$prefix}chip-active-icon-color);
          }
        }

        &[class*='chip-outline'] {
          &:hover {
            // prettier-ignore
            --#{vars.$prefix}chip-state-border-color: var(--#{vars.$prefix}chip-hover-border-color);
          }
        }
      }

      &:focus-visible {
        // prettier-ignore
        --#{vars.$prefix}chip-state-border-color: var(--#{vars.$prefix}chip-focus-border-color);
        // prettier-ignore
        box-shadow: 0 0 0 3px var(--#{vars.$prefix}chip-focus-shadow-color);
      }
    }

    &.readonly {
      opacity: var(--#{vars.$prefix}chip-readonly-opacity);
    }

    &.disabled {
      --#{vars.$prefix}chip-state-bg: var(--#{vars.$prefix}chip-disabled-bg);
      --#{vars.$prefix}chip-state-color: var(--#{vars.$prefix}chip-disabled-color);
      // prettier-ignore
      --#{vars.$prefix}chip-state-border-color: var(--#{vars.$prefix}chip-disabled-border-color);

      opacity: var(--#{vars.$prefix}chip-disabled-opacity);
    }

    > .#{vars.$prefix}chip-content {
      // prettier-ignore
      --#{vars.$prefix}chip-inner-border-radius: calc(var(--#{vars.$prefix}chip-state-border-radius) - 1px);

      @include borders.radius(var(--#{vars.$prefix}chip-inner-border-radius));
      // prettier-ignore
      padding: var(--#{vars.$prefix}chip-state-padding-y) var(--#{vars.$prefix}chip-state-padding-x);

      > .#{vars.$prefix}chip-text {
        > .caret-up,
        > .caret-down,
        > .triangle-up,
        > .triangle-down {
          &:last-child {
            margin-right: vars.$padding-xs * -1;
            margin-left: 0.65rem;
          }
        }
      }

      .#{vars.$prefix}chip-icon {
        color: var(--#{vars.$prefix}chip-state-icon-color);
      }

      > .#{vars.$prefix}chip-avatar {
        margin-left: var(--#{vars.$prefix}chip-avatar-margin-left);
        margin-right: var(--#{vars.$prefix}chip-avatar-margin-right);
        transition: visibility 0.3s vars.$transition-leave-animation;

        > img {
          @include borders.radius(var(--#{vars.$prefix}chip-inner-border-radius));
        }

        &.#{vars.$prefix}chip-avatar-bounded {
          margin-left: calc(var(--#{vars.$prefix}chip-state-padding-x) * -1);
        }
      }

      > .#{vars.$prefix}chip-icon {
        margin-left: var(--#{vars.$prefix}chip-icon-margin-left);
        margin-right: var(--#{vars.$prefix}chip-icon-margin-right);
        transition:
          width 200ms vars.$transition-default-animation,
          visibility 0ms vars.$transition-default-animation;

        &.order-1 {
          margin-left: vars.$padding-sm;
          margin-right: math.div((vars.$padding-xs * -1), 2);
        }

        &.#{vars.$prefix}empty-icon {
          width: 0;
        }

        &:not(.#{vars.$prefix}empty-icon) ~ .#{vars.$prefix}chip-avatar {
          margin-left: 0;
        }
      }
    }

    &.#{vars.$prefix}chip-sm {
      --#{vars.$prefix}chip-state-border-radius: var(--#{vars.$prefix}chip-sm-border-radius);
      --#{vars.$prefix}chip-state-height: var(--#{vars.$prefix}chip-sm-height);
      --#{vars.$prefix}chip-state-padding-x: var(--#{vars.$prefix}chip-sm-padding-x);
      --#{vars.$prefix}chip-state-padding-y: var(--#{vars.$prefix}chip-sm-padding-y);

      font-size: var(--#{vars.$prefix}chip-sm-font-size);

      > .#{vars.$prefix}chip-content {
        --#{vars.$prefix}chip-avatar-margin-left: #{vars.$padding-sm * -1};
        --#{vars.$prefix}chip-dismiss-btn-margin-right: #{(vars.$padding-sm + 0.15) * -1};
      }

      .#{vars.$prefix}btn-icon {
        --#{vars.$prefix}btn-xs-height: 1.125rem; // 18px
        --#{vars.$prefix}btn-xs-width: 1.125rem;  // 18px
      }
    }

    &.#{vars.$prefix}chip-lg {
      --#{vars.$prefix}chip-state-border-radius: var(--#{vars.$prefix}chip-lg-border-radius);
      --#{vars.$prefix}chip-state-height: var(--#{vars.$prefix}chip-lg-height);
      --#{vars.$prefix}chip-state-padding-x: var(--#{vars.$prefix}chip-lg-padding-x);
      --#{vars.$prefix}chip-state-padding-y: var(--#{vars.$prefix}chip-lg-padding-y);

      font-size: var(--#{vars.$prefix}chip-lg-font-size);

      > .#{vars.$prefix}chip-content {
        --#{vars.$prefix}chip-avatar-margin-left: #{(vars.$padding-md + 0.125) * -1};
        --#{vars.$prefix}chip-icon-margin-left: #{(vars.$padding-sm + 0.125) * -1};
        --#{vars.$prefix}chip-dismiss-btn-margin-right: #{-(vars.$padding-sm + 0.5)};

        > .#{vars.$prefix}chip-icon {
          &.order-1 {
            margin-right: calc((var(--#{vars.$prefix}chip-icon-margin-right) + 0.125rem) * -1);
          }
        }
      }
    }

    &:not(.#{vars.$prefix}chip-lg):not(.#{vars.$prefix}chip-sm) {
      .#{vars.$prefix}btn-icon {
        --#{vars.$prefix}btn-sm-height: 1.375rem; // 22px
        --#{vars.$prefix}btn-sm-width: 1.375rem;  // 22px
      }
    }

    &.chip-rounded-pill {
      --#{vars.$prefix}chip-state-border-radius: var(--#{vars.$prefix}radius-pill);
    }

    &[class*='chip-outline'] {
      --#{vars.$prefix}chip-border-width: thin;

      &.#{vars.$prefix}chip-sm {
        .#{vars.$prefix}chip-avatar:not(.#{vars.$prefix}chip-avatar-bounded) {
          margin-left: calc(var(--#{vars.$prefix}chip-avatar-margin-left) - 1px);
        }
      }
    }
  }

  .#{vars.$prefix}dropdown-menu-activator {
    > .#{vars.$prefix}chip {
      margin-right: 0;
      margin-left: 0;
    }
  }

  @each $name, $color in colors.$context-colors {
    @include chip.make-default-variant($name, $color);
    @include chip.make-outline-variant($name, $color);
  }
}

// Patch Bootstrap 'reboot.css'
// This patch must be placed outside the css layer.
.#{vars.$prefix}chip,
a.#{vars.$prefix}chip {
  color: var(--#{vars.$prefix}chip-state-color);
  outline: none;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  .#{vars.$prefix}btn-icon {
    margin-left: var(--#{vars.$prefix}chip-dismiss-btn-margin-left);
    margin-right: var(--#{vars.$prefix}chip-dismiss-btn-margin-right);
  }
}
