@use "sass:color";
@use "../../../scss/mixins/css3/placeholder";
@use "../../../scss/utils/color_helper" as helper;
@use "../../../scss/color_vars" as colors;
@use "../../../scss/variables" as vars;

.#{vars.$prefix}listbox {
    --#{vars.$prefix}searchbox-padding-x: #{$padding-md - .25};
    --#{vars.$prefix}searchbox-padding-y: #{vars.$padding-sm};
    --#{vars.$prefix}searchbox-border-color: #{colors.$gray-500};
    --#{vars.$prefix}searchbox-focused-border-color: #{helper.to-rgb(color.adjust(vars.$default-active-bgcolor, $lightness: -8%))};
    --#{vars.$prefix}searchbox-font-size: 14px;
    --#{vars.$prefix}searchbox-text-color: #{colors.$gray-900};
    --#{vars.$prefix}searchbox-focused-shadow-rgba: #{rgba(helper.to-rgb(color.adjust(vars.$default-active-bgcolor, $lightness: -10%)), 0.2)};

    > .#{vars.$prefix}listbox-search {
        padding: $padding-md - .25;
        width: 100%;

        > input {
            @include placeholder.decorate-input-placeholder();

            & {
                background: transparent;
                border: 1px solid var(--#{vars.$prefix}searchbox-border-color);
                color: var(--#{vars.$prefix}searchbox-text-color);
                font-size: var(--#{vars.$prefix}searchbox-font-size);
                padding: var(--#{vars.$prefix}searchbox-padding-y) var(--#{vars.$prefix}searchbox-padding-x);
                outline: none;
                width: 100%;
            }

            &:focus {
                box-shadow: 0 0 0.15rem 0.25rem var(--#{vars.$prefix}searchbox-focused-shadow-rgba);
                border-color: var(--#{vars.$prefix}searchbox-focused-border-color);
            }
        }
    }

    &:not(.bg-amber):not(.bg-lime):not(.bg-yellow):not(.bg-light):not(.bg-light-grey):not(.bg-white) {
        --#{vars.$prefix}searchbox-text-color: #{colors.$white};
        --#{vars.$prefix}searchbox-focused-border-color: #{colors.$white};
        --#{vars.$prefix}searchbox-focused-shadow-rgba: #{rgba(colors.$gray-400, 0.2)};
    }
}
