@import "~compass-mixins/lib/compass/css3";
@import "../../../scss/colors";
@import "../../../scss/variables";

.#{$prefix}avatar {
    @include flexbox((display: inline-flex, align-items: center, justify-content: center));
    font-weight: 400;
    font-size: 1rem;
    line-height: 1;
    max-width: 100%;
    position: relative;

    > .#{$prefix}avatar-text {
        @include flexbox((display: flex, align-items: center, justify-content: center));
        font-weight: $font-weight-semi-bold;
        font-size: inherit;
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-transform: uppercase;
    }
}
