@use '../../../scss/variables' as vars;

@layer components {
  .#{vars.$prefix}avatar {
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-default);
    line-height: 1;

    > .#{vars.$prefix}avatar-text {
      font-weight: var(--font-weight-medium, vars.$font-weight-medium);
      font-size: inherit;
      text-transform: uppercase;
    }
  }
}
