@use '../../../scss/mixins/css3/borders';
@use '../../../scss/mixins/transitions';
@use '../../../scss/variables' as vars;

@layer components {
  .#{vars.$prefix}tooltip {
    --#{vars.$prefix}tooltip-arrow-size: #{vars.$tooltip-arrow-size};
    // prettier-ignore
    --#{vars.$prefix}tooltip-border-radius: var(--#{vars.$prefix}radius, #{vars.$tooltip-border-radius});
    --#{vars.$prefix}tooltip-bg: #{vars.$tooltip-bg};
    --#{vars.$prefix}tooltip-color: #{vars.$tooltip-color};
    --#{vars.$prefix}tooltip-opacity: #{vars.$tooltip-opacity};
    --#{vars.$prefix}tooltip-font-size: #{vars.$tooltip-font-size};
    --#{vars.$prefix}tooltip-padding-x: #{vars.$tooltip-padding-x};
    --#{vars.$prefix}tooltip-padding-y: #{vars.$tooltip-padding-y};

    margin: 0;
    position: absolute;

    > .#{vars.$prefix}tooltip-arrow {
      width: var(--#{vars.$prefix}tooltip-arrow-size);
      height: var(--#{vars.$prefix}tooltip-arrow-size);
      background: var(--#{vars.$prefix}tooltip-bg);
      position: absolute;
      transform: rotate(45deg);
    }

    > .#{vars.$prefix}tooltip-inner {
      @include borders.radius(var(--#{vars.$prefix}tooltip-border-radius));
      background-color: var(--#{vars.$prefix}tooltip-bg);
      color: var(--#{vars.$prefix}tooltip-color);
      font-size: var(--#{vars.$prefix}tooltip-font-size);
      opacity: var(--#{vars.$prefix}tooltip-opacity);
      // prettier-ignore
      padding: var(--#{vars.$prefix}tooltip-padding-y) var(--#{vars.$prefix}tooltip-padding-x);
      line-height: 18px;
      pointer-events: none;
      position: relative;
      width: max-content;
    }
  }

  .#{vars.$prefix}tooltip-top,
  .#{vars.$prefix}tooltip-bottom,
  .#{vars.$prefix}tooltip-left,
  .#{vars.$prefix}tooltip-right {
    &-enter-active,
    &-leave-active {
      // prettier-ignore
      transition: transform 0.3s vars.$transition-easeOut, opacity 0.3s vars.$transition-easeOut;
    }
  }

  @include transitions.enterFrom-leaveActive(#{vars.$prefix}tooltip-top) {
    opacity: 0;
    transform: translate3d(0, 15px, 0);
  }

  @include transitions.enterFrom-leaveActive(#{vars.$prefix}tooltip-bottom) {
    opacity: 0;
    transform: translate3d(0, -15px, 0);
  }

  @include transitions.enterFrom-leaveActive(#{vars.$prefix}tooltip-left) {
    opacity: 0;
    transform: translate3d(24px, 0, 0);
  }

  @include transitions.enterFrom-leaveActive(#{vars.$prefix}tooltip-right) {
    opacity: 0;
    transform: translate3d(-24px, 0, 0);
  }
}
