@use "../../../scss/mixins/css3/borders";
@use "../../../scss/mixins/transitions";
@use "../../../scss/variables" as vars;

.#{vars.$prefix}tooltip {
    --#{vars.$prefix}tooltip-arrow-width: #{vars.$tooltip-arrow-width};
    --#{vars.$prefix}tooltip-arrow-height: #{vars.$tooltip-arrow-height};
    --#{vars.$prefix}tooltip-border-radius: #{vars.$tooltip-border-radius};
    --#{vars.$prefix}tooltip-bg: #{vars.$tooltip-bg};
    --#{vars.$prefix}tooltip-color: #{vars.$tooltip-color};
    --#{vars.$prefix}tooltip-opacity: #{vars.$tooltip-opacity};
    --#{vars.$prefix}tooltip-font-size: 13px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: fixed;

    > .tooltip-arrow {
        position: absolute;
        display: block;
        width: var(--#{vars.$prefix}tooltip-arrow-width);
        height: var(--#{vars.$prefix}tooltip-arrow-height);

        &:before {
            border-color: transparent;
            border-style: solid;
            content: "";
            position: absolute;
        }
    }

    > .#{vars.$prefix}tooltip-inner {
        @include borders.radius(var(--#{vars.$prefix}tooltip-border-radius));
        background-color: var(--#{vars.$prefix}tooltip-bg);
        color: var(--#{vars.$prefix}tooltip-color);
        font-size: var(--#{vars.$prefix}tooltip-font-size);
        opacity: var(--#{vars.$prefix}tooltip-opacity);
        line-height: 18px;
        padding: 4px 10px;
        pointer-events: none;
        width: max-content;
    }
}

.#{vars.$prefix}tooltip-top {
    padding: var(--#{vars.$prefix}tooltip-arrow-height) 0;

    > .tooltip-arrow {
        bottom: 0;

        &:before {
            border-width: var(--#{vars.$prefix}tooltip-arrow-height) calc(var(--#{vars.$prefix}tooltip-arrow-width) * .5) 0;
            border-top-color: rgba(var(--#{vars.$prefix}tooltip-bg), var(--#{vars.$prefix}tooltip-opacity));
            top: 0;
        }
    }
}

.#{vars.$prefix}tooltip-bottom {
    padding: var(--#{vars.$prefix}tooltip-arrow-height) 0;

    > .tooltip-arrow {
        top: 0;

        &::before {
            border-width: 0 calc(var(--#{vars.$prefix}tooltip-arrow-width) * .5) var(--#{vars.$prefix}tooltip-arrow-height);
            border-bottom-color: rgba(var(--#{vars.$prefix}tooltip-bg), var(--#{vars.$prefix}tooltip-opacity));
            bottom: 0;
        }
    }
}

.#{vars.$prefix}tooltip-left {
    padding: 0 var(--#{vars.$prefix}tooltip-arrow-height);

    > .tooltip-arrow {
        width: var(--#{vars.$prefix}tooltip-arrow-height);
        height: var(--#{vars.$prefix}tooltip-arrow-width);
        right: 0;

        &::before {
            border-width: calc(var(--#{vars.$prefix}tooltip-arrow-width) * .5) 0 calc(var(--#{vars.$prefix}tooltip-arrow-width) * .5) var(--#{vars.$prefix}tooltip-arrow-height);
            border-left-color: rgba(var(--#{vars.$prefix}tooltip-bg), var(--#{vars.$prefix}tooltip-opacity));
            left: 0;
        }
    }
}

.#{vars.$prefix}tooltip-right {
    padding: 0 var(--#{vars.$prefix}tooltip-arrow-height);

    > .tooltip-arrow {
        width: var(--#{vars.$prefix}tooltip-arrow-height);
        height: var(--#{vars.$prefix}tooltip-arrow-width);
        left: 0;

        &:before {
            border-width: calc(var(--#{vars.$prefix}tooltip-arrow-width) * .5) var(--#{vars.$prefix}tooltip-arrow-height) calc(var(--#{vars.$prefix}tooltip-arrow-width) * .5) 0;
            border-right-color: rgba(var(--#{vars.$prefix}tooltip-bg), var(--#{vars.$prefix}tooltip-opacity));
            right: 0;
        }
    }
}

.#{vars.$prefix}tooltip-top,
.#{vars.$prefix}tooltip-bottom,
.#{vars.$prefix}tooltip-left,
.#{vars.$prefix}tooltip-right {
    &-enter-active, &-leave-active {
        transition: transform .3s vars.$transition-easeOut, opacity .3s vars.$transition-easeOut;
    }
}

@include transitions.enterFrom-leaveActive(#{vars.$prefix}tooltip-top) {
    opacity: 0;
    transform: translate3d(0, 15px, 0);
}

@include transitions.enterFrom-leaveActive(#{vars.$prefix}tooltip-bottom) {
    opacity: 0;
    transform: translate3d(0, -15px, 0);
}

@include transitions.enterFrom-leaveActive(#{vars.$prefix}tooltip-left) {
    opacity: 0;
    transform: translate3d(24px, 0, 0);
}

@include transitions.enterFrom-leaveActive(#{vars.$prefix}tooltip-right) {
    opacity: 0;
    transform: translate3d(-24px, 0, 0);
}
