@use 'sass:color';
@use '../../../scss/color_vars' as colors;
@use '../../../scss/variables' as vars;

@layer components {
  .#{vars.$prefix}image-uploader {
    --#{vars.$prefix}image-uploader-bg: oklch(0.35 0 0 / 0.025);
    --#{vars.$prefix}image-uploader-border-color: var(--border-translucent);
    // prettier-ignore
    --#{vars.$prefix}image-uploader-border-radius: var(--#{vars.$prefix}card-border-radius, #{vars.$card-border-radius});
    --#{vars.$prefix}image-uploader-height: 13.75rem; // 220px;
    --#{vars.$prefix}image-uploader-padding-x: #{vars.$padding-sm};
    --#{vars.$prefix}image-uploader-padding-y: #{vars.$padding-sm};
    // prettier-ignore
    --#{vars.$prefix}image-uploader-text-color: var(--foreground-subtle-tertiary, #{colors.$gray-500});
    // prettier-ignore
    --#{vars.$prefix}image-uploader-toolbar-padding: #{vars.$padding-sm} #{vars.$padding-sm};

    background-color: var(--#{vars.$prefix}image-uploader-bg);
    border: 1px solid var(--#{vars.$prefix}image-uploader-border-color);
    border-radius: var(--#{vars.$prefix}image-uploader-border-radius);
    // prettier-ignore
    padding: var(--#{vars.$prefix}image-uploader-padding-y) var(--#{vars.$prefix}image-uploader-padding-x);

    .drop-image-container {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      height: var(--#{vars.$prefix}image-uploader-height);

      > .image-preview {
        border-radius: var(--#{vars.$prefix}image-uploader-border-radius);
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        &.dragging-over {
          filter: brightness(0.5);
        }
      }

      > .upload-toolbar {
        display: flex;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: var(--#{vars.$prefix}image-uploader-toolbar-padding);
      }

      h3,
      h4 {
        --bs-heading-color: var(--#{vars.$prefix}image-uploader-text-color);
        color: var(--#{vars.$prefix}image-uploader-text-color);
      }
    }

    > .unsupported-text {
      margin-bottom: 0;
      padding: vars.$padding-sm;
    }
  }
}
