@use 'sass:color';
@use '../../utils/color_helper' as helper;
@use '../../variables' as vars;

@mixin truncate($no-wrap: true) {
  @if $no-wrap {
    white-space: nowrap;
  }
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin decorate-color(
  $color,
  $name1,
  $name2: false,
  $background: true,
  $border: true,
  $text: true,
  $hyperlink: true
) {
  @if $background {
    @if $name2 {
      .bg-#{$name1},
      .bg-#{$name2} {
        background-color: $color;
      }
    } @else {
      .bg-#{$name1} {
        background-color: $color;
      }
    }
  }

  @if $border {
    @if $name2 {
      .border-#{$name1},
      .border-#{$name2} {
        border-color: $color;
      }
    } @else {
      .border-#{$name1} {
        border-color: $color;
      }
    }
  }

  @if $text {
    @if $name2 {
      .text-#{$name1},
      .text-#{$name2} {
        color: $color;
      }
    } @else {
      .text-#{$name1} {
        color: $color;
      }
    }
  }

  @if $hyperlink {
    @if $name2 {
      a.text-#{$name1},
      a.text-#{$name2} {
        &:hover,
        &:focus {
          color: helper.to-oklch(color.adjust($color, $lightness: -15%));
        }
      }
    } @else {
      a.text-#{$name1} {
        &:hover,
        &:focus {
          color: helper.to-oklch(color.adjust($color, $lightness: -15%));
        }
      }
    }
  }
}
