@use "../../variables" as vars;

// Input Placeholder mixins
//--------------------------
@mixin input-placeholder {
    &::placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

@mixin decorate-input-placeholder {
    @include input-placeholder {
        color: currentColor;
        font-weight: vars.$font-weight-light;
        opacity: .65;
    };
}
