@use 'sass:color';
@use '../../utils/color_helper' as helper;
@use '../../color_vars' as colors;
@use '../../variables' as vars;

@mixin truncate($no-wrap: true) {
  @if $no-wrap {
    white-space: nowrap;
  }
  overflow: hidden;
  text-overflow: ellipsis;
}

// Mixins to create text-color, background-color, border-color and hyperlink
@mixin decorate-color(
  $name,
  $color,
  $background: true,
  $border: true,
  $text: true,
  $text-bg: false,
  $hyperlink: false,
  $alias-name1: false,
  $alias-name2: false
) {
  @if $background {
    @if $alias-name1 {
      .bg-#{$name},
      .bg-#{$alias-name1} {
        background-color: $color;
      }
    } @else if($alias-name1 and $alias-name2) {
      .bg-#{$name},
      .bg-#{$alias-name1},
      .bg-#{$alias-name2} {
        background-color: $color;
      }
    } @else {
      .bg-#{$name} {
        @if (
          $name ==
            'primary' or
            $name ==
            'secondary' or
            $name ==
            'success' or
            $name ==
            'info' or
            $name ==
            'warning' or
            $name ==
            'danger' or
            $name ==
            'danger' or
            $name ==
            'light' or
            $name ==
            'dark'
        ) {
          background-color: $color !important;
        } @else {
          background-color: $color;
        }
      }
    }
  }

  @if $border {
    @if $alias-name1 {
      .border-#{$name},
      .border-#{$alias-name1} {
        --#{vars.$prefix}border-color: #{$color};
      }
    } @else if($alias-name1 and $alias-name2) {
      .border-#{$name},
      .border-#{$alias-name1},
      .border-#{$alias-name2} {
        --#{vars.$prefix}border-color: #{$color};
      }
    } @else {
      .border-#{$name} {
        --#{vars.$prefix}border-color: #{$color};
      }
    }
  }

  @if $text {
    @if $alias-name1 {
      .text-#{$name},
      .text-#{$alias-name1} {
        color: $color;
      }
    } @else if($alias-name1 and $alias-name2) {
      .text-#{$name},
      .text-#{$alias-name1},
      .text-#{$alias-name2} {
        color: $color;
      }
    } @else {
      .text-#{$name} {
        @if (
          $name ==
            'primary' or
            $name ==
            'secondary' or
            $name ==
            'success' or
            $name ==
            'info' or
            $name ==
            'warning' or
            $name ==
            'danger' or
            $name ==
            'danger' or
            $name ==
            'light' or
            $name ==
            'dark'
        ) {
          color: $color !important;
        } @else {
          color: $color;
        }
      }
    }
  }

  @if $hyperlink {
    @if $alias-name1 {
      a.text-#{$name},
      a.text-#{$alias-name1} {
        &:hover,
        &:focus {
          color: helper.to-oklch(color.adjust($color, $lightness: -15%));
        }
      }
    } @else if($alias-name1 and $alias-name2) {
      a.text-#{$name},
      a.text-#{$alias-name1},
      a.text-#{$alias-name2} {
        &:hover,
        &:focus {
          color: helper.to-oklch(color.adjust($color, $lightness: -15%));
        }
      }
    } @else {
      a.text-#{$name} {
        &:hover,
        &:focus {
          color: helper.to-oklch(color.adjust($color, $lightness: -15%));
        }
      }
    }
  }

  @if $text-bg {
    $text-color: helper.set-color-contrast($color, colors.$neutral-darken-4, colors.$white, 70%);

    @if $alias-name1 {
      .text-bg-#{$name},
      .text-bg-#{$alias-name1} {
        color: $text-color;
        background-color: $color;
      }
    } @else if($alias-name1 and $alias-name2) {
      .text-bg-#{$name},
      .text-bg-#{$alias-name1},
      .text-bg-#{$alias-name2} {
        color: $text-color;
        background-color: $color;
      }
    } @else {
      .text-bg-#{$name} {
        @if (
          $name ==
            'primary' or
            $name ==
            'secondary' or
            $name ==
            'success' or
            $name ==
            'info' or
            $name ==
            'warning' or
            $name ==
            'danger' or
            $name ==
            'danger' or
            $name ==
            'light' or
            $name ==
            'dark'
        ) {
          color: $text-color !important;
          background-color: $color !important;
        } @else {
          color: $text-color;
          background-color: $color;
        }
      }
    }
  }
}
