@use 'sass:color';
@use '../../utils/color_helper' as helper;
@use '../../color_vars' as colors;
@use '../../variables' as vars;

@mixin truncate($no-wrap: true) {
  @if $no-wrap {
    white-space: nowrap;
  }
  overflow: hidden;
  text-overflow: ellipsis;
}

// Mixins to create text-color, background-color, border-color and hyperlink
@mixin decorate-color(
  $color,
  $name,
  $background: true,
  $border: true,
  $text: true,
  $text-bg: false,
  $hyperlink: false,
  $alias-name1: false,
  $alias-name2: false
) {
  @if $background {
    @if $alias-name1 {
      .bg-#{$name},
      .bg-#{$alias-name1} {
        background-color: $color;
      }
    } @else if($alias-name1 and $alias-name2) {
      .bg-#{$name},
      .bg-#{$alias-name1},
      .bg-#{$alias-name2} {
        background-color: $color;
      }
    } @else {
      .bg-#{$name} {
        background-color: $color;
      }
    }
  }

  @if $border {
    @if $alias-name1 {
      .border-#{$name},
      .border-#{$alias-name1} {
        border-color: $color;
      }
    } @else if($alias-name1 and $alias-name2) {
      .border-#{$name},
      .border-#{$alias-name1},
      .border-#{$alias-name2} {
        border-color: $color;
      }
    } @else {
      .border-#{$name} {
        border-color: $color;
      }
      .border-s-#{$name} {
        border-left-color: $color;
      }
      .border-e-#{$name} {
        border-right-color: $color;
      }
      .border-se-#{$name} {
        border-left-color: $color;
        border-right-color: $color;
      }
      .border-t-#{$name} {
        border-top-color: $color;
      }
      .border-b-#{$name} {
        border-bottom-color: $color;
      }
      .border-tb-#{$name} {
        border-top-color: $color;
        border-bottom-color: $color;
      }
    }
  }

  @if $text {
    @if $alias-name1 {
      .text-#{$name},
      .text-#{$alias-name1} {
        color: $color;
      }
    } @else if($alias-name1 and $alias-name2) {
      .text-#{$name},
      .text-#{$alias-name1},
      .text-#{$alias-name2} {
        color: $color;
      }
    } @else {
      .text-#{$name} {
        color: $color;
      }
    }
  }

  @if $hyperlink {
    @if $alias-name1 {
      a.text-#{$name},
      a.text-#{$alias-name1} {
        &:hover,
        &:focus {
          color: helper.to-oklch(color.adjust($color, $lightness: -15%));
        }
      }
    } @else if($alias-name1 and $alias-name2) {
      a.text-#{$name},
      a.text-#{$alias-name1},
      a.text-#{$alias-name2} {
        &:hover,
        &:focus {
          color: helper.to-oklch(color.adjust($color, $lightness: -15%));
        }
      }
    } @else {
      a.text-#{$name} {
        &:hover,
        &:focus {
          color: helper.to-oklch(color.adjust($color, $lightness: -15%));
        }
      }
    }
  }

  @if $text-bg {
    $text-color: helper.set-color-contrast($color, colors.$gray-900, colors.$white, 70%);

    @if $alias-name1 {
      .text-bg-#{$name},
      .text-bg-#{$alias-name1} {
        color: $text-color;
        background-color: $color;
      }
    } @else if($alias-name1 and $alias-name2) {
      .text-bg-#{$name},
      .text-bg-#{$alias-name1},
      .text-bg-#{$alias-name2} {
        color: $text-color;
        background-color: $color;
      }
    } @else {
      .text-bg-#{$name} {
        color: $text-color;
        background-color: $color;
      }
    }
  }
}
